<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/LUO_AthleticEvent.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
	margin:0;
	font-family:Times, 'Times New Roman', Serif;
	font-size:15px;
	color:#000;
	background-color:#ffffff;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
	margin-bottom: 1em;
}


</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#ffffff" yahoo="fix" style="margin:0; font-family:Times, 'Times New Roman', Serif; font-size:15px; color:#000; background-color:#ffffff;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Times, 'Times New Roman', Serif; font-size:15px; color:#000; background-color:#ffffff; text-align:center;">
		<center>
			<!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="3"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Times, 'Times New Roman', Serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
			
			

			<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#ffffff" style="border-collapse:collapse; width:600px; clear:both; background-color:#ffffff;">
				<tbody>
					<tr>
						<td colspan="3">
							<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_6599_luo_athl/CMP_6599_LU_ONLINE_Athletic-Event-Invite-LUO-Students_20140220_01.jpg" height="230" width="600" style="clear:both; border:none; display:block;">
						</td>
					</tr>
					<tr>
						<td width="60">
							<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/mt-mrgn.png" height="1" width="60" style="clear:both; border:none; display:block;">
						</td>
						<td align="left">
							<!-- InstanceBeginEditable name="content" -->
							<p>Dear {%%FIRSTNAME%%},</p>
                            <p>Don&rsquo;t  miss out on any of the action with Liberty Flames men&rsquo;s and women&rsquo;s basketball  games! </p>
                            <p>Active*  Liberty students who have completed Financial Check-In for the Spring semester may attend  the women's basketball game on Saturday, Feb. 22, against Campbell University, and the men's basketball  game on Tuesday, Feb. 25, against Longwood University free of charge! </p>
                            <p>Simply  present your Flames Pass to the box office for free admittance. Guests of  students can attend the game for only $5.</p>
                            <p>Don't  have a Flames Pass?  </p>
                            <p>Visit  the Card Services <a href="http://www.liberty.edu/index.cfm?PID=4931">website</a> or call them at  (434) 582-7771 to get your Flames Pass today! <br>
                              <br>
                            To  obtain your Flames Pass, you must submit a photo and an electronic copy of a government-issued  ID.  Once approved, your Flames Pass will  be printed, mailed, or held for pickup according to your delivery preference. <br>
                            <br>
                            See  you at the game!</p>
                            <p>Sincerely,</p>
                            <div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
		      <p>
			        <b>Tamela Crickenberger</b><br>
			        <em>Executive Director of Enrollment</em><br>
			        <b>Liberty University Online</b>
			    </p>
			    <p><img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
		      <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University&nbsp;&nbsp;|&nbsp;&nbsp;Training Champions for Christ since 1971</em></p>
			  </div>
                            <p>*<em>Active students are those who have completed Financial Check-In for the Spring 2014  semester.</em><em> This promotion excludes   DGIA and Continuing Education students.</em></p>
							<!-- InstanceEndEditable -->
						</td>
						<td width="60">
							<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/mt-mrgn.png" height="1" width="60" style="clear:both; border:none; display:block;">
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_6599_luo_athl/CMP_6599_LU_ONLINE_Athletic-Event-Invite-LUO-Students_20140220_03.jpg" height="408" width="600" style="clear:both; border:none; display:block;">
						</td>
					</tr>
					<tr id="footer-margin-top">
						<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
					</tr>
					<tr id="footer">
						
						<td id="footer-middle" colspan="3" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Times, 'Times New Roman', Serif; font-size:11px; color:#666;">
							Liberty University &nbsp;&bull;&nbsp; 
							1971 University Blvd. &nbsp;&bull;&nbsp; 
							Lynchburg, Va. 24515 &nbsp;&bull;&nbsp; 
							(434) 582-2000<br>
							&copy; Copyright 2014 &nbsp;&bull;&nbsp; 
							Liberty University is a Registered Trademark &nbsp;&bull;&nbsp; 
							<a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#444; text-decoration:none;">Privacy Policy</a><br>
							{%%UNSUBSCRIBELINK%%}
						</td>
						
					</tr>
					<tr id="footer-margin-bottom">
						<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
					</tr>
				</tbody>
			</table><!-- end #wrapper-table -->

			
		</center>
	</div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

