<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/Friendly_Fridays.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	background-color:#d7d7d7;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
	margin-top:0;
    margin-bottom: 1em;
}
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->


<!-- InstanceParam name="Social Media" type="boolean" value="true" -->
<!-- InstanceParam name="Phone / Email" type="boolean" value="true" -->
<!-- InstanceParam name="Video" type="boolean" value="true" -->
<!-- InstanceParam name="Header - Blue Stitched" type="boolean" value="true" -->
<!-- InstanceParam name="Header - Grey Stitched" type="boolean" value="false" -->
<!-- InstanceParam name="Header - Blue Grunge" type="boolean" value="false" -->
<!-- InstanceParam name="Header - Blue Silhouette" type="boolean" value="false" -->
<!-- InstanceParam name="Header - Falwell Library" type="boolean" value="false" -->
</head>

<body bgcolor="#d7d7d7" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#d7d7d7;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#d7d7d7; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom:2px solid #20406e;"><tr><td colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="10" valign="middle"></td><td align="left" valign="middle"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img class="wordmark" alt="Liberty University" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" valign="middle" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif; color:#000000;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">About&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Academics&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Admissions&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Alumni&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Athletics&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">News&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Student Life</a></td><td class="hider" valign="middle" width="10"></td></tr></table></td></tr></table><!-- End of navigation -->

    		<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#ffffff" style="border-collapse:collapse; width:600px; clear:both; background-color:#ffffff;" >
            	<tbody>
                    <tr>
                    	<td colspan="7">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/19614_re_ff_and_mlm/19614_FF_01.jpg" height="288" width="600" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr>
                    <tr>
                    	<td width="35">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/00067_html5_test/autoresponse/spacer.png" height="1" width="35" style="clear:both; border:none; display:block;">
                    	</td>
                    	<td width="2" bgcolor="#0a254e">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/00067_html5_test/autoresponse/spacer.png" height="1" width="2" style="clear:both; border:none; display:block;">
                    	</td>
                    	<td width="35">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/00067_html5_test/autoresponse/spacer.png" height="1" width="35" style="clear:both; border:none; display:block;">
                    	</td>
                    	<td width="458">
                            <!-- InstanceBeginEditable name="content" -->
                            <p>Dear {%%FIRSTNAME%%},</p>
                    		<p>You still have time to register for <a href="http://www.liberty.edu/residentgraduate">Liberty University Graduate School's</a>  Friendly Friday on March 21. <strong>Act now before it's too late!</strong></p>
                    		<p>We have activities planned to help you get acquainted with campus, understand the graduate admissions process, and learn what the university has to offer graduate students. We want you to make an informed decision.</p>
                            <ul>
                              <li>A tour of campus, including our new $50 million  <a href="http://www.liberty.edu/library">Jerry Falwell Library</a></li>
                              <li>A complimentary luncheon</li>
                              <li>An admissions session</li>
                            </ul>
                            <br>
                            <p align="center"><a href="https://secure.visualzen.com/vzevents/liberty/default.aspx"><img alt="Register" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/19614_re_ff_and_mlm/Register-06630.png" height="50" width="175" style="clear:both; border:none; display:block;"></a></p>
                            <br>
                            <p>Have your questions about coursework, research  assistantships, and graduate publishing answered by our experienced staff and library faculty.  Call (434) 582-2064 or email <a href="mailto:visitorscenter@liberty.edu">visitorscenter@liberty.edu</a> for more event  information.</p>
                            <p>Sign up today!</p>
<div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
       		  <p><strong>William</strong><strong>&nbsp;Wegert, D.Min.</strong><strong>&nbsp; </strong><br>
                <em>Director, Resident Graduate Admissions<br>
                Dean, International Student Programs<br>
                </em><strong>Resident Enrollment<br>
                <br>
                </strong>                    		  <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
   		      <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University  |  Training Champions for Christ since 1971</em> </p>
       		  </div>
<p>&nbsp; </p>
                          <!-- InstanceEndEditable -->
                    	</td>
                    	<td width="34">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/00067_html5_test/autoresponse/spacer.png" height="1" width="34" style="clear:both; border:none; display:block;">
                    	</td>
                    	<td width="2" bgcolor="#0a254e">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/00067_html5_test/autoresponse/spacer.png" height="1" width="2" style="clear:both; border:none; display:block;">
                    	</td>
                    	<td width="34">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/00067_html5_test/autoresponse/spacer.png" height="1" width="34" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr>
                    <tr>
                    	<td colspan="7">
                    		<table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                    			<tr>
                    				<td width="152">
                    					<img alt="(434) 582-2064" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/19614_re_ff_and_mlm/06335_02.jpg" height="91" width="152" style="clear:both; border:none; display:block;">
                    				</td>
                    				<td width="171">
                    					<a href="mailto:visitorcenter@liberty.edu" target="_top"><img alt="E-Mail" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/19614_re_ff_and_mlm/06335_03.jpg" height="91" width="171" style="clear:both; border:none; display:block;"></a>
                    				</td>
                    				<td width="277">
                    					<a href="http://www.Liberty.edu/ResidentGraduate"><img alt="Liberty.edu" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/19614_re_ff_and_mlm/06335_04.jpg" height="91" width="277" style="clear:both; border:none; display:block;"></a>
                    				</td>
                    			</tr>
                    		</table>
                    	</td>
                    </tr>

                    
                    <tr id="footer-margin-top">
                    	<td colspan="7" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr id="footer">
                    	
                    	<td id="footer-middle" colspan="7" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666;">
                        	Liberty University &nbsp;&bull;&nbsp; 
                            1971 University Blvd. &nbsp;&bull;&nbsp; 
                            Lynchburg, Va. 24515 &nbsp;&bull;&nbsp; 
                            (434) 582-2000<br>
                            &copy; Copyright 2014 &nbsp;&bull;&nbsp; 
                            Liberty University is a Registered Trademark &nbsp;&bull;&nbsp; 
                            <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#444; text-decoration:none;">Privacy Policy</a><br>
                            {%%UNSUBSCRIBELINK%%}
                        </td>
                    	
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="7" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
    	</center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

