<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/SpecialProjects-summercamps-06550.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Check out Liberty’s summer camps</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#000;
	background-color:#ededed;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
	margin-bottom: 1em;
}

@media screen and (max-width: 540px) {
	body[yahoo] .res-table {
		width: 100%!important;
		height: auto!important;
		font-size: 20px;
		line-height: 1.3em;
		border:0!important;
	}

	body[yahoo] .wordmark {
		margin-left: auto;
		margin-right: auto;
	}

	body[yahoo] .hider {
		display:none;
	}

	body[yahoo] .bottomNav {
		width: 100%;
		background-color: #0a254e;
		text-align: left;
	}
	body[yahoo] .bottomNav a {
		font-size: 18px;
		display:block;
		border-bottom: 2px solid #20406e;
		padding: 10px;
		text-transform: uppercase;
		color:#f8f8f8!important;
	}

	body[yahoo] .res-image {
		width: 100%!important;
		height: auto!important;
	}

	body[yahoo] .res-block {
		display: block;
	}

	body[yahoo] #social {
		text-align: center!important;
		width: 100%;
		border-bottom: 2px solid #20406e;
	}

	body[yahoo] #social img {
		margin: 3px .3em 3px;
	}
}
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#ededed" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#000; background-color:#ededed;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#000; background-color:#ededed; text-align:center;">
		<center>
			<!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="3"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
			

			<table id="wrapper-table" class="res-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#ededed" style="border-collapse:collapse; width:600px; clear:both; background-color:#ededed;">
				<tbody>
					<tr>
						<td colspan="3">
							<img alt="" class="res-image" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_06650_smr_cmps/06650_03.jpg" height="196" width="600" style="clear:both; border:none; display:block;">
						</td>
					</tr>
					<tr>
						<td width="40" bgcolor="#ffffff">
							<img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/mt-mrgn.png" height="1" width="40" style="clear:both; border:none; display:block;">
						</td>
						<td bgcolor="#ffffff" align="left">
							<!-- InstanceBeginEditable name="content" -->
							<p>Dear {%%FIRSTNAME%%},</p>
							<p>							  Keep your student active and engaged this summer by sending  them to a summer camp at Liberty University. They will have a great time making  new friends and memories while developing their skills. More importantly, they  will strengthen their walk with Christ.<br>
						    </p>
							<p>For more information and a full list of camps, visit <a href="http://www.Liberty.edu/SummerCamps">www.Liberty.edu/SummerCamps</a>.</p>
                            <p>Sincerely,<br>
                            </p>
                            <div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
                              <p> <b>Liberty University Summer Camps</b><br>
                                <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
                                <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University  |  Training Champions for Christ since 1971</em><br>
							</p></div><!-- InstanceEndEditable -->
						</td>
						<td width="40" bgcolor="#ffffff">
							<img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/mt-mrgn.png" height="1" width="40" style="clear:both; border:none; display:block;">
						</td>
					</tr>
					<tr>
						<td width="100%"  colspan="3" align="left" bgcolor="#0a254e">
							<table  width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
								<tr>
									<td height="5">
										
									</td>
								</tr>
								<tr>
									<td id="social">
										&nbsp;&nbsp;
										<a href="https://www.facebook.com/LibertyUniversity?utm_source=liberty&utm_medium=email&utm_content=lufacebook&utm_campaign={%CAMPAIGN_ID%}"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/facebook-32-wht.png" height="32" width="32" style="clear:both; border:none; display:inline;"></a>
										<a href="http://twitter.com/libertyu?utm_source=liberty&utm_medium=email&utm_content=lutwitter&utm_campaign={%CAMPAIGN_ID%}"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/twitter-32.png" height="32" width="32" style="clear:both; border:none; display:inline;"></a>
										<a href="http://www.youtube.com/libertyuniversity?utm_source=liberty&utm_medium=email&utm_content=luyoutube&utm_campaign={%CAMPAIGN_ID%}"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/youtube-32.png" height="32" width="33" style="clear:both; border:none; display:inline;"></a>
										<a href="http://www.liberty.edu/libertytoday?utm_source=liberty&utm_medium=email&utm_content=lutoday&utm_campaign={%CAMPAIGN_ID%}"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/lutoday-32.png" height="32" width="32" style="clear:both; border:none; display:inline;"></a>
									</td>
								</tr>
								<tr>
									<td height="1">
										
									</td>
								</tr>
							</table>
						</td>
					</tr>

					<!-- Bottom Nav --><tr><td colspan="3"><table class="res-table" width="600" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#ededed" style="max-width:600px; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td class="bottomNav" align="center" style="font-size:.1em;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ededed; text-decoration:none;">About</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ededed; text-decoration:none;">Academics</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ededed; text-decoration:none;">Admissions</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ededed; text-decoration:none;">Alumni</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ededed; text-decoration:none;">Athletics</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ededed; text-decoration:none;">News</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ededed; text-decoration:none;">Student Life</a></td></tr></table></td></tr><!-- End of bottom nav -->

					

					<tr id="footer-margin-top">
						<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
					</tr>
					<tr id="footer">
						<td id="footer-middle" colspan="3" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666;">
							<span class="res-block">Liberty University<span class="hider"> &nbsp;&bull;&nbsp; </span></span>
							<span class="res-block">1971 University Blvd.<span class="hider"> &nbsp;&bull;&nbsp; </span></span>
							<span class="res-block">Lynchburg, Va. 24515<span class="hider"> &nbsp;&bull;&nbsp; </span></span>
							<span class="res-block">(434) 582-2000<br></span>
							<span class="res-block">&copy; Copyright 2014<span class="hider"> &nbsp;&bull;&nbsp; </span></span>
							<span class="res-block">Liberty University is a Registered Trademark<span class="hider"> &nbsp;&bull;&nbsp; </span></span>
							<span class="res-block"><a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#444; text-decoration:none;">Privacy Policy</a><br></span>
							<span class="res-block">{%%UNSUBSCRIBELINK%%}</span>
						</td>
					</tr>
					<tr id="footer-margin-bottom">
						<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
					</tr>
				</tbody>
			</table><!-- end #wrapper-table -->

		   
		</center>
	</div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>