<!DOCTYPE html>
<html><!-- InstanceBegin template="../../Templates/LibertyPress.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Free e-book sample of &quot;Bold Faith&quot; by Dr. Towns</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
    min-width:100% !important;
    margin:0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#6b6b6b;
    background-color:#f9f9f9;
    line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
    list-style-type:square;
    line-height:22px;
}

h1
{
    font-size:22px;
}

h2
{
    font-size:18px;
    font-weight:normal;
}

p {
    margin-bottom: 1em;
}

a:hover {
    color:#990000!important;
}

.nav, .cell_block a {
    color:#ffffff;
    text-decoration: none;
}

.footer a {
    text-decoration: none;
    color:#3367b1;
    transition:all .5s;
}

.button a:hover {
    color:#ffffff!important;
}

.hider a:hover {
    color:#3367b1!important;
}

@media screen and (max-width: 570px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 16px;
        line-height: 1.3em;
    }

    body[yahoo] .content {
        width: 90%!important;
        height: auto!important;
    }

    body[yahoo] .cell_block {
        display:block;
        text-align: center;
        height: auto;
        margin:20px;
    }

    body[yahoo] .cell_block img{
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .cell_block3 {
        width:auto;
    }

    body[yahoo] .txt_center {
        text-align: center!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .footer a {
        color:#3367b1;
        text-decoration:none;
    }

    body[yahoo] .ios_links a {
        color:#ffffff;
        text-decoration:none;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .tb_margin {
        height:35px;
    }

    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #18293f;
        text-align: left;
    }

    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border: 1px solid #3367b1;
        text-align: center;
        padding: 12px 20px;
        text-transform: uppercase;
        color:#f8f8f8!important;
        margin:10px;
        border-radius:4px;
    }

    body[yahoo] .cell_block2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 515px) {
    body[yahoo] .cell_block2 p {
        margin-top:5px;
        line-height:15px!important;
    }

    body[yahoo] .cell_block2 {
        display:block;
        text-align: center;
        height: auto;
        margin:20px;
    }

    body[yahoo] .cell_block2 img{
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .title {
        font-size:19px;
        line-height: 22px!important;
    }

}

@media screen and (max-width: 465px) {
    body[yahoo] .hider2 {
        display:none;
    }

    body[yahoo] .cell_block3 {
        display:block;
        text-align: center;
        height: auto;
        margin:20px;
    }

    body[yahoo] .cell_block2 p {
        line-height:17px!important;
    }

    body[yahoo] .cell_block3 img{
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .tb_margin {
        height:25px;
    }

    body[yahoo] .footer {
        text-align: center;
    }

    body[yahoo] .button a {
        width: 100%!important;
        font-size: 20px!important;
    }

    body[yahoo] .btn {
        width: 100%!important;
    }


    body[yahoo] .bottomNav a {
        width:70%;
        margin:20px auto;
    }

    body[yahoo] .cannSpam {
        display: block;
    }
}
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->


<!-- InstanceParam name="Social Media" type="boolean" value="true" -->
<!-- InstanceParam name="Phone / Email" type="boolean" value="true" -->
<!-- InstanceParam name="Video" type="boolean" value="true" -->
<!-- InstanceParam name="cell_block - Blue Stitched" type="boolean" value="true" -->
<!-- InstanceParam name="cell_block - Grey Stitched" type="boolean" value="false" -->
<!-- InstanceParam name="cell_block - Blue Grunge" type="boolean" value="false" -->
<!-- InstanceParam name="cell_block - Blue Silhouette" type="boolean" value="false" -->
<!-- InstanceParam name="cell_block - Falwell Library" type="boolean" value="false" -->
</head>

<body bgcolor="#f9f9f9" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#6b6b6b; background-color:#f9f9f9;">
    <div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#6b6b6b; background-color:#f9f9f9; text-align:center;">
        <center>
            <!-- Global Navigation --><table class="hider" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign=37376"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif; color:#ffffff;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#ffffff; text-decoration:none;">About</a>&nbsp;|&nbsp;<a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#ffffff; text-decoration:none;">Academics</a>&nbsp;|&nbsp;<a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#ffffff; text-decoration:none;">Admissions</a>&nbsp;|&nbsp;<a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#ffffff; text-decoration:none;">Alumni</a>&nbsp;|&nbsp;<a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#ffffff; text-decoration:none;">Athletics</a>&nbsp;|&nbsp;<a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#ffffff; text-decoration:none;">News</a>&nbsp;|&nbsp;<a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#ffffff; text-decoration:none;">Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

            <table class="res-table" id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#f9f9f9" style="border-collapse:collapse; width:600px; clear:both; background-color:#f9f9f9;">
                <tbody>
                    <tr bgcolor="#18293f">
                        <td class="hider" bgcolor="#18293f" width="40" height="89" bgcolor="#18293f">
                            <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/00067_html5_test/autoresponse/spacer.png" height="1" width="40" style="clear:both; border:none; display:block;">
                        </td>
                        <td class="cell_block" align="left" height="89">
                            <a href="http://www.liberty.edu/lupress?utm_source=liberty&utm_medium=email&utm_campaign=37376"><img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00005_libertypress/LibertyPress.jpg" height="31" width="167" style="clear:both; border:none; display:block;"></a>
                        </td>
                        <td class="cell_block" height="89" align="right" style="color:#ffffff; font-size:12px; line-height:16px;">
                            <span class="ios_links" style="text-decoration:none; color:#ffffff; transition:all .5s;">(434) 592-3100</span><br>
                            <a href="mailto:libertyuniversitypress@liberty.edu" style="text-decoration:none; color:#ffffff; transition:all .5s;">LUPress@liberty.edu</a>
                        </td>
                        <td class="hider" width="40" height="89">
                            
                        </td>
                    </tr>
                    <tr bgcolor="#e8eef2">
                        <td colspan="5">
                            <table class="content" width="600" cellpadding="0" cellspacing="0" border="0" bgcolor="#e8eef2" align="center" style="border-collapse:collapse;">
                                <tr>
                                    <td colspan="5" height="35">
                                        
                                    </td>
                                </tr>
                                <tr valign="top">
                                    <td class="hider" width="40">
                                        
                                    </td>
                                    <td class="cell_block3">
                                        <a href="http://www.liberty.edu/lupress?utm_source=liberty&utm_medium=email&utm_campaign=37376"><img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00005_libertypress/Bold_Faith-lrg.jpg" height="224" width="167" style="clear:both; border:none; display:block; border:1px solid #cccccc;"></a>
                                    </td>
                                    <td class="hider2" width="40">
                                        
                                    </td>
                                    <td class="cell_block3" align="left" width="313">
                                        <a href="http://www.liberty.edu/lupress?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#3d3d3d; text-decoration:none; transition:all .5s;"><span style="font-weight:bold; font-size:27px; line-height:25px;"><!-- InstanceBeginEditable name="FeaturedBook_title" -->Bold Faith<!-- InstanceEndEditable --></span></a><br>
                                        <span style="font-size:14px; color:#3d3d3d; line-height:14px;"><em><!-- InstanceBeginEditable name="FeaturedBook_author" -->Elmer L. Towns, co-founder of Liberty University<!-- InstanceEndEditable --></em></span><br><br>
                                        <span style="color:#6b6b6b;"><!-- InstanceBeginEditable name="FeaturedBook_txt" -->Get a FREE sample of new release &quot;Bold Faith&quot; on your <a href="http://www.amazon.com/Bold-Faith-Mountains-Elmer-Towns-ebook/dp/B00ID9H6YI/ref=sr_1_3?s=books&ie=UTF8&qid=1394638532&sr=1-3&keywords=Bold+Faith?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#3367b1; text-decoration:none; transition:all .5s;">Kindle</a> or <a href="http://www.barnesandnoble.com/w/bold-faith-elmer-towns/1118612204?ean=2940148286615?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#3367b1; text-decoration:none; transition:all .5s;">Nook</a>!<br>
                                        <br>
                                        "Bold Faith" encourages readers to step out of their comfort zone to improve their relationship with God through practical faith techniques. Examples of faith from both the Bible and well-known ministry leaders illustrate the process of developing trust and confidence in God.The book includes a foreword by renowned author and speaker, John C. Maxwell. <!-- InstanceEndEditable --></span><br><br>
                                        <a href="http://www.liberty.edu/lupress?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="font-weight:bold; font-size:15px; line-height:15px; color:#3d3d3d; text-decoration:none; transition:all .5s;"><em>Book Info</em>&nbsp;&#8594;</a>
                                    </td>
                                    <td class="hider" width="40">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" height="35">
                                        
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td colspan="5">
                            <table class="content" width="600" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" align="center" style="border-collapse:collapse;">
                                <tr>
                                    <td colspan="7" height="35">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="hider" width="40">
                                        
                                    </td>
                                    <td class="txt_center" colspan="5" align="left">
                                        <span style="font-weight:bold; font-size:27px; line-height:25px; color:#3d3d3d;"><!-- InstanceBeginEditable name="Section" -->Ministry Resources<!-- InstanceEndEditable --></span>
                                    </td>
                                    <td class="hider" width="40">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="7" height="20">
                                        
                                    </td>
                                </tr>
                                <tr valign="top">
                                    <td class="hider" width="40">
                                        
                                    </td>
                                    <td class="cell_block2" align="left">
                                        <a href="http://www.liberty.edu/lupress?utm_source=liberty&utm_medium=email&utm_campaign=37376"><img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00005_libertypress/Facing_Lifes_Greatest_Challenges.jpg" height="220" width="146" style="clear:both; border:none; display:block; border:1px solid #cccccc;"></a>
                                        <br style="line-height:10px;">
                                        <a href="http://www.liberty.edu/lupress?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#3d3d3d; text-decoration:none; transition:all .5s;"><span class="title" style="font-weight:bold; line-height:17px;"><!-- InstanceBeginEditable name="Book1_title" -->Facing Life’s Greatest Challenges<!-- InstanceEndEditable --></span></a>
                                        <p style="line-height:15px; color:#3d3d3d;"><em><!-- InstanceBeginEditable name="Book1_author" -->Samuel L. Hoyt<!-- InstanceEndEditable --></em></p>
                                      <!-- InstanceBeginEditable name="Book1_txt" -->Explores specific images from the New Testament and how they can help Christians persevere through life's challenges.<br>
                                        <br>
                                      Available on <a href="http://www.amazon.com/Facing-Lifes-Greatest-Challenges-Samuel/dp/1935986600/ref=sr_1_1?s=books&ie=UTF8&qid=1394639310&sr=1-?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#3367b1; text-decoration:none; transition:all .5s;">Amazon</a> and <a href="http://www.barnesandnoble.com/w/facing-lifes-greatest-challenges-samuel-hoyt/1115597121?ean=9781935986607?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#3367b1; text-decoration:none; transition:all .5s;">Barnes &amp; Noble.</a><!-- InstanceEndEditable -->
                                    </td>
                                    <td class="hider" width="40">
                                        
                                    </td>
                                    <td class="cell_block2" align="left">
                                        <a href="http://www.liberty.edu/lupress?utm_source=liberty&utm_medium=email&utm_campaign=37376"><img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00005_libertypress/Matters_of_Conscience.jpg" height="220" width="146" style="clear:both; border:none; display:block;"></a>
                                        <br style="line-height:10px; border:1px solid #cccccc;">
                                        <a href="http://www.liberty.edu/lupress?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#3d3d3d; text-decoration:none; transition:all .5s;"><span class="title" style="font-weight:bold; line-height:17px;"><!-- InstanceBeginEditable name="Book2_title" -->Matters of Conscience<!-- InstanceEndEditable --></span></a>
                                        <p style="line-height:15px; color:#3d3d3d;"><em><!-- InstanceBeginEditable name="Book2_author" -->Michael C. Whittington &amp; Charlie N. Davidson<!-- InstanceEndEditable --></em></p>
                                        <!-- InstanceBeginEditable name="Book2_txt" -->Introduces the reader to the theology of military chaplaincy and how it can be used to help soldiers spiritually wounded by battle.<br>
                                        <br>
                                        Free <a href="http://www.amazon.com/Matters-Conscience-Practical-Theology-Evangelical-ebook/dp/B00DD24J04/ref=tmm_kin_swatch_0?_encoding=UTF8&sr=1-1&qid=1394639372?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#3367b1; text-decoration:none; transition:all .5s;">Kindle</a> and <a href="http://www.barnesandnoble.com/w/matters-of-conscience-michael-c-whittington/1116942315?ean=9781935986638?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#3367b1; text-decoration:none; transition:all .5s;">Nook</a> sample available. <!-- InstanceEndEditable -->
                                    </td>
                                    <td class="hider" width="40">
                                        
                                    </td>
                                    <td class="cell_block2" align="left">
                                        <a href="http://www.liberty.edu/lupress?utm_source=liberty&utm_medium=email&utm_campaign=37376"><img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00005_libertypress/Enduring_Your_Season_of_Suffering.jpg" height="220" width="146" style="clear:both; border:none; display:block; border:1px solid #cccccc;"></a>
                                        <br style="line-height:10px;">
                                        <a href="http://www.liberty.edu/lupress?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#3d3d3d; text-decoration:none; transition:all .5s;"><span class="title" style="font-weight:bold; line-height:17px;"><!-- InstanceBeginEditable name="Book3_title" -->Enduring Your Season of Suffering<!-- InstanceEndEditable --></span></a>
                                        <p style="line-height:15px; color:#3d3d3d;"><em><!-- InstanceBeginEditable name="Book3_author" -->John Thomas &amp; Gary Habermas<!-- InstanceEndEditable --></em></p>
                                        <!-- InstanceBeginEditable name="Book3_txt" -->Provides biblical insight on suffering —
                                        both how it impacts us and how we can best respond to it.<br>
                                        <br>
                                        Free <a href="http://www.amazon.com/Enduring-Your-Season-Suffering-Thomas-ebook/dp/B00BCQ2PHW/ref=sr_1_fkmr0_2?ie=UTF8&qid=1394646349&sr=8-2-fkmr0&keywords=nduring+Your+Season+of+Suffering?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#3367b1; text-decoration:none; transition:all .5s;">Kindle</a> and <a href="http://www.barnesandnoble.com/w/enduring-your-season-of-suffering-john-thomas/1109405832?ean=9781935986232?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#3367b1; text-decoration:none; transition:all .5s;">Nook</a> sample available. <!-- InstanceEndEditable -->
                                    </td>
                                    <td class="hider" width="40">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tb_margin" colspan="7" height="45">
                                        
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr bgcolor="#e8eef2">
                        <td colspan="5">
                            <table class="content" width="600" cellpadding="0" cellspacing="0" border="0" bgcolor="#e8eef2" align="center" style="border-collapse:collapse;">
                                <tr>
                                    <td class="tb_margin" colspan="5" height="35">
                                        
                                    </td>
                                </tr>
                                <tr valign="top">
                                    <td class="hider" width="40">
                                        
                                    </td>
                                    <td class="cell_block3" align="left" width="290">
                                        <!-- InstanceBeginEditable name="Action" -->
                                       <strong>Get more ministry resources from Liberty University Press.</strong>
                                        <!-- InstanceEndEditable -->
                                    </td>
                                    <td class="hider2" width="30">
                                        
                                    </td>
                                    <td class="cell_block3" align="left">
                                        <div align="center" class="button">
                                        <table class="btn" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; display:block; transition:all .25s; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; background-color:#99C739; border:1px solid #7BA02D; width:200px;">
                                        <tr valign="middle">
                                        <td class="btn_txt" width="180" align="center" style="padding:10px 5px">
                                        <span style="font-family:sans-serif; font-weight:bold; font-size:17px; text-align:center; text-decoration:none; text-shadow:0 -1px 0 #7ba02d; color:#ffffff;"><a class="button" href="http://www.liberty.edu/lupress?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="text-decoration:none; color:#ffffff">
                                        Ministry Resources</a></span>&nbsp;&nbsp;<img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00005_libertypress/arrow.png" height="13" width="8" style="clear:both; border:none; display:inline;">
                                        </td>
                                        </tr>
                                        </table>
                                        </div>
                                    </td>
                                    <td class="hider" width="40">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tb_margin" colspan="5" height="35">
                                        
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    
                    <!-- Bottom Nav --><tr><td colspan="5"><table class="res-table" width="600" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#18293f" style="max-width:600px; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td class="bottomNav" align="center" style="font-size:.1em;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#18293f; text-decoration:none;">About</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#18293f; text-decoration:none;">Academics</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#18293f; text-decoration:none;">Admissions</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#18293f; text-decoration:none;">Alumni</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#18293f; text-decoration:none;">Athletics</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#18293f; text-decoration:none;">News</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign=37376" style="color:#18293f; text-decoration:none;">Student Life</a></td></tr></table></td></tr><!-- End of bottom nav -->

                    <tr bgcolor="#18293f">
                        <td colspan="5">
                            <table class="content" width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;">
                                <tr id="footer-margin-top">
                                    <td colspan="3" height="15" style="height:15px;"></td>
                                </tr>
                                <tr id="footer">
                                    <td class="hider" width="40">
                                        
                                    </td>
                                    <td class="footer" id="footer-middle" align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#ffffff; line-height:16px;">
                                        <span class="cannSpam">Liberty University</span> <span class="hider2">&nbsp;&bull;&nbsp; </span>
                                        <span class="cannSpam">1971 University Blvd.</span> <span class="hider2">&nbsp;&bull;&nbsp; </span>
                                        <span class="cannSpam">Lynchburg, Va. 24515</span> <span class="hider2">&nbsp;&bull;&nbsp; </span>
                                        <span class="cannSpam">(434) 582-2000</span><span class="hider"><br></span>
                                        <span class="cannSpam">&copy; Copyright 2014</span> <span class="hider2">&nbsp;&bull;&nbsp; </span>
                                        <span class="cannSpam">Liberty University is a Registered Trademark</span><br><br style="line-height:1em;">
                                        <span class="cannSpam">
                                            <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#3367b1; text-decoration:none; transition:all .5s;">Privacy Policy</a>
                                        </span>
                                        <span class="hider2">&nbsp;&bull;&nbsp; </span>
                                        <span style="color:#3367b1; text-decoration:none; transition:all .5s;">
                                            {%%UNSUBSCRIBELINK%%}
                                        </span>
                                    </td>
                                    <td class="hider" width="40">
                                        
                                    </td>
                                </tr>
                                <tr id="footer-margin-bottom">
                                    <td colspan="3" height="30" style="height:30px;"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
        </center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

