<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/President_Commencement_EmailTemplate-updatedBrand.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
	margin:0;
	font-family:Times, 'Times New Roman', serif;
	font-size:16px;
	color:#0a254e;
	background-color:#fdfbf2;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}

/*@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 14px;
        line-height: 1.3em;
        border:0!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #0a254e;
        text-align: left;
    }
    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border-bottom: 2px solid #20406e;
        padding: 10px;
        text-transform: uppercase;
        color:#f8f8f8!important;
    }
}*/
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#fdfbf2" yahoo="fix" style="margin:0; font-family:Times, 'Times New Roman', serif; font-size:16px; color:#0a254e; background-color:#fdfbf2;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Times, 'Times New Roman', serif; font-size:16px; color:#0a254e; background-color:#fdfbf2; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; font-family: Arial, Helvetica, sans-serif;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

    		<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#fdfbf2" style="border-collapse:collapse; width:600px; clear:both; background-color:#fdfbf2;">
            	<tbody>
                	<tr id="header-margin-top">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    

                    <tr>
                    	<td colspan="3">
                    		<img alt="2014 Commencement - Liberty University" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/20575_president_commencement/20575_PRESIDENT_Commencement_EmailTemplate_02.jpg" height="114" width="600" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr>
                    <tr>
                    	<td colspan="3">
							<table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
								<tr>
									<td bgcolor="#051930" width="18">
										
									</td>
									<td bgcolor="#fdfbf2" width="60">
										
									</td>
									<td bgcolor="#fdfbf2" align="left" style="color:#0a254e;">
                                        <!-- InstanceBeginEditable name="content" -->
                                        <p>Dear {%%FIRSTNAME%%},</p>
                                        <p>We  are looking forward to your visit with us during Commencement 2014. Commencement  housing check-in for East Campus will be conducted at the Liberty Mountain  Conference Center. </p>
                                        <p>Check-in/out  will be available during the following times:</p>
                                        <ul>
                                          <li>Friday,  May 9, from 9 a.m.-midnight</li>
                                          <li>Saturday,  May 10, from 7-10 a.m. and 1-10 p.m.</li>
                                          <li>Sunday,  May 11, from 7 a.m.-noon</li>
                                        </ul>
                                        <p>Please visit <a href="http://www.liberty.edu/academics/registrar/index.cfm?PID=10258">www.Liberty.edu/Commencement</a>, call us at (866) 470-3507 between 8 a.m.-5 p.m., or email <a href="mailto:commencementhousing@liberty.edu">Commencement@liberty.edu</a> for more information.</p>
                                        <p>Sincerely,</p>
                                        <div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
                                          <p> <b>Liberty University Commencement</b><b></b> </p>
                                          <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
                                          <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University  |  Training Champions for Christ since 1971</em> </div>
<p>&nbsp;</p>
                                        <!-- InstanceEndEditable -->
									</td>
									<td bgcolor="#fdfbf2" width="60">
										
									</td>
									<td bgcolor="#051930" width="18">
										
									</td>
								</tr>
							</table>
                    	</td>
                    </tr>
                    <tr>
                    	<td colspan="3">
                    		<img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/20575_president_commencement/20575_PRESIDENT_Commencement_EmailTemplate_08.jpg" height="336" width="600" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr>
                    <tr>
                    	<td colspan="3">
                    		<a href="http://www.liberty.edu/commencement"><img alt="http://www.liberty.edu/commencement" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/20575_president_commencement/20575_PRESIDENT_Commencement_EmailTemplate_09.jpg" height="59" width="600" style="clear:both; border:none; display:block;"></a>
                    	</td>
                    </tr>
                    <tr>
                    	<td>
                    		<a href="http://www.twitter.com/lucommencement"><img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/20575_president_commencement/20575_PRESIDENT_Commencement_EmailTemplate_10.jpg" height="38" width="220" style="clear:both; border:none; display:block;"></a>
                    	</td>
                    	<td>
                    		<a href="http://www.facebook.com/libertyuniversitycommencement"><img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/20575_president_commencement/20575_PRESIDENT_Commencement_EmailTemplate_11.jpg" height="38" width="204" style="clear:both; border:none; display:block;"></a>
                    	</td>
                    	<td>
                    		<img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/20575_president_commencement/20575_PRESIDENT_Commencement_EmailTemplate_12.jpg" height="38" width="176" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr>

                    

                    <tr id="footer-margin-top">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr id="footer">
                    	
                    	<td id="footer-middle" colspan="5" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Times, 'Times New Roman', serif; font-size:11px; color:#666;">
                        	Liberty University &nbsp;&bull;&nbsp; 
                            1971 University Blvd. &nbsp;&bull;&nbsp; 
                            Lynchburg, Va. 24515 &nbsp;&bull;&nbsp; 
                            (434) 582-2000<br>
                            &copy; Copyright 2014 &nbsp;&bull;&nbsp; 
                            Liberty University is a Registered Trademark &nbsp;&bull;&nbsp; 
                            <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#444; text-decoration:none;">Privacy Policy</a><br>
                            {%%UNSUBSCRIBELINK%%}
                        </td>
                    	
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
    	</center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

