<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- TemplateBeginEditable name="doctitle" -->
<title>Consider the new STEM cognate/minor</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<style>

body
{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:#000;
    background-color:#ffffff;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
    list-style-type:square;
    line-height:22px;
}

h1
{
    font-size:22px;
}

h2
{
    font-size:18px;
    font-weight:normal;
}

p {
    margin-bottom: 1em;
}

@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 14px;
        line-height: 1.3em;
        border:0!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #0a254e;
        text-align: left;
        display: block!important;
    }
    
    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border-bottom: 2px solid #20406e;
        padding: 10px;
        text-transform: uppercase;
        color:#f8f8f8!important;
    }

    body[yahoo] .res-img {
        width: 100%!important;
        height: auto!important;
    }

    body[yahoo] .res-content {
        font-size: 16px;
    }

    body[yahoo] .res-padding {
        width: 6%;
    }

    body[yahoo] .hider {
        display: none;
    }

    body[yahoo] .res-block {
        display: block;
    }
}
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#ffffff" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#000; background-color:#ffffff;">
    <div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#000; background-color:#ffffff; text-align:center;">
        <center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_Template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

            <table class="res-table" id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#ffffff" style="border-collapse:collapse; width:600px; clear:both; background-color:#ffffff;">
                <tbody>
                    <tr>
                        <td colspan="3">
                            <img class="res-img" alt="Be part of the solution, not the problem." src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_06969_stem/STEM_101_03.jpg" height="578" width="600" style="clear:both; border:none; display:block;">
                        </td>
                    </tr>
                    <tr>
                        <td class="res-padding" width="60" bgcolor="#000000">
                            <img class="hider" alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_06969_stem/margin.jpg" height="1" width="60" style="clear:both; border:none; display:block;">
                        </td>
                        <td align="left" class="res-content" bgcolor="#000000" style="color: #EEF0F4; font-style: normal;">
                            <!-- TemplateBeginEditable name="content" -->
                            <p>Dear  {%%FIRSTNAME%%},<br>
                              <br>
                            As American  students continue to fall behind their international peers in Science, Technology, Engineering, and Math (STEM), it  will become more important for these subjects to be integrated into college  curricula. Liberty  University now offers the  STEM  cognate/minor in both residential and online formats as part of its Bachelor of  Science in Interdisciplinary Studies program. <br>
                              <br>
                            <strong>The cognate/minor consists of the  following:</strong></p>
                            <ul>
                              <li>Two core industrial processes courses </li>
                              <li>Two elective  energy/technology-related courses</li>
                              <li>One three-credit internship with an  organization, business, or government agency dedicated to STEM manufacturing, management, or research</li>
                            </ul>
                            <p><strong>The following classes will be offered  in the 2014-15 academic year:</strong></p>
                            <ul>
                              <li>STEM 101 (Industrial Energy I) Fall  2014</li>
                              <li>STEM 201 (Industrial Energy II)  Spring 2015 </li>
                            </ul>
                            <p>In STEM 101  and 201, the core courses for the cognate/minor, students will be  introduced to technologies used in the process industry with particular  emphasis on power-plant operations/systems and energy fundamentals. </p>
                            <p>Students  who complete STEM 101 and 201 (even if they don&rsquo;t complete the cognate/minor)  will be highly marketable in the power industry — an industry that promises to  have many job openings in the future.</p>
                            <p>For more information, email us at <a href="mailto:cgs@liberty.edu" style="color: #FBFBFB">cgs@liberty.edu</a>.</p>
                            <p>Sincerely,
                              <br>
                            </p>
                            <div id="signature-1971" style="color: #F9F5F6; font-family: Arial, Helvetica, sans-serif; font-size: 11px;">
                              <p><br>
                              <b>College of General Studies</b> </p>
                              <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature-wht.png"><br>
                              <em style="color: #F8F4F4; font-family: 'Times New Roman', Times, serif;">Liberty University  |  Training Champions for Christ since 1971</em> </div>
<p><br>
                            </p>
                            <!-- TemplateEndEditable -->
                        </td>
                        <td class="res-padding" width="60" bgcolor="#000000">
                            <img class="hider" alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_06969_stem/margin.jpg" height="1" width="60" style="clear:both; border:none; display:block;">
                        </td>
                    </tr>
                    <tr id="footer-margin-top">
                        <td bgcolor="#0a254e" colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr id="footer">
                        
                        <td bgcolor="#0a254e" id="footer-middle" colspan="5" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#fff;">
                            <span class="res-block">Liberty University <span class="hider">&nbsp;&bull;&nbsp;</span></span>
                            <span class="res-block">1971 University Blvd. <span class="hider">&nbsp;&bull;&nbsp;</span></span>
                            <span class="res-block">Lynchburg, Va. 24515 <span class="hider">&nbsp;&bull;&nbsp;</span></span>
                            <span class="res-block">(434) 582-2000<br></span>
                            <span class="res-block">&copy; Copyright 2014 <span class="hider">&nbsp;&bull;&nbsp;</span></span>
                            <span class="res-block">Liberty University is a Registered Trademark <span class="hider">&nbsp;&bull;&nbsp;</span></span>
                            <span class="res-block"><a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#ccc; text-decoration:none;">Privacy Policy</a><br></span>
                            <span class="res-block">{%%UNSUBSCRIBELINK%%}</span>
                            <br><br><br>
                        </td>
                        
                    </tr>
                    <!-- <tr id="footer-margin-bottom">
                        <td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr> -->
                </tbody>
            </table><!-- end #wrapper-table -->

        </center>
    </div><!-- end #wrapper -->
</body>
</html>