<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- TemplateBeginEditable name="doctitle" -->
<title>Rock out with Tedashii</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<style>

body
{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#000;
    background-color:#262626;
    line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
    list-style-type:square;
    line-height:22px;
}

h1
{
    font-size:22px;
}

h2
{
    font-size:18px;
    font-weight:normal;
}

p {
    margin-bottom: 1em;
}

@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 14px;
        line-height: 1.3em;
        border:0!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #0a254e;
        text-align: left;
    }
    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border-bottom: 2px solid #20406e;
        padding: 10px;
        text-transform: uppercase;
        color:#f8f8f8!important;
    }
    body[yahoo] .res-img {
        width: 100%!important;
        height: auto!important;
    }
    body[yahoo] .blk {
        text-align: center;
        width: 100%;
        float: none;
    }
    body[yahoo] .blk .td:nth-of-type(2) {
        width: 100%;
        text-align: center;
    }
    body[yahoo] .ftr {
        display: block;
    }
}
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#262626" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#262626;">
    <div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#262626; text-align:center;">
        <center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

            <table class="res-table" id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#f2f2f2" style="border-collapse:collapse; width:600px; clear:both; background-color:#f2f2f2;">
                <tbody>
                    <tr>
                        <td colspan="3">
                            <img alt="" class="res-img" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_07047_sa_tedashii/07047_SA_tedashii_03.jpg" height="281" width="600" style="clear:both; border:none; display:block;">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" height="20">
                            
                        </td>
                    </tr>
                    <tr>
                        <td width="40">
                            <img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/mt-mrgn.png" height="1" width="40" style="clear:both; border:none; display:block;">
                        </td>
                        <td align="left">
                            <table class="blk" align="right" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                                <tr>
                                    <td width="40" class="hider">
                                        
                                    </td>
                                    <td>
                                        <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_07047_sa_tedashii/07047_SA_tedashii_06.jpg" height="307" width="12" style="clear:both; border:none; display:block;">
                                    </td>
                                    <td valign="top">
                                        <a href="https://www.ticketreturn.com/prod2/Buy.asp?EventID=108277#.UvVL2WJdW1c">
                                            <img alt="get tickets" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_07047_sa_tedashii/07047_SA_tedashii_07.jpg" height="251" width="187" style="clear:both; border:none;">
                                        </a>
                                        <div align="center">434-582-SEAT</div>
                                    </td>
                                    <td>
                                        <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_07047_sa_tedashii/07047_SA_tedashii_08.jpg" height="302" width="11" style="clear:both; border:none; display:block;">
                                    </td>
                                </tr>
                            </table>
                            <!-- TemplateBeginEditable name="content" -->
                            <p>                              Dear {%%FIRSTNAME%%},<br>
                            </p>
                            <p>As a member of the Liberty University  family, be sure to stay involved and connected to our campus. Join us for a concert  featuring Tedashii, with special guests Trip Lee and Christon Gray, on Saturday,  April 12, at 8 p.m. in the Vines Center.<br>
                              </p>
                            <p><a href="https://www.ticketreturn.com/prod2/Buy.asp?EventID=108277#.UvVL2WJdW1c"><strong>Purchase</strong></a><strong> your tickets online now, before they sell out!</strong></p>
                            <ul type="square">
                              <li>Liberty Students: $5 in advance</li>
                              <li>General Public: $7 in advance</li>
                              <li>Floor Seats: $10 in advance                            </li>
                            </ul>
                            <p>To buy your tickets, visit <a href="http://www.Liberty.edu/SA">www.Liberty.edu/SA</a>, call 434-582-SEAT (7328), or stop by the Vines Center Ticket  Office.<br>
                            </p>
                            <p>Hope to see you there!<br>
                            </p>
                            <p>Sincerely,                            </p>
                            <div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
                              <p><strong>Stephanie  Ward</strong><br>
                                <em>Associate Director</em><br>
                                <strong>Student Activities</strong></p>
                              <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
                              <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University  |  Training Champions for Christ since 1971</em><br>
                            </div><!-- TemplateEndEditable -->
                        </td>
                        <td width="40">
                            <img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/mt-mrgn.png" height="1" width="40" style="clear:both; border:none; display:block;">
                        </td>
                    </tr>


                    <!-- Bottom Nav --><tr><td colspan="5"><table class="res-table" width="600" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#f2f2f2" style="max-width:600px; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td class="bottomNav" align="center" style="font-size:.1em;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f2f2f2; text-decoration:none;">About</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f2f2f2; text-decoration:none;">Academics</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f2f2f2; text-decoration:none;">Admissions</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f2f2f2; text-decoration:none;">Alumni</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f2f2f2; text-decoration:none;">Athletics</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f2f2f2; text-decoration:none;">News</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f2f2f2; text-decoration:none;">Student Life</a></td></tr></table></td></tr><!-- End of bottom nav -->

                    

                    <tr id="footer-margin-top">
                        <td colspan="5" width="600" height="20" style="height:20px;"></td>
                    </tr>
                    <tr id="footer">
                        
                        <td id="footer-middle" colspan="5" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666;">
                            <span class="ftr">
                                Liberty University <span class="hider">&nbsp;&bull;&nbsp; </span>
                            </span>
                            <span class="ftr">
                                1971 University Blvd. <span class="hider">&nbsp;&bull;&nbsp; </span>
                            </span>
                            <span class="ftr">
                                Lynchburg, Va. 24515 <span class="hider">&nbsp;&bull;&nbsp; </span>
                            </span>
                            <span class="ftr">
                                (434) 582-2000<br>
                            </span>
                            <span class="ftr">
                                &copy; Copyright 2014 <span class="hider">&nbsp;&bull;&nbsp; </span>
                            </span>
                            <span class="ftr">
                                Liberty University is a Registered Trademark <span class="hider">&nbsp;&bull;&nbsp; </span>
                            </span>
                            <span class="ftr">
                                <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#444; text-decoration:none;">Privacy Policy</a><br></span>
                            <span class="ftr">{%%UNSUBSCRIBELINK%%}</span>
                        </td>
                        
                    </tr>
                    <tr id="footer-margin-bottom">
                        <td colspan="5" height="20" style="height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->

        </center>
    </div><!-- end #wrapper -->
</body>
</html>