<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/President-Letter.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
	margin:0;
	font-family:Times, 'Times New Roman', serif;
	font-size:14px;
	color:#000;
	background-color:#fff9ea;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}

</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#fff9ea" yahoo="fix" style="margin:0; font-family:Times, 'Times New Roman', serif; font-size:14px; color:#000; background-color:#fff9ea;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Times, 'Times New Roman', serif; font-size:14px; color:#000; background-color:#fff9ea; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Times, 'Times New Roman', serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

    		<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#fff9ea" style="border-collapse:collapse; width:600px; clear:both; background-color:#fff9ea;">
            	<tbody>
                    <tr>
                        <td colspan="5">
                            <img alt="Office of the President" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/24961_pres_ltr/24961_RE_PresidentEmailTemplate_20140113_02.jpg" height="186" width="600" style="clear:both; border:none; display:block;">
                        </td>
                    </tr>
                    <tr>
                        <td width="61" valign="top" bgcolor="#d8d8cc">
                            <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/24961_pres_ltr/24961_RE_PresidentEmailTemplate_20140113_03.jpg" height="471" width="61" style="clear:both; border:none; display:block;">
                        </td>
                        <td width="40">
                            <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/24961_pres_ltr/margin.png" height="1" width="40" style="clear:both; border:none; display:block;">
                        </td>
                        <td align="left" valign="top">
                            <!-- InstanceBeginEditable name="content" -->
                            <p>Dear {%%FIRSTNAME%%},<br>
                              <br>
                              Let me be the first to offer my sincerest congratulations on  your acceptance to Liberty University for the {APPTERM} semester. The decisions  you make regarding your college education are important ones and will affect the  course of your entire life. At Liberty, you will grow intellectually and  spiritually as you form relationships and gain the skills you need to be a  success in your chosen field and in life.<br>
                              <br>
                              Liberty is continuing to earn national recognition as an  institution committed to biblical values and quality education. Graduates leave  Liberty with more than a diploma – they leave with a deeper understanding  both of themselves and of the world. With more than 140 residential  undergraduate programs of study, you are certain to find your place at Liberty.<br>
                              <br>
                              {FIRSTNAME}, our faculty and staff are committed not only to  your academic development, but to your faith as well. <em>Training Champions for Christ</em> is not just our tagline – it&rsquo;s what  we do. Student leaders in your residence hall want to encourage you spiritually  and will pray for you regularly.<br>
                              <br>
                              Our 7,000-acre campus in Central Virginia will also offer you a college experience  unlike any other. Fully equipped with exceptional academic resources, diverse  recreational venues, and top-tier athletic facilities, we are in the midst of a  $500 million campus rebuilding that will open up new possibilities in nearly  every field of study. It is our goal to offer you unparalleled quality in every  area of your collegiate experience.<br>
                              <br>
                            Please contact us with any questions you have about your  next steps regarding enrollment. Again, congratulations on your acceptance. I am  pleased to welcome you to the Liberty family.</p>
                            <div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
                              <p><strong>Jerry Falwell '84</strong><br>
                                <em>President</em><br>
                              <strong>Office of the President</strong></p>
<img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
                              <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University  |  Training Champions for Christ since 1971</em> </div>
<p>&nbsp;</p>
                            <!-- InstanceEndEditable -->
                        </td>
                        <td width="40">
                            <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/24961_pres_ltr/margin.png" height="1" width="40" style="clear:both; border:none; display:block;">
                        </td>
                        <td width="63" valign="top" bgcolor="#d8d8cc">
                            <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/24961_pres_ltr/24961_RE_PresidentEmailTemplate_20140113_05.jpg" height="471" width="63" style="clear:both; border:none; display:block;">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/24961_pres_ltr/24961_RE_PresidentEmailTemplate_20140113_06.jpg" height="449" width="600" style="clear:both; border:none; display:block;">
                        </td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
            <!-- footer -->
            <center>
            <table align="center" class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0A254E" style="width:100%; border-collapse:collapse; background:#0a254e;">
                <tr id="footer-margin-top">
                    <td colspan="3" width="100%" height="20" style="width:100%; height:20px;"></td>
                </tr>
                <tr>
                    <td id="footer-middle" colspan="3" width="100%" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Times, 'Times New Roman', serif; font-size:11px; color:#ccc;">
                        Liberty University &nbsp;&bull;&nbsp; 
                        1971 University Blvd. &nbsp;&bull;&nbsp; 
                        Lynchburg, Va. 24515 &nbsp;&bull;&nbsp; 
                        (434) 582-2000<br>
                        &copy; Copyright 2014 &nbsp;&bull;&nbsp; 
                        Liberty University is a Registered Trademark &nbsp;&bull;&nbsp; 
                        <a href="https://websvc.liberty.edu/redirect/linkdirect.aspx?ct=b616ae0a-2289-e311-b823-0050568800ed&em={EMAIL}&lid={PIDM}" title="Read the Privacy Policy" style="color:#fff; text-decoration:none;" id="b616ae0a-2289-e311-b823-0050568800ed">Privacy Policy</a><br>
                        {%%UNSUBSCRIBELINK%%}
                    </td>
                    <tr id="footer-margin-bottom">
                        <td colspan="3" width="100%" height="20" style="width:600px; height:20px;"></td>
                    </tr> 
                </tr>
            </table>
            </center>
            <!-- end footer -->
    	</center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

