<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- TemplateBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	background-color:#ab9065;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
	margin-bottom: 1em;
}

@media screen and (max-width: 540px) {
	body[yahoo] .res-table {
		width: 100%!important;
		height: auto!important;
		font-size: 14px;
		line-height: 1.3em;
		border:0!important;
	}

	body[yahoo] .wordmark {
		margin-left: auto;
		margin-right: auto;
	}

	body[yahoo] .hider {
		display:none;
	}

	body[yahoo] .bottomNav {
		width: 100%;
		background-color: #0a254e;
		text-align: left;
	}
	body[yahoo] .bottomNav a {
		font-size: 18px;
		display:block;
		border-bottom: 2px solid #20406e;
		padding: 10px;
		text-transform: uppercase;
		color:#f8f8f8!important;
	}

	body[yahoo] .res-image {
		width: 100%!important;
		height: auto!important;
	}

	body[yahoo] .content {
		font-size: 18px;
	}

	body[yahoo] .res-margin {
		width: 35px!important;
	}

	body[yahoo] .block {
		display: block;
	}
}
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#ab9065" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#ab9065;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#ab9065; text-align:center;">
		<center>
			<!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="3"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
			
			

			<table id="wrapper-table" class="res-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#ab9065" style="border-collapse:collapse; width:600px; clear:both; background-color:#ab9065;">
				<tbody>
					<tr id="header-margin-top">
						<td colspan="3"  height="20" style=" height:20px;"></td>
					</tr>
					<tr>
						<td colspan="3">
							<img alt="" class="res-image" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_07491_dos_th/07491_dos_townhall_03.jpg" height="478" width="600" style="clear:both; border:none; display:block;">
						</td>
					</tr>
					<tr>
						<td width="60" bgcolor="#c4b5a2" class="res-margin">
							
						</td>
						<td bgcolor="#c4b5a2" class="content" align="left">
							<!-- TemplateBeginEditable name="content" -->
							<p>Dear {%%FIRSTNAME%%},</p>
                            <p>We Want You!</p>
                            <p>Join us for an evening of engaging conversation about topics that impact   daily life at Liberty University. The meeting will take place tomorrow, April 1, in DeMoss Hall, Room 1011, from 5:30-6:30 p.m. </p>
                            <p>Dean of Students Keith Anderson will host the discussion on issues relevant   to Liberty's student body. This is your chance to speak up and let your opinions   be heard.</p>
                            <p>Don&rsquo;t miss out on this unique opportunity to talk directly to the dean. Door   prizes include gift cards to local stores and restaurants. </p>
                            <p>Don&rsquo;t be just another voice in the crowd — be the voice that&rsquo;s heard! </p>
							<div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
							    <p><b>Bradley Milks</b><br>
							        <em>Assistant Director of Programming</em><br>
							        <b>Dean of Students</b>
							    </p>
							    <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
							    <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University&nbsp;&nbsp;|&nbsp;&nbsp;Training Champions for Christ since 1971</em>
							</div>
							<!-- TemplateEndEditable -->
						</td>
						<td width="60" bgcolor="#c4b5a2" class="res-margin">
							
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<a href="mailto:studentconduct@liberty.edu"><img alt="" class="res-image" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_07491_dos_th/07491_dos_townhall_06.jpg" height="94" width="600" style="clear:both; border:none; display:block;"></a>
						</td>
					</tr>

					<!-- Bottom Nav --><tr><td colspan="3"><table class="res-table" width="600" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#ab9065" style="max-width:600px; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td class="bottomNav" align="center" style="font-size:.1em;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ab9065; text-decoration:none;">About</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ab9065; text-decoration:none;">Academics</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ab9065; text-decoration:none;">Admissions</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ab9065; text-decoration:none;">Alumni</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ab9065; text-decoration:none;">Athletics</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ab9065; text-decoration:none;">News</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ab9065; text-decoration:none;">Student Life</a></td></tr></table></td></tr><!-- End of bottom nav -->

					

					<tr id="footer-margin-top">
						<td colspan="3" height="20" style="height:20px;"></td>
					</tr>
					<tr id="footer">
						
						<td id="footer-middle" colspan="3" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#111;">
							<span class="block">Liberty University <span class="hider">&nbsp;&bull;&nbsp;</span> </span>
							<span class="block">1971 University Blvd. <span class="hider">&nbsp;&bull;&nbsp;</span> </span>
							<span class="block">Lynchburg, Va. 24515 <span class="hider">&nbsp;&bull;&nbsp;</span> </span>
							<span class="block">(434) 582-2000<br></span>
							<span class="block">&copy; Copyright 2014 <span class="hider">&nbsp;&bull;&nbsp;</span> </span>
							<span class="block">Liberty University is a Registered Trademark <span class="hider">&nbsp;&bull;&nbsp;</span> </span>
							<span class="block"><a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#444; text-decoration:none;">Privacy Policy</a><br></span>
							<span class="block">{%%UNSUBSCRIBELINK%%}</span>
						</td>
						
					</tr>
					<tr id="footer-margin-bottom">
						<td colspan="3" height="20" style="height:20px;"></td>
					</tr>
				</tbody>
			</table><!-- end #wrapper-table -->
		</center>
	</div><!-- end #wrapper -->
</body>
</html>