<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/Admissions_StudentTestimonial.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#000;
	background-color:#f2fdff;
	line-height:18px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

/*@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 14px;
        line-height: 1.3em;
        border:0!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #0a254e;
        text-align: left;
    }
    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border-bottom: 2px solid #20406e;
        padding: 10px;
        text-transform: uppercase;
        color:#f8f8f8!important;
    }
}*/
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#f2fdff" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000; background-color:#f2fdff;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000; background-color:#f2fdff; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

    		<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#f2fdff" style="border-collapse:collapse; width:600px; clear:both; background-color:#f2fdff;">
            	<tbody>
                    <tr>
                    	<td colspan="5">
                    		<img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/25086_01.jpg" height="162" width="600" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr>
                    <tr>
                    	<td colspan="5" height="40" bgcolor="#990000">
                    		
                    	</td>
                    </tr>
                    <tr>
                        <td width="75">
                            
                        </td>
                        <td coslpan="3" align="left" width="450" style="color:#0A254E;">
                            <br>
                            <!-- InstanceBeginEditable name="MainTxt" -->
                            <p>Dear {%%FIRSTNAME%%},</p>

                            <p><strong>Wondering how to plan for college and what you should expect?</strong></p>

                            <p>Find the answers to commonly asked questions from current students on our <a href="http://www.liberty.edu/undergrad/?PID=29318">Student Forum</a>.</p>

                            <p>Here are a few frequently asked questions:</p>
                            <!-- InstanceEndEditable -->
                        </td>
                        <td width="75">
                            
                        </td>
                    </tr>
                    <tr id="header-margin-top">
                        <td colspan="5" width="600" height="15" style="width:600px; height:15px;"></td>
                    </tr>
                    <tr>
                        <td colspan="5" align="left" width="600">
                            <table cellpadding="0" cellspacing="0" border="0" width="600" bgcolor="#9fcbed" style="border-collapse:collapse; color:#0A254E;">
                                <tr>
                                    <td colspan="6" id="tb_margin" height="20">
                                        
                                    </td>
                                </tr>
                                <tr valign="top" align="left">
                                    <td width="35">
                                        <img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/spacer.jpg" height="1" width="35" style="clear:both; border:none; display:block;">
                                    </td>
                                    <td align="right" width="25" style="font-size:25px;">
                                        <strong>Q</strong>
                                    </td>
                                    <td width="8" style="border-right:1px solid #ffffff;">
                                        <img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/spacer.jpg" height="1" width="8" style="clear:both; border:none; display:block;">
                                    </td>
                                    <td width="7">
                                        <img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/spacer.jpg" height="1" width="7" style="clear:both; border:none; display:block;">
                                    </td>
                                    <td width="450">
                                        <strong><!-- InstanceBeginEditable name="Question1" -->What class at Liberty has been your favorite so far? Why?<!-- InstanceEndEditable --></strong>
                                    </td>
                                    <td width="75">

                                    </td>
                                </tr>
                                <tr valign="top" align="left">
                                    <td colspan="3" width="68" height="15" style="border-right:1px solid #ffffff;">
                                        
                                    </td>
                                    <td colspan="3" width="532" height="15">
                                        <img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/spacer.jpg" height="1" width="532" style="clear:both; border:none; display:block;">
                                    </td>
                                </tr>
                                <tr valign="top" align="left">
                                    <td width="35">
                                        <img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/spacer.jpg" height="1" width="35" style="clear:both; border:none; display:block;">
                                    </td>
                                    <td align="right" width="25" style="font-size:25px;">
                                        <strong>A</strong>
                                    </td>
                                    <td width="8" style="border-right:1px solid #ffffff;">
                                        <img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/spacer.jpg" height="1" width="8" style="clear:both; border:none; display:block;">
                                    </td>
                                    <td width="7">
                                        <img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/spacer.jpg" height="1" width="7" style="clear:both; border:none; display:block;">
                                    </td>
                                    <td width="450" style="font-size:13px;">
                                        <!-- InstanceBeginEditable name="Answer1" -->
                                        <p>One of my favorite classes was New Testament with  Professor Love. If you get the chance, take a course with him. He helped me  understand the New Testament in ways I did not think I could. He would point  things out that I never would have noticed about Scripture. His knowledge about  the New Testament will challenge you, and his personality will make you feel at  home.</p>
                                        <!-- InstanceEndEditable -->
                                    </td>
                                    <td width="75">

                                    </td>
                                </tr>
                                <tr valign="top" align="left">
                                    <td colspan="3" width="68" height="15" style="border-right:1px solid #ffffff;">
                                        
                                    </td>
                                    <td colspan="3" width="532" height="15">
                                        <img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/spacer.jpg" height="1" width="532" style="clear:both; border:none; display:block;">
                                    </td>
                                </tr>
                                <tr valign="top" align="right">
                                    <td width="35">
                                        <img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/spacer.jpg" height="1" width="35" style="clear:both; border:none; display:block;">
                                    </td>
                                    <td align="right" width="25" style="font-size:25px;">
                                       
                                    </td>
                                    <td width="8" style="border-right:1px solid #ffffff;">
                                        <img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/spacer.jpg" height="1" width="8" style="clear:both; border:none; display:block;">
                                    </td>
                                    <td width="7">
                                        <img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/spacer.jpg" height="1" width="7" style="clear:both; border:none; display:block;">
                                    </td>
                                    <td width="450"><!-- InstanceBeginEditable name="Person1" --> <strong>THIAGO, California</strong><br>
                                        <em>Psychology major</em><!-- InstanceEndEditable -->
                                    </td>
                                    <td width="75">

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6" id="tb_margin" height="20">
                                        
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" align="left" width="600">
                            <table cellpadding="0" cellspacing="0" border="0" width="600" bgcolor="#0A254E" style="border-collapse:collapse; color:#ffffff;">
                                <tr>
                                    <td colspan="6" id="tb_margin" height="20">
                                        
                                    </td>
                                </tr>
                                <tr valign="top" align="left">
                                    <td width="35">
                                        <img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/spacer2.jpg" height="1" width="35" style="clear:both; border:none; display:block;">
                                    </td>
                                    <td align="right" width="25" style="font-size:25px; color:#9fcbed;">
                                        <strong>Q</strong>
                                    </td>
                                    <td width="8" style="border-right:1px solid #ffffff;">
                                        <img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/spacer2.jpg" height="1" width="8" style="clear:both; border:none; display:block;">
                                    </td>
                                    <td width="7">
                                        <img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/spacer2.jpg" height="1" width="7" style="clear:both; border:none; display:block;">
                                    </td>
                                    <td width="450" style="color:#9fcbed;">
                                        <strong><!-- InstanceBeginEditable name="Question2" -->Why did you choose Liberty over other colleges?<!-- InstanceEndEditable --></strong>
                                    </td>
                                    <td width="75">

                                    </td>
                                </tr>
                                <tr valign="top" align="left">
                                    <td colspan="3" width="68" height="15" style="border-right:1px solid #ffffff;">
                                        
                                    </td>
                                    <td colspan="3" width="532" height="15">
                                        <img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/spacer2.jpg" height="1" width="532" style="clear:both; border:none; display:block;">
                                    </td>
                                </tr>
                                <tr valign="top" align="left">
                                    <td width="35">
                                        <img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/spacer2.jpg" height="1" width="35" style="clear:both; border:none; display:block;">
                                    </td>
                                    <td align="right" width="25" style="font-size:25px; color:#9fcbed;">
                                        <strong>A</strong>
                                    </td>
                                    <td width="8" style="border-right:1px solid #ffffff;">
                                        <img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/spacer2.jpg" height="1" width="8" style="clear:both; border:none; display:block;">
                                    </td>
                                    <td width="7">
                                        <img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/spacer2.jpg" height="1" width="7" style="clear:both; border:none; display:block;">
                                    </td>
                                    <td width="450" style="color:#ffffff; font-size:13px;"><!-- InstanceBeginEditable name="Answer2" -->
                                      <p>One big reason was  the size. When I  was first looking for schools, I wasn&rsquo;t sure what I wanted to study. At  a school the size of Liberty, I knew that no matter what field I chose I&rsquo;d have  access to an academically solid program. At the same time, the way student  leadership is organized with prayer groups on every hall, I also knew that I&rsquo;d  have people ready to get to know me — that I wouldn&rsquo;t get lost in the crowd. For  me, it was the perfect balance.</p><!-- InstanceEndEditable -->
                                    </td>
                                    <td width="75">

                                    </td>
                                </tr>
                                <tr valign="top" align="left">
                                    <td colspan="3" width="68" height="15" style="border-right:1px solid #ffffff;">
                                        <img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/spacer2.jpg" height="1" width="68" style="clear:both; border:none; display:block;">
                                    </td>
                                    <td colspan="3" width="532" height="15">
                                        <img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/spacer2.jpg" height="1" width="532" style="clear:both; border:none; display:block;">
                                    </td>
                                </tr>
                                <tr valign="top" align="right">
                                    <td width="35">
                                        <img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/spacer2.jpg" height="1" width="35" style="clear:both; border:none; display:block;">
                                    </td>
                                    <td align="right" width="25" style="font-size:25px;">
                                       
                                    </td>
                                    <td width="8" style="border-right:1px solid #ffffff;">
                                        <img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/spacer2.jpg" height="1" width="8" style="clear:both; border:none; display:block;">
                                    </td>
                                    <td width="7">
                                        <img alt="." src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/spacer2.jpg" height="1" width="7" style="clear:both; border:none; display:block;">
                                    </td>
                                    <td width="450"><!-- InstanceBeginEditable name="Person2" -->
                                        <strong>KATHRYN, Pennsylvania</strong><br>
                                        <em>English major</em><!-- InstanceEndEditable -->
                                    </td>
                                    <td width="75">

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6" id="tb_margin" height="20">
                                        
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                                <tr>
                                    <td colspan="3" height="15">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td width="75">
                                        
                                    </td>
                                    <td valign="top" align="left" style="color:#0A254E; font-size:13px;">
                                        <!-- InstanceBeginEditable name="Content" -->
                                        <p>Send us <strong>your questions</strong> by replying to this email or submit them through social media:</p>

                                        <p><a href="https://twitter.com/ExperienceLU" style="text-decoration:none; color:#0A254E;">Twitter: @ExperienceLU</a><br><a href="https://www.facebook.com/LibertyUniversityExperience" style="text-decoration:none; color:#0A254E;">Facebook: /LibertyUniversityExperience</a></p>

                                        <p>Use <strong>#AskLibertyU</strong> when you send us questions. Be sure to explore the forum to find out what’s already been asked.</p>

                                        <p style="font-size:16px; color:#990000;"><strong><em>We hope to hear from you soon!</em></strong></p>

                                        <div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif;">
                                            <p>
                                                <b>The Admissions Team</b><br>
                                            </p>
                                            <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
                                            <em style="color:#980000; font-family:'Times New Roman', Times, serif; font-size:10px;">Liberty University&nbsp;&nbsp;|&nbsp;&nbsp;Training Champions for Christ since 1971</em>
                                        </div>
                                        <!-- InstanceEndEditable -->
                                        <br><br>
                                    </td>
                                    <td valign="bottom" align="right">
                                        <img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25086_re_testimonial/25086_Student-Spring.jpg" width="260" height="345" style="clear:both; border:none; display:block;">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" height="40" bgcolor="#0A254E">
                            
                        </td>
                    </tr>

                    <tr>
                        <td align="center" colspan="5">
                            <table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                                <tr>
                                    <td colspan="11" height="30">
                                        <img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/00067_html5_test/autoresponse/spacer.png" height="30" width="1" style="clear:both; border:none; display:block;">
                                    </td>
                                </tr>
                                <tr align="center" >
                                    <td width="62">
                                    
                                    </td>
                                    <td>
                                    <!-- InstanceBeginEditable name="Facebook" -->
                                        <a href="https://www.facebook.com/LibertyUniversityExperience"><img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/facebook-32.png" height="32" width="32" style="clear:both; border:none; display:block;"></a><!-- InstanceEndEditable -->
                                    </td>
                                    <td class="socialSpacer" width="62">
                                        
                                    </td>
                                    <td>
                                     <!-- InstanceBeginEditable name="Twitter" -->
                                        <a href="https://twitter.com/ExperienceLU"><img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/twitter-32.png" height="32" width="32" style="clear:both; border:none; display:block;"></a><!-- InstanceEndEditable -->
                                    </td>
                                    <td class="socialSpacer" width="62">
                                        
                                    </td>
                                    <td>
                                        <!-- InstanceBeginEditable name="Instagram" -->
                                        <a href="http://instagram.com/ExperienceLU#"><img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/instagram-32.png" height="32" width="32" style="clear:both; border:none; display:block;"></a><!-- InstanceEndEditable -->
                                    </td>
                                    <td class="socialSpacer" width="62">
                                        
                                    </td>
                                    <td>
                                     <!-- InstanceBeginEditable name="YouTube" -->
                                        <a href="http://www.youtube.com/libertyuniversity?utm_source=liberty&utm_medium=email&utm_content=luyoutube&utm_campaign={%CAMPAIGN_ID%}"><img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/youtube-32.png" height="32" width="33" style="clear:both; border:none; display:block;"></a><!-- InstanceEndEditable -->
                                    </td>
                                    <td class="socialSpacer" width="62">
                                        
                                    </td>
                                    <td>
                                        <a href="http://www.liberty.edu/libertytoday?utm_source=liberty&utm_medium=email&utm_content=lutoday&utm_campaign={%CAMPAIGN_ID%}"><img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/lutoday-32.png" height="32" width="32" style="clear:both; border:none; display:block;"></a>
                                    </td>
                                    <td  width="62">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="11" height="30">
                                        <img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/00067_html5_test/autoresponse/spacer.png" height="30" width="1" style="clear:both; border:none; display:block;">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="11" align="center">
                                        <!-- InstanceBeginEditable name="GeneralContactInfo" -->
                                        (800) 543-5317&nbsp;&bull;&nbsp;<a href="mailto:admissions@liberty.edu">admissions@liberty.edu</a>&nbsp;&bull;&nbsp;<a href="http://www.LibertyU.com/Chat">www.LibertyU.com/Chat</a><!-- InstanceEndEditable -->
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="11" height="30">
                                        <img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/00067_html5_test/autoresponse/spacer.png" height="30" width="1" style="clear:both; border:none; display:block;">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="hider" colspan="11" width="600" style="width:600px;">
                                        <img class="footerImage" alt="." src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/social-br.jpg" height="2" width="600" style="clear:both; border:none; display:block;">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    

                    

                    <tr id="footer-margin-top">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr id="footer">
                    	
                    	<td id="footer-middle" colspan="5" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666;">
                        	Liberty University &nbsp;&bull;&nbsp; 
                            1971 University Blvd. &nbsp;&bull;&nbsp; 
                            Lynchburg, Va. 24515 &nbsp;&bull;&nbsp; 
                            (434) 582-2000<br>
                            &copy; Copyright 2014 &nbsp;&bull;&nbsp; 
                            Liberty University is a Registered Trademark &nbsp;&bull;&nbsp; 
                            <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#444; text-decoration:none;">Privacy Policy</a><br>
                            {%%UNSUBSCRIBELINK%%}
                        </td>
                    	
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->

           
    	</center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

