<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- TemplateBeginEditable name="doctitle" -->
<title>Early Bird discount extended</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#ffffff;
	background-color:#002d62;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#ffffff !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}

</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#002d62" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#ffffff; background-color:#002d62;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#ffffff; background-color:#002d62; text-align:center;">
    	<center>
            <!-- Global Navigation -->
			<table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: solid 1px #304f80;">
				<tr>
					<td class="nav" colspan="3">
						<table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;">
							<tr>
								<td class="hider" width="20">
									
								</td>
									<td align="left">
										<a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}">
											<img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;">
										</a>
									</td>
								<td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;">
									<a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a>
									<a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a>
									<a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a>
									<a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a>
									<a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a>
									<a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a>
									<a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a>
								</td>
								<td class="hider" width="20">
									
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<!-- End of Global Navigation -->
            
            

    		<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="500" align="center" bgcolor="#002d62" style="border-collapse:collapse; width:500px; clear:both; background-color:#002d62;">
            	<tbody>
                	<!-- <tr id="header-margin-top">
                    	<td colspan="3" width="500" height="20" style="width:500px; height:20px;"></td>
                    </tr> -->
                    <tr>
                    	<td colspan="3">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25304_sorbivoc/25304_SOR_Bivocational-Eblast_20140127_01.jpg" height="434" width="500" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr>
                    <tr>
                        <td class="textMargin" width="40"></td>
                        <td class="textContent" width="510" align="left"><center>
                            <h1 style="margin-bottom: 0em; font-size:2em; line-height: 1.2em; color: #fff;"><!-- TemplateBeginEditable name="Headline" --><font color="#ffffff">Early Bird Registration Extended Until April 30</font><!-- TemplateEndEditable --></h1>
                            <!-- <h3 style="margin-top: 0em; margin-bottom: 0em; font-size:1.2em;"><em> --><!-- TemplateBeginEditable name="Subhead" --><!-- Supporting Information --><!-- TemplateEndEditable --><!-- </em></h3> -->
                        </center></td>
                        <td class="textMargin" width="40"></td>
                    </tr>
                    <tr>
                    	<td valign="top" width="60">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25304_sorbivoc/25304_SOR_Bivocational-Eblast_20140127_02.jpg" height="9" width="60" style="clear:both; border:none; display:block;">
                    	</td>
                    	<td align="left" style="color: #fff;">
                    		<!-- TemplateBeginEditable name="content" -->
                            
                            <br>
                			<p>Dear {%%FIRSTNAME%%},</p>

							<p>I am excited to announce that our special Early Bird pricing  for the International Bivocational and Small Church Celebration conference has  been extended until April 30! As you may have heard, this conference will be  held on the campus of Liberty University, June 26-28. Hosted by Liberty&rsquo;s School  of Religion and  Liberty University Baptist Theological Seminary, you don&rsquo;t  want to miss what promises to be an exciting and refreshing event.<strong></strong><br>
						    </p>
							<p>The conference will feature keynote speakers Pastor Jonathan  Falwell and Dr. Johnny Hunt, with worship led by Charles Billingsley.  The conference will also offer breakout sessions addressing topics  relevant to your ministry, a banquet complete with a time of worship, and many  valuable resources to grow your vision and renew your passion for ministry. </p>
<p>To  register for the conference, visit <a href="http://www.Liberty.edu/Bivo" style="color:#a0cced;">www.Liberty.edu/BiVo</a>. When  you sign up by April 30 you will receive a gift at the event, in addition to  the reduced price. If you have any questions, please email <a href="mailto:schoolofreligion@liberty.edu" style="color:#a0cced;">schoolofreligion@liberty.edu</a>.</p>
								<p>We look forward to seeing you at the conference.</p>

								<p>Sincerely, </p>
                                <div id="signature-1971" style="color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
                                    <p>
                                        <b>Dr. Ed Hindson</b><br>
                                        <em>Dean / Distinguished Professor</em><br>
                                        <b>School of Religion</b>
                                    </p>
                                    <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature-wht.png"><br>
                                    <em style="color:#ffffff; font-family:'Times New Roman', Times, serif;">Liberty University&nbsp;&nbsp;|&nbsp;&nbsp;Training Champions for Christ since 1971</em>
                                </div>
                    		<!-- TemplateEndEditable -->
                    	</td>
                    	<td valign="top" width="60">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25304_sorbivoc/25304_SOR_Bivocational-Eblast_20140127_02.jpg" height="9" width="60" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr>
                    <tr id="footer-margin-top">
                    	<td colspan="3" width="500" height="20" style="width:500px; height:20px;"></td>
                    </tr>
                    <tr id="footer">
                    	
                    	<td id="footer-middle" colspan="3" width="500" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#ccc;">
                        	Liberty University &nbsp;&bull;&nbsp; 
                            1971 University Blvd. &nbsp;&bull;&nbsp; 
                            Lynchburg, Va. 24515 &nbsp;&bull;&nbsp; 
                            (434) 582-2000<br>
                            &copy; Copyright 2014 &nbsp;&bull;&nbsp; 
                            Liberty University is a Registered Trademark &nbsp;&bull;&nbsp; 
                            <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#fff; text-decoration:none;">Privacy Policy</a><br>
                            {%%UNSUBSCRIBELINK%%}
                        </td>
                    	
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="3" width="500" height="20" style="width:500px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
    	</center>
    </div><!-- end #wrapper -->
</body>
</html>