<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- TemplateBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	background-color:#ffffff;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:circle;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}

#wrapper-table a {
	text-decoration: none;
	color: #bf1e2e;
	font-weight: bold;
}

@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
    }

    body[yahoo] #pic {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .name {
    	font-size: 25px!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #0a254e;
        text-align: center;
    }
    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border-bottom: 2px solid #20406e;
        padding: 10px;
        text-transform: uppercase;
        color:#f8f8f8!important;
        font-weight: normal!important;
    }
}
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#ffffff" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#ffffff;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#ffffff; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

    		<table class="res-table" id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#ffffff" style="border-collapse:collapse; width:600px; clear:both; background-color:#ffffff;">
            	<tbody>
                	<tr class="hider" id="header-margin-top">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>

                    <tr>
                    	<td colspan="5" bgcolor="#c5c1c0">
                    		<img id="pic" alt="" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/07563_sa_picnic/07563_03.jpg" width="600" height="249" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr>

                    <tr>
                    	<td>
                    		<table class="res-table" cellpadding="0" cellspacing="0" bgcolor="#c5c1c0" border="0" style="border-collapse:collapse; color:#343434; font-size:15px; line-height:20px;">
                    			<tr>
                    				<td width="100">
                    					
                    				</td>
                    				<td align="center" width="400">
                    					<p class="name" style="font-size:45px; line-height:0; font-weight:bold; color:#bf1e2e;">
                    						{NAME}
                    					</p>
                    					<p>You are cordially invited to the seventh-annual Senior Picnic at Camp Hydaway hosted by Student Activities. The picnic is on <span style="font-weight:bold; color:#bf1e2e;">Saturday, May 3, at 4 p.m.</span> All graduating seniors can enjoy an evening of games, carnival rides, delicious food, swimming, and time with friends. Also, free Senior Picnic T-shirts will be given out while supplies last. </p>
                    				</td>
                    				<td width="100">
                    					
                    				</td>
                    			</tr>
                    			<tr>
                    				<td colspan="3">
                    					<img id="pic" alt="" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/07563_sa_picnic/07563_06.jpg" height="79" width="600" style="clear:both; border:none; display:block;">
                    				</td>
                    			</tr>
                    			<tr>
                    				<td width="100">
                    					
                    				</td>
                    				<td align="center" width="400">
                    					<p style="font-size:17px; line-height:20px; font-weight:bold; color:#bf1e2e; text-transform:uppercase;">Transportation to Camp Hydaway</p>
										<p>Due to limited space, there will be <strong>no parking on the premises</strong> at Camp Hydaway. Transit Services will run buses regularly from 4-8 p.m. from the Tilley Student Center/Tower Theater side of Green Hall.</p><br>

										<p style="font-size:17px; line-height:20px; font-weight:bold; color:#bf1e2e; text-transform:uppercase;">You may want to bring along the following items:</p>
									</td>
									<td width="100">
                    					
                    				</td>
                    			</tr>
                    			<tr>
                    				<td colspan="3">
                    					<table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                    						<tr>
			                    				<td width="150">
			                    					
			                    				</td>
			                    				<td width="300" align="center">
			                    					&bull; Lawn chairs or blankets<br>
			                    					&bull; A bathing suit<br>
			                    					&bull; A towel<br>
			                    					&bull; A change of clothes<br>
			                    					&bull; Any additional items you need for<br>outdoor and water activities
												</td>
												<td width="150">
			                    					
			                    				</td>
			                    			</tr>
                    					</table>
                    				</td>
                    			</tr>
                    			<tr>
                    				<td width="100">
                    					
                    				</td>
                    				<td align="center" width="400">
                    					<br>
										<p>If you have any questions, email Student Activities at <a href="mailto:studentactivities@liberty.edu" style="font-weight:bold; color:#bf1e2e; text-decoration:none;">studentactivities@liberty.edu</a>. We hope to see you there!</p>

										<p>Sincerely,</p>

										Student Activities<br>
										<a href="mailto:studentactivities@liberty.edu" style="font-weight:bold; color:#bf1e2e; text-decoration:none;">studentactivities@liberty.edu</a><br>
										(434) 592-3061
										<br><br>
                    				</td>
                    				<td width="100">
                    					
                    				</td>
                    			</tr>
                    		</table>
                    	</td>
                    </tr>

                    <tr>
                    	<td colspan="5">
                    		<img id="pic" alt="" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/07563_sa_picnic/07563_08.jpg" height="202" width="600" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr>
                    

                    <!-- Bottom Nav --><tr><td colspan="5"><table class="res-table" width="600" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="max-width:600px; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td class="bottomNav" align="center" style="font-size:.1em;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Academics</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Admissions</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Alumni</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Athletics</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">News</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Student Life</a></td></tr></table></td></tr><!-- End of bottom nav -->

                    

                    <tr id="footer-margin-top">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr id="footer">
                    	
                    	<td id="footer-middle" colspan="5" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666;">
                        	Liberty University &nbsp;&bull;&nbsp; 
                            1971 University Blvd. &nbsp;&bull;&nbsp; 
                            Lynchburg, Va. 24515 &nbsp;&bull;&nbsp; 
                            (434) 582-2000<br>
                            &copy; Copyright 2014 &nbsp;&bull;&nbsp; 
                            Liberty University is a Registered Trademark &nbsp;&bull;&nbsp; 
                            <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="text-decoration:none; color: #bf1e2e; font-weight: bold;">Privacy Policy</a><br>
                            {%%UNSUBSCRIBELINK%%}
                        </td>
                    	
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
    	</center>
    </div><!-- end #wrapper -->
</body>
</html>

