<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/FlamesClub.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">


<title>Liberty University</title>



<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	background-color:#000000;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
	margin-bottom: 1em;
}

.hider a{
	color:#ffffff;
	text-decoration: none;
}

.hider a:active{
	color:#ffffff;
}

/*@media screen and (max-width: 540px) {
	body[yahoo] .res-table {
		width: 100%!important;
		height: auto!important;
		font-size: 14px;
		line-height: 1.3em;
		border:0!important;
	}

	body[yahoo] .wordmark {
		margin-left: auto;
		margin-right: auto;
	}

	body[yahoo] .hider {
		display:none;
	}

	body[yahoo] .bottomNav {
		width: 100%;
		background-color: #0a254e;
		text-align: left;
	}
	body[yahoo] .bottomNav a {
		font-size: 18px;
		display:block;
		border-bottom: 2px solid #20406e;
		padding: 10px;
		text-transform: uppercase;
		color:#f8f8f8!important;
	}
}*/
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->

</head>

<body bgcolor="#000000" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#000000;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#000000; text-align:center;">
		<center>
			<!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
			
			

			<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#000000" style="border-collapse:collapse; width:600px; clear:both; background-color:#000000;">
				<tbody>                    
					<tr>
						<td colspan="6">
							<img alt="Flames Club - Thank you for joining our team" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_06607_athl_vid/06607-FC-EmailTemplate.jpg" height="208" width="600" style="clear:both; border:none; display:block;">
						</td>
					</tr>
					<tr>
						<td colspan="6">
							<table width="510" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="border-collapse:collapse; color:#000000;">
								<tr>
									<td width="50">
										
									</td>
									<td align="left">
										<!-- InstanceBeginEditable name="content" -->
										<p>Dear {SALUTATION}, {OPENEDEMAILMARKER}<br>
										  </p>
										<p>Thank you for your payment of {$AMOUNT} to benefit  {SPORT/the Flames Club}. With this payment, you have satisfied your original  pledge amount of {$AMOUNT}. <br>
										  </p>
										<p>If you would like to donate again, you may do so on our  {Flames Club payment Web page}. Once again, thank you for making a difference  in the lives of our student-athletes!<br>
										  </p>
										<p>For more information, call 434-582-CLUB (2582), email <a href="mailto:FlamesClub@liberty.edu">FlamesClub@liberty.edu</a>, or visit <a href="http://www.LibertyFlames.com/FlamesClub">www.LibertyFlames.com/FlamesClub</a>. <br>
										  </p>
										<p>Thank you for your support,<br>
										</p>
										<div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
										  <p>
									          <b>
										        	<p>
										        		Bob Good, ‘88 <br>
											        	Megan Robinson, ‘12 <br>
											        	Lauren Thom, ‘08 <br>
											        	Aaron Thompson, ‘12
											        </p>
										        </b>
										    </p>
										</div>

										<!-- InstanceEndEditable -->
									</td>
									<td width="50">
										
									</td>
								</tr>
								<tr>
									<td width="50"></td>
									<td align="left">
										<img alt="Flames Club" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25411_fc_campaign1000/25411_08.jpg" height="61" width="145" style="clear:both; border:none; display:block;">
									</td>
									<td width="50">
										
									</td>
								</tr>
								<tr>
									<td colspan="3" height="30">
										
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table width="510" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
								<tr>
									<td align="left">
										<a href="http://www.facebook.com/theflamesclub"><img alt="facebook" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25411_fc_campaign1000/25411_13.jpg" height="68" width="56" style="clear:both; border:none; display:block;"></a>
									</td>
									<td align="left">
										<a href="http://www.twitter.com/flamesclub"><img alt="twitter" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25411_fc_campaign1000/25411_14.jpg" height="68" width="49" style="clear:both; border:none; display:block;"></a>
									</td>
									<td align="left">
										<a href="http://www.youtube.com/flamesathletics"><img alt="youtube" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25411_fc_campaign1000/25411_15.jpg" height="68" width="59" style="clear:both; border:none; display:block;"></a>
									</td>
									<td align="left">
										<a href="http://www.liberty.edu/index.cfm?pid=25410"><img alt="liberty-today" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25411_fc_campaign1000/25411_16.jpg" height="68" width="45" style="clear:both; border:none; display:block;"></a>
									</td>
									<td align="left">
										<a href="mailto:flamesclub@liberty.edu"><img alt="e-mail" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25411_fc_campaign1000/25411_17.jpg" height="68" width="52" style="clear:both; border:none; display:block;"></a>
									</td>
									<td align="right">
										<img alt="(434) 582-2582" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25411_fc_campaign1000/25411_18.jpg" height="68" width="219" style="clear:both; border:none; display:block;">
									</td>
								</tr>
							</table>
						</td>
					</tr>

					<tr id="footer-margin-top">
						<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
					</tr>
					<tr id="footer">
						
						<td id="footer-middle" colspan="5" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#bbbbbb;">
							Liberty University &nbsp;&bull;&nbsp; 
							1971 University Blvd. &nbsp;&bull;&nbsp; 
							Lynchburg, Va. 24515 &nbsp;&bull;&nbsp; 
							(434) 582-2000<br>
							&copy; Copyright 2014 &nbsp;&bull;&nbsp; 
							Liberty University is a Registered Trademark &nbsp;&bull;&nbsp; 
							<a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#999999; text-decoration:none;">Privacy Policy</a><br>
							{%%UNSUBSCRIBELINK%%}
						</td>
						
					</tr>
					<tr id="footer-margin-bottom">
						<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
					</tr>
				</tbody>
			</table><!-- end #wrapper-table -->
		</center>
	</div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>