<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/CommuterNewsletter.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body{min-width:100% !important; font-family:Times, 'Times New Roman', serif; font-size:14px; color:#636363; line-height:19px; background-color:#ffffff; margin:0; padding: 0;} .ReadMsgBody{width:100%;} .ExternalClass{width:100%;}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}

.canSpam a{
    color:#6db1ca!important;
    text-decoration:none;
    font-style:italic;
}

@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 16px;
        line-height:19px;
    }

    body[yahoo] .content {
        width: 90%!important;
        height: auto!important;
    }

    body[yahoo] .wrapping-border{
        border:none!important;
    }

    body[yahoo] .events {
        width: 100%!important;
        height: auto!important;
    }

    body[yahoo] .events td{
        display:block;
        padding:3px!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .smi {
        width:44px;
    }

    body[yahoo] .smi_yt {
        width:86px;
    }

    body[yahoo] .cs_block {
        display:block;
    }

    body[yahoo] .canSpam {
        line-height:15px!important;
    }

    body[yahoo] .pad {
        display:block!important;
        padding:15px 0;
    }

    body[yahoo] .bottomNav {
        padding:20px 0!important;
    }

    body[yahoo] .bottomNav a {
        width:75%;
        margin:10px 0;
        font-size: 18px;
        display:block;
        border: 1px solid #cccccc;
        padding: 10px;
        color:#636363!important;
    }
}
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->

<!-- InstanceParam name="Table" type="boolean" value="true" -->
<!-- InstanceParam name="NewSection" type="boolean" value="false" -->

</head>

<body bgcolor="#ffffff" yahoo="fix" style="margin:0; font-family:Times, 'Times New Roman', serif; font-size:14px; color:#636363; background-color:#ffffff;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Times, 'Times New Roman', serif; font-size:14px; color:#636363; background-color:#ffffff; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

    		<table class="res-table" id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#ffffff" style="border-collapse:collapse; width:600px; clear:both; background-color:#ffffff; mso-table-lspace:0pt; mso-table-rspace:0pt;">
            	<tbody>
                	<tr class="hider" id="header-margin-top">
                    	<td width="600" height="40" style="width:600px; height:40px;"></td>
                    </tr>
                    <tr>
                        <td class="wrapping-border" align="center" width="600" style="border:1px solid #cccccc;">
                            <table class="content" width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                <tr id="margin-top">
                                    <td colspan="5" width="600" height="40" style="width:600px; height:40px;"></td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                    <td colspan="3" class="header" width="500" align="center" style="text-transform:uppercase; font-size:30px; line-height:31px;">
                                        <!-- InstanceBeginEditable name="NewsletterHeader" -->Commuter Newsletter<!-- InstanceEndEditable -->
                                    </td>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50"></td>
                                    <td colspan="3" width="500" height="35" style="width:500px; height:35px; border-bottom:1px solid #cccccc;"></td>
                                    <td class="hider" width="50"></td>
                                </tr>

                                <tr id="margin">
                                    <td colspan="5" width="600" height="35" style="width:600px; height:35px;"></td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                    <td colspan="3" width="500" align="left">
                                        <p style="font-size:20px; color:#6db1ca;"><!-- InstanceBeginEditable name="Header" -->Absentee Ballot Application<!-- InstanceEndEditable --></p>
                                        <!-- InstanceBeginEditable name="ContentTxt" -->
                                        <p>The Lynchburg City Council election is  Tuesday, May 6. If you are registered to vote and will not be in Lynchburg on  Election Day, please contact Commuter Services at (434) 592-3067 or by email <a href="mailto:Commuter@liberty.edu">Commuter@liberty.edu</a> for an Absentee Ballot Application Form. </p>
Don&rsquo;t forget to vote for these important City  Council positions!                                        <!-- InstanceEndEditable -->
                                    </td>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                </tr>

                                <!-- InstanceBeginRepeat name="AddSection" --><!-- InstanceBeginRepeatEntry -->
                                <tr id="margin">
                                    <td colspan="5" width="600" height="15" style="width:600px; height:15px;"></td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                    <td colspan="3" width="500" align="left">
                                        <p style="font-size:20px; color:#6db1ca;"><!-- InstanceBeginEditable name="Header1" -->Commencement  2014<!-- InstanceEndEditable --></p>
                                        <!-- InstanceBeginEditable name="ContentTxt1" -->
                                        <p>Commencement  2014 is approaching quickly, and it is important that you stay up-to-date with  the latest Commencement news. Don&rsquo;t forget to stop by Commencement Check-In on  Friday, May 9, between 9 a.m. and 4 p.m., and attend the Graduation Reception  from 2-4 p.m. on the concourse level of Williams Stadium. For more information,  please visit the <a href="http://www.liberty.edu/academics/registrar/index.cfm?PID=10258">Commencement website</a>, reference the Weekend Guide, or email  <a href="mailto:Commencement@liberty.edu">Commencement@liberty.edu</a> with your questions.  </p>
Congratulations on your achievement — we look  forward to seeing you at Commencement 2014!                                        <!-- InstanceEndEditable -->
                                    </td>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                </tr>
                                <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                <tr id="margin">
                                    <td colspan="5" width="600" height="15" style="width:600px; height:15px;"></td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                    <td colspan="3" width="500" align="left">
                                        <p style="font-size:20px; color:#6db1ca;"><!-- InstanceBeginEditable name="Header1" -->The Fish &amp; Bread Project 5K  Trail Run<!-- InstanceEndEditable --></p>
                                        <!-- InstanceBeginEditable name="ContentTxt1" -->
                                        <p>Sign  up for the Fish &amp; Bread 5K Trail Run on Saturday, April 26. There is no  registration fee, and prizes include a Chipotle gift card, Go Pro camera, Beats  by Dre headphones, Playstation4, and a MacBook Air. All proceeds go to support  the Blue Ridge Pregnancy Center and Axiom Sports United. Sign up at the One  Community Church <a href="http://www.onecc.org">website</a>.</p>
                                      <!-- InstanceEndEditable -->
                                    </td>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                </tr>
                                <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                <tr id="margin">
                                    <td colspan="5" width="600" height="15" style="width:600px; height:15px;"></td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                    <td colspan="3" width="500" align="left">
                                        <p style="font-size:20px; color:#6db1ca;"><!-- InstanceBeginEditable name="Header1" -->Dress Code Reminder<!-- InstanceEndEditable --></p>
                                        <!-- InstanceBeginEditable name="ContentTxt1" -->
                                        <p>As the weather is getting warmer, please remember   the dress code remains the same. Use the guidelines of modesty,   professionalism, neatness, and cleanliness  specified in the <a href="https://www.liberty.edu/index.cfm?PID=24218">Liberty Way</a>.</p>
                                        <!-- InstanceEndEditable -->
                                    </td>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                </tr>
                                <!-- InstanceEndRepeatEntry --><!-- InstanceEndRepeat -->

                                
                                <tr id="margin">
                                    <td colspan="5" width="600" height="15" style="width:600px; height:15px;"></td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                    <td colspan="3" align="left" width="500">
                                        <p style="font-size:20px; color:#6db1ca;"><!-- InstanceBeginEditable name="TableHeader" -->Upcoming Events<!-- InstanceEndEditable --></p>
                                        <table class="events" width="500" cellpadding="7" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                            <!-- InstanceBeginRepeat name="AddRow" --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#FFFFFF" >
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Baseball  vs. James Madison<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->April  15, <br>
                                                    6 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->Liberty  Baseball Stadium<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/flames/index.cfm?PID=10854&TeamID=1" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#ececec" >
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Merge:  Asian-American and <br>
                                                    Pacific-Islander Worship Service<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->April 16, <br>
                                                    7 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->Towns-Alumni  <br>
                                                    Lecture Hall<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://events.liberty.edu/event/merge_asian_american_and_pacific_islander_worship_service#.U0WbLVOa__x" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#FFFFFF" >
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Campus  Artist Series<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->April  17,<br>
8 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->Tilley  Student Center<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/campusrec/studentactivities/index.cfm?PID=21691" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#ececec" >
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Japan  and Karaoke Fun Day<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->April  18, <br>
                                                    11:30 a.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->Green  Hall<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://events.liberty.edu/event/japan_karaoke_fun_friday#.U0WcLVOa__x" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#FFFFFF" >
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->
                                                    &quot;Mary Poppins&quot;
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->April  18-19, <br>
                                                    7:30 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->Tower  Theater<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.alluvionstage.com/index.cfm?PID=25034" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#ececec" >
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Softball  vs. Winthrop, Doubleheader<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->April  18, <br>
                                                    2 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->Liberty  Softball Field<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/flames/index.cfm?PID=10854&teamID=2" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#FFFFFF" >
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Softball  vs. East Tennessee State<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->April  22, <br>
                                                    2 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->Liberty  Softball Field<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/flames/index.cfm?PID=10854&teamID=2" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#ececec" >
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Movie  Night: &ldquo;Gravity&quot; and<br>
                                                    &ldquo;Thor: The Dark World&rdquo;<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->April  25, <br>
                                                    8 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->Vines  Center<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/campusrec/studentactivities/index.cfm?PID=21691" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#FFFFFF" >
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Luau  Fun Day<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->
                                                    <p>April  25, <br>
                                                    11:30 a.m.</p>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->Green  Hall<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://events.liberty.edu/event/luau_fun_friday#.U0WdglOa__x" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#ececec" >
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Bald  Mountain 10K Trail Race<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->April  26, <br>
                                                    8 a.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->Camp  Hydaway<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/campusrec/studentactivities/index.cfm?PID=18161" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceEndRepeat -->
                                        </table>
                                    </td>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                </tr>
                                

                                

                                <tr>
                                    <td class="hider" width="50"></td>
                                    <td colspan="3" width="500" height="35" style="width:500px; height:35px; border-bottom:1px solid #cccccc;"></td>
                                    <td class="hider" width="50"></td>
                                </tr>
                                <tr id="margin">
                                    <td colspan="5" width="600" height="35" style="width:600px; height:35px;"></td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50"></td>
                                    <td colspan="3" width="500" align="center">
                                        <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00004_commuter_newsletter/CN_full_03.jpg" height="71" width="164" style="clear:both; border:none; display:block;">
                                    </td>
                                    <td class="hider" width="50"></td>
                                </tr>
                                <tr id="margin">
                                    <td colspan="5" width="600" height="15" style="width:600px; height:15px;"></td>
                                </tr>
                                <tr>
                                    <td colspan="5" width="600" align="center">
                                        <table class="res-table" width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                                            <tr>
                                                <td class="hider" width="80">
                                                    
                                                </td>
                                                <td align="center" width="440">
                                                    <strong><!-- InstanceBeginEditable name="ConnectedHeader" -->Stay connected with us!<!-- InstanceEndEditable --></strong>
                                                    <p style="font-size:12px; line-height:14px; -webkit-text-size-adjust: none;"><!-- InstanceBeginEditable name="ConnectedTxt" -->Are we friends yet? Add Commuter Services as your friend on Facebook and comment on our wall. Email <a href="mailto:commuter@liberty.edu" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">commuter@liberty.edu</a> to let us know if there is an event you would like us to host or post in our weekly newsletter.<!-- InstanceEndEditable --></p>
                                                </td>
                                                <td class="hider" width="80">
                                                    
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                
                                <tr id="margin">
                                    <td colspan="5" width="600" height="15" style="width:600px; height:15px;"></td>
                                </tr>
                                <tr>
                                    <td colspan="5" align="center">
                                        <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                                            <tr>
                                                <!-- InstanceBeginEditable name="Social" -->
                                                <td>
                                                    <a href="https://www.facebook.com/LUCommuterServices"><img class="smi" alt="facebook" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00004_commuter_newsletter/CN-mobile_01.jpg" width="30" style="clear:both; border:none; display:block;"></a>
                                                </td>
                                                <td>
                                                    <a href="http://twitter.com/libertyu?utm_source=liberty&utm_medium=email&utm_content=lutwitter&utm_campaign={%CAMPAIGN_ID%}"><img class="smi" alt="twitter" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00004_commuter_newsletter/CN-mobile_02.jpg" width="28" style="clear:both; border:none; display:block;"></a>
                                                </td>
                                                <td>
                                                    <a href="http://www.liberty.edu/libertytoday?utm_source=liberty&utm_medium=email&utm_content=lutoday&utm_campaign={%CAMPAIGN_ID%}"><img class="smi" alt="liberty today" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00004_commuter_newsletter/CN-mobile_03.jpg" width="30" style="clear:both; border:none; display:block;"></a>
                                                </td>
                                                <td>
                                                    <a href="http://www.youtube.com/libertyuniversity?utm_source=liberty&utm_medium=email&utm_content=luyoutube&utm_campaign={%CAMPAIGN_ID%}"><img class="smi_yt" alt="youtube" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00004_commuter_newsletter/CN-mobile_04.jpg" width="50" style="clear:both; border:none; display:block;"></a>
                                                </td>
                                                <!-- InstanceEndEditable -->
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <!-- Bottom Nav --><tr><td colspan="5"><table class="res-table" width="600" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="max-width:600px; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td class="bottomNav" align="center" style="font-size:.1em;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Academics</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Admissions</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Alumni</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Athletics</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">News</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Student Life</a></td></tr></table></td></tr><!-- End of bottom nav -->

                                <tr class="hider">
                                    <td colspan="5" width="600" height="15" style="width:600px; height:15px;"></td>
                                </tr>
                                <tr>
                                    <td colspan="5" id="footer" width="600" align="center">
                                        <table class="res-table" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;">
                                            <tr>
                                                <td class="canSpam" align="center" width="600" style="font-size:11px; line-height:20px; -webkit-text-size-adjust: none;">
                                                    <span class="cs_block">Liberty University <span class="hider">&nbsp;&#124;&nbsp; </span></span>
                                                    <span class="cs_block">1971 University Blvd. <span class="hider">&nbsp;&#124;&nbsp; </span></span>
                                                    <span class="cs_block">Lynchburg, Va. 24515 <span class="hider">&nbsp;&#124;&nbsp; </span></span>
                                                    <span class="cs_block">(434) 582-2000<span class="hider"><br></span></span>

                                                    <div class="pad" style="display:inline;">
                                                        <span class="cs_block">&copy; Copyright 2014 <span class="hider">&nbsp;&#124;&nbsp; </span></span>
                                                        <span class="cs_block"> Liberty University is a Registered Trademark <span class="hider">&nbsp;&#124;&nbsp; </span></span>
                                                    </div>

                                                    <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#6db1ca; text-decoration:none; font-style:italic;">Privacy Policy</a> &nbsp;&#124;&nbsp; <span style="color:#6db1ca; font-size:12px; text-decoration:none; font-style:italic;">{%%UNSUBSCRIBELINK%%}</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr id="margin-bottom">
                                    <td colspan="5" width="600" height="35" style="width:600px; height:35px;"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="hider" id="footer-margin-bottom">
                    	<td width="600" height="40" style="width:600px; height:40px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table

    	</center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

