<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/ResidentEnrollment-MonthlyOffer-March2014-06637v2.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#0a254e;
	background-color:#ffffff;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
	margin-bottom: 1em;
}


</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#ffffff" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#0a254e; background-color:#ffffff;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#0a254e; background-color:#ffffff; text-align:center;">
		<center>
			<!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="3"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
			
			

			<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#ffffff" style="border-collapse:collapse; width:600px; clear:both; background-color:#ffffff;">
				<tbody>
					<tr>
						<td colspan="3">
							<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_06637_re_mo/06637_RE_MarchOfferEmailTemplate_20140226v2_01.jpg" height="277" width="600" style="clear:both; border:none; display:block;">
						</td>
					</tr>
					<tr>
						<td width="80">
							<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/mt-mrgn.png" height="1" width="80" style="clear:both; border:none; display:block;">
						</td>
						<td align="left" class="content">
							<!-- InstanceBeginEditable name="content" -->
							<p>Dear {%%FIRSTNAME%%},<br>
                              <br>
							Interest in joining the Fall 2014 incoming class at Liberty   University, the world's largest Christian university, has been extremely   high. Spaces are filling up quickly, and if God is calling you to study   at Liberty, we want you here too!<br>
							<br>
							Write the next chapter of your story at Liberty — train as a <em>Champion for Christ</em> alongside other  future world changers. Apply and submit your $250   Confirmation Deposit by <strong>April 30</strong> to secure an $11,500 scholarship   package disbursed over four years.</p>
							<p>Also, complete Financial Check-In by April 30 to be entered into a <a href="http://www.liberty.edu/undergrad/index.cfm?PID=20149">drawing</a> for an additional $21,000 scholarship!</p>
							<p align="center"><a href="https://secure.vzcollegeapp.com/liberty/default.aspx?acode=R23448" style="display:block; clear:both; width:146px; height:52px; margin:0 20px 20px 0; text-decoration:none;" title="Apply Now"><img src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00008_button/apply-now.png" class="apply-now" width="146" height="52" border="0" style="width:146px; height:52px; border:none;"></a></p>
							<p>To request more information, contact an admissions  counselor at (800) 543-5317, email <a href="mailto:admissions@liberty.edu">admissions@liberty.edu</a>, or <a href="http://www.libertyu.com/chat">chat  with us live</a>. Reference code R23448 when you contact us.</p>
							<p>We hope to hear from you soon!</p>
							<div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
							  <p><strong>Larry Hoezee, Ph.D.<br>
							  </strong><em>Executive Director</em><strong><br>
Resident Enrollment Management </strong></p>
							  <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
							  <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University  |  Training Champions for Christ since 1971</em> </div>
<p>&nbsp;</p>
							<!-- InstanceEndEditable -->
						</td>
						<td width="80">
							<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/mt-mrgn.png" height="1" width="80" style="clear:both; border:none; display:block;">
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_06637_re_mo/06637_RE_MarchOfferEmailTemplate_20140226v2_03.jpg" height="427" width="600" style="clear:both; border:none; display:block;">
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_06637_re_mo/06637_RE_MarchOfferEmailTemplate_20140226v2_04.jpg" height="140" width="600" style="clear:both; border:none; display:block;">
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
								<tr>
									<td>
										<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_06637_re_mo/06637_RE_MarchOfferEmailTemplate_20140226v2_05.jpg" height="52" width="282" style="clear:both; border:none; display:block;">
									</td>
									<td>
										<a href="http://www.libertyu.com"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_06637_re_mo/06637_RE_MarchOfferEmailTemplate_20140226v2_06.jpg" height="52" width="318" style="clear:both; border:none; display:block;"></a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
								<tr>
									<td>
										<!-- InstanceBeginEditable name="social1" -->
										<a href="http://www.facebook.com/LibertyUniversityExperience"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_06637_re_mo/06637_RE_MarchOfferEmailTemplate_20140226v2_07.jpg" height="39" width="340" style="clear:both; border:none; display:block;"></a>
										<!-- InstanceEndEditable -->
									</td>
									<td>
										<!-- InstanceBeginEditable name="social2" -->
										<a href="http://www.twitter.com/experiencelu"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_06637_re_mo/06637_RE_MarchOfferEmailTemplate_20140226v2_08.jpg" height="39" width="260" style="clear:both; border:none; display:block;"></a>
										<!-- InstanceEndEditable -->
									</td>
								</tr>
								<tr>
									<td>
										<!-- InstanceBeginEditable name="social3" -->
										<a href="http://www.liberty.edu/libertytoday"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_06637_re_mo/06637_RE_MarchOfferEmailTemplate_20140226v2_09.jpg" height="29" width="340" style="clear:both; border:none; display:block;"></a>
										<!-- InstanceEndEditable -->
									</td>
									<td>
										<!-- InstanceBeginEditable name="social4" -->
										<a href="http://www.instagram.com/experiencelu"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_06637_re_mo/06637_RE_MarchOfferEmailTemplate_20140226v2_10.jpg" height="29" width="260" style="clear:both; border:none; display:block;"></a>
										<!-- InstanceEndEditable -->
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_06637_re_mo/06637_RE_MarchOfferEmailTemplate_20140226v2_11.jpg" height="73" width="600" style="clear:both; border:none; display:block;">
						</td>
					</tr>
					<tr id="footer-margin-top">
						<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
					</tr>
					<tr id="footer">
						
						<td id="footer-middle" colspan="3" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666;">
							Liberty University &nbsp;&bull;&nbsp; 
							1971 University Blvd. &nbsp;&bull;&nbsp; 
							Lynchburg, Va. 24515 &nbsp;&bull;&nbsp; 
							(434) 582-2000<br>
							&copy; Copyright 2014 &nbsp;&bull;&nbsp; 
							Liberty University is a Registered Trademark &nbsp;&bull;&nbsp; 
							<a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#444; text-decoration:none;">Privacy Policy</a><br>
							{%%UNSUBSCRIBELINK%%}
						</td>
						
					</tr>
					<tr id="footer-margin-bottom">
						<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
					</tr>
				</tbody>
			</table><!-- end #wrapper-table -->
		</center>
	</div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>