<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/SummerFestivalTour.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	background-color:#e6e6e6;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}

.main a:hover {
    color:#bd5552!important;
}

.main a {
    text-decoration:none;
    color:#922a27;
    font-style:italic;
}

/*@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 14px;
        line-height: 1.3em;
        border:0!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #0a254e;
        text-align: left;
    }
    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border-bottom: 2px solid #20406e;
        padding: 10px;
        text-transform: uppercase;
        color:#f8f8f8!important;
    }
}*/
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#e6e6e6" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#e6e6e6;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#e6e6e6; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

    		<table class="main" id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#ffffff" style="border-collapse:collapse; width:600px; clear:both; background-color:#ffffff;">
            	<tbody>
            		<tr>
            			<td colspan="5">
            				<img alt="Liberty University - 2014 Summer Festivak Tour" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/06784_summerfestival_2014/06784_03.jpg" height="144" width="600" style="clear:both; border:none; display:block;">
            			</td>
            		</tr>
            		<tr>
            			<td colspan="5" height="50">
            				
            			</td>
            		</tr>
            		<tr valign="top">
            			<td width="65">
            				<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/06784_summerfestival_2014/06784_06.jpg" height="1" width="65" style="clear:both; border:none; display:block;">
            			</td>
            			<td align="left" width="280">
            				<!-- InstanceBeginEditable name="content" -->
            				<p>Dear Leader of {CHURCH NAME}, {OPENEDEMAILMARKER}</p>
            				<p>Your youth group is invited to join <a href="http://www.libertyu.com">Liberty University</a> Aug. 3-6, for <a href="http://kingdombound.org/">Kingdom Bound music festival</a>, hosted at Darien Lake in Darien, N.Y. Enjoy concerts from top Christian artists including Tenth Avenue North, Skillet, and Michael W. Smith. Also, hear from keynote speakers Matt Ullman, Jill Kelly, and others.</p>
            				<p>Students can stop by Liberty's booth to learn more about the nation’s largest private, nonprofit four-year university. Students who apply to Liberty at our booth will receive Liberty swag, have the $40 application fee waived, and be entered into a nightly drawing to win a $16,500 scholarship!</p>
            				<p>Tickets are available <a href="http://kingdombound.org/festival/tickets/festival-tickets">online</a>. Visit <a href="http://www.LibertyFestivals.com">www.LibertyFestivals.com</a> to learn more about other festivals being held nationwide throughout the summer.</p>
            				<p>Don&rsquo;t miss out — bring a group from your church to enjoy the live music and warm summer sun while learning what Liberty, the world&rsquo;s largest Christian university, has to offer!</p>
            				<p>See you there, </p>
            				<div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
                                <p>
                                    <b>National Recruiters</b><b></b>
                                </p>
                                <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
                                <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Training Champions for Christ since 1971</em>
                            </div>
            				<!-- InstanceEndEditable -->
            			</td>
                        <td width="40">
                            
                        </td>
                        <td width="150">
                            <!-- InstanceBeginEditable name="dates" -->
                            <p style="font-weight:bold; font-size:18px; line-height:1em; color:#922a27;">Upcoming Dates</p>
                            <p><a href="http://rockthedesert.com">Rock the Desert</a> <br>
Aug. 7-9<br>
Midland, Texas</p>
                            <p><a href="http://www.thesoulfest.com/home.html">SoulFest</a><br>
                              Aug. 7-9<br>
                            Gilford, N.H.</p>
                            <p><a href="http://www.eventtickets.net/Scripts/prodView.asp?idproduct=80#.U5cGDcbgAeF">DC Fest</a><br>
                              Aug. 7-9<br>
                            Gilford, N.H.</p>
<p><a href="http://www.liberty.edu/undergrad/index.cfm?PID=23332" style="color:#922a27; text-decoration:none; font-size:12px;"><em>View all tour dates&nbsp;&#8594;</em></a></p>
                            <!-- InstanceEndEditable -->
                        </td>
            			<td width="65">
            				<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/06784_summerfestival_2014/06784_06.jpg" height="1" width="65" style="clear:both; border:none; display:block;">
            			</td>
            		</tr>
            		<tr>
            			<td colspan="5" width="600">
            				<a href="http://libertyfestivals.com"><img alt="www.LibertyFestivals.com" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/06784_summerfestival_2014/06784_11.jpg" width="600" height="387" style="clear:both; border:none; display:block;"></a>
            			</td>
            		</tr>
                    <tr id="footer">
                    	<td id="footer-middle" colspan="5" bgcolor="#e6e6e6" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666;">
                        	Liberty University &nbsp;&bull;&nbsp; 
                            1971 University Blvd. &nbsp;&bull;&nbsp; 
                            Lynchburg, Va. 24515 &nbsp;&bull;&nbsp; 
                            (434) 582-2000<br>
                            &copy; Copyright 2014 &nbsp;&bull;&nbsp; 
                            Liberty University is a Registered Trademark &nbsp;&bull;&nbsp; 
                            <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#444; text-decoration:none;">Privacy Policy</a><br>
                            {%%UNSUBSCRIBELINK%%}
                        </td>
                    	
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="5" width="600" height="20" bgcolor="#e6e6e6" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
    	</center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

