<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/LCA-Template.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Golf for the gift of education</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	background-color:#ffffff;
	line-height:16px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
	line-height:20px;
}

p {
    margin-bottom: 1em;
}

</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#ffffff" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; background-color:#ffffff;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; background-color:#ffffff; text-align:center;">
    	<center>
    		<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#ffffff" style="border-collapse:collapse; width:600px; clear:both; background-color:#ffffff;">
            	<tbody>
                    <tr>
						<td colspan="5">
							<center>
								<img alt="LCA" src="http://www.liberty.edu/media/1616/email/lca-email-header.jpg" height="115" width="584" style="clear:both; border:none; display:block;">
							</center>
						</td>
					</tr>
					<tr>
                    	<td colspan="5" width="600" height="15" style="width:600px; height:15px;"></td>
                    </tr>
					<tr>
						<td width="30"></td>
						<td width="540" style="color:#333;">
							<!-- InstanceBeginEditable name="E-mail Body" -->
					        <h2 style="line-height:20px;"><strong>Annual LCA Golf Classic… Get your team together!</strong></h2>
								<p>Join us for the 2014 Liberty Christian  Academy Golf Classic on Thursday, May 1, at London Downs Golf Course. Lunch, catered  by Robin Alexander {R.A.} Bistro, will begin at 11:30 a.m. and golfers will  tee off at 1:15 p.m.<br>
								  <br>
								  All funds raised from the  tournament will support the LCA Family in Need Tuition Assistance Program.<br>
								  <br>
						    For more information, view our <a href="http://www.lcabulldogs.com/media/9910/LCA_GOLF_CLASSIC_2014_BROCHURE.pdf">brochure</a>,  call (434) 592-4935, or email <a href="mailto:ajsaylor@liberty.edu">ajsaylor@liberty.edu</a>. </p>
We hope to see you there!							<!-- InstanceEndEditable -->
					  </td>
						<td width="30"></td>
					</tr>
                    <tr>
                    	<td colspan="5" width="600" height="15" style="width:600px; height:15px;"></td>
                    </tr>

                    <tr>
						<td colspan="3" height="6px" bgcolor="#8d200e"></td>
					</tr>

                    

                    <tr id="footer-margin-top">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr id="footer">
                    	
                    	<td id="footer-middle" colspan="5" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666;">
							Liberty Christian Academy &nbsp;&bull;&nbsp; 
							100 Mountain View Rd. &nbsp;&bull;&nbsp; 
							Lynchburg, Va. 24501-2272 <br>
							© 2014 All Rights Reserved &nbsp;&bull;&nbsp; 
							Phone 434.832.2000 &nbsp;&bull;&nbsp; 
							Fax 434.832.2027
                        </td>
                    	
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
    	</center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

