<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/Pilot_Prospect.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	background-color:#ffffff;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}

/*@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 14px;
        line-height: 1.3em;
        border:0!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #0a254e;
        text-align: left;
        display: block!important;
    }
    
    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border-bottom: 2px solid #20406e;
        padding: 10px;
        text-transform: uppercase;
        color:#f8f8f8!important;
    }
}*/
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#ffffff" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#ffffff;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#ffffff; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

    		<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#fff" style="border-collapse:collapse; width:600px; clear:both; background-color:#fff;">
            	<tbody>
                	<tr id="header-margin-top">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr>
                    	<td>
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/08527_re_prospect/08527_03.jpg" height="220" width="600" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr>
                    <tr>
                    	<td>
                    		<table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                    			<tr id="margin-top">
			                    	<td colspan="4" width="600" height="25" style="width:600px; height:25px;"></td>
			                    </tr>
                    			<tr valign="top">
                    				<td width="40">
                    					
                    				</td>
                    				<td width="24" style="border-left:1px solid #000;">
                    					
                    				</td>
                    				<td align="left" width="375" style="font-size:19px; line-height:26px;">
                    					<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/08527_re_prospect/08527_07.jpg" height="69" width="146" style="clear:both; border:none; display:block;">
                                        <!-- InstanceBeginEditable name="Text" -->
                    					<p>{OPENEDEMAILMARKER}</p>
                    					<p>We invite you to learn more about Liberty University, the  nation&rsquo;s largest private, nonprofit four-year college and the largest Christian  university in the world.</p>
                    					<p>Visit <strong>{xxURLxx}</strong> to discover all that Liberty has to offer you academically, spiritually, socially,  and athletically.</p>
                    					<p>Liberty is a comprehensive liberal arts university that offers  more than 140 residential undergraduate programs of study, including business,  education, engineering, nursing, and religion. Our distinguished faculty  members are passionate about their respective fields, committed to mentoring  students in those disciplines, and surrendered to achieving God&rsquo;s purposes  through higher education.</p>
                    					<p>To better support our growing student population, we are  currently in the midst of a $500 million campus reconstruction campaign. On top of the new Jerry Falwell Library and the Center for Medical  and Health Sciences, Liberty will soon see the completion of the Center for Music and the Worship Arts, the 4-story Science Hall, the new high-rise Residential Commons, and upgrades to  the existing LaHaye Student Union.</p>
                    					<p>Liberty students enjoy a well-rounded college experience, including dozens of annual campus events and recreation outlets, as well as competitive NCAA Division I athletics teams, such as our six-time Big South Champion Flames Football team.</p>
                    					<p>This barely scratches the surface of the excitement  going on at Liberty. Contact one of our admissions counselors today at  (800) 543-5317 or email <a href="mailto:admissions@liberty.edu">admissions@liberty.edu</a> to request more information and apply. You can also chat with us live at <a href="http://www.LibertyU.com/Chat">www.LibertyU.com/Chat</a>.</p>
                    					<p>We look forward to welcoming you as a future <em>Champion for Christ</em>.</p>
                    					<div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height: 14px;">
                    					  <p> <b>Larry Hoezee, Ph.D.<br>
                    					  </b><em>Executive Director</em><b><br>
                    					  Resident Enrollment Management
                    					  </b> </p>
                    					  <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
                    					  <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University  |  Training Champions for Christ since 1971</em></div>
                                        <!-- InstanceEndEditable -->
                    				</td>
                    				<td width="40">
                    					
                    				</td>
                    			</tr>
                    		</table>
                    	</td>
                    </tr>
                    <tr id="footer-margin-top">
                    	<td colspan="5" width="600" height="40" style="width:600px; height:40px;"></td>
                    </tr>
                    <tr>
                    	<td>
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/08527_re_prospect/08527_10.jpg" height="441" width="600" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr>
                    <tr>
                    	<td>
                    		<table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                    			<tr>
                                    <!-- InstanceBeginEditable name="Social" -->
                    				<td>
                    					<a href="https://www.facebook.com/LibertyUniversityExperience"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/08527_re_prospect/08527_11.jpg" height="70" width="249" style="clear:both; border:none; display:block;"></a>
                    				</td>
                    				<td>
                    					<a href="https://twitter.com/ExperienceLU"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/08527_re_prospect/08527_12.jpg" height="70" width="51" style="clear:both; border:none; display:block;"></a>
                    				</td>
                    				<td>
                    					<a href="http://instagram.com/experiencelu#"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/08527_re_prospect/08527_13.jpg" height="70" width="58" style="clear:both; border:none; display:block;"></a>
                    				</td>
                    				<td>
                    					<a href="https://www.liberty.edu/index.cfm?pid=25410"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/08527_re_prospect/08527_14.jpg" height="70" width="242" style="clear:both; border:none; display:block;"></a>
                                        <!-- InstanceEndEditable -->
                    				</td>
                    			</tr>
                    		</table>
                    	</td>
                    </tr>
                    <tr id="footer-margin-top">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr id="footer">
                    	
                    	<td id="footer-middle" colspan="5" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666;">
                        	Liberty University &nbsp;&bull;&nbsp; 
                            1971 University Blvd. &nbsp;&bull;&nbsp; 
                            Lynchburg, Va. 24515 &nbsp;&bull;&nbsp; 
                            (434) 582-2000<br>
                            &copy; Copyright 2014 &nbsp;&bull;&nbsp; 
                            Liberty University is a Registered Trademark &nbsp;&bull;&nbsp; 
                            <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#444; text-decoration:none;">Privacy Policy</a><br>
                            {%%UNSUBSCRIBELINK%%}
                        </td>
                    	
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->

    	</center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

