<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="../../Templates/President-Letter.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#000;
    background-color:#fff9ea;
    line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
    list-style-type:square;
    line-height:22px;
}

h1
{
    font-size:22px;
}

h2
{
    font-size:18px;
    font-weight:normal;
}

p {
    margin-bottom: 1em;
}

@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 14px;
        line-height: 1.3em;
        border:0!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .res-hider {
        display:none;
    }

    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #0a254e;
        text-align: left;
    }
    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border-bottom: 2px solid #20406e;
        padding: 10px;
        text-transform: uppercase;
        color:#f8f8f8!important;
    }
    body[yahoo] .res-img {
        width: 100%!important;
        height: auto!important;
    }
    body[yahoo] .res-margin {
        width: 10.4%!important;
    }
    body[yahoo] .res-inner-margin {
        width: 7%!important;
    }
    body[yahoo] .res-content {
        font-size: 15px;
    }
    body[yahoo] .res-block {
        display: block;
    }
}
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#fff9ea" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#fff9ea;">
    <div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#fff9ea; text-align:center;">
        <center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="res-hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="res-hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="res-hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

            <table id="wrapper-table" class="res-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#fff9ea" style="border-collapse:collapse; width:600px; clear:both; background-color:#fff9ea;">
                <tbody>
                    <tr>
                        <td colspan="5">
                            <img class="res-img" alt="Office of the President" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/24961_pres_ltr/24961_RE_PresidentEmailTemplate_20140113_02.jpg" height="186" width="600" style="clear:both; border:none; display:block;">
                        </td>
                    </tr>
                    <tr>
                        <td class="res-margin" width="61" valign="top" bgcolor="#d8d8cc">
                            <img class="res-img" alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/24961_pres_ltr/24961_RE_PresidentEmailTemplate_20140113_03.jpg" height="471" width="61" style="clear:both; border:none; display:block;">
                        </td>
                        <td class="res-inner-margin" width="40" class="res-margin">
                            <img class="res-img" alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/24961_pres_ltr/margin.png" height="1" width="40" style="clear:both; border:none; display:block;">
                        </td>
                        <td align="left" valign="top" class="res-content">
                            <!-- InstanceBeginEditable name="content" -->
                            <p>Dear  {%%FIRSTNAME%%},</p>
                            <p>At such a busy time of year, I know  you have many things to do. I wouldn&rsquo;t ask one more thing of you unless I knew  it was very important to Liberty. </p>
                            <p>Local elections for Lynchburg&rsquo;s  City Council are scheduled for tomorrow, May 6, and with  so many students headed home after finals, I am concerned that  our voter turnout could be low. We have worked for years to have strong  participation so that city officials would not ignore the interests of Liberty  University and its students, as they have in the past.&nbsp; I don&rsquo;t want them to now look at a  low turnout and feel like they are not accountable to Liberty voters. &nbsp; </p>
                            <p>Don't be registered  to vote but fail to participate in this election.&nbsp; I would hate to lose  the momentum that our Liberty family has built over the past several election  cycles with poor turnout this time.&nbsp;</p>
                            <p>I won&rsquo;t tell you who to vote for.&nbsp; But I will tell you that  participating in this election is even more important than who you vote for.                            </p>
                            <div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
                              <p> <b>Jerry Falwell</b><br>
    <em>President</em><br>
  </p>
  <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
  <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University  |  Training Champions for Christ since 1971</em> </div>
<!-- InstanceEndEditable -->
                        </td>
                        <td class="res-inner-margin" width="40" class="res-margin">
                            <img class="res-img" alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/24961_pres_ltr/margin.png" height="1" width="40" style="clear:both; border:none; display:block;">
                        </td>
                        <td class="res-margin" width="63" valign="top" bgcolor="#d8d8cc">
                            <img class="res-img" alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/24961_pres_ltr/24961_RE_PresidentEmailTemplate_20140113_05.jpg" height="471" width="63" style="clear:both; border:none; display:block;">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <img class="res-img" alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/24961_pres_ltr/24961_RE_PresidentEmailTemplate_20140113_06.jpg" height="449" width="600" style="clear:both; border:none; display:block;">
                        </td>
                    </tr>


                </tbody>
            </table><!-- end #wrapper-table -->

            <!-- footer -->
            <center>
            <table align="center" class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0A254E" style="width:100%; border-collapse:collapse; background:#0a254e;">
                <tr id="footer-margin-top">
                    <td colspan="3" width="100%" height="20" style="width:100%; height:20px;"></td>
                </tr>
                <tr>
                    <td id="footer-middle" colspan="3" width="100%" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Times, 'Times New Roman', serif; font-size:11px; color:#ccc;">
                        <span class="res-block">Liberty University <span class="res-hider">&nbsp;&bull;&nbsp;</span> </span>
                        <span class="res-block">1971 University Blvd. <span class="res-hider">&nbsp;&bull;&nbsp;</span> </span>
                        <span class="res-block">Lynchburg, Va. 24515 <span class="res-hider">&nbsp;&bull;&nbsp;</span> </span>
                        <span class="res-block">(434) 582-2000<br></span>
                        <span class="res-block">&copy; Copyright 2014 <span class="res-hider">&nbsp;&bull;&nbsp;</span> </span>
                        <span class="res-block">Liberty University is a Registered Trademark <span class="res-hider">&nbsp;&bull;&nbsp;</span> </span>
                        <span class="res-block"><a href="https://websvc.liberty.edu/redirect/linkdirect.aspx?ct=b616ae0a-2289-e311-b823-0050568800ed&em={EMAIL}&lid={PIDM}" title="Read the Privacy Policy" style="color:#fff; text-decoration:none;" id="b616ae0a-2289-e311-b823-0050568800ed">Privacy Policy</a><br></span>
                        <span class="res-block">{%%UNSUBSCRIBELINK%%}</span>
                    </td>
                    <tr id="footer-margin-bottom">
                        <td colspan="3" width="100%" height="20" style="width:600px; height:20px;"></td>
                    </tr> 
                </tr>
            </table>
            </center>
            <!-- end footer -->
        </center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>