<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/Athletics-Baseball2014.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Liberty to host baseball regionals</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	background-color:#d7d7d7;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->

</head>

<body bgcolor="#d7d7d7" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#d7d7d7;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#d7d7d7; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom:2px solid #20406e;"><tr><td colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="10" valign="middle"></td><td align="left" valign="middle"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img class="wordmark" alt="Liberty University" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" valign="middle" style="font-size:.7em; -webkit-text-size-adjust: none;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">About&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Academics&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Admissions&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Alumni&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Athletics&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">News&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Student Life</a></td><td class="hider" valign="middle" width="10"></td></tr></table></td></tr></table><!-- End of navigation -->
            

            <table cellpadding="0" cellspacing="0" border="0" width="600" bgcolor="#ffffff" style="border-collapse:collapse; width:600px;">
            	<tr>
            		<td colspan="3">
            			<img alt="Liberty Baseball" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/23883_baseball/23883_Baseball_03.jpg" height="221" width="600" style="clear:both; border:none; display:block;">
            		</td>
            	</tr>
            	<tr>
            		<td width="100">
            			<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/00067_html5_test/autoresponse/spacer.png" height="1" width="100" style="clear:both; border:none; display:block;">
            		</td>
            		<td width="400" align="left">
            			<!-- InstanceBeginEditable name="content" -->
                        <p>            			  Dear {%%FIRSTNAME%%},<br>
           			    </p>
                        <p>Liberty University Athletics is excited to announce that we  have been selected as a host site for the 2014 NCAA Regional Baseball Championships! The  games will be played at Liberty Baseball Stadium May 30-June 2.<br>
           			    </p>
                        <p><strong>All-session tickets</strong> will go <a href="https://www.ticketreturn.com/prod2/team.asp?SponsorID=6345#.U20ON4FdW1c">on sale</a> at 10 a.m. tomorrow, May 26. Reserved tickets are $50, and student tickets are $25.  </p>
                        <p><strong>Single-session tickets</strong> will go on sale at 10 a.m. on Friday, May 30. Reserved  tickets are $10, and student tickets are $5. </p>
                        <p>Be sure to get yours before they  run out! We&rsquo;ll see you at the ballpark — GO FLAMES! <br>
           			    </p>
                        <p>Sincerely,<br>
                        </p>
                        <div id="flames-signature" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
                          <p><strong>Liberty Athletics</strong></p>
                          <p><img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_flamessignature.png"><br>
                            <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University  |  Training Champions for Christ since 1971</em></p>
                        </div>
<div>
            <div>
              <p><em>P.S. Be sure to come out to the ballpark early for the  Flames Fan Fest! Hosted by Liberty&rsquo;s Alumni Relations Office and the Athletics  Department, this pregame tailgate will offer lots of fun to get you  pumped for the game. </em></p>
            </div>
                        </div>
            			<!-- InstanceEndEditable -->
            		</td>
            		<td width="100">
            			
            		</td>
            	</tr>
            	<tr>
            		<td colspan="3">
            			<img alt="footer" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/23883_baseball/23883_Baseball_06.jpg" height="363" width="600" style="clear:both; border:none; display:block;">
            		</td>
            	</tr>
            	<tr>
            		<td colspan="3">
            			<table cellpadding="0" width="600" cellspacing="0" border="0" align="left" style="border-collapse:collapse;">
            				<tr>
            					<td>
            						<a href="https://www.facebook.com/LibertyFlamesAthletics"><img alt="facebook" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/23883_baseball/23883_Baseball_07.jpg" height="50" width="54" style="clear:both; border:none; display:block;"></a>
            					</td>
            					<td>
            						<a href="https://twitter.com/libertyflames"><img alt="twitter" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/23883_baseball/23883_Baseball_08.jpg" height="50" width="44" style="clear:both; border:none; display:block;"></a>
            					</td>
            					<td>
            						<a href="http://www.youtube.com/user/FlamesAthletics"><img alt="youtube" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/23883_baseball/23883_Baseball_09.jpg" height="50" width="95" style="clear:both; border:none; display:block;"></a>
            					</td>
            					<td>
            						<a href="http://www.liberty.edu/index.cfm?pid=25410"><img alt="libertytoday" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/23883_baseball/23883_Baseball_10.jpg" height="50" width="47" style="clear:both; border:none; display:block;"></a>
            					</td>
            					<td>
            						<a href="mailto:athletics@liberty.edu" target="_top" title="E-Mail"><img alt="mail" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/23883_baseball/23883_Baseball_11.jpg" height="50" width="51" style="clear:both; border:none; display:block;"></a>
            					</td>
            					<td>
            						<img alt="(434) 582-7328" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/23883_baseball/23883_Baseball_12.jpg" height="50" width="309" style="clear:both; border:none; display:block;">
            					</td>
            				</tr>
            			</table>
            		</td>
            	</tr>
            </table>
            

    		<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#d7d7d7" style="border-collapse:collapse; width:600px; clear:both; background-color:#d7d7d7;">
            	<tbody>
                    <tr id="footer-margin-top">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr id="footer">
                    	
                    	<td id="footer-middle" colspan="5" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666;">
                        	Liberty University &nbsp;&bull;&nbsp; 
                            1971 University Blvd. &nbsp;&bull;&nbsp; 
                            Lynchburg, Va. 24515 &nbsp;&bull;&nbsp; 
                            (434) 582-2000<br>
                            &copy; Copyright 2014 &nbsp;&bull;&nbsp; 
                            Liberty University is a Registered Trademark &nbsp;&bull;&nbsp; 
                            <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#444; text-decoration:none;">Privacy Policy</a><br>
                            {%%UNSUBSCRIBELINK%%}
                        </td>
                    	
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
    	</center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

