<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/SpecialProjects-YearsofService.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
    margin:0;
    font-family:Times, 'Times New Roman', serif;
    font-size:14px;
    color:#000;
    background-color:#d7d7d7;
    line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
    list-style-type:square;
    line-height:22px;
}

h1
{
    font-size:22px;
}

h2
{
    font-size:18px;
    font-weight:normal;
}

p {
    margin-bottom: 1em;
}

/*@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 14px;
        line-height: 1.3em;
        border:0!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #0a254e;
        text-align: left;
        display: block!important;
    }
    
    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border-bottom: 2px solid #20406e;
        padding: 10px;
        text-transform: uppercase;
        color:#f8f8f8!important;
    }
}*/
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->


</head>

<body bgcolor="#09254E" yahoo="fix" style="margin:0; font-family:Times, 'Times New Roman', serif; font-size:14px; color:#000; background-color:#09254E;">
    <div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Times, 'Times New Roman', serif; font-size:14px; color:#000; background-color:#09254E; text-align:center;">
        <center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Times, 'Times New Roman', serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            <table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="545" align="center" bgcolor="#09254E" style="border-collapse:collapse; width:545px; clear:both; background-color:#09254E;">
                <tbody>
                    <tr id="header-margin-top">
                        <td colspan="5" width="545" height="20" style="width:545px; height:20px;"></td>
                    </tr>
                    <tr>
                        <td colspan="5"><img alt="You are cordially invited to the Years of Service Banquet in the Williams Stadium Club Pavillion on Wednesday, July 29, at 11:30 a.m." src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/08869_sp_yos/header.jpg" height="375" width="545" style="clear:both; border:none; display:block;"></td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                                <tr>
                                    <td width="3" bgcolor="#7C6B45"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/08869_sp_yos/band_thick.jpg" height="5" width="3" style="clear:both; border:none; display:block;"></td>
                                    <td width="2" bgcolor="#EEECE7"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/08869_sp_yos/band_middle.jpg" height="5" width="2" style="clear:both; border:none; display:block;"></td>
                                    <td width="1" bgcolor="#7C6C46"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/08869_sp_yos/band_thin.jpg" height="5" width="1" style="clear:both; border:none; display:block;"></td>
                                    <td bgcolor="#ffffff" width='42'><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/08869_sp_yos/margin.jpg" height="5" width="42" style="clear:both; border:none; display:block;"></td>
                                    <td bgcolor="#ffffff" style='color:#0a254e;' fontcolor='#0a254e' align="left">
                                        <!-- InstanceBeginEditable name="content" -->
                                        <p><strong>Dear {%%FIRSTNAME%%},</strong><br>
                                          <br>
                                          Please join me as we gather  to recognize  employees  who have reached a milestone in their years of service at Liberty University. These  individuals have demonstrated a sustained commitment to the vision of this  institution and to their role in <em>Training  Champions for Christ</em>. <br>
                                          <br>
                                          You have the privilege of representing your department at this event in  celebration of the employees in your office who have achieved 5, 10, 15, 20, 25,  or more years of service.<br>
                                          <br>
                                          {Employees List}<br>
                                          <br>
                                          Please RSVP to Carol Precious by Monday, July 21, at <a href="mailto:years@liberty.edu">years@liberty.edu</a>. If you are unable to  attend, please provide her with the name of the person who will be representing  your department at the banquet in your stead. Please note that these employees  will enjoy an extended lunch break in order to attend.<br>
                                          <br>
                                        Thank you for joining me as we honor these valuable men and  women.</p>
                                        <p>Sincerely, <br>
                                                          <strong>Jerry Falwell</strong><br>
                                                          <em>President</em></p>
                                        <!-- InstanceEndEditable -->

                                        <!-- footer -->
                                        <table class="res-table" width="100%" height="100" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                                            <tr id="footer-margin-top">
                                                <td colspan="5" height="20" style="height:20px;"></td>
                                            </tr>
                                            <tr>
                                                <td id="footer-middle" colspan="5"  height="100%" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Times, 'Times New Roman', serif; font-size:11px; color:#0a254e;">
                                                    Liberty University &nbsp;&bull;&nbsp; 
                                                    1971 University Blvd. &nbsp;&bull;&nbsp; 
                                                    Lynchburg, Va. 24515 &nbsp;&bull;&nbsp; 
                                                    (434) 582-2000<br>
                                                    &copy; Copyright 2014 &nbsp;&bull;&nbsp; 
                                                    Liberty University is a Registered Trademark &nbsp;&bull;&nbsp; 
                                                    <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="text-decoration:none; color:#888">Privacy Policy</a><br>
                                                    {%%UNSUBSCRIBELINK%%}
                                                </td>
                                                <tr id="footer-margin-bottom">
                                                    <td colspan="5" height="20" style="height:20px;"></td>
                                                </tr> 
                                            </tr>
                                        </table>
                                        <!-- end footer -->

                                        <table align='center' cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                                            <tr>
                                                <td align='center'>
                                                    <a href='https://www.facebook.com/LibertyUniversity?utm_source=liberty&utm_medium=email&utm_content=lufacebook&utm_campaign={%CAMPAIGN_ID%}'><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/facebook-32.png" height="32" width="32" style="border:none;"></a>
                                                    <a href='http://twitter.com/libertyu?utm_source=liberty&utm_medium=email&utm_content=lutwitter&utm_campaign={%CAMPAIGN_ID%}'><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/twitter-32.png" height="32" width="32" style="border:none;"></a>
                                                    <a href='http://www.liberty.edu/libertytoday?utm_source=liberty&utm_medium=email&utm_content=lutoday&utm_campaign={%CAMPAIGN_ID%}'><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/lutoday-32.png" height="32" width="32" style="border:none;"></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td bgcolor="#ffffff" width='42'><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/08869_sp_yos/margin.jpg" height="5" width="42" style="clear:both; border:none; display:block;"></td>
                                    <td width="1" bgcolor="#7C6C46"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/08869_sp_yos/band_thin.jpg" height="5" width="1" style="clear:both; border:none; display:block;"></td>
                                    <td width="2" bgcolor="#EEECE7"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/08869_sp_yos/band_middle.jpg" height="5" width="2" style="clear:both; border:none; display:block;"></td>
                                    <td width="3" bgcolor="#7C6B45"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/08869_sp_yos/band_thick.jpg" height="5" width="3" style="clear:both; border:none; display:block;"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/08869_sp_yos/bottom.jpg" height="157" width="545" style="clear:both; border:none; display:block;"></td>
                    </tr>
                    <tr id="footer-margin-bottom">
                        <td colspan="5" width="545" height="20" style="width:545px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
        </center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>
