<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/Alumni_Referral.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	background-color:#ffffff;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}

/*@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 14px;
        line-height: 1.3em;
        border:0!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #0a254e;
        text-align: left;
        display: block!important;
    }
    
    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border-bottom: 2px solid #20406e;
        padding: 10px;
        text-transform: uppercase;
        color:#f8f8f8!important;
    }

    body[yahoo] .block {
        display:block!important;
    }

    body[yahoo] .res-img {
        width: 100%!important;
        height: auto!important;
    }

    body[yahoo] .res-margin {
        width: 3%!important;
    }

    body[yahoo] .res-content {
        /* specify a different font-size here if desired */
    }
}*/
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#ffffff" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#ffffff;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#ffffff; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

    		<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#ffffff" style="border-collapse:collapse; width:600px; clear:both; background-color:#ffffff;">
            	<tbody>
                    <tr id="margin-top">
                        <td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr>
                    	<td colspan="5" style="font-size:20px; line-height:60px; text-align:center;">
                    		<img alt="Liberty University Alumni Training Champions for Christ" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/10420_alm_referral/10420_03.jpg" width="600" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr>
                    <tr id="header-margin-top">
                    	<td width="10" bgcolor="#ffffff">
                    	</td>
                    	<td width="40" bgcolor="#09244e">
                    		
                    	</td>
                    	<td width="500" bgcolor="#09244e" height="20" style="width:500px; height:20px;"></td>
                    	<td width="40" bgcolor="#09244e">
                    		
                    	</td>
                    	<td width="10" bgcolor="#ffffff">
                    	</td>
                    </tr>
                    <tr>
                    	<td width="10" bgcolor="#ffffff">
                    	</td>
                    	<td width="40" bgcolor="#09244e">
                    		
                    	</td>
                    	<td align="left" width="500" bgcolor="#09244e" style="color:#ffffff;">
                            <!-- InstanceBeginEditable name="Content" -->
                    		<p>Dear {%%FIRSTNAME%%},<br>
                    		  <br>
Thank you for taking part in the Alumni Referral Program. Our  alumni are some of the best ambassadors of this university, and we greatly  appreciate your commitment to helping other students discover all that Liberty  University has to offer. <br>
  <br>
Please let us know if there is anything we can do to help  you in your efforts.  <br>
We have included your personalized referral link below. <br>
<ul style="list-style-type:none;">
<li>
{Personalized Link}<br>
</li>
</ul>
Remember, this link was created just for you and provides  students with quick and easy access to the application process at Liberty. In  addition to saving students money on the application fee, your referral link  also keeps you informed when students express interest in Liberty because of  your recommendation. <br>
<br>
If you would like to receive more promotional materials,  please complete the <a href="http://www.liberty.edu/alumni/index.cfm?PID=26074" style="color:#8eb2d6;">online  form</a>, and we will provide you with everything you need. </p>
                            <p>Thank you,</p>
<div id="signature-1971" style="color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:16px;">
       		    <p>
       		        <b>Murna Gado</b><br>
       		        <em>Alumni Officer</em><br>
       		    <b>Alumni Relations</b></p>
       		    <img src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/10420_alm_referral/10420_07.jpg" width="157"><br>
       		    <p><em style="color:#ffffff; font-family:'Times New Roman', Times, serif;">Liberty University&nbsp;&nbsp;|&nbsp;&nbsp;Training Champions for Christ since 1971</em></p>
       		  </div>
                            <!-- InstanceEndEditable -->
                    	</td>
                    	<td width="40" bgcolor="#09244e">
                    		
                    	</td>
                    	<td width="10" bgcolor="#ffffff">
                    	</td>
                    </tr>
                    <tr id="header-margin-top">
                    	<td width="10" bgcolor="#ffffff">
                    	</td>
                    	<td width="40" bgcolor="#09244e">
                    		
                    	</td>
                    	<td width="500" bgcolor="#09244e" height="20" style="width:500px; height:20px;"></td>
                    	<td width="40" bgcolor="#09244e">
                    		
                    	</td>
                    	<td width="10" bgcolor="#ffffff">
                    	</td>
                    </tr>

                    <tr id="footer-margin-top">
                        <td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>

                    <tr>
                        <td colspan="5">
                            <table align='center' cellpadding="3" cellspacing="0" border="0" style="border-collapse:collapse;">
                                <!-- InstanceBeginEditable name="SocialM" -->
                                <tr>
                                    <td align='center'>
                                        <a href='https://www.facebook.com/libertyuniversityalumni'><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/facebook-32.png" height="32" width="32" style="border:none;"></a>
                                    </td>
                                    <td>
                                        <a href='https://twitter.com/LibertyUAlum'><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/twitter-32.png" height="32" width="32" style="border:none;"></a>
                                    </td>
                                    <td>
                                        <a href='http://www.liberty.edu/index.cfm?pid=25410'><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/lutoday-32.png" height="32" width="32" style="border:none;"></a>
                                    </td>
                                </tr>
                                <!-- InstanceEndEditable -->
                            </table>
                        </td>
                    </tr>

                    <tr id="footer-margin-top">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr id="footer">
                    	
                    	<td id="footer-middle" colspan="5" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666; line-height:16px;">
                        	<span class="res-block">
                                Liberty University <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                1971 University Blvd. <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                Lynchburg, Va. 24515 <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                (434) 582-2000<br></span>
                            <span class="res-block">
                                &copy; Copyright 2014 <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                Liberty University is a Registered Trademark <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#444; text-decoration:none;">Privacy Policy</a><br></span>
                            <span class="res-block">{%%UNSUBSCRIBELINK%%}</span>
                        </td>
                    	
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
    	</center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

