<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/Winterfest-Artist-2014.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#000;
    background-color:#000000;
    line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
    list-style-type:square;
    line-height:22px;
}

h1
{
    font-size:22px;
}

h2
{
    font-size:18px;
    font-weight:normal;
}

p {
    margin-bottom: 1em;
}

</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->


<!-- InstanceParam name="getTickets" type="boolean" value="false" -->
<!-- InstanceParam name="artists" type="boolean" value="true" -->

</head>

<body bgcolor="#000000" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#000000;">
    <div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#000000; text-align:center;">
        <center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="3"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

            <table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#000000" style="border-collapse:collapse; width:600px; clear:both; background-color:#000000;">
                <tbody>
                    <tr>
                        <td colspan="3">
                            <img alt="Liberty University Winterfest" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest_artist/09744_WF_EmailTemplate2_03.jpg" height="201" width="600" style="clear:both; border:none; display:block;">
                        </td>
                    </tr>
                    <tr>
                        <td width="60">
                            <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest_artist/margin.jpg" height="1" width="60" style="clear:both; border:none; display:block;">
                        </td>
                        <td align="left" style="color: #ffffff;">
                            <br>
                            <!-- InstanceBeginEditable name="content" -->
                            <div align="center"><span style="font-size: 30px; line-height:30px; text-transform:uppercase; color:#00bff3; font-weight:bold"><strong>Your Exclusive <br>
                              Winterfest 2014 discount</strong></span> </div>
                            <p>Dear {%%FIRSTNAME%%},</p>
                            <p>Thank you for filling out an entry form during the Reveal Party!</p>
                            <p>You now qualify for a special discount on <a href="http://www.liberty.edu/winterfest/index.cfm?PID=14497" style="color:#00bff3; text-decoration:none;">Winterfest 2014 tickets</a>. <strong>For 48 hours only, you will receive $5 off when you apply the promo code <span style="color: #00bff3">2014WFREVEAL</span> to your purchase</strong>. This special discount is only for <strong>limited quantities, so make sure you act quickly</strong>. Get ready to experience performances from top Christian artists including Skillet, Newsboys, Lecrae, and others. Check out details below on pricing and to find out what's included in your ticket. </p>
                            <table cellpadding="10" cellspacing="0" border="1" bordercolor="#ffffff" style="border-collapse:collapse;">
                              <tr>
                                <td>All-Event</td>
                                <td bgcolor="#444444">Reveal Party</td>
                                <td>Presale</td>
                                <td>Super Early Bird</td>
                                <td>Early Bird</td>
                                <td>Regular</td>
                              </tr>
                              <tr>
                                <td>Dates</td>
                                <td bgcolor="#444444">TBD</td>
                                <td>July 7-21</td>
                                <td>July 22 - Sept. 22</td>
                                <td>Sept. 23 - Nov. 17</td>
                                <td>Nov. 18 - Dec. 31</td>
                              </tr>
                              <tr>
                                <td>General Admission</td>
                                <td bgcolor="#444444">$55</td>
                                <td>$60</td>
                                <td>$68</td>
                                <td>$83</td>
                                <td>$93</td>
                              </tr>
                              <tr>
                                <td>Reserved Seating</td>
                                <td bgcolor="#444444">$73</td>
                                <td>$78</td>
                                <td>$83</td>
                                <td>$100</td>
                                <td>$110</td>
                              </tr>
                              <tr>
                                <td>Platinum VIP Floor Seating</td>
                                <td bgcolor="#444444">$125</td>
                                <td>$130</td>
                                <td>$135</td>
                                <td>$140</td>
                                <td>$145</td>
                              </tr>
                              <tr>
                                <td>Presidential Suite</td>
                                <td bgcolor="#444444">$125</td>
                                <td>$130</td>
                                <td>$135</td>
                                <td>$140</td>
                                <td>$145</td>
                              </tr>
                            </table>
                            <p>This year&rsquo;s Winterfest celebration will include the following:</p>
                            <ul>
                              <li>Performances by your favorite musicians</li>
                              <li>Messages from today's most inspiring speakers</li>
                              <li>Breakout sessions for students and youth leaders</li>
                              <li>Artist Q&amp;A session</li>
                              <li>Ice skating at LaHaye Ice Center</li>
                              <li>Indoor soccer, rock climbing, swimming,  basketball, and more at LaHaye Student Union</li>
                              <li>Skiing, snowboarding, and tubing at Liberty  Mountain Snowflex Centre</li>
                            </ul>
                            <p>Don&rsquo;t miss a beat — keep up with the latest at <a href="http://www.libertywinterfest.com" style="color:#00bff3; text-decoration:none;">www.LibertyWinterfest.com</a> and on Facebook, Twitter, and Instagram.</p>
                            <p>See you there!</p>
                            <div id="signature-1971" style="color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
                                <p><b>Larry Hoezee, Ph.D.</b><br>
                                  <em>Executive Director</em><br>
                                <b>Resident Enrollment Management</b></p>
                                <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature-wht.png"><br>
                                <em style="color:#fff; font-family:'Times New Roman', Times, serif;">Liberty University&nbsp;&nbsp;|&nbsp;&nbsp;Training Champions for Christ since 1971</em>
                            </div>
                            <p align="center">
                            <video class="video" controls poster="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest/09744_07post.jpg" style="width:350px;">
                                    <source type="video/mp4" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest/2014.02.20_WinterfestPromo_2014_12_01_P-141.mp4">
                                    <source type="video/webm" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest/2014.webm">
                                     <!-- Fallback if HTML5 video is not supported -->
                                    <a href="http://www.youtube.com/watch?v=bzIc5tq3aPM"><img border="0" alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest/09744_07.jpg" label="Fallback Image"></a>
                            </video><br>
                                <span align="center" style="font-size:10px">Video not displaying above? <a href="http://www.youtube.com/watch?v=bzIc5tq3aPM" style="color:#00bff3; text-decoration:none;">Click here</a> to view Online.</span>
                            </p>
                            <!-- InstanceEndEditable -->
                        </td>
                        <td width="60">
                            <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest_artist/margin.jpg" height="1" width="60" style="clear:both; border:none; display:block;">
                        </td>
                    </tr>
                    
                    <tr>
                        <td colspan="3">
                            <img alt="Featuring Lecrae, Newsboys, Skillet" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest_artist/09744_WF_EmailTemplate2_06.jpg" height="216" width="600" style="clear:both; border:none; display:block;">
                        </td>
                    </tr>
                    
                    
                    <tr>
                        <td colspan="3">
                            <table align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                                <tr>
                                    <td align="right">
                                        <p style="color: #ffffff; font-size: 8px; line-height: 9px;">
                                            <!-- InstanceBeginEditable name="contactInfo01" -->
                                            (866) 447-2084 <br>
                                            <a href="http://www.LibertyWinterfest.com" style="color: #ffffff; text-decoration: none;">www.LibertyWinterfest.com</a> <br>
                                            <a href="https://twitter.com/hashtag/Luwinterfest" style="color: #ffffff; text-decoration: none;">#LUwinterfest</a> <br>
                                            <!-- InstanceEndEditable -->
                                        </p>
                                    </td>
                                    <td align="left">
                                        <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest_artist/09744_WF_EmailTemplate2_13.jpg" height="30" width="27" style="clear:both; border:none; display:block;">
                                    </td>
                                    <td align="left">
                                        <!-- InstanceBeginEditable name="contactInfo02" -->
                                        <a href="https://www.facebook.com/libertywinterfest">
                                            <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest_artist/09744_WF_EmailTemplate2_14.jpg" height="30" width="31" style="clear:both; border:none; display:block;">
                                        </a>
                                        <!-- InstanceEndEditable -->
                                    </td>
                                    <td align="left">
                                        <!-- InstanceBeginEditable name="contactInfo03" -->
                                        <a href="https://twitter.com/LibertyU">
                                            <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest_artist/09744_WF_EmailTemplate2_15.jpg" height="30" width="44" style="clear:both; border:none; display:block;">
                                        </a>
                                        <!-- InstanceEndEditable -->
                                    </td>
                                    <td align="left">
                                        <!-- InstanceBeginEditable name="contactInfo04" -->
                                        <a href="http://instagram.com/LibertyUniversity# ">
                                            <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest_artist/09744_WF_EmailTemplate2_16.jpg" height="30" width="43" style="clear:both; border:none; display:block;">
                                        </a>
                                        <!-- InstanceEndEditable -->
                                    </td>
                                    <td align="left">
                                        <!-- InstanceBeginEditable name="contactInfo05" -->
                                        <a href="https://www.youtube.com/user/libertyuniversity ">
                                            <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest_artist/09744_WF_EmailTemplate2_17.jpg" height="30" width="40" style="clear:both; border:none; display:block;">
                                        </a>
                                        <!-- InstanceEndEditable -->
                                    </td>
                                    <td align="left">
                                        <!-- InstanceBeginEditable name="contactInfo06" -->
                                        <a href="http://www.liberty.edu/index.cfm?pid=25410 ">
                                            <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest_artist/09744_WF_EmailTemplate2_18.jpg" height="30" width="40" style="clear:both; border:none; display:block;">
                                        </a>
                                        <!-- InstanceEndEditable -->
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr id="footer-margin-top">
                        <td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr id="footer">
                        
                        <td id="footer-middle" colspan="3" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#aaa;">
                            <span class="res-block">
                                Liberty University <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                1971 University Blvd. <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                Lynchburg, Va. 24515 <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                (434) 582-2000<br></span>
                            <span class="res-block">
                                &copy; Copyright 2014 <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                Liberty University is a Registered Trademark <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#fff; text-decoration:none;">Privacy Policy</a><br></span>
                            <span class="res-block">{%%UNSUBSCRIBELINK%%}</span>
                        </td>
                        
                    </tr>
                    <tr id="footer-margin-bottom">
                        <td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->

        </center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

