<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- TemplateBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#414141;
	background-color:#e7e7e7;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}

a {
	color:#63968e;
}

/*@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 14px;
        line-height: 1.3em;
        border:0!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #0a254e;
        text-align: left;
        display: block!important;
    }
    
    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border-bottom: 2px solid #20406e;
        padding: 10px;
        text-transform: uppercase;
        color:#f8f8f8!important;
    }

    body[yahoo] .block {
        display:block!important;
    }

    body[yahoo] .res-img {
        width: 100%!important;
        height: auto!important;
    }

    body[yahoo] .res-margin {
        width: 3%!important;
    }

    body[yahoo] .res-content {
        /* specify a different font-size here if desired */
    }
}*/
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#e7e7e7" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#414141; background-color:#e7e7e7;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#414141; background-color:#e7e7e7; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

    		<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#e7e7e7" style="border-collapse:collapse; width:600px; clear:both; background-color:#e7e7e7;">
            	<tbody>
                	<tr id="header-margin-top">
                    	<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr>
                    	<td colspan="3">
                    		<table cellpadding="0" cellspacing="0" border="0" bgcolor="#7daca6" style="border-collapse:collapse;">
                    			<tr>
			                    	<td colspan="3" style="color:#ffffff; text-align:center; font-weight:bold; font-size:25px; line-height:45px;">
			                    		<img alt="Meet Your Personal Advisor" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00009_personal_advisor/10508_03.jpg" width="600" style="clear:both; border:none; display:block;">
			                    	</td>
			                    </tr>
			                    <tr>
			                    	<td align="left">
			                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00009_personal_advisor/10508_05.jpg" height="39" width="185" style="clear:both; border:none; display:block;">
			                    	</td>
			                    	<td align="center" width="228" height="39" style="color:#ffffff; text-align:center; font-weight:bold; font-size:16px; line-height:15px;">
			                    		{ADVISORNAME}
			                    	<td align="right">
			                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00009_personal_advisor/10508_07.jpg" height="39" width="187" style="clear:both; border:none; display:block;">
			                    	</td>
			                    </tr>
			                    <tr>
			                    	<td colspan="3">
			                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00009_personal_advisor/10508_08.jpg" width="600" style="clear:both; border:none; display:block;">
			                    	</td>
			                    </tr>
                    		</table>
                    	</td>
                    </tr>
                    <tr>
                    	<td colspan="3">
                    		<table cellpadding="0" cellspacing="0" border="0" bgcolor="#f6f6f6" style="border-collapse:collapse;">
                    			<tr id="margin">
			                    	<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
			                    </tr>
			                    <tr>
			                    	<td width="20">
			                    		
			                    	</td>
			                    	<td width="560" align="center" style="-moz-text-size-adjust:none; -webkit-text-size-adjust:none;">
			                    		<strong>Hello, {STUDENTNAME}!</strong> My name is <strong>{ADVISORNAME}</strong> and as your academic advisor I am excited to help you pursue your dreams and reach your educational goals! 
			                    	</td>
			                    	<td width="20">
			                    		
			                    	</td>
			                    </tr>
			                    <tr id="margin">
			                    	<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
			                    </tr>
                    		</table>
                    	</td>
                    </tr>

                    <tr>
                    	<td colspan="3">
                    		<table cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="border-collapse:collapse; border-bottom:5px solid #82b8b1;">
                    			<tr id="margin">
			                    	<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
			                    </tr>
			                    <tr>
			                    	<td width="20">
			                    		
			                    	</td>
			                    	<td width="560" align="left">
			                    		<table align="left" width="343" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
			                    			<tr valign="top">
			                    				<td>
			                    					<span style="color:#63968e; font-weight:bold; font-size:20px;"><img alt="A Little About Me" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00009_personal_advisor/10508_11.jpg" height="42" width="306" style="clear:both; border:none; display:block;"></span>
		                    						<table cellpadding="0" cellspacing="0" border="0" align="left" style="border-collapse:collapse; float:left">
			                    						<tr>
			                    							<td height="124" width="124" style="width:124px; height:124px;">
					                    						<img alt="124x124px Photo" align="left" src="{PHOTO}" height="124" width="124" style="background-color:#d7d7d7; float:left;">
				                    						</td>
			                    							<td width="10">
			                    								
			                    							</td>
			                    						</tr>
			                    					</table>
			                    					<strong>Hometown:</strong> <span id="hometown">{HOMETOWN}</span>
													<p><strong>Alma Mater:</strong> <span id="alma_mater">{ALMAMATER}</span></p>
													<p><strong>In my spare time I enjoy:</strong> <span id="spare_time">{SPARETIME}</span></p>
													<p><strong>You might not know this about me but:</strong> <span id="about_me">{ABOUTME}</span></p>
			                    				</td>
			                    			</tr>
			                    			<tr id="margin">
						                    	<td width="343" height="20" style="width:343px; height:20px;"></td>
						                    </tr>
			                    			<tr>
			                    				<td>
			                    					<span style="color:#63968e; font-weight:bold; font-size:20px;"><img alt="The Role of The Advisor" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00009_personal_advisor/10508_25.jpg" height="42" width="306" style="clear:both; border:none; display:block;"></span>
			                    					<table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
			                    						<tr valign="top">
			                    							<td>
			                    								<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00009_personal_advisor/10508_29.jpg" height="92" style="clear:both; border:none; display:block;">
			                    							</td>
			                    							<td width="20">
			                    								
			                    							</td>
			                    							<td>
			                    								<div style="color:#63968e; font-weight:bold; font-size:16px;">Degree Expert</div>
			                    								<p style="margin-top:.5em;">I am trained in your program, and can help you develop the best plan to finish your degree in a timely manner to meet your educational goals!</p>
			                    							</td>
			                    						</tr>
			                    					</table>
			                    					<p><table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
			                    						<tr valign="top">
			                    							<td>
			                    								<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00009_personal_advisor/10508_32.jpg" height="92" style="clear:both; border:none; display:block;">
			                    							</td>
			                    							<td width="20">
			                    								
			                    							</td>
			                    							<td>
			                    								<div style="color:#63968e; font-weight:bold; font-size:16px;">Problem Solver</div>
			                    								<p style="margin-top:.5em;">I am here to answer questions about your degree, navigate class selections, and advise on important university policies</p>
			                    							</td>
			                    						</tr>
			                    					</table></p>
			                    					<p><table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
			                    						<tr valign="top">
			                    							<td>
			                    								<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00009_personal_advisor/10508_34jpg" height="92" style="clear:both; border:none; display:block;">
			                    							</td>
			                    							<td width="20">
			                    								
			                    							</td>
			                    							<td>
			                    								<div style="color:#63968e; font-weight:bold; font-size:16px;">Campus Resource</div>
			                    								<p style="margin-top:.5em;">I am here to direct and support you as we work with these departments to receive any assistance you may need.</p>
			                    							</td>
			                    						</tr>
			                    					</table></p>
			                    				</td>
			                    			</tr>
			                    		</table>
			                    		<table align="right" width="197" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; font-size:12px; line-height:16px;">
			                    			<tr>
			                    				<td>
			                    					<table align="right" width="197" cellpadding="10" cellspacing="0" border="0" style="border-collapse:collapse; font-size:12px; line-height:16px;">
						                    			<tr>
						                    				<td bgcolor="#ededed" style="-moz-text-size-adjust:none; -webkit-text-size-adjust:none;">
						                    					<div style="color:#63968e; font-weight:bold; font-size:15px; line-height:15px;">Where to Find Answers</div>
						                    					<p><strong>Got Questions?</strong> Explore the resources below to find your answers!</p>
						                    					<a href=" http://www.liberty.edu/online/tutorials/"><img alt="Video Tutorials" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00009_personal_advisor/10508_17.jpg" width="177" style="clear:both; border:none; display:block;"></a>
						                    					<a href=" http://www.liberty.edu/online/academic-calendar/"><img alt="Academic Calender" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00009_personal_advisor/10508_19.jpg" width="177" style="clear:both; border:none; display:block;"></a>
						                    					<a href="http://www.liberty.edu/online/academic-policies/"><img alt="General LU Polocies" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00009_personal_advisor/10508_21.jpg" width="177" style="clear:both; border:none; display:block;"></a>
						                    					
						                    					<img alt="Program Resources:" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00009_personal_advisor/10508_22.jpg" width="177" style="clear:both; border:none; display:block;">
						                    					<a href="{UNERGRAD}"><img align="left" alt="Undergrad" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00009_personal_advisor/10508_23.jpg" width="89" style="border:none; display:inline-block!important;"></a>
						                    					<a href="{GRAD}"><img align="left" alt="Graduate" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00009_personal_advisor/10508_24.jpg" width="88" style="border:none; display:inline-block!important;"></a>
						                    				</td>
						                    			</tr>
						                    		</table>
						                    	</td>
						                    </tr>
			                    			<tr id="margin">
						                    	<td width="197" height="20" style="width:197px; height:20px;"></td>
						                    </tr>
						                    <tr>
			                    				<td>
			                    					<table align="right" width="197" cellpadding="10" cellspacing="0" border="0" style="border-collapse:collapse; font-size:12px; line-height:16px;">
									                    <tr>
						                    				<td bgcolor="#ededed" style="-moz-text-size-adjust:none; -webkit-text-size-adjust:none;">
						                    					<div style="color:#63968e; font-weight:bold; font-size:15px; line-height:15px;">Contact Academic Advising</div>
						                    					<p><strong>Office Hours:</strong> 8am-10pm (EST) Monday – Friday, and 10am-9pm (EST) on Saturday.</p>
						                    					<p><strong>My Availability:</strong> Although I am not scheduled to work ALL of our office hours, there are many ways I, or one of my knowledgeable peers, are available to assist you!</p>
						                    					<p><strong>Call us at:</strong> (855)-466-9218 Enter your LU Student ID# to be transferred to my queue! If I am unavailable, press #1 to leave me a voice message, or press #3 to speak with an available program advisor.</p>
						                    					<strong>Email me at:</strong> <a href="mailto:{ADVISOREMAIL}" style="color:#63968e;">{ADVISOREMAIL}</a> with your LU student ID# to ask a question, or to request a phone or in-person appointment.
						                    				</td>
						                    			</tr>
						                    		</table>
						                    	</td>
						                    </tr>
			                    		</table>
			                    	</td>
			                    	<td width="20">
			                    		
			                    	</td>
			                    </tr>
			                     <tr id="footer-margin-top">
			                    	<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
			                    </tr>
                    		</table>
                    	</td>
                    </tr>
                    <tr id="footer-margin-top">
                    	<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr>
						<td>
							<table class="social" cellpadding="0" cellspacing="0" border="0" align="left" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; float:left;">
								<tr>
									<td class="hider" width="20"></td>
									<td class="socialTxt" colspan="9" style="text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#777777; text-align:left;">
										Stay Connected
									</td>
								</tr>

								<tr>
									<td class="hider" width="20"></td>
									<td>
										<a href="https://www.facebook.com/LibertyUniversityOnline"><img src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/facebook-32.png" width="32" height="32" style="display:block; width:32px; height:32px; border:none; margin:0;" title="Like Us on Facebook"></a>
									</td>

									<td width="8" height="32" style="width:8px; height:32px;">
										&nbsp;
									</td>

									<td>
										<a href="https://twitter.com/LibertyU"><img src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/twitter-32.png" width="32" height="32" style="display:block; width:32px; height:32px; border:none; margin:0;" title="Follow Us on Twitter"></a>
									</td>

									<td width="8" height="32" style="width:8px; height:32px;">
										&nbsp;
									</td>

									<td>
										<a href="http://www.youtube.com/libertyuniversity"><img src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/youtube-32.png" width="32" height="32" style="display:block; width:32px; height:32px; border:none; margin:0;" title="Watch Us on YouTube"></a>
									</td>

									<td width="8" height="32" style="width:8px; height:32px;">
										&nbsp;
									</td>

									<td>
										<a href="http://www.liberty.edu/libertytoday"><img src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/lutoday-32.png" width="32" height="32" style="display:block; width:32px; height:32px; border:none; margin:0;" title="Liberty Today App"></a>
									</td>
								</tr>
							</table>
							<table class="canSpam" width="407" cellpadding="0" cellspacing="0" border="0" align="right"
							style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; width:407px; float:right;">
								<tr>
									<td class="hider" width="1" bgcolor="#8e8e8e" style="width:1px; background-color:#8e8e8e;"></td>
									<td class="hider" width="17" height="32" style="width:17px; height:32px;">&nbsp;</td>
									<td class="socialTxt" colspan="6" height="50" style="min-height:50px; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#777777; line-height:18px; -moz-text-size-adjust:none; -webkit-text-size-adjust:none;">
										Liberty University &nbsp;&bull;&nbsp; 1971 University Blvd. &nbsp;&bull;&nbsp; Lynchburg,
										Va. 24515 &nbsp;&bull;&nbsp; <span class="hider"><br></span> (434)
										582-2000 &nbsp;&bull;&nbsp; &copy; Copyright 2014 &nbsp;&bull;&nbsp; Liberty
										University is a Registered Trademark &nbsp;&bull;&nbsp;
										<a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy"
										style="color:#63968e;">Privacy Policy</a> &nbsp;&bull;&nbsp;
										{%%UNSUBSCRIBELINK%%}
									</td>
									<td class="hider" width="20"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td colspan="6" height="20"></td>
					</tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
    	</center>
    </div><!-- end #wrapper -->
</body>
</html>

