<!DOCTYPE HTML>
<html><!-- InstanceBegin template="/Templates/Winterfest.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#fff;
	background-color:#000000;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#fff !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}

.footer a {
    text-decoration: none;
    color:#00bff3;
}

@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 14px;
        line-height: 1.3em;
        border:0!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .content {
        padding:0 20px;
    }

    body[yahoo] .video {
        width:100%!important;
        height:auto!important;
    }


    body[yahoo] .header img {
        width:100%!important;
        height:auto;
    }

    body[yahoo] .bottomNav {
        padding-top:20px;
        width: 100%;
        background-color: #000;
        text-align: center;
        display: block!important;
    }
    
    body[yahoo] .bottomNav a {
        font-size:14px;
        display:block;
        padding:5px;
        text-transform: uppercase;
        color:#ccc!important;
    }

    body[yahoo] .socialSpacer {
        width: 26px;
    }

    body[yahoo] .cannSpam {
        display: block;
    }
}
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#000000" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#ffffff; background-color:#000000;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#ffffff; background-color:#000000; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

    		<table class="res-table" id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#000000" style="border-collapse:collapse; width:600px; clear:both; background-color:#000000;">
            	<tbody>
            		<tr>
            			<td colspan="5" class="header">
            				<a href="http://www.liberty.edu/winterfest/"><img alt="Winterfest" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest/09744_03.jpg" width="600" style="clear:both; border:none; display:block;"></a>
            			</td>
            		</tr>
                	<tr id="header-margin-top">
                    	<td colspan="5" width="600" height="30" style="width:600px; height:30px;"></td>
                    </tr>
                    <tr>
                    	<td class="content" colspan="5" valign="top" align="left" style="color:#ffffff;">
                    		<!-- converter for webm: http://video.online-convert.com/convert-to-webm -->
                            <!-- InstanceBeginEditable name="Content" --><strong><span style="font-size: 30px; color: #00bff3">Winterfest 2014 Artists Announced!</span></strong>
                            <p>Dear {%%FIRSTNAME%%},</p>
                            <p>We hope you were able to join us for the #LURevealParty today! In case you missed it, the headliners for this year's <a href="http://www.libertywinterfest.com" style="color:#00bff3; text-decoration:none;">Winterfest </a>are Skillet, Newsboys, and Lecrae. Also coming to the Winterfest stage are Jamie Grace, For King &amp; Country, Kari Jobe, Rend Collective, Humble Tip, and others!</p>
                            <p>Click the button below and fill out an entry form to be entered into drawings for Winterfest prizes, including All Event tickets, backstage passes, photographs with your favorite artists, and more!</p>
                            <p align="center"><a href="https://jfe.qualtrics.com/form/SV_bHKVGRoqbENWlwx" style="color:#00bff3; text-decoration:none;"><img alt="Enter now!" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest/wfbutton.png" height="47" width="203" style="clear:both; border:none; display:block;"></a></p>
                            <p>This year&rsquo;s Winterfest celebration will include:</p>
                            <ul>
                              <li>Concerts and sessions with your favorite musicians and speakers</li>
                              <li>Artist Q&amp;A session</li>
                              <li>Ice skating at LaHaye Ice Center</li>
                              <li>Indoor soccer, rock climbing, swimming, basketball, and more at LaHaye Student Union</li>
                              <li>Skiing, snowboarding, and tubing at Liberty Mountain Snowflex Centre                            </li>
                            </ul>
                            <p>Don&rsquo;t miss a beat — keep up with the latest at <a href="http://www.libertywinterfest.com" style="color:#00bff3; text-decoration:none;">www.LibertyWinterfest.com</a> and on <a href="https://www.facebook.com/LibertyUniversity" style="color:#00bff3; text-decoration:none;">Facebook</a><a href="https://www.facebook.com/LibertyUniversity"></a>,<a href="https://twitter.com/LibertyU" style="color:#00bff3; text-decoration:none;"> Twitter</a>, and <a href="http://instagram.com/LibertyUniversity" style="color:#00bff3; text-decoration:none;">Instagram</a>.</p>
See you there!
                            
                            <div id="signature-1971" style="color:#dcdcdc; line-height:18px; font-family:Arial, Helvetica, sans-serif; font-size:13px;">
                                <p>
                                    <b>Larry Hoezee, Ph.D.</b><br>
                                    <em>Executive Director</em><br>
                                    <b>Resident Enrollment Management</b>
                                </p>
                                <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature-wht.png"><br>
                                <em style="color:#00bff3; font-family:'Times New Roman', Times, serif;"><span class="hider">Liberty University&nbsp;&nbsp;|&nbsp;&nbsp;</span>Training Champions for Christ since 1971</em><br><br>
                            </div>
                			
                			<p align="center">
                            <video class="video" controls poster="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest/09744_07post.jpg" style="width:350px;">
                                    <source type="video/mp4" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest/2014.02.20_WinterfestPromo_2014_12_01_P-141.mp4">
                                    <source type="video/webm" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest/2014.webm">
                                     <!-- Fallback if HTML5 video is not supported -->
                                    <a href="http://www.youtube.com/watch?v=bzIc5tq3aPM"><img border="0" alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest/09744_07.jpg" label="Fallback Image"></a>
                            </video><br>
                                <span align="center" style="font-size:10px">Video not displaying above? <a href="http://www.youtube.com/watch?v=bzIc5tq3aPM" style="color:#00bff3; text-decoration:none;">Click here</a> to view Online.</span>
                            </p>
                            <!-- InstanceEndEditable -->
                    	</td>
                    </tr>
                    <tr id="header-margin-top">
                    	<td colspan="5" width="600" height="15" style="width:600px; height:15px;"></td>
                    </tr>
                    <tr>
                    	<td align="center" colspan="5">
                            <!-- InstanceBeginEditable name="button" --><!-- InstanceEndEditable -->
                    	</td>
                    </tr>
                    <tr id="header-margin-top">
                    	<td colspan="5" width="600" height="30" style="width:600px; height:30px;"></td>
                    </tr>
                    <tr>
                    	<td calspan="5">
                    		<table cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;">
                    			<tr>
                    				<td>
                    					<a href="https://www.facebook.com/LibertyUniversity"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest/09744_13.jpg" height="36" width="69" style="clear:both; border:none; display:block;"></a>
                    				</td>
                    				<td>
                    					<a href="http://twitter.com/libertyu"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest/09744_14.jpg" height="36" width="40" style="clear:both; border:none; display:block;"></a>
                    				</td>
                    				<td>
                    					<a href="http://www.youtube.com/libertyuniversity"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest/09744_15.jpg" height="36" width="39" style="clear:both; border:none; display:block;"></a>
                    				</td>
                    				<td>
                    					<a href="http://www.liberty.edu/libertytoday"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/09744_winterfest/09744_16.jpg" height="36" width="69" style="clear:both; border:none; display:block;"></a>
                    				</td>
                    			</tr>
                    		</table>
                    	</td>
                    </tr>

                    <!--[if !mso]><!-- -->
                        <!-- Bottom Nav --><tr><td colspan="5"><table class="res-table" width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="max-width:600px; border-collapse:collapse;"><tr><td class="bottomNav" align="center" style="font-size:.1em; "><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#000000; text-decoration:none;">About</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#000000; text-decoration:none;">Academics</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#000000; text-decoration:none;">Admissions</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#000000; text-decoration:none;">Alumni</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#000000; text-decoration:none;">Athletics</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#000000; text-decoration:none;">News</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#000000; text-decoration:none;">Student Life</a></td></tr></table></tr></td><!-- End of Bottom Nav -->
                    <!--<![endif]-->

                    <tr id="footer-margin-top">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr class="footer">
                    	
                    	<td id="footer-middle" colspan="5" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#ffffff;">
                        	<span class="cannSpam">Liberty University</span> <span class="hider">&nbsp;&bull;&nbsp; </span>
                            <span class="cannSpam">1971 University Blvd.</span> <span class="hider">&nbsp;&bull;&nbsp; </span>
                            <span class="cannSpam">Lynchburg, Va. 24515</span> <span class="hider">&nbsp;&bull;&nbsp; </span>
                            <span class="cannSpam">(434) 582-2000</span><br>
                            <span class="cannSpam">&copy; Copyright 2014</span> <span class="hider">&nbsp;&bull;&nbsp; </span>
                            <span class="cannSpam">Liberty University is a Registered Trademark</span> <span class="hider">&nbsp;&bull;&nbsp; </span>
                            <span class="cannSpam"><a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#00bff3; text-decoration:none;">Privacy Policy</a><br></span>
                            <div class="cannSpam" style="color:#00bff3;">
                                {%%UNSUBSCRIBELINK%%}
                            </div>
                        </td>
                    	
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->

</body>
<!-- InstanceEnd --></html>

