<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- TemplateBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<style>

body
{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	background-color:#d7d7d7;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}

.canSpam a {
	color:#d03c05; text-decoration:none;
}

/*@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 14px;
        line-height: 1.3em;
        border:0!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #0a254e;
        text-align: left;
        display: block!important;
    }
    
    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border-bottom: 2px solid #20406e;
        padding: 10px;
        text-transform: uppercase;
        color:#f8f8f8!important;
    }

    body[yahoo] .block {
        display:block!important;
    }

    body[yahoo] .res-img {
        width: 100%!important;
        height: auto!important;
    }

    body[yahoo] .res-margin {
        width: 3%!important;
    }

    body[yahoo] .res-content {
        /* specify a different font-size here if desired */
    }
}*/
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#d7d7d7" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#d7d7d7;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#d7d7d7; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

    		<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="550" align="center" bgcolor="#d7d7d7" style="border-collapse:collapse; width:550px; clear:both; background-color:#d7d7d7; mso-table-lspace:0pt; mso-table-rspace:0pt;">
            	<tbody>
            		<tr>
            			<td colspan="3" style="text-align:center; font-size:30px; line-height:60px; text-transform:uppercase; background:#ffffff; color:#ff6000;">
            				<img alt="The 100 Mile Challenge" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/c11142_100mile/C11142_02.jpg" width="550" style="clear:both; border:none; display:block;">
            			</td>
            		</tr>
            		<tr>
            			<td colspan="3" style="text-align:center; font-size:40px; line-height:35px; font-weight:bold; text-transform:uppercase; background:#ffffff; color:#ff6000;">
            				<img alt="Join Now! And Lace Up Your Running Shoes" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/c11142_100mile/C11142_04.jpg" width="550" style="clear:both; border:none; display:block;">
            			</td>
            		</tr>
                    <tr>
                    	<td colspan="3" bgcolor="#ffffff">
                    		<table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                    			<tr>
                    				<td width="85">
                    					<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00060_autoemail/spacer.png" height="1" width="85" style="clear:both; border:none; display:block;">
                    				</td>
                    				<td align="left" style="color:#d95100; line-height:21px;">
                    					<!-- TemplateBeginEditable name="Content" -->
                    					<p>Dear {%%FIRSTNAME%%},</p>

										<p><b>It’s time to lace up your running shoes and hit the trails! The 100 Mile Challenge starts today.</b> Presented by Live Healthy Lynchburg, the challenge takes place from July 1-Sept. 26. Prepare for the Virginia 4 Miler and 10 Miler races by logging your miles spent running or walking — and aim to meet or exceed 100 miles!</p>

										<p>Last year, Liberty employees logged the most miles of any similar-sized organization in Lynchburg, and this year we hope our staff will log even more miles! Whether you walk on lunch breaks with your coworkers or jog on the Blackwater Creek Trail after work, be sure to sign up for the challenge and log your miles.</p> 

										<p>Once you complete your 100 miles, you’ll be ready to compete in the Virginia 4 Miler or 10 Miler the weekend of Sept. 27. We hope you’ll join us in staying active and getting fit this summer!</p>

										<p>Sincerely,</p>
										<div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:16px;">
										    <p>
										        <b>Jamie Swyers</b><br>
										        <em>Associate Director</em><br>
										        <b>LaHaye Student Union</b>
										    </p>
										    <p>(434) 592-3148</p>
										    <p><b><a href="mailto:lahayestudentunion@liberty.edu">lahayestudentunion@liberty.edu</a></b></p>

										    <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
										    <em style="color:#d95100; font-family:'Times New Roman', Times, serif;">Liberty University&nbsp;&nbsp;|&nbsp;&nbsp;Training Champions for Christ since 1971</em>
										</div>
										<!-- TemplateEndEditable -->
                    				</td>
                    				<td width="85">
                    			
                    				</td>
                    			</tr>
                    			<tr id="header-margin-top">
			                    	<td colspan="3" width="550" height="75" style="width:550px; height:75px;"></td>
			                    </tr>
                    		</table>
                    	</td>
                    </tr>

                	
                    <tr id="footer">
                    	<td style="border-top:5px solid #d95100;">
	                    	<!-- Footer W/ Social -->
							<table class="res-table" width="550" cellpadding="0" cellspacing="0" align="center" border="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
								<tr id="header-margin-top">
			                    	<td width="550" height="20" style="width:550px; height:20px;"></td>
			                    </tr>
								<tr>
									<td>
										<table class="social" cellpadding="0" cellspacing="0" border="0" align="left" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; float:left; border-right:1px solid #8f8f8f;">
											<tr>
												<td class="hider" width="20"></td>
												<td class="socialTxt" colspan="9" style="text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#4d4d4d; text-align:left; -webkit-text-size-adjust: none;">
													Stay Connected
												</td>
											</tr>

											<tr>
												<td class="hider" width="20"></td>
												<td>
													<a href="https://www.facebook.com/LibertyUniversity?utm_source=liberty&amp;utm_medium=email&amp;utm_content=lufacebook&amp;utm_campaign={%CAMPAIGN_ID%}">
														<img src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/facebook-32.png"
														width="32" height="32" style="display:block; width:32px; height:32px; border:none; margin:0;"
														title="Like Us on Facebook">
													</a>
												</td>

												<td width="8" height="32" style="width:8px; height:32px;">
													&nbsp;
												</td>

												<td>
													<a href="https://twitter.com/libertyu?utm_source=liberty&utm_medium=email&utm_content=lutwitter&utm_campaign={%CAMPAIGN_ID%}">
														<img src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/twitter-32.png"
														width="32" height="32" style="display:block; width:32px; height:32px; border:none; margin:0;"
														title="Follow Us on Twitter">
													</a>
												</td>

												<td width="8" height="32" style="width:8px; height:32px;">
													&nbsp;
												</td>

												<td>
													<a href="http://www.youtube.com/libertyuniversity">
														<img src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/youtube-32.png"
														width="32" height="32" style="display:block; width:32px; height:32px; border:none; margin:0;"
														title="Watch Us on YouTube">
													</a>
												</td>
												<td width="13" height="20" style="width:13px; height:20px;">
													&nbsp;
												</td>
											</tr>
										</table>
										<table class="canSpam" width="407" cellpadding="0" cellspacing="0" border="0" align="right"
										style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; width:395px; float:right;">
											<tr>
												<td class="socialTxt" colspan="6" height="50" style="min-height:50px; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#4d4d4d; line-height:15px; -webkit-text-size-adjust: none;">
													Liberty University &nbsp;&bull;&nbsp; 1971 University Blvd. &nbsp;&bull;&nbsp; Lynchburg,
													Va. 24515 &nbsp;&bull;&nbsp; <span class="hider"><br></span> (434)
													582-2000 &nbsp;&bull;&nbsp; &copy; Copyright 2014 &nbsp;&bull;&nbsp; Liberty
													University is a Registered Trademark &nbsp;&bull;&nbsp;
													<a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy"
													style="color:#d03c05; text-decoration:none;">Privacy Policy</a> &nbsp;&bull;&nbsp;
													{%%UNSUBSCRIBELINK%%}
												</td>
												<td class="hider" width="20"></td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td colspan="6" height="20"></td>
								</tr>
							</table>
							<!-- End of Footer W/ Social -->
                    	</td>
                    	
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="3" width="550" height="20" style="width:550px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
    	</center>
    </div><!-- end #wrapper -->
</body>
</html>

