<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- TemplateBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	background-color:#d9d9d9;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}

/*@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 14px;
        line-height: 1.3em;
        border:0!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #0a254e;
        text-align: left;
        display: block!important;
    }
    
    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border-bottom: 2px solid #20406e;
        padding: 10px;
        text-transform: uppercase;
        color:#f8f8f8!important;
    }

    body[yahoo] .block {
        display:block!important;
    }

    body[yahoo] .res-img {
        width: 100%!important;
        height: auto!important;
    }

    body[yahoo] .res-margin {
        width: 3%!important;
    }

    body[yahoo] .res-content {
        /* specify a different font-size here if desired */
    }
}*/
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#d9d9d9" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#d9d9d9;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#d9d9d9; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

    		<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#d9d9d9" style="border-collapse:collapse; width:600px; clear:both; background-color:#d9d9d9;">
            	<tbody>
                	<tr id="header-margin-top">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr>
                    	<td colspan="5">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/11407_11455_luo_lastchance/11407_03.jpg" height="149" width="600" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr>
                    <tr>
                    	<td colspan="5">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/11407_11455_luo_lastchance/11407_05.jpg" height="35" width="600" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr>
                    <tr>
                    	<td>
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/11407_11455_luo_lastchance/11407_06.jpg" height="82" width="108" style="clear:both; border:none; display:block;">
                    	</td>
                    	<td>
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/11407_11455_luo_lastchance/11407_07.jpg" height="82" width="93" style="clear:both; border:none; display:block;">
                    	</td>
                    	<td>
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/11407_11455_luo_lastchance/11455_08.jpg" height="82" width="195" style="clear:both; border:none; display:block;">
                    	</td>
                    	<td>
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/11407_11455_luo_lastchance/11455_09.jpg" height="82" width="95" style="clear:both; border:none; display:block;">
                    	</td>
                    	<td>
                    		<a href="https://www.liberty.edu/online/how-to-register/"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/11407_11455_luo_lastchance/11455_10.jpg" height="82" width="109" style="clear:both; border:none; display:block;"></a>
                    	</td>
                    </tr>
                    <tr>
                    	<td colspan="5">
                    		<table cellpadding="0" bgcolor="#ffffff" cellspacing="0" border="0" style="border-collapse:collapse;">
                    			<tr id="margin-top">
			                    	<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
			                    </tr>
                    			<tr>
                    				<td width="50">
                    					
                    				</td>
                    				<td width="500" align="left">
                    					<!-- TemplateBeginEditable name="content" -->
                    					<p>Dear {%%FIRSTNAME%%},</p>
										<p>Students who register for half-time status or greater for the Fall 2014 semester, with at least one course in the A/B and/or J sub-term, and complete Financial Check-In (FCI) by Aug. 1 will:</p>
										<ul>
											<li>Receive a free long sleeve Liberty University T-shirt</li>
											<li>Be entered into a drawing to win one of 1,200 $25 Amazon gift cards (100 winners will be notified each day!)</li>
										</ul>
										<p>Additionally, students who register full-time with at least one course in the Fall A, B, and/or J sub-term will be entered to win one of 300 drawings for Fall 2014 Book Dollars, worth $100.</p>

										<div align="left">
                    						<p>
                    							<a href="https://www.liberty.edu/online/how-to-register/"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/11407_11455_luo_lastchance/11455_13.jpg" height="33" width="132" style="clear:both; border:none; display:block;"></a>
                    						</p>
                    					</div>
										
										<p>For more information, call (855) 466-9218 or email <a href="mailto:LUOadvising@liberty.edu">LUOadvising@liberty.edu</a>.</p> 
										<p>Sincerely,</p>
										
										<div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:14px;">
										    <p>
										        <b>Tamela Crickenberger</b><br>
										        <em>Executive Director of Enrollment</em><br>
										        <b>Liberty University Online</b>
										    </p>
										    <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
										    <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University&nbsp;&nbsp;|&nbsp;&nbsp;Training Champions for Christ since 1971</em>
										</div>
										<!-- TemplateEndEditable -->
                    				</td>
                    				<td width="50">
                    					
                    				</td>
                    				<tr id="margin-bottom">
			                    	<td colspan="3" width="600" height="35" style="width:600px; height:35px;"></td>
			                    </tr>
                    			</tr>
                    		</table>
                    	</td>
                    </tr>
                    <tr>
                    	<td colspan="5">
                    		<table cellpadding="0" bgcolor="#eeeeee" cellspacing="0" border="0" style="border-collapse:collapse;">
                    			<tr id="margin-top">
			                    	<td colspan="3" width="600" height="25" style="width:600px; height:25px;"></td>
			                    </tr>
                    			<tr>
                    				<td width="25">
                    					
                    				</td>
                    				<td width="550" align="left" style="font-size:11px; line-height:14px; color:#4c4c4c;">
                    					<!-- TemplateBeginEditable name="extra" -->
                    					<em>*Book Dollars are not stackable with military book vouchers, can only be used at <a href="https://bookstore.mbsdirect.net/liberty.htm">MBS Direct</a>, and are only valid for the Fall 2014 semester. This offer excludes all Liberty faculty and staff, as well as students enrolled in CE, LUE, and LUOA. Students cannot be on financial aid suspension. For more information regarding our promotions and exclusions, please visit our <a href="http://www.liberty.edu/online/?PID=27818">Promotions FAQ Web page</a>.</em>
                    					<!-- TemplateEndEditable -->
                    				</td>
                    				<td width="25">
                    					
                    				</td>
                    				<tr id="margin-bottom">
			                    	<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
			                    </tr>
                    			</tr>
                    		</table>
                    	</td>
                    </tr>
                    <tr>
                    	<td colspan="5">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/11407_11455_luo_lastchance/11455_16.jpg" height="21" width="600" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr>
                    

                    

                    

                    <tr id="footer-margin-top">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr id="footer">
                    	
                    	<td id="footer-middle" colspan="5" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666;">
                        	<span class="res-block">
                                Liberty University <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                1971 University Blvd. <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                Lynchburg, Va. 24515 <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                (434) 582-2000<br></span>
                            <span class="res-block">
                                &copy; Copyright 2014 <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                Liberty University is a Registered Trademark <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#444; text-decoration:none;">Privacy Policy</a><br></span>
                            <span class="res-block">{%%UNSUBSCRIBELINK%%}</span>
                        </td>
                    	
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->

    	</center>
    </div><!-- end #wrapper -->
</body>
</html>

