<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/Athletics-Football2014.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	background-color:#d7d7d7;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}

@media screen and (max-width: 540px) {
	table {
		font-size: 15px;
	}
}
/*@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 14px;
        line-height: 1.3em;
        border:0!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #0a254e;
        text-align: left;
    }
    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border-bottom: 2px solid #20406e;
        padding: 10px;
        text-transform: uppercase;
        color:#f8f8f8!important;
    }
}*/
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#d7d7d7" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#d7d7d7;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#d7d7d7; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

    		<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#d7d7d7" style="border-collapse:collapse; width:600px; clear:both; background-color:#d7d7d7;">
            	<tbody>
            		<tr>
            			<td colspan="5">
            				<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25006_football/25006_01.jpg" height="216" width="600" style="clear:both; border:none; display:block;">
            			</td>
            		</tr>
            		<tr bgcolor="#ffffff">
            			<td width="4" bgcolor="#61799b">
            				<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25006_football/25006_02.jpg" height="1" width="4" style="clear:both; border:none; display:block;">
            			</td>
            			<td width="55">
            				<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25006_football/25006_03.jpg" height="1" width="55" style="clear:both; border:none; display:block;">
            			</td>
            			<td width="482" align="left">
            				<!-- InstanceBeginEditable name="Content" -->
            				<p style="font-size:26px; font-weight:bold; color:#2e486e;"><strong>Flames Football is Playing Near You!</strong></p>
            				<p style="font-size:16px; font-weight:bold; text-transform:uppercase; color:#a90d42;">Dear {%%FIRSTNAME%%},</p>
                            <p>Your Liberty University Flames have enjoyed tremendous success on the football field, and with Head Coach Turner Gill leading the way, they are  preparing for another push to the FCS playoffs. Come show your support as the  Flames compete against {Opponent} on Saturday, {DATE}, at {TIME} on their way to their seventh Big South  Championship.<br>
                            </p>
                            <p>Individual game  tickets can be purchased for ${PRICE}. Fans may also purchase catered  pregame meal passes  for $10, and discounted passes are available for children under 12. </p>
                            <p>For more information or to purchase tickets, call the Liberty  Flames Ticket Office at 434-582-SEAT (7328), visit <a href="http://www.liberty.edu/flames/index.cfm?PID=16939">www.LibertyFlames.com</a>, or stop by the Vines Center Ticket  Office.                             </p>
                            <p>We&rsquo;ll see you at {Stadium Name} — GO FLAMES!                            </p>
                            <p>Sincerely,</p>
                            <div id="flames-signature" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
                              <p><strong>Jeff Barber<br>
                              </strong><em>Director of Athletics</em></p>
                              <p><img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_flamessignature.png"><br>
                                <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University  |  Training Champions for Christ since 1971</em></p>
                            </div>
<!-- InstanceEndEditable -->
            			</td>
            			<td width="55">
            				
            			</td>
            			<td width="4" bgcolor="#61799b">
            				
            			</td>
            		</tr>
            		<tr>
            			<td colspan="5">
            				<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25006_football/25006_07.jpg" height="441" width="600" style="clear:both; border:none; display:block;">
            			</td>
            		</tr>
            		<tr>
            			<td colspan="5">
            				<table width="600" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; color:#ffffff;">
            					<!-- InstanceBeginEditable name="Social" -->
		            			<tr>
		            				<td>
		            					<a href="https://www.facebook.com/LibertyFlamesAthletics"><img alt="Facebook" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25006_football/25006_08.jpg" height="51" width="91" style="clear:both; border:none; display:block;"></a>
		            				</td>
		            				<td>
		            					<a href="https://twitter.com/libertyflames"><img alt="Twitter" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25006_football/25006_09.jpg" height="51" width="34" style="clear:both; border:none; display:block;"></a>
		            				</td>
		            				<td>
		            					<a href="http://www.youtube.com/user/FlamesAthletics"><img alt="YouTube" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25006_football/25006_10.jpg" height="51" width="33" style="clear:both; border:none; display:block;"></a>
		            				</td>
		            				<td>
		            					<a href="http://www.liberty.edu/index.cfm?pid=25410"><img alt="Liberty Today" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25006_football/25006_11.jpg" height="51" width="39" style="clear:both; border:none; display:block;"></a>
		            				</td>
		            				<td>
		            					<a href="mailto:athletics@liberty.edu"><img alt="E-Mail" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25006_football/25006_12.jpg" height="51" width="40" style="clear:both; border:none; display:block;"></a>
		            				</td>
		            				<td>
		            					<a href="http://www.libertyflames.com"><img alt="www.LibertyFlames.com" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25006_football/25006_13.jpg" height="51" width="162" style="clear:both; border:none; display:block;"></a>
		            				</td>
		            				<td>
		            					<img alt="434-582-SEAT (7328)" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25006_football/25006_14.jpg" height="51" width="201" style="clear:both; border:none; display:block;">
		            				</td>
		            			</tr>
		            			<!-- InstanceEndEditable -->
		            		</table>
            			</td>
            		</tr>

                    <tr id="footer-margin-top">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr id="footer">
                    	
                    	<td id="footer-middle" colspan="5" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666;">
                        	Liberty University &nbsp;&bull;&nbsp; 
                            1971 University Blvd. &nbsp;&bull;&nbsp; 
                            Lynchburg, Va. 24515 &nbsp;&bull;&nbsp; 
                            (434) 582-2000<br>
                            &copy; Copyright 2014 &nbsp;&bull;&nbsp; 
                            Liberty University is a Registered Trademark &nbsp;&bull;&nbsp; 
                            <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#444; text-decoration:none;">Privacy Policy</a><br>
                            {%%UNSUBSCRIBELINK%%}
                        </td>
                    	
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->

    	</center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

