<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/Dining_Services.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Load Flames Cash and save</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#3d3d3d;
	background-color:#d7d7d7;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#3d3d3d !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}

.footer_links a {color:#26b0c4; text-decoration:none;}

/*@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 14px;
        line-height: 1.3em;
        border:0!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #0a254e;
        text-align: left;
        display: block!important;
    }
    
    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border-bottom: 2px solid #20406e;
        padding: 10px;
        text-transform: uppercase;
        color:#f8f8f8!important;
    }

    body[yahoo] .block {
        display:block!important;
    }

    body[yahoo] .res-img {
        width: 100%!important;
        height: auto!important;
    }

    body[yahoo] .res-margin {
        width: 3%!important;
    }

    body[yahoo] .res-content {
        /* specify a different font-size here if desired */
    }
}*/
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#d7d7d7" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#3d3d3d; background-color:#d7d7d7;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#3d3d3d; background-color:#d7d7d7; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

    		<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center"  bgcolor="#e8eef2" style="border-collapse:collapse; width:600px; clear:both; background-color:#e8eef2;">
            	<tbody>
            		<tr>
            			<td colspan="3">
            				<img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/11232_dining_services_temp/11232_03.jpg" height="89" width="600" style="clear:both; border:none; display:block;">
            			</td>
            		</tr>
            		<tr id="margin-top">
                    	<td colspan="3" width="600" height="25" style="width:600px; height:25px;"></td>
                    </tr>
            		<tr>
            			<td width="30">
            				
            			</td>
            			<td bgcolor="#e8eef2" align="left">
            				<!-- InstanceBeginEditable name="Content" -->
            				<div style="font-size:20px; font-weight:200; mso-line-height-rule:exactly; line-height:25px;">Save  with Flames Cash</div><span style="mso-line-height-rule:exactly; line-height:10px;"><br></span>
            				<p>Dear  {%%FIRSTNAME%%},</p>
            				<p>            				  Time is  running out to earn the maximum benefit of loading Flames Cash onto your Flames  Pass. If you load at least $400 onto your Flames Pass by Monday, Aug. 18, you  will be eligible to park in the parking garage Dining Reserved parking spaces  during meal periods. Faculty and staff who participate can pick up their  parking card at the Liberty University Police Department beginning on Aug. 18.</p>
            				<p>            				  Load any  amount of money at any time onto your Flames Pass through the <br>
           				    <a href="http://www.liberty.edu/index.cfm?PID=4931">Card Services Web page</a> or at one of the on-campus PHIL kiosks and receive the  following benefits:</p>
                            <ul>
                              <li>A 10% discount at the on-campus  Starbucks, Chick-fil-A, Dunkin' Donuts, and other national brands when using  Flames Cash</li>
                              <li>A 15% discount at SubConnection,  Simply To Go, Wholly Habanero, and other on-campus eateries when using Flames  Cash</li>
                            </ul>
                            <p>You will receive  discounts at the Reber-Thomas Dining Hall for breakfast, lunch, and dinner. For  example, the cash price at the door for lunch is $7.50, but with Flames Cash  the price is $6.</p>
                            <p>                              Visit the <a href="http://www.liberty.edu/index.cfm?PID=4931">Card Services Web page</a> or an on-campus PHIL kiosk to load money onto your card today! </p>
Sincerely,            				
<div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
  <p><b>Dining Services</b> </p>
  <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
  <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University  |  Training Champions for Christ since 1971</em></div>
<!-- InstanceEndEditable -->
            			</td>
            			<td width="30">
            				
            			</td>
            		</tr>
            		<tr>
            			<td colspan="3">
            				<img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/11232_dining_services_temp/11232_6.jpg" height="400" width="600" style="clear:both; border:none; display:block;">
            			</td>
            		</tr>
                    <tr id="footer-margin-top">
                    	<td colspan="3" width="600" height="20" bgcolor="#18293f" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr id="footer">
                    	<td width="30" bgcolor="#18293f">
            				
            			</td>
                    	<td class="footer_links" id="footer-middle" bgcolor="#18293f" width="600" height="50" align="left" valign="top" style="min-height:50px; text-align:left; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#ffffff; line-height:16px;">
                        	<span class="res-block">
                                Liberty University <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                1971 University Blvd. <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                Lynchburg, Va. 24515 <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                (434) 582-2000<br></span>
                            <span class="res-block">
                                &copy; Copyright 2014 <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                Liberty University is a Registered Trademark <br></span>
                            <span class="res-block">
                                <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#26b0c4; text-decoration:none;">Privacy Policy</a></span><span class="hider">&nbsp;&bull;&nbsp; </span>
                            <span class="res-block">{%%UNSUBSCRIBELINK%%}</span>
                        </td>
                    	<td width="30" bgcolor="#18293f">
            				
            			</td>
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="3" width="600" height="20" bgcolor="#18293f" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
    	</center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

