<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/71club.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
	margin:0;
	font-family:'times', serif;
	font-size:14px;
	color:#000;
	background-color:#ffffff;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}

@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 14px;
        line-height: 1.3em;
        border:0!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #0a254e;
        text-align: left;
        display: block!important;
    }
    
    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border-bottom: 2px solid #20406e;
        padding: 10px;
        text-transform: uppercase;
        color:#f8f8f8!important;
    }

    body[yahoo] .res-block {
        display:block!important;
    }

    body[yahoo] .res-img {
        width: 100%!important;
        height: auto!important;
    }

    body[yahoo] .res-margin {
        width: 3%!important;
    }

    body[yahoo] .res-content {
        padding:0 20px;
    }
}
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#ffffff" yahoo="fix" style="margin:0; font-family:'times', serif; font-size:14px; color:#000; background-color:#ffffff;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:'times', serif; font-size:14px; color:#000; background-color:#ffffff; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
    		<table class="res-table" id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#ffffff" style="border-collapse:collapse; width:600px; clear:both; background-color:#ffffff;">
            	<tbody>
            		<tr class="hider" id="header-margin-top">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
            		<tr>
            			<td colspan="5">
            				<img class="res-img" alt="." src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/12040_71club/12040.jpg" height="235" width="600" style="clear:both; border:none; display:block;">
            			</td>
            		</tr>

            		<tr bgcolor="#f9f5ec">
            			<td class="hider" width="65">
            				<img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00060_autoemail/spacer.png" height="1" width="65" style="clear:both; border:none; display:block;">
            			</td>
            			<td colspan="3" class="res-content" align="left">
            				<!-- InstanceBeginEditable name="content" -->
            				<p>Dear {%%FIRSTNAME%%},</p><p>
            				  I would like to extend a standing invitation to you and your  immediate family to attend home football games in the 71 Club Luxury Suite. Please  follow the provided link to RSVP for the games you plan to attend and request  the number of passes you will require.</p><p>
            				   <p align="center"><a href="https://liberty.co1.qualtrics.com/SE/?SID=SV_37pzTPtEsHxfaV7" style="display:block; clear:both; width:146px; height:52px; margin:0 20px 20px 0; text-decoration:none;"><img src="https://www.liberty.edu/media/1616/rsvp.png" width="146" height="52" border="0" style="width:146px; height:52px; border:none;"></a></p>
            				  <p>Passes will be delivered to your office on the Friday  morning before each home game you are attending. Dinner will be served in the  suite at 6 p.m. prior to all evening games.</p>
            				  <p>
                                <em>Please use the north elevator  to access the suite. Passes are only for the 71 Club Luxury Suite and are  not transferable to other areas of the stadium.</em></p><p>
            				  Thank you,</p>
                              <p>Jerry Falwell<br><em>President</em></p>
            				<!-- InstanceEndEditable -->
            			</td>
            			<td class="hider" width="65">
            				<img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00060_autoemail/spacer.png" height="1" width="65" style="clear:both; border:none; display:block;">
            			</td>
            		</tr>
            		<tr id="header-margin-top" bgcolor="#f9f5ec" >
                    	<td colspan="5" width="600" height="50" style="width:600px; height:50px;"></td>
                    </tr>
                    <tr class="hider" id="header-margin-top">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
            		<tr>
            			<td colspan="5" align="center">
            				<table align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
            				    <tr>
            				        <td>
            				        	<!-- InstanceBeginEditable name="facebook" -->
            				        	<a href='https://www.facebook.com/LibertyUniversity?utm_source=liberty&utm_medium=email&utm_content=lufacebook&utm_campaign={%CAMPAIGN_ID%}'><img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/facebook-32.png" height="32" width="32" style="border:none;"></a>
            				        	<!-- InstanceEndEditable -->
            				        </td>
            				        <td style="border:4px solid #ffffff;">
            				        	<!-- InstanceBeginEditable name="twitter" -->
            				        	<a href='http://twitter.com/libertyu?utm_source=liberty&utm_medium=email&utm_content=lutwitter&utm_campaign={%CAMPAIGN_ID%}'><img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/twitter-32.png" height="32" width="32" style="border:none;"></a>
            				        	<!-- InstanceEndEditable -->            				        	
            				        </td>
            				        <td>
            				        	<a href='http://www.liberty.edu/libertytoday?utm_source=liberty&utm_medium=email&utm_content=lutoday&utm_campaign={%CAMPAIGN_ID%}'><img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/lutoday-32.png" height="32" width="32" style="border:none;"></a>
            				        </td>
            				    </tr>
            				</table>
            			</td>
            		</tr>

                    <!-- Bottom Nav --><!--[if !mso]><!-- --><tr><td colspan="5"><table class="res-table" width="600" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="max-width:600px; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td class="bottomNav" align="center" style="font-size:.1em; display:none;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Academics</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Admissions</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Alumni</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Athletics</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">News</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Student Life</a></td></tr></table></td></tr><!--<![endif]--><!-- End of bottom nav -->

                    

                    <tr id="footer-margin-top">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr id="footer">
                    	
                    	<td id="footer-middle" colspan="5" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:'times', serif; font-size:11px; color:#666;">
                        	<span class="res-block">
                                Liberty University <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                1971 University Blvd. <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                Lynchburg, Va. 24515 <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                (434) 582-2000<br></span>
                            <span class="res-block">
                                &copy; Copyright 2014 <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                Liberty University is a Registered Trademark <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#444; text-decoration:none;">Privacy Policy</a><br></span>
                            <span class="res-block">{%%UNSUBSCRIBELINK%%}</span>
                        </td>
                    	
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
    	</center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

