<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- TemplateBeginEditable name="doctitle" -->
<title>Want a gift? Complete FCI by tonight!</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	background-color:#d7d7d7;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}

/*@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 14px;
        line-height: 1.3em;
        border:0!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #0a254e;
        text-align: left;
        display: block!important;
    }
    
    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border-bottom: 2px solid #20406e;
        padding: 10px;
        text-transform: uppercase;
        color:#f8f8f8!important;
    }

    body[yahoo] .block {
        display:block!important;
    }

    body[yahoo] .res-img {
        width: 100%!important;
        height: auto!important;
    }

    body[yahoo] .res-margin {
        width: 3%!important;
    }

    body[yahoo] .res-content {
        /* specify a different font-size here if desired */
    }
}*/
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#d7d7d7" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#0a2544; background-color:#d7d7d7;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#0a2544; background-color:#d7d7d7; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

    		<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#ffffff" style="border-collapse:collapse; width:600px; clear:both; background-color:#ffffff;">
            	<tbody>
                	<tr id="header-margin-top">
                    	<td colspan="4" width="600" height="30" style="width:600px; height:30px;"></td>
                    </tr>
                    

                    <tr>
                    	<td width="80">
                    		
                    	</td>
                    	<td>
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/11705_luo_promotemplate/11705_03.jpg" height="120" width="143" style="clear:both; border:none; display:block;">
                    	</td>
                    	<td style="font-size:26px; line-height:28px;">
                    		<b>Complete Financial Check-In by tonight to receive a free gift!</b>
                    	</td>
                    	<td width="80">
                    		
                    	</td>
                    </tr>
                    <tr>
                    	<td width="80">
                    		
                    	</td>
                    	<td colspan="2" height="35" style="height:35px; border-bottom:1px solid #cbcbcb;">
                    		
                    	</td>
                    	<td width="80">
                    		
                    	</td>
                    </tr>
                    <tr>
                    	<td colspan="4" height="20" style="height:20px;"></td>
                    </tr>
                    <tr>
                    	<td width="80">
                    		
                    	</td>
                    	<td colspan="2" style="font-size:17px; line-height:28px;">
                    		<p>Dear {%%FIRSTNAME%%},</p>

                    		<p>Would you like a free Liberty University <strong>T-shirt</strong> and a chance to win one of 10 <strong>iPad </strong>devices? Today is your last chance  to complete Financial Check-In (FCI) for the Fall A/B sub-term, and when you finish  FCI by 11:59 p.m. EST tonight you will receive the T-shirt and be entered into  the iPad device drawing.</p>
<div align="center"><a href="http://www.liberty.edu/online/steps-to-financial-check-in/"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/11705_luo_promotemplate/11705_07.jpg" height="79" width="272" style="clear:both; border:none; display:block;"></a></div>

                    		<p>For more information, please contact an admissions specialist by calling (855) 466-9217 or emailing <a href="mailto:LUOadmissions@liberty.edu">LUOadmissions@liberty.edu</a>.</p>

                    		<p>Sincerely,</p>

                    		<div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:17px;">
                    		    <p>
                    		        <b>Steve Peterson, Ed.D.</b><br>
                    		        <em>Executive Director of Admissions</em><br>
                    		        <b>Liberty University Online</b>
                    		    </p>
                    		    <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
                    		    <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University&nbsp;&nbsp;|&nbsp;&nbsp;Training Champions for Christ since 1971</em>
                    		</div>
                    		<br>

                    		<p style="font-size:11px; line-height:16px;">*Some restrictions may apply. Students must attain full-time enrollment status and cannot be on financial aid suspension or have any hard holds. This promotion excludes non-degree seeking, DGIA, and Continuing Education. Sizes may vary.</p>
                    	</td>
                    	<td width="80">
                    		
                    	</td>
                    </tr>
                    <tr>
                    	<td colspan="4">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/11705_luo_promotemplate/11705_10.png" height="85" width="600" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
            <!-- footer -->
            <table class="res-table" width="100%" height="100" cellpadding="0" cellspacing="0" border="0" bgcolor="#0c223f" style="min-width:600px; border-collapse:collapse; background:#0c223f;">
                <tr id="footer-margin-top">
                    <td align="center" colspan="3" width="600" style="width:600px;">
                    	<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/11705_luo_promotemplate/11705_11.png" height="11" width="600" style="clear:both; border:none; display:block;">
                    </td>
                </tr>
                <tr id="footer-margin-top">
                    <td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
                </tr>
                <tr>
                    <td id="footer-middle" colspan="3" width="600" height="100%" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#ccc;">
                        <span class="block">
                            Liberty University <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                        <span class="block">
                            1971 University Blvd. <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                        <span class="block">
                            Lynchburg, Va. 24515 <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                        <span class="block">
                            (434) 582-2000<br></span>
                        <span class="block">
                            &copy; Copyright 2014 <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                        <span class="block">
                            Liberty University is a Registered Trademark <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                        <span class="block">
                            <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#fff; text-decoration:none;">Privacy Policy</a><br></span>
                        <span class="block">{UNSUBSCRIBEHYPERLINK</span>
                    </td>
                    <tr id="footer-margin-bottom">
                        <td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr> 
                </tr>
            </table>
            <!-- end footer -->
    	</center>
    </div><!-- end #wrapper -->
</body>
</html>

