<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/CommuterNewsletter.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Stay informed</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body{min-width:100% !important; font-family:Times, 'Times New Roman', serif; font-size:14px; color:#636363; line-height:19px; background-color:#ffffff; margin:0; padding: 0;} .ReadMsgBody{width:100%;} .ExternalClass{width:100%;}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}

.canSpam a{
    color:#6db1ca!important;
    text-decoration:none;
    font-style:italic;
}

@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 16px;
        line-height:19px;
    }

    body[yahoo] .content {
        width: 90%!important;
        height: auto!important;
    }

    body[yahoo] .wrapping-border{
        border:none!important;
    }

    body[yahoo] .events {
        width: 100%!important;
        height: auto!important;
    }

    body[yahoo] .events td{
        display:block;
        padding:3px!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .smi {
        width:44px;
    }

    body[yahoo] .cs_block {
        display:block;
    }

    body[yahoo] .canSpam {
        line-height:15px!important;
    }

    body[yahoo] .pad {
        display:block!important;
        padding:15px 0;
    }

    body[yahoo] .bottomNav {
        padding:20px 0!important;
    }

    body[yahoo] .bottomNav a {
        width:75%;
        margin:10px 0;
        font-size: 18px;
        display:block;
        border: 1px solid #cccccc;
        padding: 10px;
        color:#636363!important;
    }
}
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->

<!-- InstanceParam name="Table" type="boolean" value="true" -->
<!-- InstanceParam name="AddSection" type="boolean" value="false" -->

</head>

<body bgcolor="#ffffff" yahoo="fix" style="margin:0; font-family:Times, 'Times New Roman', serif; font-size:14px; color:#636363; background-color:#ffffff;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Times, 'Times New Roman', serif; font-size:14px; color:#636363; background-color:#ffffff; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

    		<table class="res-table" id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#ffffff" style="border-collapse:collapse; width:600px; clear:both; background-color:#ffffff; mso-table-lspace:0pt; mso-table-rspace:0pt;">
            	<tbody>
                	<tr class="hider" id="header-margin-top">
                    	<td width="600" height="40" style="width:600px; height:40px;"></td>
                    </tr>
                    <tr>
                        <td class="wrapping-border" align="center" width="600" style="border:1px solid #cccccc;">
                            <table class="content" width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                <tr id="margin-top">
                                    <td colspan="5" width="600" height="40" style="width:600px; height:40px;"></td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                    <td colspan="3" class="header" width="500" align="center" style="text-transform:uppercase; font-size:30px; line-height:31px;">
                                        <!-- InstanceBeginEditable name="NewsletterHeader" -->Commuter Newsletter<!-- InstanceEndEditable -->
                                    </td>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50"></td>
                                    <td colspan="3" width="500" height="35" style="width:500px; height:35px; border-bottom:1px solid #cccccc;"></td>
                                    <td class="hider" width="50"></td>
                                </tr>
                                <!-- InstanceBeginRepeat name="AddSection" --><!-- InstanceBeginRepeatEntry -->
                                <tr id="margin">
                                    <td colspan="5" width="600" height="35" style="width:600px; height:35px;"></td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                    <td colspan="3" width="500" align="left">
                                        <p style="font-size:20px; color:#6db1ca;"><!-- InstanceBeginEditable name="Header" -->New  Card. New Savings.<!-- InstanceEndEditable --></p>
                                        <!-- InstanceBeginEditable name="ContentTxt" -->
                                        <p>To serve you better, Card Services is issuing  new Flames Passes, and Dining Services is offering new Flames Cash discounts.  Bring your current Flames Pass to the Card Services Office in Green Hall, Room  1957, to get your new pass.<br>
                                          <br>
                                          To receive discounts at on-campus dining  locations, load any amount of money onto your Flames Pass through the <a href="http://www.liberty.edu/financeadmin/budget/index.cfm?PID=4931">Card Services Web page</a> or at one of the on-campus PHIL kiosks.<br>
                                          <br>
                                        Participation in the dining plan comes with  the following benefits:</p>
                                        <ul>
                                          <li>A 10% discount at the on-campus Starbucks,       Chick-fil-A, Dunkin' Donuts, and other national brands when using Flames       Cash</li>
                                          <li>                                          A 15% discount at SubConnection, Simply To Go,  Wholly Habanero, and other on-campus eateries when using Flames Cash.                                        </li>
                                        </ul>
                                      <!-- InstanceEndEditable -->
                                    </td>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                </tr>
                                <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                <tr id="margin">
                                    <td colspan="5" width="600" height="35" style="width:600px; height:35px;"></td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                    <td colspan="3" width="500" align="left">
                                        <p style="font-size:20px; color:#6db1ca;"><!-- InstanceBeginEditable name="Header" -->From  Standing in Line to Ordering Online<!-- InstanceEndEditable --></p>
                                        <!-- InstanceBeginEditable name="ContentTxt" -->
                                        <p>Students can now take advantage of online  ticket ordering through their <a href="https://www.liberty.edu/secure/?service=https%3A%2F%2Fmylu.liberty.edu%2Fc%2Fportal%2Flogin">myLU</a> account by  clicking on the &quot;Tickets&quot; link under &quot;My Access.&quot; No more  waiting in line at the Vines Center or at an event; students can simply  purchase tickets online, print, and skip the line.</p>
Tickets for a variety of events are now  available, including NCAA games, concerts, Coffeehouse, and more! Discounted  tickets are also available for students purchasing for family and friends.                                        <!-- InstanceEndEditable -->
                                    </td>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                </tr>
                                <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                <tr id="margin">
                                    <td colspan="5" width="600" height="35" style="width:600px; height:35px;"></td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                    <td colspan="3" width="500" align="left">
                                        <p style="font-size:20px; color:#6db1ca;"><!-- InstanceBeginEditable name="Header" -->Commuter  Services Facebook<!-- InstanceEndEditable --></p>
                                        <!-- InstanceBeginEditable name="ContentTxt" -->
                                        <p><a href="https://www.facebook.com/LUCommuterServices?ref=br_tf">Like</a> our  Facebook page and share your ideas for new programs and services by commenting  on our wall. We check our Facebook page daily. You can also <a href="https://twitter.com/LibertyCommuter">follow</a> us on Twitter.</p>
<!-- InstanceEndEditable -->
                                    </td>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                </tr>
                                <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                <tr id="margin">
                                    <td colspan="5" width="600" height="35" style="width:600px; height:35px;"></td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                    <td colspan="3" width="500" align="left">
                                        <p style="font-size:20px; color:#6db1ca;"><!-- InstanceBeginEditable name="Header" -->Join  a Commuter Connect Group<!-- InstanceEndEditable --></p>
                                        <!-- InstanceBeginEditable name="ContentTxt" -->
                                        <p>Commuter  Connect Groups are off-campus Bible studies or interest-based groups that help  connect commuters and facilitate a closer walk with God.&nbsp;If you would like  to lead a Connect Group, email <a href="mailto:commuter@liberty.edu?subject=Connect%20Groups">Commuter Services</a>.&nbsp;The  next meeting will be Thursday, Sept. 4, at 4 p.m. in Green Hall, Room  1953.</p>
                                      <!-- InstanceEndEditable -->
                                    </td>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                </tr>
                                <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                <tr id="margin">
                                    <td colspan="5" width="600" height="35" style="width:600px; height:35px;"></td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                    <td colspan="3" width="500" align="left">
                                        <p style="font-size:20px; color:#6db1ca;"><!-- InstanceBeginEditable name="Header" -->Spiritual  Growth<!-- InstanceEndEditable --></p>
                                        <!-- InstanceBeginEditable name="ContentTxt" -->
                                        <p>Looking  to grow in your walk with the Lord? The Campus Pastors Office facilitates groups  throughout the semester to help you develop spiritually. For more information,  email <a href="mailto:CampusPastors@liberty.edu">CampusPastors@liberty.edu</a>.</p>
                                      <!-- InstanceEndEditable -->
                                    </td>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                </tr>
                                <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                <tr id="margin">
                                    <td colspan="5" width="600" height="35" style="width:600px; height:35px;"></td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                    <td colspan="3" width="500" align="left">
                                        <p style="font-size:20px; color:#6db1ca;"><!-- InstanceBeginEditable name="Header" -->CSER  Opportunities Available through Commuter Services<!-- InstanceEndEditable --></p>
                                        <!-- InstanceBeginEditable name="ContentTxt" -->
                                        <p>Are you looking for Center for  Christian/Community Service (CSER) opportunities for this semester? Contact <a href="mailto:commuter@liberty.edu?subject=CSER%20Opportunities">Commuter Services</a> for more information.</p>
<!-- InstanceEndEditable -->
                                    </td>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                </tr>
                                <!-- InstanceEndRepeatEntry --><!-- InstanceEndRepeat -->

                                
                                <tr id="margin">
                                    <td colspan="5" width="600" height="15" style="width:600px; height:15px;"></td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                    <td colspan="3" align="left" width="500">
                                        <p style="font-size:20px; color:#6db1ca;"><!-- InstanceBeginEditable name="TableHeader" -->Upcoming Events<!-- InstanceEndEditable --></p>
                                        <table class="events" width="500" cellpadding="7" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                            <!-- InstanceBeginRepeat name="AddRow" --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#FFFFFF">
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Women&rsquo;s  Soccer vs. UNC-Greensboro<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->Aug.  26, <br>
                                                    6 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->Osborne  Stadium<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/flames/index.cfm?PID=10854&TeamID=5" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#ececec">
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Mountain  Bike Ride<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->Aug.  26, <br>
                                                    6 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->Camp  Hydaway<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/campusrec/studentactivities/index.cfm?PID=30150" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#FFFFFF">
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Campus  Artist Series, featuring Arson&rsquo;s Harbor and David Duque<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->Aug.  28, <br>
                                                    8 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->LaHaye  Event Space<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/campusrec/studentactivities/index.cfm?PID=19464" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#ececec">
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->CSER  Fair<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->Aug.  28-29, <br>
                                                    9 a.m.-2 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->DeMoss  Hall, Back Hallway<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/index.cfm?PID=25972" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#FFFFFF">
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Men&rsquo;s  Soccer vs. Bluefield<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->Aug.  29, <br>
                                                    6 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->Osborne  Stadium<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/flames/index.cfm?PID=10854&TeamID=11" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#ececec">
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Movie  Marathon — &ldquo;Back to the Future I, II, and III&rdquo;<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->Aug.  30, <br>
                                                    6 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->LaHaye  Event Space<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/campusrec/studentactivities/index.cfm?PID=20631" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceEndRepeat -->
                                        </table>
                                    </td>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                </tr>
                                

                                

                                <tr>
                                    <td class="hider" width="50"></td>
                                    <td colspan="3" width="500" height="35" style="width:500px; height:35px; border-bottom:1px solid #cccccc;"></td>
                                    <td class="hider" width="50"></td>
                                </tr>
                                <tr id="margin">
                                    <td colspan="5" width="600" height="35" style="width:600px; height:35px;"></td>
                                </tr>
                                <tr>
                                    <td colspan="5" align="center">
                                        <img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00004_commuter_newsletter/CN_full_03.jpg" height="71" width="164" style="clear:both; border:none; display:block;">
                                    </td>
                                </tr>
                                <tr id="margin">
                                    <td colspan="5" width="600" height="15" style="width:600px; height:15px;"></td>
                                </tr>
                                <tr>
                                    <td colspan="5" width="600" align="center">
                                        <table class="res-table" width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                                            <tr>
                                                <td class="hider" width="80">
                                                    
                                                </td>
                                                <td align="center" width="440">
                                                    <strong><!-- InstanceBeginEditable name="ConnectedHeader" -->Stay connected with us!<!-- InstanceEndEditable --></strong>
                                                    <p style="font-size:12px; line-height:14px; -webkit-text-size-adjust: none;"><!-- InstanceBeginEditable name="ConnectedTxt" -->Are we friends yet? Add Commuter Services as your friend on Facebook and comment on our wall. Email <a href="mailto:commuter@liberty.edu" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">commuter@liberty.edu</a> to let us know if there is an event you would like us to host or post in our weekly newsletter.<!-- InstanceEndEditable --></p>
                                                </td>
                                                <td class="hider" width="80">
                                                    
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                
                                <tr id="margin">
                                    <td colspan="5" width="600" height="15" style="width:600px; height:15px;"></td>
                                </tr>
                                <tr>
                                    <td colspan="5" align="center">
                                        <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                                            <tr>
                                                <!-- InstanceBeginEditable name="Social" -->
                                                <td>
                                                    <a href="https://www.facebook.com/LUCommuterServices"><img class="smi" alt="facebook" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00004_commuter_newsletter/CN-mobile_01.jpg" width="30" style="clear:both; border:none; display:block;"></a>
                                                </td>
                                                <td>
                                                    <a href="http://twitter.com/libertyu"><img class="smi" alt="twitter" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00004_commuter_newsletter/CN-mobile_02.jpg" width="30" style="clear:both; border:none; display:block;"></a>
                                                </td>
                                                <td>
                                                    <a href="http://www.liberty.edu/libertytoday"><img class="smi" alt="liberty today" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00004_commuter_newsletter/CN-mobile_03.jpg" width="30" style="clear:both; border:none; display:block;"></a>
                                                </td>
                                                <td>
                                                    <a href="http://www.youtube.com/libertyuniversity"><img class="smi" alt="youtube" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00004_commuter_newsletter/CN-mobile_04.jpg" width="30" style="clear:both; border:none; display:block;"></a>
                                                </td>
                                                <!-- InstanceEndEditable -->
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <!-- Bottom Nav --><tr><td colspan="5"><table class="res-table" width="600" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="max-width:600px; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td class="bottomNav" align="center" style="font-size:.1em;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Academics</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Admissions</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Alumni</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Athletics</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">News</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Student Life</a></td></tr></table></td></tr><!-- End of bottom nav -->

                                <tr class="hider">
                                    <td colspan="5" width="600" height="15" style="width:600px; height:15px;"></td>
                                </tr>
                                <tr>
                                    <td colspan="5" id="footer" width="600" align="center">
                                        <table class="res-table" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;">
                                            <tr>
                                                <td class="canSpam" align="center" width="600" style="font-size:11px; line-height:20px; -webkit-text-size-adjust: none;">
                                                    <span class="cs_block">Liberty University <span class="hider">&nbsp;&#124;&nbsp; </span></span>
                                                    <span class="cs_block">1971 University Blvd. <span class="hider">&nbsp;&#124;&nbsp; </span></span>
                                                    <span class="cs_block">Lynchburg, Va. 24515 <span class="hider">&nbsp;&#124;&nbsp; </span></span>
                                                    <span class="cs_block">(434) 582-2000<span class="hider"><br></span></span>

                                                    <div class="pad" style="display:inline;">
                                                        <span class="cs_block">&copy; Copyright 2014 Liberty <span class="hider">&nbsp;&#124;&nbsp; </span></span>
                                                        <span class="cs_block">University is a Registered Trademark <span class="hider">&nbsp;&#124;&nbsp; </span></span>
                                                    </div>

                                                    <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#6db1ca; text-decoration:none; font-style:italic;">Privacy Policy</a> &nbsp;&#124;&nbsp; <span style="color:#6db1ca; font-size:12px; text-decoration:none; font-style:italic;">{%%UNSUBSCRIBELINK%%}</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr id="margin-bottom">
                                    <td colspan="5" width="600" height="35" style="width:600px; height:35px;"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="hider" id="footer-margin-bottom">
                    	<td width="600" height="40" style="width:600px; height:40px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table

    	</center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

