<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/Scaremare2014.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Scaremare is coming</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#000;
    background-color:#000000;
    line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
    list-style-type:square;
    line-height:22px;
}

h1
{
    font-size:22px;
}

h2
{
    font-size:18px;
    font-weight:normal;
}

p {
    margin-bottom: 1em;
}

@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 14px;
        line-height: 1.3em;
        border:0!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #0a254e;
        text-align: left;
        display: block!important;
    }
    
    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border-bottom: 2px solid #20406e;
        padding: 10px;
        text-transform: uppercase;
        color:#f8f8f8!important;
    }

    body[yahoo] .block {
        display:block!important;
    }

    body[yahoo] .res-img {
        width: 100%!important;
        height: auto!important;
    }

    body[yahoo] .res-margin {
        width: 3%!important;
    }

    body[yahoo] .res-content {
        /* specify a different font-size here if desired */
    }
}
</style>

<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#000000" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#000000;">
    <div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#000000; text-align:center;">
        <center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="3"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGNID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGNID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGNID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGNID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGNID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGNID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGNID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGNID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

            <table id="wrapper-table" class="res-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#000000" style="border-collapse:collapse; width:600px; clear:both; background-color:#000000;">
                <tbody>
                    <tr>
                        <td colspan="3">
                            <img alt="" class="res-img" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/12766_scaremare/Scaremare-First-Email-slices.jpg" height="206" width="600" style="clear:both; border:none; display:block;">
                        </td>
                    </tr>
                    <tr>
                        <td width="60">
                            
                        </td>
                        <td class="res-content" align="left" style="color:#ffffff;">
                            <!-- InstanceBeginEditable name="content" -->
                            <p>Dear  {%%FIRSTNAME%%},<br>
                              <br>
                                There&rsquo;s no  escaping the fright of Scaremare. Make plans now to take the terrifying 40-minute journey that  combines heart-pounding fun with a sobering discussion of what happens after  death.<br>
                                <br>
                                 Over the last two decades, approximately 26,000 people have made decisions for Christ through this event. </p>
                                                            <p>Don&rsquo;t miss the best Scaremare yet. </p>
                                                            <p><strong>When</strong>: <strong>Oct. 9-11; 16-18; 23-25 <br>
                                Dusk-11  p.m.</strong><br>
                                <br>
                                <strong>Where</strong>: <strong>2300 Carroll Ave. <br>
                                Lynchburg, Va.  24502</strong><br>
                                <br>
                                <strong>Parking</strong>: Guests are encouraged to park at  the Plaza, 2323 Memorial Avenue, Lynchburg, Va., and ride the shuttle to and  from the Scaremare house.</p>
                            <p>Group and Lineslasher tickets must be purchased <a href="https://www.ticketreturn.com/prod2/team.asp?sponsorid=4026#.U_9GShA0-hk&utm_source=Scaremare&utm_medium=Email&utm_campaign={%CAMPAIGN_ID%}">online</a> or by phone at (434) 582-7328. </p>
                            <p>For information on parking, ticket prices, and more, visit <a href="http://www.Scaremare.com?utm_source=Scaremare&utm_medium=Email&utm_campaign={%CAMPAIGN_ID%}">www.Scaremare.com</a> or email <a href="mailto:Scaremare@liberty.edu">Scaremare@liberty.edu</a>.</p>
                            <p>Sincerely,</p>
                            <div id="signature-1971" style="color: #F9F2F2; font-family: Arial, Helvetica, sans-serif; font-size: 11px;">
                              <p> <b> Steve Vandegriff</b><br>
                                <em>Director</em><br>
                                <b>Scaremare</b> </p>
                              <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature-wht.png"><br>
                              <em style="color: #F8F3F3; font-family: 'Times New Roman', Times, serif;">Liberty University  |  Training Champions for Christ since 1971</em> </div>
<!-- InstanceEndEditable -->
                        </td>
                        <td width="60">
                            
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <br><br><br>
                            <video class="single res-img" controls poster="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_11081_scaremare/Scaremare-First-Email_02.jpg" style="width:600px; margin: 0!important; padding: 0;">
                                <source type="video/webm" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_11081_scaremare/SCAREMARE_2014_THERE'S_NO_ESCAPE_720P.webmhd.webm">
                                <source type="video/mp4" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_11081_scaremare/SCAREMARE_2014_THERE'S_NO_ESCAPE_720P.mp4">
                                 <!-- Fallback if HTML5 video is not supported -->
                                <a href="https://www.youtube.com/watch?v=bM_uHSPhE0c&feature=youtu.be"><img class="res-img" border="0" alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_11081_scaremare/Scaremare-First-Email_02.jpg" label="Fallback Image" width="600" height="338"></a>
                            </video>
                            <br><br><br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="center">
                            <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/12766_scaremare/Scaremare-First-Email-logo.jpg" height="109" width="230" style="clear:both; border:none; display:block; max-width:40%; height:auto;">
                        </td>
                    </tr>
                    <tr id="footer-margin-top">
                        <td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr id="footer">
                        
                        <td id="footer-middle" colspan="3" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#fff;">
                            <span class="res-block">
                                Liberty University <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                1971 University Blvd. <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                Lynchburg, Va. 24515 <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                (434) 582-2000<br></span>
                            <span class="res-block">
                                &copy; Copyright {%%CYEAR%%} <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                Liberty University is a Registered Trademark <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#aaa; text-decoration:none;">Privacy Policy</a><br></span>
                            <span class="res-block">{%%UNSUBSCRIBELINK%%}</span>
                        </td>
                        
                    </tr>
                    <tr id="footer-margin-bottom">
                        <td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
        </center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

