<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/Homecoming2014.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	background-color:#e8e8e8;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}

@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 16px!important;
        line-height: 1.3em;
        border:0!important;
    }

    body[yahoo] .content {
        padding:10px 20px;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] #res-img {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] #sm td {
        width:27%;
        text-align:center;
        padding:10px;
        background:#990000;
        border-bottom:1px solid #da0000;
        border-top:1px solid #e50000;
    }

    body[yahoo] #sm td a {
        text-decoration:none;
    }

    body[yahoo] .fb img, .tw img, .hs img {
        display:none!important;
    }

    body[yahoo] .fb:nth-of-type(1):before { content: "Facebook"; font-weight: 400; color:#ffffff; }
    body[yahoo] .tw:nth-of-type(1):before { content: "Twitter"; font-weight: 400; color:#ffffff; }
    body[yahoo] .hs:nth-of-type(1):before { content: "#ProudLUAlum"; font-weight: 400; color:#ffffff; }


    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #0a254e;
        text-align: center;
        display: block!important;
    }
    
    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border-bottom: 2px solid #20406e;
        padding: 10px;
        text-transform: uppercase;
        color:#f8f8f8!important;
    }

    body[yahoo] .res-block {
        display:block!important;
    }
}
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->

<!-- InstanceParam name="Photo Header" type="boolean" value="true" -->
<!-- InstanceParam name="Save The Date Header" type="boolean" value="false" -->
</head>

<body bgcolor="#ffffff" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#e8e8e8;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#e8e8e8; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
    		<table class="res-table" id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#ffffff" style="border-collapse:collapse; width:600px; clear:both; background-color:#ffffff;">
            	<tbody>
            		<tr>
                        
            			<td colspan="3">
            				<img id="res-img" alt="2014 Liberty University Homecoming" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/16593_homecoming_14/16593_01.jpg" height="196" width="600" style="clear:both; border:none; display:block;">
            			</td>
                        
                        
            		</tr>
                	<tr class="hider" id="header-margin-top">
                    	<td colspan="3" width="600" height="50" style="width:600px; height:50px;"></td>
                    </tr>
                    <tr>
                    	<td class="hider" width="70">
                    		<img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00060_autoemail/spacer.png" height="1" width="70" style="clear:both; border:none; display:block;">
                    	</td>
                    	<td class="content" align="left" width="460">
                            <!-- InstanceBeginEditable name="Content" -->
                    		<p>Dear {%%FIRSTNAME%%},<br>
 <br>
We're so glad you joined us for  Homecoming 2014! </p>
                            <p>We are always encouraged to see alumni  gathering with family and friends, celebrating all that God has done and  continues to do at Liberty University. Thank  you for joining us for a record-breaking year. We had the highest number of Homecoming  registrants in history, and you helped us set a fan attendance record at  Williams Stadium.</p>
<p>We want to make sure that you and your  family continue to have great Homecoming experiences, so we need your input.  Please help us prepare for Homecoming 2015 by taking this short survey.</p>
                            <p align="center"><br>
                              <a href="https://liberty.co1.qualtrics.com/SE/?SID=SV_5AWiCyr2ibhn4Mt"><img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00008_buttons/start-survey.png" width="146" height="52" border="0" style="width:146px; height:52px; border:none;"></a><br>
                            </p>
                            <p><strong><br>
                            Alumni  that complete the survey will be entered to win an <a href="http://www.liberty.edu/alumni/index.cfm?PID=26073">OGIO</a> Liberty  Alumni/Sparky laptop backpack ($40 value).</strong></p>
<p>Thank you for your help!</p>
<div class="liberty_sig">
  <div id="signature-2" style="color:#0a254e; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; line-height:13px">
    <p><b>Tyler Falwell</b><br>
      <em>Director</em><br>
      <b>Alumni Relations</b></p>
    <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png">
    <p><em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University  |  Training Champions for Christ since 1971</em></p>
  </div>
</div>
<div id="signature-" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;"></div>
<div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:15px;"></div>
                            <!-- InstanceEndEditable -->
                    	</td>
                    	<td class="hider" width="70">
                    		<img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00060_autoemail/spacer.png" height="1" width="70" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr>
                    <tr class="hider">
                        <td colspan="3">
                            <table class="res-table" width="600" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                                <tr>
                                    <td align="left">
                                        <img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/16593_homecoming_14/16593_07.jpg" height="83" width="150" style="clear:both; border:none; display:block;">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                    	<td colspan="3">
                    		<table id="sm" class="res-table" width="600" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                    			<tr>
			                    	<td>
			                    		<a href="https://www.facebook.com/libertyuniversityalumni"><span class="fb"><img id="res-img" alt="Facebook" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/16593_homecoming_14/16593_09.jpg" height="39" width="247" style="clear:both; border:none; display:block;"></span></a>
			                    	</td>
			                    	<td>
			                    		<a href="https://twitter.com/LibertyUAlum"><span class="tw"><img id="res-img" alt="Twitter" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/16593_homecoming_14/16593_10.jpg" height="39" width="104" style="clear:both; border:none; display:block;"></span></a>
			                    	</td>
			                    	<td>
			                    		<span class="hs"><img id="res-img" alt="#ProudLUAlum" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/16593_homecoming_14/16593_11.jpg" height="39" width="249" style="clear:both; border:none; display:block;"></span>
			                    	</td>
			                    </tr>
                    		</table>
                    	</td>
                    </tr>
                    

                    <!-- Bottom Nav --><!--[if !mso]><!-- --><tr><td colspan="5"><table class="res-table" width="600" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="max-width:600px; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td class="bottomNav" align="center" style="font-size:.1em; display:none;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Academics</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Admissions</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Alumni</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Athletics</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">News</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Student Life</a></td></tr></table></td></tr><!--<![endif]--><!-- End of bottom nav -->

                    

                    <tr id="footer-margin-top">
                    	<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr id="footer">
                    	
                    	<td id="footer-middle" colspan="3" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666;">
                        	<span class="res-block">
                                Liberty University <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                1971 University Blvd. <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                Lynchburg, Va. 24515 <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                (434) 582-2000<br></span>
                            <span class="res-block">
                                &copy; Copyright 2014 <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                Liberty University is a Registered Trademark <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#444; text-decoration:none;">Privacy Policy</a><br></span>
                            <span class="res-block">{%%UNSUBSCRIBELINK%%}</span>
                        </td>
                    	
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
    	</center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

