<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/CommuterNewsletter.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Got plans?</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body{min-width:100% !important; font-family:Times, 'Times New Roman', serif; font-size:14px; color:#636363; line-height:19px; background-color:#ffffff; margin:0; padding: 0;} .ReadMsgBody{width:100%;} .ExternalClass{width:100%;}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}

.canSpam a{
    color:#6db1ca!important;
    text-decoration:none;
    font-style:italic;
}

@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 16px;
        line-height:19px;
    }

    body[yahoo] .content {
        width: 90%!important;
        height: auto!important;
    }

    body[yahoo] .wrapping-border{
        border:none!important;
    }

    body[yahoo] .events {
        width: 100%!important;
        height: auto!important;
    }

    body[yahoo] .events td{
        display:block;
        padding:3px!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .smi {
        width:44px;
    }

    body[yahoo] .cs_block {
        display:block;
    }

    body[yahoo] .canSpam {
        line-height:15px!important;
    }

    body[yahoo] .pad {
        display:block!important;
        padding:15px 0;
    }

    body[yahoo] .bottomNav {
        padding:20px 0!important;
    }

    body[yahoo] .bottomNav a {
        width:75%;
        margin:10px 0;
        font-size: 18px;
        display:block;
        border: 1px solid #cccccc;
        padding: 10px;
        color:#636363!important;
    }
}
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->

<!-- InstanceParam name="Table" type="boolean" value="true" -->
<!-- InstanceParam name="AddSection" type="boolean" value="false" -->

</head>

<body bgcolor="#ffffff" yahoo="fix" style="margin:0; font-family:Times, 'Times New Roman', serif; font-size:14px; color:#636363; background-color:#ffffff;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Times, 'Times New Roman', serif; font-size:14px; color:#636363; background-color:#ffffff; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

    		<table class="res-table" id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#ffffff" style="border-collapse:collapse; width:600px; clear:both; background-color:#ffffff; mso-table-lspace:0pt; mso-table-rspace:0pt;">
            	<tbody>
                	<tr class="hider" id="header-margin-top">
                    	<td width="600" height="40" style="width:600px; height:40px;"></td>
                    </tr>
                    <tr>
                        <td class="wrapping-border" align="center" width="600" style="border:1px solid #cccccc;">
                            <table class="content" width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                <tr id="margin-top">
                                    <td colspan="5" width="600" height="40" style="width:600px; height:40px;"></td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                    <td colspan="3" class="header" width="500" align="center" style="text-transform:uppercase; font-size:30px; line-height:31px;">
                                        <!-- InstanceBeginEditable name="NewsletterHeader" -->Commuter Newsletter<!-- InstanceEndEditable -->
                                    </td>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50"></td>
                                    <td colspan="3" width="500" height="35" style="width:500px; height:35px; border-bottom:1px solid #cccccc;"></td>
                                    <td class="hider" width="50"></td>
                                </tr>
                                <!-- InstanceBeginRepeat name="AddSection" --><!-- InstanceBeginRepeatEntry -->
                                <tr id="margin">
                                    <td colspan="5" width="600" height="35" style="width:600px; height:35px;"></td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                    <td colspan="3" width="500" align="left">
                                        <p style="font-size:20px; color:#6db1ca;"><!-- InstanceBeginEditable name="Header" -->Spring  Plans Survey<!-- InstanceEndEditable --></p>
                                        <!-- InstanceBeginEditable name="ContentTxt" -->
                                        <p>Liberty  University is working hard to prepare for the Spring 2015 semester. In order to  best meet your enrollment needs, our office would like to stay up-to-date with  what you will be doing. Please complete our brief <a href="https://jfe.qualtrics.com/form/SV_b8CZH5pVjkMQ9N3?utm_source=Commuter%20Services&utm_medium=Email&utm_campaign=XXXXXX">survey</a> regarding your plans for the spring semester.  Thanks for your participation!</p>
                                        <!-- InstanceEndEditable -->
                                    </td>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                </tr>
                                <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                <tr id="margin">
                                    <td colspan="5" width="600" height="35" style="width:600px; height:35px;"></td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                    <td colspan="3" width="500" align="left">
                                        <p style="font-size:20px; color:#6db1ca;"><!-- InstanceBeginEditable name="Header" -->Commuter  Council Meeting<!-- InstanceEndEditable --></p>
                                        <!-- InstanceBeginEditable name="ContentTxt" -->
                                        <p>We want  your ideas for programs that would make being a commuter student easier. To  share your ideas, email <a href="mailto:commuter@liberty.edu?subject=Commuter%20Council%20Meeting">Commuter Services</a> about attending a Commuter Council Meeting.</p>
<!-- InstanceEndEditable -->
                                    </td>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                </tr>
                                <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                <tr id="margin">
                                    <td colspan="5" width="600" height="35" style="width:600px; height:35px;"></td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                    <td colspan="3" width="500" align="left">
                                        <p style="font-size:20px; color:#6db1ca;"><!-- InstanceBeginEditable name="Header" -->CSER  Opportunities Available<!-- InstanceEndEditable --></p>
                                        <!-- InstanceBeginEditable name="ContentTxt" -->
                                        <p>Are  you looking for Christian/Community Service (CSER) opportunities for this  semester? Visit our <a href="http://www.liberty.edu/studentaffairs/commuting/index.cfm?PID=30598&utm_source=Commuter%20Services&utm_medium=Email&utm_campaign=XXXXXX">website</a> for more information.</p>
                                      <!-- InstanceEndEditable -->
                                    </td>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                </tr>
                                <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                <tr id="margin">
                                    <td colspan="5" width="600" height="35" style="width:600px; height:35px;"></td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                    <td colspan="3" width="500" align="left">
                                        <p style="font-size:20px; color:#6db1ca;"><!-- InstanceBeginEditable name="Header" -->Join  a Commuter Connect Group<!-- InstanceEndEditable --></p>
                                        <!-- InstanceBeginEditable name="ContentTxt" -->
                                        <p>Commuter  Connect Groups are off-campus Bible studies or interest-based groups that help  connect commuters with each other and facilitate a closer walk with God. Visit  our <a href="http://www.liberty.edu/index.cfm?PID=30597&utm_source=Commuter%20Services&utm_medium=Email&utm_campaign=XXXXXX">website</a> for a list of Connect Groups. </p>
                                      <!-- InstanceEndEditable -->
                                    </td>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                </tr>
                                <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                <tr id="margin">
                                    <td colspan="5" width="600" height="35" style="width:600px; height:35px;"></td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                    <td colspan="3" width="500" align="left">
                                        <p style="font-size:20px; color:#6db1ca;"><!-- InstanceBeginEditable name="Header" -->Voter Registration<!-- InstanceEndEditable --></p>
                                        <!-- InstanceBeginEditable name="ContentTxt" -->
                                        <p>To vote in the Nov. 4 midterm elections for U.S. Senate and the 6th Congressional District, you must register to vote by Oct. 14. If you would like to register to vote, email <a href="mailto:vote@liberty.edu?utm_source=Commuter%20Services&utm_medium=Email&utm_campaign=XXXXXX">vote@liberty.edu</a> for more information.</p>
                                      <!-- InstanceEndEditable -->
                                    </td>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                </tr>
                                <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                <tr id="margin">
                                    <td colspan="5" width="600" height="35" style="width:600px; height:35px;"></td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                    <td colspan="3" width="500" align="left">
                                        <p style="font-size:20px; color:#6db1ca;"><!-- InstanceBeginEditable name="Header" -->Spiritual  Growth<!-- InstanceEndEditable --></p>
                                        <!-- InstanceBeginEditable name="ContentTxt" -->
                                        <p>Looking  to grow in your walk with the Lord? The <a href="http://www.liberty.edu/spirituallife/campuspastorsoffice/?utm_source=Commuter%20Services&utm_medium=Email&utm_campaign=XXXXXX">Campus  Pastors Office</a> facilitates groups throughout the semester to help you  develop spiritually. For more information, email <a href="mailto:CampusPastors@liberty.edu?utm_source=Commuter%20Services&utm_medium=Email&utm_campaign=XXXXXX">CampusPastors@liberty.edu</a>.</p>
                                      <!-- InstanceEndEditable -->
                                    </td>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                </tr>
                                <!-- InstanceEndRepeatEntry --><!-- InstanceEndRepeat -->

                                
                                <tr id="margin">
                                    <td colspan="5" width="600" height="15" style="width:600px; height:15px;"></td>
                                </tr>
                                <tr>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                    <td colspan="3" align="left" width="500">
                                        <p style="font-size:20px; color:#6db1ca;"><!-- InstanceBeginEditable name="TableHeader" -->Upcoming  Events<!-- InstanceEndEditable --></p>
                                        <table class="events" width="500" cellpadding="7" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                            <!-- InstanceBeginRepeat name="AddRow" --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#FFFFFF">
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Mountain  Bike Ride<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->Sept.  23, 6 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->Camp  Hydaway <!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/campusrec/studentactivities/index.cfm?PID=30150&utm_source=Commuter%20Services&utm_medium=Email&utm_campaign=XXXXXX" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#ececec">
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Men&rsquo;s  Soccer vs. Howard <!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->Sept.  23, 6 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->Osborne  Stadium<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/Flames/index.cfm?PID=10854&teamID=11&utm_source=Commuter%20Services&utm_medium=Email&utm_campaign=XXXXXX" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#FFFFFF">
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Volleyball  vs. Virginia <!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->Sept.  23, 7 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->Vines  Center <!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/flames/index.cfm?PID=10854&teamID=14&utm_source=Commuter%20Services&utm_medium=Email&utm_campaign=XXXXXX" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#ececec">
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->IT  Services Fair <!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->Sept.  25, 10 a.m.-3 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->Jerry  Falwell Library <!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/informationservices/index.cfm?PID=21157&utm_source=Commuter%20Services&utm_medium=Email&utm_campaign=XXXXXX" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#FFFFFF">
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Campus  Artist Series <!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->Sept.  25, 8 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->LaHaye  Event Space <!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/campusrec/studentactivities/index.cfm?PID=19464&utm_source=Commuter%20Services&utm_medium=Email&utm_campaign=XXXXXX" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#ececec">
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->La  Vida Latina Fun Friday <!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->Sept.  26, 11:30 a.m.-2 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->Green  Hall, Room 1878<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://events.liberty.edu/event/la_vida_latina_fun_friday_1187#.VBsGZGMXOhk?utm_source=Commuter%20Services&utm_medium=Email&utm_campaign=XXXXXX" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#FFFFFF">
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Field  Hockey vs. Ohio<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->Sept.  26, 3:30 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->Liberty  Field Hockey Field<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/flames/index.cfm?PID=10854&teamID=18&utm_source=Commuter%20Services&utm_medium=Email&utm_campaign=XXXXXX" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#ececec">
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Volleyball  vs. Radford<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->Sept.  26, 7 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->Vines  Center<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/flames/index.cfm?PID=10854&teamID=14&utm_source=Commuter%20Services&utm_medium=Email&utm_campaign=XXXXXX" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#FFFFFF">
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Men's  DI Hockey vs. Ithaca College<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->Sept.  26, 7 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->LaHaye  Ice Center<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/campusrec/clubsports/index.cfm?PID=25959&TeamID=2&utm_source=Commuter%20Services&utm_medium=Email&utm_campaign=XXXXXX" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#ececec">
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Andrew  Belle with special guest Rob Estevez<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->Sept.  26, 8 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->LaHaye  Event Space<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/campusrec/studentactivities/index.cfm?PID=19464&utm_source=Commuter%20Services&utm_medium=Email&utm_campaign=XXXXXX" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#FFFFFF">
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Men's  DII Hockey vs. West Chester University<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->Sept.  26, 9:45 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->LaHaye  Ice Center<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/campusrec/clubsports/index.cfm?PID=25959&TeamID=2&utm_source=Commuter Services&utm_medium=Email&utm_campaign=XXXXXX" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#ececec">
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Men's  DII Hockey vs. West Chester University<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->Sept.  27, 2:30 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->LaHaye  Ice Center<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/campusrec/clubsports/index.cfm?PID=25959&TeamID=5&utm_source=Commuter%20Services&utm_medium=Email&utm_campaign=XXXXXX" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#FFFFFF">
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Men's  DI Hockey vs. Ithaca College<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->Sept.  27, 7 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->LaHaye  Ice Center <!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/campusrec/clubsports/index.cfm?PID=25959&TeamID=2&utm_source=Commuter%20Services&utm_medium=Email&utm_campaign=XXXXXX" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#ececec">
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Trivia  Night <!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->Sept.  27, 8 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->LaHaye  Event Space<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/campusrec/studentactivities/index.cfm?PID=25820&utm_source=Commuter%20Services&utm_medium=Email&utm_campaign=XXXXXX" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#FFFFFF">
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Women's  DI Hockey vs. Washington Pride<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->Sept.  27, 9:45 p.m. <!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->LaHaye  Ice Center<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/campusrec/clubsports/index.cfm?PID=25959&TeamID=3&utm_source=Commuter%20Services&utm_medium=Email&utm_campaign=XXXXXX" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#ececec">
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->Learn  to Skate<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->Sept.  28, 5:30 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->LaHaye  Ice Center<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://events.liberty.edu/event/learn_to_skate_7423#.VBwip2MXOhk?utm_source=Commuter%20Services&utm_medium=Email&utm_campaign=XXXXXX" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
                                            <tr bgcolor="#FFFFFF">
                                                <td>
                                                    <!-- InstanceBeginEditable name="Event" -->An  Evening with U.S. Agency of International Development <!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="When" -->Sept.  29, 5:30 p.m.<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="Where" -->DeMoss  Hall, Room 1158<!-- InstanceEndEditable -->
                                                </td>
                                                <td>
                                                    <!-- InstanceBeginEditable name="link" -->
                                                    <a href="http://www.liberty.edu/academics/general/career/index.cfm?PID=30514&utm_source=Commuter%20Services&utm_medium=Email&utm_campaign=XXXXXX" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">Details</a>
                                                    <!-- InstanceEndEditable -->
                                                </td>
                                            </tr>
                                            <!-- InstanceEndRepeatEntry --><!-- InstanceEndRepeat -->
                                        </table>
                                    </td>
                                    <td class="hider" width="50">
                                        
                                    </td>
                                </tr>
                                

                                

                                <tr>
                                    <td class="hider" width="50"></td>
                                    <td colspan="3" width="500" height="35" style="width:500px; height:35px; border-bottom:1px solid #cccccc;"></td>
                                    <td class="hider" width="50"></td>
                                </tr>
                                <tr id="margin">
                                    <td colspan="5" width="600" height="35" style="width:600px; height:35px;"></td>
                                </tr>
                                <tr>
                                    <td colspan="5" align="center">
                                        <img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00004_commuter_newsletter/CN_full_03.jpg" height="71" width="164" style="clear:both; border:none; display:block;">
                                    </td>
                                </tr>
                                <tr id="margin">
                                    <td colspan="5" width="600" height="15" style="width:600px; height:15px;"></td>
                                </tr>
                                <tr>
                                    <td colspan="5" width="600" align="center">
                                        <table class="res-table" width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                                            <tr>
                                                <td class="hider" width="80">
                                                    
                                                </td>
                                                <td align="center" width="440">
                                                    <strong><!-- InstanceBeginEditable name="ConnectedHeader" -->Stay connected with us!<!-- InstanceEndEditable --></strong>
                                                    <p style="font-size:12px; line-height:14px; -webkit-text-size-adjust: none;"><!-- InstanceBeginEditable name="ConnectedTxt" -->Are we friends yet? Add Commuter Services as your friend on Facebook and comment on our wall. Email <a href="mailto:commuter@liberty.edu" style="text-decoration:none; color:#6db1ca; font-size:16px; font-style:italic;">commuter@liberty.edu</a> to let us know if there is an event you would like us to host or post in our weekly newsletter.<!-- InstanceEndEditable --></p>
                                                </td>
                                                <td class="hider" width="80">
                                                    
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                
                                <tr id="margin">
                                    <td colspan="5" width="600" height="15" style="width:600px; height:15px;"></td>
                                </tr>
                                <tr>
                                    <td colspan="5" align="center">
                                        <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                                            <tr>
                                                <!-- InstanceBeginEditable name="Social" -->
                                                <td>
                                                    <a href="https://www.facebook.com/LUCommuterServices"><img class="smi" alt="facebook" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00004_commuter_newsletter/CN-mobile_01.jpg" width="30" style="clear:both; border:none; display:block;"></a>
                                                </td>
                                                <td>
                                                    <a href="http://twitter.com/libertyu"><img class="smi" alt="twitter" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00004_commuter_newsletter/CN-mobile_02.jpg" width="30" style="clear:both; border:none; display:block;"></a>
                                                </td>
                                                <td>
                                                    <a href="http://www.liberty.edu/libertytoday"><img class="smi" alt="liberty today" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00004_commuter_newsletter/CN-mobile_03.jpg" width="30" style="clear:both; border:none; display:block;"></a>
                                                </td>
                                                <td>
                                                    <a href="http://www.youtube.com/libertyuniversity"><img class="smi" alt="youtube" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00004_commuter_newsletter/CN-mobile_04.jpg" width="30" style="clear:both; border:none; display:block;"></a>
                                                </td>
                                                <!-- InstanceEndEditable -->
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <!-- Bottom Nav --><tr><td colspan="5"><table class="res-table" width="600" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="max-width:600px; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td class="bottomNav" align="center" style="font-size:.1em;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Academics</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Admissions</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Alumni</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Athletics</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">News</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">Student Life</a></td></tr></table></td></tr><!-- End of bottom nav -->

                                <tr class="hider">
                                    <td colspan="5" width="600" height="15" style="width:600px; height:15px;"></td>
                                </tr>
                                <tr>
                                    <td colspan="5" id="footer" width="600" align="center">
                                        <table class="res-table" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;">
                                            <tr>
                                                <td class="canSpam" align="center" width="600" style="font-size:11px; line-height:20px; -webkit-text-size-adjust: none;">
                                                    <span class="cs_block">Liberty University <span class="hider">&nbsp;&#124;&nbsp; </span></span>
                                                    <span class="cs_block">1971 University Blvd. <span class="hider">&nbsp;&#124;&nbsp; </span></span>
                                                    <span class="cs_block">Lynchburg, Va. 24515 <span class="hider">&nbsp;&#124;&nbsp; </span></span>
                                                    <span class="cs_block">(434) 582-2000<span class="hider"><br></span></span>

                                                    <div class="pad" style="display:inline;">
                                                        <span class="cs_block">&copy; Copyright 2014 Liberty <span class="hider">&nbsp;&#124;&nbsp; </span></span>
                                                        <span class="cs_block">University is a Registered Trademark <span class="hider">&nbsp;&#124;&nbsp; </span></span>
                                                    </div>

                                                    <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#6db1ca; text-decoration:none; font-style:italic;">Privacy Policy</a> &nbsp;&#124;&nbsp; <span style="color:#6db1ca; font-size:12px; text-decoration:none; font-style:italic;">{%%UNSUBSCRIBELINK%%}</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr id="margin-bottom">
                                    <td colspan="5" width="600" height="35" style="width:600px; height:35px;"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="hider" id="footer-margin-bottom">
                    	<td width="600" height="40" style="width:600px; height:40px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table

    	</center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

