<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/HumanResources.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
	margin:0;
    padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	background-color:#e0e0e0;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}

a {
    color: #20406e;
    text-decoration: none;
}

.cannSpam {
    display: inline;
}

#footer a {
    color: #20406e;
    text-decoration: none;
}

@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 15px;
        line-height: 1.3em;
    }

    body[yahoo] .bar img{
        width: 95%!important;
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .res-table2 {
        width: 95%!important;
        height: auto!important;
        font-size: 15px;
        line-height: 1.3em;
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .header {
        padding:0 20px;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .margin {
        width: 22px!important;
    }

    body[yahoo] .margin-tb {
        height: 22px!important;
    }

    body[yahoo] .bottomNav {
        width: 100%;
        text-align: center;
        padding:20px;
    }

    body[yahoo] .bottomNav a {
        margin:12px 0;
        font-size: 18px;
        display:block;
        border: 1px solid #a6a6a6;
        background-color: #ccc;
        padding: 10px;
        color:#7f7f7f!important;
        text-shadow: 0 1px 0 #ffffff;
        box-shadow: 0 1px 0 #ffffff;
        border-radius: 3px;
    }

    body[yahoo] .cannSpam {
        display: block;
    }
}

@media screen and (max-width: 380px) {
    body[yahoo] .hider2 {
        display:none;
    }
}
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#e0e0e0" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#e0e0e0;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#e0e0e0; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

    		<table class="res-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#e0e0e0" style="border-collapse:collapse; width:600px; clear:both; background-color:#e0e0e0;">
            	<tbody>
                	<tr id="header-margin-top">
                    	<td colspan="3" width="600" height="25" style="width:600px; height:25px;"></td>
                    </tr>
                    <tr>
                        <td align="left" class="header">
                            <img alt="Liberty University - Human Resources" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00006_hr/07746_03.jpg" height="63" width="154" style="clear:both; border:none; display:block;">
                        </td>
                        <td align="right" class="header" colspan="2">
                            <table class="res-table" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; font-size:14px; color:#15264d;">
                                <!-- InstanceBeginEditable name="ContactInfo" -->
                                <tr valign="top" align="right">
                                    <td class="hider2">
                                        <span style="text-decoration:none; color:#15264d;">(434) 592-7330</span>
                                    </td>
                                    <td>
                                        <a href="tel:434-592-7330"><img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00006_hr/07746_05.jpg" height="21" width="28" style="clear:both; border:none; display:block;"></a>
                                    </td>
                                </tr>
                                <tr valign="middle" align="right">
                                    <td class="hider2">
                                        <a href="mailto:hr@liberty.edu" style="text-decoration:none; color:#15264d;">HR@liberty.edu</a>
                                    </td>
                                    <td>
                                        <a href="mailto:hr@liberty.edu"><img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00006_hr/07746_07.jpg" height="20" width="28" style="clear:both; border:none; display:block;"></a>
                                    </td>
                                </tr>
                                <tr valign="bottom" align="right">
                                    <td class="hider2">
                                        <a href="http://www.liberty.edu/administration/humanresources" style="text-decoration:none; color:#15264d;">www.Liberty.edu/HR</a>
                                    </td>
                                    <td>
                                        <a href="http://www.liberty.edu/administration/humanresources"><img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00006_hr/07746_08.jpg" height="22" width="28" style="clear:both; border:none; display:block;"></a>
                                    </td>
                                </tr>
                                <!-- InstanceEndEditable -->
                            </table>
                        </td>
                    </tr>
                    <tr id="header-margin-top">
                        <td colspan="3" width="600" height="25" style="width:600px; height:25px;"></td>
                    </tr>
                    <tr>
                        <td colspan="3" width="600" style="width:600px;">
                            <table class="res-table2" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="border-collapse:collapse;">
                                <tr>
                                    <td class="margin-tb" colspan="3" width="600" height="43" style="width:600px; height:43px;">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="margin" valign="top" alight="left" width="43">
                                        <img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00006_hr/07746_11.jpg" height="30" width="16" style="clear:both; border:none; display:block;">
                                    </td>
                                    <td valign="top" align="left">
                                        <span style="color:#a6a6a6; font-size:30px; font-weight:bold; line-height:33px;"><!-- InstanceBeginEditable name="Header/Lead-In" -->Upcoming Convocation  Changes<!-- InstanceEndEditable --></span><br>
                                        <br>
                                        <!-- InstanceBeginEditable name="Content" -->
                                        <p>Dear {%%FIRSTNAME%%}, <br>
                                          <br>
                                        Faculty and staff who attend Convocation at Thomas Road  Baptist Church (TRBC) will not go to TRBC for Convocation on the following  days:</p>
                                        <ul>
                                          <li>Wednesday, Oct. 15</li>
                                          <li>Wednesday, Oct. 29</li>
                                        </ul>
                                        <p> Instead, these employees may <a href="http://liberty-university.churchonline.org/">stream Convocation</a> live from their computers.<br>
  <br>
  <strong>These instructions only apply to  employees who attend Convocation at TRBC; all other satellite locations will  remain in use for faculty and staff Convocation. </strong><br>
  <br>
                                          Thank you for your attention to this matter. <br>
                                          <br>
                                        Sincerely,</p>
<p style="color:#15264d;"><strong>Human Resources</strong></p>
                                        <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
                                        <em style="color:#900; font-family:'Times New Roman', Times, serif;"><span class="hider">Liberty University | </span>Training Champions for Christ since 1971</em>
                                        <!-- InstanceEndEditable -->
                                  </td>
                                    <td class="margin" width="43" style="width:43px;">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="margin-tb" colspan="3" width="600" height="43" style="width:600px; height:43px;">
                                        
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!--[if !MSO]><!-->
                    <tr>
                        <td class="bar" colspan="3" valign="top" height="20">
                            <img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00006_hr/07746_14.jpg" height="12" width="600" style="clear:both; border:none; display:block;">
                        </td>
                    </tr>
                     <!--<![endif]-->
                    <tr id="header-margin-top">
                        <td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr>
                        <td colspan="3" width="600" style="width:600px;">
                            <table cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;">
                                <tr>
                                    <td colspan="7" align="center" style="color:#7f7f7f; text-shadow: 0 1px 0 #ffffff;">
                                        Connect with us!
                                    </td>
                                </tr>
                                <tr>
                                    <!-- InstanceBeginEditable name="Social" -->
                                    <td>
                                        <a href="http://www.facebook.com/LibertyUniversity"><img alt="facebook" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00006_hr/07746_18.jpg" height="36" width="38" style="clear:both; border:none; display:block;"></a>
                                    </td>
                                    <td>
                                        <a href="https://twitter.com/libertyu"><img alt="twittier" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00006_hr/07746_19.jpg" height="36" width="36" style="clear:both; border:none; display:block;"></a>
                                    </td>
                                    <td>
                                        <a href="http://instagram.com/LibertyUniversity#"><img alt="instagram" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00006_hr/07746_20.jpg" height="36" width="41" style="clear:both; border:none; display:block;"></a>
                                    </td>
                                    <td>
                                        <a href="http://pinterest.com/liberty1971/"><img alt="pinterest" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00006_hr/07746_21.jpg" height="36" width="40" style="clear:both; border:none; display:block;"></a>
                                    </td>
                                    <td>
                                        <a href="https://foursquare.com/libertyu"><img alt="foursquare" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00006_hr/07746_22.jpg" height="36" width="40" style="clear:both; border:none; display:block;"></a>
                                    </td>
                                    <td>
                                        <a href="http://www.linkedin.com/company/liberty-university"><img alt="linkedin" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00006_hr/07746_23.jpg" height="36" width="40" style="clear:both; border:none; display:block;"></a>
                                    </td>
                                    <td>
                                        <a href="https://plus.google.com/b/113683687945407323830/113683687945407323830/posts"><img alt="google plus" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00015_recurring_templates/00006_hr/07746_24.jpg" height="36" width="38" style="clear:both; border:none; display:block;"></a>
                                    </td>
                                    <!-- InstanceEndEditable -->
                                </tr>
                            </table>
                        </td>
                    </tr>
                    

                    <!-- Bottom Nav --><tr><td colspan="5"><table class="res-table" width="600" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#e0e0e0" style="max-width:600px; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td class="bottomNav" align="center" style="font-size:.1em;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#e0e0e0; text-decoration:none;">About</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#e0e0e0; text-decoration:none;">Academics</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#e0e0e0; text-decoration:none;">Admissions</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#e0e0e0; text-decoration:none;">Alumni</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#e0e0e0; text-decoration:none;">Athletics</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#e0e0e0; text-decoration:none;">News</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#e0e0e0; text-decoration:none;">Student Life</a></td></tr></table></td></tr><!-- End of bottom nav -->

                    

                    <tr id="footer-margin-top">
                    	<td colspan="3" width="600" height="10" style="width:600px; height:10px;"></td>
                    </tr>
                    <tr id="footer">
                    	<td id="footer-middle" colspan="3" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#777;">
                        	<span class="cannSpam">Liberty University</span> <span class="hider">&nbsp;&bull;&nbsp; </span>
                            <span class="cannSpam">1971 University Blvd.</span> <span class="hider">&nbsp;&bull;&nbsp; </span>
                            <span class="cannSpam">Lynchburg, Va. 24515</span> <span class="hider">&nbsp;&bull;&nbsp; </span>
                            <span class="cannSpam">(434) 582-2000</span> <span class="hider">&nbsp;&bull;&nbsp; </span>
                            <span class="cannSpam">&copy; Copyright 2014</span><span class="hider"><br></span>
                            <span class="cannSpam">Liberty University is a Registered Trademark</span> <span class="hider">&nbsp;&bull;&nbsp; </span>
                            <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#20406e; text-decoration:none;">Privacy Policy</a> &nbsp;&bull;&nbsp;
                            <sapn style="color:#20406e!important; text-decoration:none!important;">
                                {%%UNSUBSCRIBELINK%%}
                            </span>
                        </td>
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table
    	</center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

