<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/LUO-Giveaways_20141125.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>The drawing ends tonight</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	background-color:#d9d9d9;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}

</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#d9d9d9" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#d9d9d9;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#d9d9d9; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

    		<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#d9d9d9" style="border-collapse:collapse; width:600px; clear:both; background-color:#d9d9d9;">
            	<tbody>
                	<tr id="header-margin-top">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <img alt="Register and Complete FCI for a Free T-Shirt" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_11545_luo_giveaway/LUO-Giveaways_03.jpg" height="149" width="600" style="clear:both; border:none; display:block;">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <img alt="Also be Entered Into Drawings to Win Great Prizes" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_11545_luo_giveaway/LUO-Giveaways_05.jpg" height="35" width="600" style="clear:both; border:none; display:block;">
                        </td>
                    </tr>
                    <tr>
                    	<td colspan="5">
                    		<table cellpadding="0" bgcolor="#ffffff" cellspacing="0" border="0" style="border-collapse:collapse;">
                    			<tr id="margin-top">
			                    	<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
			                    </tr>
                    			<tr>
                    				<td width="50">
                    					
                    				</td>
                    				<td width="500" align="left" style="width:500px;">
                                        <!-- InstanceBeginEditable name="content" -->
                    					<p>Dear {%%FIRSTNAME%%},</p>
										<p>When  you register for half-time status with at least one class in the Spring A, B,  or J sub-term, and complete Financial Check-In (FCI) by tonight before 11:59 p.m.  EST, you will be entered to win one of 250 Liberty University umbrellas.</p>
										<p>If you complete FCI for full-time status, you will also be  entered to win a 15% tuition discount* that has an average savings of $680.</p>
										<div align="left">
                    						<p align="center">
                    							<a href="http://www.liberty.edu/online/steps-to-financial-check-in/"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/cmp_11545_luo_giveaway/LUO-Giveaways_13.jpg" height="33" width="132" style="clear:both; border:none; display:block;"></a>
                    						</p>
                    					</div>
										
										<p>For more information, including promotion eligibility and  exclusions, please visit our <a href="http://www.liberty.edu/online/index.cfm?PID=27818">Promotion FAQ Web page</a>,  email <a href="mailto:LUOadvising@liberty.edu">LUOadvising@liberty.edu</a>, or  call (855) 466-9218.</p>
Sincerely,
										
										<div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:14px;">
										    <p>
										        <b>Tamela Crickenberger</b><br>
										        <em>Executive Director of Enrollment</em><br>
										        <b>Liberty University Online</b>
										    </p>
										    <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
										    <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University&nbsp;&nbsp;|&nbsp;&nbsp;Training Champions for Christ since 1971</em>
										</div>
                                        <!-- InstanceEndEditable -->
                    				</td>
                    				<td width="50">
                    					
                    				</td>
                    			</tr>
                    		</table>
                    	</td>
                    </tr>
                    <tr id="margin-bottom">
                        <td colspan="5" bgcolor="#ffffff" width="600" height="35" style="width:600px; height:35px;"></td>
                    </tr>
                    <tr>
                    	<td colspan="5">
                    		<table cellpadding="0" bgcolor="#eeeeee" cellspacing="0" border="0" style="border-collapse:collapse;">
                    			<tr id="margin-top">
			                    	<td colspan="3" width="600" height="25" style="width:600px; height:25px;"></td>
			                    </tr>
                    			<tr>
                    				<td width="25">
                    					
                    				</td>
                    				<td width="550" align="left" style="font-size:11px; line-height:14px; color:#4c4c4c;">
                    					<!-- InstanceBeginEditable name="extra" -->
                    					<p>*Average savings are an estimate; actual savings amount will  vary. This promotion cannot be combined with any other offers. The tuition  discount offered in this promotion is not stackable with any other  Liberty-given benefits, scholarships, or awards, and cannot be combined with  any other offers. Some restrictions may occur for this promotion to apply.  Students must maintain full-time enrollment, cannot be on financial aid  suspension or have any hard holds. This promotion excludes Active Faculty and  Staff, Non-Degree-Seeking, DGIA, Continuing Education, LUOA, and LUE.</p>
                    					<!-- InstanceEndEditable -->
                    				</td>
                    				<td width="25">
                    					
                    				</td>
                    			</tr>
                    		</table>
                    	</td>
                    </tr>
                    <tr id="margin-bottom">
                        <td colspan="5"  bgcolor="#eeeeee" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr>
                    	<td colspan="5">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/11407_11455_luo_lastchance/11455_16.jpg" height="21" width="600" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr>
                    

                    

                    

                    <tr id="footer-margin-top">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr id="footer">
                    	
                    	<td id="footer-middle" colspan="5" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666;">
                        	<span class="res-block">
                                Liberty University <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                1971 University Blvd. <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                Lynchburg, Va. 24515 <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                (434) 582-2000<br></span>
                            <span class="res-block">
                                &copy; Copyright 2014 <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                Liberty University is a Registered Trademark <span class="hider">&nbsp;&bull;&nbsp; </span></span>
                            <span class="res-block">
                                <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#444; text-decoration:none;">Privacy Policy</a><br></span>
                            <span class="res-block">{%%UNSUBSCRIBELINK%%}</span>
                        </td>
                    	
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->

    	</center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

