<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/ClubSports_VC.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#fff;
	background-color:#05111d;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
	margin-bottom: 1em;
}
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#05111d" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#fff; background-color:#05111d;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#fff; background-color:#05111d; text-align:center;">
		<center>
			<!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom:2px solid #20406e;"><tr><td colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="10" valign="middle"></td><td align="left" valign="middle"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img class="wordmark" alt="Liberty University" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" valign="middle" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif; color:#000000;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">About&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Academics&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Admissions&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Alumni&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Athletics&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">News&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Student Life</a></td><td class="hider" valign="middle" width="10"></td></tr></table></td></tr></table><!-- End of navigation -->
			
			

			<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#05111d" style="border-collapse:collapse; width:600px; clear:both; background-color:#05111d;">
				<tbody>
					<tr id="header-margin-top">
						<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
					</tr>
					<tr>
						<td colspan="3">
							<img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/24834_clubsport/24834_Club-Sports_VC_01.jpg" height="243" width="600" style="clear:both; border:none; display:block;">
						</td>
					</tr>
					<tr>
						<td width="90" bgcolor="#072744">
							<img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/24834_clubsport/margin.png" height="1" width="90" style="clear:both; border:none; display:block;">
						</td>
						<td bgcolor="#072744" align="left" style="color:#fff;">
							
								<!-- InstanceBeginEditable name="content" -->
								<p>Dear {%%FIRSTNAME%%},<br>
								  </p>
								<p>Merry Christmas from the Liberty  University Varsity Club!</p>
                                <p>As a special holiday promotion, we are  offering current members the chance to receive a FREE Under Armour Polo for referring  five teammates to join the Varsity Club! </p>
                                <p>When your teammates <a href="http://www.liberty.edu/flames/index.cfm?PID=28116" style="color:#00CCFF;">register online</a>,  make sure they include your name in the &ldquo;Student Info&rdquo; section under the  question &ldquo;How did you hear about Varsity Club?&rdquo; We will contact you once you  reach the minimum number of referrals.  </p>
                                <p>All the best to you and your family this  holiday season,                                </p>
                                <div class="liberty_sig">
                                  <div id="signature-1971" style="color:#ffffff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; line-height:13px">
                                    <p> <b>Jake Hannon</b><br>
                                      <em>Director</em><br>
                                      <b>Liberty University Varsity Club</b> </p>
                                    <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature-wht.png">
                                    <p><em style="color:#ffffff; font-family:'Times New Roman', Times, serif;">Liberty University  |  Training Champions for Christ since 1971</em></p>
                                  </div>
                                </div>
<!-- InstanceEndEditable -->
							
						</td>
						<td width="90" bgcolor="#072744">
							<img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/24834_clubsport/margin.png" height="1" width="90" style="clear:both; border:none; display:block;">
						</td>
					</tr>
					<tr>
						<td colspan="5">
							<img alt="." src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/24834_clubsport/24834_Club-Sports_VC_03.jpg" height="371" width="600" style="clear:both; border:none; display:block;">
						</td>
					</tr>
					<tr id="footer-margin-top">
						<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
					</tr>
					<tr id="footer">
						
						<td id="footer-middle" colspan="3" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666;">
							Liberty University &nbsp;&bull;&nbsp; 
							1971 University Blvd. &nbsp;&bull;&nbsp; 
							Lynchburg, Va. 24515 &nbsp;&bull;&nbsp; 
							(434) 582-2000<br>
							&copy; Copyright 2014 &nbsp;&bull;&nbsp; 
							Liberty University is a Registered Trademark &nbsp;&bull;&nbsp; 
							<a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#aaa; text-decoration:none;">Privacy Policy</a><br>
							{%%UNSUBSCRIBELINK%%}
						</td>
						
					</tr>
					<tr id="footer-margin-bottom">
						<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
					</tr>
				</tbody>
			</table><!-- end #wrapper-table -->
		</center>
	</div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>