<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/Schools-law_school2.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Help us prepare attorneys for the front lines</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333;
	background-color:#d7d7d7;
	line-height:19px;
}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

</style>
<!-- InstanceParam name="0Globalheader" type="boolean" value="true" -->
<!-- InstanceParam name="Social Media" type="boolean" value="true" -->
<!-- InstanceParam name="Phone / Email" type="boolean" value="true" -->
<!-- InstanceParam name="Video" type="boolean" value="true" -->
<!-- InstanceParam name="0Law2" type="boolean" value="false" -->
<!-- InstanceParam name="0Library" type="boolean" value="false" -->
<!-- InstanceParam name="0Table1" type="boolean" value="false" -->
<!-- InstanceParam name="0Table2" type="boolean" value="false" -->
<!-- InstanceParam name="0Law8" type="boolean" value="true" -->
<!-- InstanceParam name="0Experience1" type="boolean" value="false" -->
<!-- InstanceParam name="0Law11" type="boolean" value="false" -->
<!-- InstanceParam name="0Law12" type="boolean" value="false" -->
<!-- InstanceParam name="0Law13" type="boolean" value="false" -->
</head>

<body bgcolor="#d7d7d7" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333; background-color:#d7d7d7;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333; background-color:#d7d7d7; text-align:center;">
    	<center>
            
<!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom:2px solid #20406e;"><tr><td colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="10" valign="middle"></td><td align="left" valign="middle"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img class="wordmark" alt="Liberty University" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" valign="middle" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif; color:#000000;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">About&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Academics&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Admissions&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Alumni&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Athletics&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">News&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Student Life</a></td><td class="hider" valign="middle" width="10"></td></tr></table></td></tr></table><!-- End of navigation -->
            
    		<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="550" align="center" bgcolor="#d7d7d7" style="border-collapse:collapse; width:550px; clear:both; background-color:#d7d7d7;">
            	<tbody>
                	<tr id="header-margin-top">
                    	<td colspan="5" width="550" height="20" style="width:550px; height:20px;"></td>
                    </tr>
                    <tr id="header">
                    	<td colspan="5" width="550" height="210" style="width:550px; height:210px;">
                            <a href="#" style="display:block; clear:both; width:550px; height:210px; text-decoration:none;">
                            
                            
                            
                            
                            
                             <img id="header-image" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/18064_lawrebrand/18064_law8.jpg" width="550" height="210" border="0" style="display:block; clear:both; width:550px; height:210px; border:none;">
                            
                            
                            
                            
                            

                            </a>
                        </td>
                        
                    </tr>
                    <tr id="content-margin-top">
                    	<td colspan="5" width="550" height="40" bgcolor="#ffffff" style="width:550px; height:40px; background-color:#fff;"></td>
                    </tr>
                    <tr id="content">
                    	<td id="content-margin-left" colspan="2" width="40" height="350" bgcolor="#ffffff" style="width:40px; min-height:350px; background-color:#fff;"></td>
                        <td id="content-middle" width="470" bgcolor="#ffffff" align="left" valign="top" style="width:470px; min-height:350px; background-color:#fff; text-align:left; vertical-align:text-top; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333;">
							<!-- InstanceBeginEditable name="Content Body" -->
							<p>Dear {%%FIRSTNAME%%},</p>
                            <p> Each year the Ebenezer Scholarship Fund enables friends of Liberty, like you, to help Liberty University School of Law students who have exhausted other means of financial aid, but are still determined to earn their law degree at a Christian law school.</p>
                            <p> As these students graduate, they are serving  on the front lines of defending religious freedoms. Currently, Liberty Law  alumni work in both state and federal courthouses as well as in Congress.  Others are working in state and federal prosecutor&rsquo;s offices, nonprofit  organizations, and private practices. Many of these graduates received some  form of financial aid because of friends like you.<br>
                            </p>
                            <p>Soon you will receive a packet in the mail  detailing how you can  give to the Ebenezer Scholarship Fund. If you wish,  you can make your contribution now <a href="https://www.liberty.edu/index.cfm?PID=2051&payment_type=68&user_App_key=0">online</a> or by mailing your check made payable to:<br>
                              <br>
                              Liberty University School of Law <br>
                              Department of Institutional Advancement<br>
                              1971 University Blvd. <br>
                              Lynchburg, Va. 24515</p>
                            <p> Please earmark your check to the Ebenezer  Scholarship Fund. </p>
                            <p> For more information about the Ebenezer  Scholarship Fund and giving to Liberty University School of Law, contact our  Office of Institutional Advancement at (434) 592-5300.</p>
                            <p> Thank you for your prayers and your support  of Liberty University School of Law.</p>
Sincerely,
<div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
  <p><b>Rena  M. Lindevaldsen</b><br>
    <em>Interim  Dean</em><br>
    <b>School of Law</b></p>
  <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
  <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University  |  Training Champions for Christ since 1971</em> </div>
<!-- InstanceEndEditable -->
                        </td>
                    	<td id="content-margin-right" colspan="2" width="40" height="350" bgcolor="#ffffff" style="width:40px; min-height:350px; background-color:#fff;"></td>
                    </tr>
                    <tr id="content-margin-bottom">
                    	<td colspan="5" width="550" height="40" bgcolor="#ffffff" style="width:550px; height:40px; background-color:#fff;"></td>
                    </tr>
                    <!-- begin contact info -->
                    <tr id="contact-info-border-top">
                    	<td colspan="5" width="550" height="2" bgcolor="#aaaaaa" style="width:550px; height:2px; background-color:#aaa;"></td>
                    </tr>
                    <tr id="contact-info-margin-top">
                    	<td colspan="5" width="550" height="20" bgcolor="#f0f0f0" style="width:550px; height:20px; background-color:#f0f0f0;"></td>
                    </tr>
                    <tr id="contact-info">
                    	<td id="contact-info-margin-left" width="20" height="40" bgcolor="#f0f0f0" style="width:20px; min-height:40px; background-color:#f0f0f0;"></td>
                    	<td id="contact-info-middle" colspan="3" width="510" height="40" bgcolor="#f0f0f0" align="left" valign="middle" style="width:510px; min-height:40px; background-color:#f0f0f0; text-align:left; vertical-align:middle;">
                        	<table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;" align="left">
                            	<tbody>
                                	<tr>
                                    	<td width="358" height="34" align="left" valign="top">
                                        	<!-- begin social media -->
                                        	
                                            <table id="social-media" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                                                <tbody>
                                                    <tr>
                                                        <td width="16" height="16" align="left" valign="middle"><a href="https://www.facebook.com/LibertyUniversity"> <img src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/facebook-16.png" width="16" height="16" style="display:block; width:16px; height:16px; border:none; margin:0;" title="Like Us on Facebook"> </a></td>
                                                        <td width="8" height="16"></td>
                                                        <td height="16" align="left" valign="middle"><a href="https://www.facebook.com/LibertyUniversity" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666; text-decoration:none;" title="Like Us on Facebook">Like Us on Facebook</a></td>
                                                        <td width="20" height="16"></td>
                                                        <td width="16" height="16" align="left" valign="middle"><a href="#twitter"> <img src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/twitter-16.png" width="16" height="16" style="display:block; width:16px; height:16px; border:none; margin:0;" title="Follow Us on Twitter"> </a></td>
                                                        <td width="8" height="16"></td>
                                                        <td height="16" align="left" valign="middle"><a href="http://twitter.com/#!/libertyu" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666; text-decoration:none;" title="Follow Us on Twitter">Follow Us on Twitter</a></td>
                                                        <td width="20" height="16"></td>
                                                        <td width="1" height="16" bgcolor="#cccccc" style="background-color:#ccc;"></td>
                                                        <td width="20" height="16"></td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td colspan="8" height="2"></td>
                                                        <td width="1" height="2" bgcolor="#cccccc" style="background-color:#ccc;"></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="16" height="16" align="left" valign="middle"><a href="http://www.youtube.com/libertyuniversity"> <img src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/youtube-16.png" width="16" height="16" style="display:block; width:16px; height:16px; border:none; margin:0;" title="Watch Us on YouTube"></a></td>
                                                        <td width="8" height="16"></td>
                                                        <td height="16" align="left" valign="middle"><a href="http://www.youtube.com/libertyuniversity" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666; text-decoration:none;" title="Watch Us on YouTube">Watch Us on YouTube</a></td>
                                                        <td width="20" height="16"></td>
                                                        <td width="16" height="16" align="left" valign="middle"><a href="http://www.liberty.edu/libertytoday"> <img src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/lutoday-16.png" width="16" height="16" style="display:block; width:16px; height:16px; border:none; margin:0;" title="Watch Us on Vimeo"></a></td>
                                                        <td width="8" height="16"></td>
                                                        <td height="16" align="left" valign="middle"><a href="http://www.liberty.edu/libertytoday" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666; text-decoration:none;" title="Liberty Today App">Liberty Today App</a></td>
                                                        <td width="20" height="16"></td>
                                                        <td width="1" height="16" bgcolor="#cccccc" style="background-color:#ccc;"></td>
                                                        <td width="20" height="16"></td>
                                                    </tr>
                                                
                                                </tbody>
                                            </table>
                                            
                                            <!-- end social media -->
                                        </td>
                                        <td width="150" height="34" align="left" valign="top">
	                                        <!-- begin phone / e-mail -->
	                                        
                                            <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                                                <tbody>
                                                    <tr>
                                                        <td width="16" height="16" align="left" valign="middle"><img src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/phone.png" width="16" height="16" style="display:block; width:16px; height:16px; border:none; margin:0;"></td>
                                                        <td width="8" height="16"></td>
                                                        <td height="16" align="left" valign="middle"><!-- InstanceBeginEditable name="Phone Number" --><span style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666; text-decoration:none;">(434) 592-5300 </span><!-- InstanceEndEditable --></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" height="2"></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="16" height="16" align="left" valign="middle"><!-- InstanceBeginEditable name="E-mail Icon" --><a href="mailto:dmedwards@liberty.edu"> <img src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/e-mail.png" width="16" height="16" style="display:block; width:16px; height:16px; border:none; margin:0;" title="E-mail Us"></a><!-- InstanceEndEditable --></td>
                                                        <td width="8" height="16"></td>
                                                        <td height="16" align="left" valign="middle"><!-- InstanceBeginEditable name="E-mail Address" --><a href="mailto:dmedwards@liberty.edu" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666; text-decoration:none;" title="E-mail Us">dmedwards@liberty.edu</a><!-- InstanceEndEditable --></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            
	                                        <!-- end phone / e-mail -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    	<td id="contact-info-margin-right" width="20" height="40" bgcolor="#f0f0f0" style="width:20px; min-height:40px; background-color:#f0f0f0;"></td>
                    </tr>
                    <tr id="contact-info-margin-bottom">
                    	<td colspan="5" width="550" height="20" bgcolor="#f0f0f0" style="width:550px; height:20px; background-color:#f0f0f0;"></td>
                    </tr>
                    <!-- end contact info -->
                    <tr id="footer-margin-top">
                    	<td colspan="5" width="550" height="20" style="width:550px; height:20px;"></td>
                    </tr>
                    <tr id="footer">
                    	<td id="footer-margin-left" width="20" height="50" style="width:20px; min-height:50px;"></td>
                    	<td id="footer-middle" colspan="3" width="510" height="50" align="center" valign="top" style="width:510px; min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666;">
                        	Liberty University &nbsp;&bull;&nbsp; 
                            1971 University Boulevard &nbsp;&bull;&nbsp; 
                            Lynchburg, Va. 24515 &nbsp;&bull;&nbsp; 
                            (434) 582-2000<br>
                            &copy; Copyright 2014 &nbsp;&bull;&nbsp; 
                            Liberty University is a Registered Trademark &nbsp;&bull;&nbsp; 
                            <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#444; text-decoration:none;">Privacy Policy</a><br>
                            {%%UNSUBSCRIBELINK%%}
                        </td>
                    	<td id="footer-margin-right" width="20" height="50" style="width:20px; min-height:50px;"></td>
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="5" width="550" height="20" style="width:550px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
    	</center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

