<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- TemplateBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	background-color:#d7d7d7;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
	margin-top:0;
    margin-bottom: 1em;
}
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->


<!-- TemplateParam name="Social Media" type="boolean" value="true" -->
<!-- TemplateParam name="Phone / Email" type="boolean" value="true" -->
<!-- TemplateParam name="Video" type="boolean" value="true" -->
<!-- TemplateParam name="Header - Blue Stitched" type="boolean" value="true" -->
<!-- TemplateParam name="Header - Grey Stitched" type="boolean" value="false" -->
<!-- TemplateParam name="Header - Blue Grunge" type="boolean" value="false" -->
<!-- TemplateParam name="Header - Blue Silhouette" type="boolean" value="false" -->
<!-- TemplateParam name="Header - Falwell Library" type="boolean" value="false" -->
</head>

<body bgcolor="#d7d7d7" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#d7d7d7;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#d7d7d7; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom:2px solid #20406e;"><tr><td colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="10" valign="middle"></td><td align="left" valign="middle"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img class="wordmark" alt="Liberty University" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" valign="middle" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif; color:#000000;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">About&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Academics&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Admissions&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Alumni&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Athletics&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">News&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Student Life</a></td><td class="hider" valign="middle" width="10"></td></tr></table></td></tr></table><!-- End of navigation -->

    		<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#ffffff" style="border-collapse:collapse; width:600px; clear:both; background-color:#ffffff;" >
            	<tbody>
                    <tr>
                    	<td colspan="7">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/19614_re_ff_and_mlm/19614_FF_01.jpg" height="288" width="600" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr>
                    <tr>
                    	<td width="35">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/00067_html5_test/autoresponse/spacer.png" height="1" width="35" style="clear:both; border:none; display:block;">
                    	</td>
                    	<td width="2" bgcolor="#0a254e">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/00067_html5_test/autoresponse/spacer.png" height="1" width="2" style="clear:both; border:none; display:block;">
                    	</td>
                    	<td width="35">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/00067_html5_test/autoresponse/spacer.png" height="1" width="35" style="clear:both; border:none; display:block;">
                    	</td>
                    	<td width="458">
                            <!-- TemplateBeginEditable name="content" -->
                    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, deserunt, atque, dolore nesciunt alias corporis aliquam temporibus minus excepturi officiis voluptatum debitis itaque commodi. Doloribus, at inventore odio dolores suscipit.</p>
                    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, repudiandae, laborum a optio quaerat facilis eum maxime repellat facere deserunt cumque dolore eos corrupti ratione eius reiciendis ex fugit sapiente!</p>
                    		<p align="center"><a href="#paste-url-here" style="display:block; clear:both; width:139px; height:52px; margin:0 20px 20px 0; text-decoration:none;"><img src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/19614_re_ff_and_mlm/19614_FF_startSurvey.jpg" width="139" height="52" border="0" style="width:146px; height:52px; border:none;"></a></p>
                    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, nemo nulla enim tenetur itaque nostrum accusamus! Possimus, repudiandae, nobis dolorum aut fuga deserunt iure distinctio necessitatibus hic pariatur porro dolorem.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, quia, cupiditate dolore pariatur nesciunt nihil officiis minus numquam deserunt minima excepturi sint a laborum animi eligendi eveniet saepe quae inventore.</p>
                            <!-- TemplateEndEditable -->
                    	</td>
                    	<td width="34">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/00067_html5_test/autoresponse/spacer.png" height="1" width="34" style="clear:both; border:none; display:block;">
                    	</td>
                    	<td width="2" bgcolor="#0a254e">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/00067_html5_test/autoresponse/spacer.png" height="1" width="2" style="clear:both; border:none; display:block;">
                    	</td>
                    	<td width="34">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/00067_html5_test/autoresponse/spacer.png" height="1" width="34" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr>
                    <tr>
                    	<td colspan="7">
                    		<table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                    			<tr>
                    				<td width="179">
                    					<img alt="(434) 582-2064" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/19614_re_ff_and_mlm/19614_FF_03.jpg" height="91" width="179" style="clear:both; border:none; display:block;">
                    				</td>
                    				<td width="212">
                    					<a href="mailto:visitorcenter@liberty.edu" target="_top"><img alt="E-Mail" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/19614_re_ff_and_mlm/19614_FF_04.jpg" height="91" width="212" style="clear:both; border:none; display:block;"></a>
                    				</td>
                    				<td width="209">
                    					<a href="http://www.liberty.edu/undergrad/"><img alt="Liberty.edu" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/19614_re_ff_and_mlm/19614_FF_05.jpg" height="91" width="209" style="clear:both; border:none; display:block;"></a>
                    				</td>
                    			</tr>
                    		</table>
                    	</td>
                    </tr>
                    <tr id="footer-margin-top">
                        <td colspan="7" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <table class="td_break" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">

                                <tr align="center" valign="top">
                                    <td width="15">
                                    
                                    </td>
                                    <td class="social" width="148">
                                        <table class="social" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                                            <tr>
                                                <td colspan="7" style="text-transform:uppercase; border-bottom:5px solid #ffffff; font-size:12px;">
                                                    Stay Connected
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                <!-- InstanceBeginEditable name="Facebook" -->
                                                    <a href="https://www.facebook.com/LibertyUniversity?utm_source=liberty&utm_medium=email&utm_content=lufacebook&utm_campaign={%CAMPAIGN_ID%}"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/facebook-32.png" height="32" width="32" style="clear:both; border:none; display:block;"></a><!-- InstanceEndEditable -->
                                                </td>
                                                <td class="hider" width="10">
                                                    
                                                </td>
                                                <td align="left">
                                                 <!-- InstanceBeginEditable name="Twitter" -->
                                                    <a href="http://twitter.com/libertyu?utm_source=liberty&utm_medium=email&utm_content=lutwitter&utm_campaign={%CAMPAIGN_ID%}"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/twitter-32.png" height="32" width="32" style="clear:both; border:none; display:block;"></a><!-- InstanceEndEditable -->
                                                </td>
                                                <td class="hider" width="10">
                                                    
                                                </td>
                                                <td align="left">
                                                 <!-- InstanceBeginEditable name="YouTube" -->
                                                    <a href="http://www.youtube.com/libertyuniversity?utm_source=liberty&utm_medium=email&utm_content=luyoutube&utm_campaign={%CAMPAIGN_ID%}"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/youtube-32.png" height="32" width="33" style="clear:both; border:none; display:block;"></a><!-- InstanceEndEditable -->
                                                </td>
                                                <td class="hider" width="10">
                                                    
                                                </td>
                                                <td align="left">
                                                    <a href="http://www.liberty.edu/libertytoday?utm_source=liberty&utm_medium=email&utm_content=lutoday&utm_campaign={%CAMPAIGN_ID%}"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/lutoday-32.png" height="32" width="32" style="clear:both; border:none; display:block;"></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td  class="hider" width="15" style="border-right:1px solid #8a8a8a;">
                                        
                                    </td>
                                    <td width="15">
                                        
                                    </td>
                                    <td align="left" width="185" style="font-size:11px; color:#555555; line-height:14px">
                                        <span style="text-transform:uppercase; font-size:12px; line-height:20px; color:#000000">Contact Us:</span><br>
                                        (434) 582-2064<br>
                                        <a href="mailto:visitorscenter@liberty.edu">visitorscenter@liberty.edu</a><br>
                                        <a href="http://www.Liberty.edu/visitus">www.Liberty.edu/visitus</a><br>
                                        <span style="text-transform:uppercase; font-size:12px; line-height:20px; color:#000000">Hours of Operation:</span><br>
                                        Monday-Friday 8:00 a.m.-9:00 p.m.<br>
                                        Saturday 8:30 a.m.-6:00 p.m.<br>
                                        Sunday 12:00 p.m.-6:00 p.m.
                                    </td>
                                    <td class="hider" width="15" style="border-right:1px solid #8a8a8a;">
                                        
                                    </td>
                                    <td width="15">
                                        
                                    </td>
                                    <td class="vid" width="175" height="120">
                                        <a href="https://www.youtube.com/watch?v=JotEKbPzhjw"><img alt="Watch Video" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/11364_visual_zen/Adm_vid.jpg" width="175" height="120" style="clear:both; border:none; display:block; background:#ccc;"></a>
                                    </td>
                                    <td width="15">
                                        
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    
                    <tr id="footer-margin-top">
                        <td colspan="7" width="600" height="30" style="width:600px; height:30px;"></td>
                    </tr>
                    <tr id="footer">
                    	
                    	<td id="footer-middle" colspan="7" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666;">
                        	Liberty University &nbsp;&bull;&nbsp; 
                            1971 University Blvd. &nbsp;&bull;&nbsp; 
                            Lynchburg, Va. 24515 &nbsp;&bull;&nbsp; 
                            (434) 582-2000<br>
                            &copy; Copyright 2014 &nbsp;&bull;&nbsp; 
                            Liberty University is a Registered Trademark &nbsp;&bull;&nbsp; 
                            <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#444; text-decoration:none;">Privacy Policy</a><br>
                            {%%UNSUBSCRIBELINK%%}
                        </td>
                    	
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="7" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
    	</center>
    </div><!-- end #wrapper -->
</body>
</html>

