<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/Schools-Law_School3.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Learn more about Liberty Law</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>
body
{
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	color:#000;
	background-color:#0A254E;
	margin:0;
}
</style>
<!-- InstanceParam name="0Globalheader" type="boolean" value="true" -->
<!-- InstanceParam name="header01" type="boolean" value="true" -->
<!-- InstanceParam name="header02" type="boolean" value="false" -->
<!-- InstanceParam name="header03" type="boolean" value="false" -->
<!-- InstanceParam name="header04" type="boolean" value="false" -->
</head>

<body style="background-color:#0A254E; margin:0;">
<center>
    
    <table id="brand_header" width="600" style="border-collapse:collapse; width:600px; border:none;" border="0">
                <tr>
                    <td height="10" colspan="17"></td>
                </tr>
                <tr valign="top" align="left" style="color:#af0000; font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;">
                    <td width="113" height="36"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img width="113" height="36" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/Liberty-University-wht.png" alt="Liberty University" style="border:none!important; width:113 px; height:36 px; padding:0; margin:0;"></a></td>
                    <td width="36"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img width="36" height="36" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/aboutliberty-wht.png" alt="About" style="border:none!important; width:36 px; height:36 px; padding:0; margin:0;"></a></td>
                    <td width="64"><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img width="64" height="36" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/academics-wht.png" alt="Academics" style="border:none!important; width:64 px; height:36 px; padding:0; margin:0;"></a></td>
                    <td width="68"><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img width="68" height="36" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/admissions-wht.png" alt="Admissions" style="border:none!important; width:68 px; height:36 px; padding:0; margin:0;"></a></td>
                    <td width="44"><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img width="44" height="36" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/alumni-wht.png" alt="Alumni" style="border:none!important; width:44 px; height:36 px; padding:0; margin:0;"></a></td>
                    <td width="52"><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img width="52" height="36" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/athletics-wht.png" alt="Athletics" style="border:none!important; width:52 px; height:36 px; padding:0; margin:0;"></a></td>
                    <td width="37"><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img width="37" height="36" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/news-wht.png" alt="News" style="border:none!important; width:37 px; height:36 px; padding:0; margin:0;"></a></td>
                    <td width="68"><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img width="68" height="36" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/studentlife-wht.png" alt="Student Life" style="border:none!important; width:68 px; height:36 px; padding:0; margin:0;"></a></td>
                    <td width="28">&nbsp;</td>
                    <td width="72"><img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/1971-wht.png" alt="Since 1971" width="72" height="36" style="height:36 px; width:72;"></td>
                </tr>
            </table>
            
</center>
<table id="wrapper" cellpadding="0" cellspacing="0" border="0" width="100%" height="100%" bgcolor="#0A254E"><tr><td width="100%" height="100%" bgcolor="#0A254E" align="center" valign="top">

<center>
<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="border-collapse:collapse;">
    <tr>
    	<td height="20" colspan="3"></td>
    </tr>
    <tr>
        <td align="left" valign="top" width="600" colspan="3">
        	<a href="http://law.liberty.edu">
	        	
                <img src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/18064_lawrebrand/new/18064_law1.jpg" width="600" height="244" border="0" style="display:block; clear:both; width:600px; height: 245px; border:none;" title="Liberty University - School of Law">
                
                
                
                
            </a>
        </td>
    </tr>
    <tr>
    	<td height="20" colspan="3" bgcolor="#ffffff" style="background-color:#fff;"></td>
    </tr>
    <tr>
    	<td width="20" bgcolor="#ffffff" style="background-color:#fff;"></td>
        <td id="content" width="560" height="150" bgcolor="#ffffff" align="left" valign="top" style="font-family:'Times New Roman', Times, serif; font-size:14px; color:#000; line-height:16px; background-color:#fff;"><!-- InstanceBeginEditable name="Content" -->
          <p>Dear {FIRSTNAME},  {OPENEDEMAILMARKER}<br>
            <br>
            Choosing a law school can be a daunting experience.  As a 2012 graduate of <a href="http://www.liberty.edu/law/index.cfm?PID=4932">Liberty University School of Law</a>, I can attest to the  superior quality of legal education that Liberty Law offers.<br>
  <br>
            Liberty Law equips every student with the skills to  succeed after law school. Its unrivaled,  six-semester <a href="http://www.liberty.edu/law/index.cfm?PID=24214">Lawyering Skills</a> program requires that students participate in a  moot court competition, interview a client, prepare a legal memorandum, draft a  complaint, conduct discovery, draft and negotiate a contract, and conduct  either a full criminal or civil trial. These experiences, along with  outstanding legal instruction, distinguish Liberty Law graduates from their  peers. <br>
  <br>
            Liberty Law provides a legal education with a  distinctively Christian worldview.
            Prior to attending law school, I had no idea how God  was going to use Liberty Law to grow my faith. In the classroom, professors  routinely integrate biblical principles into discussions of legal theory.</p>
          <p> As a  3L student, I participated in a men&rsquo;s Bible study led by one of my professors.  In this Bible study, my understanding of God&rsquo;s grace grew dramatically, and I  am stronger in my faith for it. Liberty University School of Law is unique in  that students  learn not only how to be effective attorneys, but also how  to glorify God through the practice of law. <br>
            <br>
            I am so thankful for my time at Liberty University School of Law, and I  highly recommend it to anyone considering law school.<br>
            <br>
            For more information about Liberty Law, call the  Office of Admissions  at (434) 592-5300, visit <a href="http://www.liberty.edu/law/">Law.Liberty.edu</a>, or email <a href="mailto:lawadmissions@liberty.edu">lawadmissions@liberty.edu</a>. You can also learn more about my  experience at Liberty Law by emailing me at <a href="mailto:metrammell@liberty.edu">metrammell@liberty.edu</a>. <br>
            <br>
            God Bless,            </p>
          <div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
            <div id="signature-" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
              <p> <b>Mark Trammell</b><br>
                <em>Legal Director</em><br>
                <b>Liberty Center for Law &amp; Policy</b> </p>
              <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
              <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University  |  Training Champions for Christ since 1971</em> </div>
</div>
        <!-- InstanceEndEditable --></td>
        <td width="20" bgcolor="#ffffff" style="background-color:#fff;"></td>
    </tr>
    <tr>
    	<td height="20" colspan="3" bgcolor="#ffffff" style="background-color:#fff;"></td>
    </tr>
    <tr>
    	<td height="20" colspan="3"></td>
    </tr>
    <tr>
    	<td colspan="3" style="font-family:Arial, Helvetica, sans-serif; color:#8ca4c7; font-size:11px; text-align:center;" align="center" valign="top">
        	Liberty University School of Law &bull; 1971 University Boulevard &bull; Lynchburg, Va. 24515 &bull;<!-- InstanceBeginEditable name="Phone" -->(434) 592-5300<!-- InstanceEndEditable --><br>
            &copy; Copyright <!-- InstanceBeginEditable name="Copyright" -->2014<!-- InstanceEndEditable --> &bull; Liberty University is a Registered Trademark &bull; <a href="http://www.liberty.edu/index.cfm?PID=6901" style="color:#5f88c3;">Privacy Policy</a><br> 
            {%%UNSUBSCRIBELINK%%}
        </td>
    </tr>
    <tr>
    	<td height="20" colspan="3"></td>
    </tr>
</table>
</center>

</td></tr></table><!-- end wrapper -->

</body>
<!-- InstanceEnd --></html>

