<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- TemplateBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<style>

body
{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#000000;
    background-color:#d7d7d7;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#C04E3A !important}

ul
{
    list-style-type:square;
    line-height:22px;
}

h1
{
    font-size:22px;
}

h2
{
    font-size:18px;
    font-weight:normal;
}

p {
    margin-bottom: 1em;
}

.cannSpam {
    display: inline;
}

#globalHeader, #globalFooter a {
    text-decoration: none!important;
}

@media screen and (max-width: 540px) {

    body[yahoo] .res-table {
        font-size: 15px;
        width: 100%!important; 
        text-align: left;
    }

    body[yahoo] #postcardImage {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }    

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    /*Bottom navigation CSS*/
    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #0a254e;
        text-align: left;
    }
    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border-bottom: 2px solid #20406e;
        padding: 10px;
        text-transform: uppercase;
    }
    /*End of bottom navigation CSS*/

    body[yahoo] #wrapper-table {
        /*width: 430px;*/
        width: 100%;
    }

    body[yahoo] .cannSpam {
        display: block;
    }
}
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->


<!-- TemplateParam name="Social Media" type="boolean" value="true" -->
<!-- TemplateParam name="Phone / Email" type="boolean" value="true" -->
<!-- TemplateParam name="Video" type="boolean" value="true" -->
<!-- TemplateParam name="Header - Blue Stitched" type="boolean" value="true" -->
<!-- TemplateParam name="Header - Grey Stitched" type="boolean" value="false" -->
<!-- TemplateParam name="Header - Blue Grunge" type="boolean" value="false" -->
<!-- TemplateParam name="Header - Blue Silhouette" type="boolean" value="false" -->
<!-- TemplateParam name="Header - Falwell Library" type="boolean" value="false" -->
</head>

<body bgcolor="#d7d7d7" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#d7d7d7;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#d7d7d7; text-align:center;">
    	<center>
            
            <!-- LUE Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td colspan="5"><table class="res-table" id="globalHeader" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse; font-family:Arial, Helvetica, sans-serif; font-size:14px; -webkit-text-size-adjust: none;"><tr><td class="hider" width="10"></td><td align="left" valign="middle"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img class="wordmark" alt="Liberty University" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png"height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" valign="middle" style="font-size:9px; font-family:Arial, Helvetica, sans-serif; line-height:15px; -webkit-text-size-adjust: none;"><a href="http://www.luonline.com/index.cfm?PID=21499" style="color:#f8f8f8; text-decoration:none;">Inicio</a><a href="http://www.luonline.com/index.cfm?PID=21548" style="color:#f8f8f8; text-decoration:none;">&nbsp;|&nbsp;Programas Acad&eacute;micos&nbsp;</a><a href="http://www.liberty.edu/online/index.cfm?PID=21549" style="color:#f8f8f8; text-decoration:none;">|&nbsp;&iquest;Por qu&eacute; LUE</a><a href="http://www.liberty.edu/online/index.cfm?PID=21542" style="color:#f8f8f8; text-decoration:none;">&nbsp;|&nbsp;Calendario Acad&eacute;mico</a><a href="http://www.liberty.edu/online/index.cfm?PID=21543" style="color:#f8f8f8; text-decoration:none;">&nbsp;|&nbsp;Plan de Graduaci&oacute;n</a><br><a href="http://www.liberty.edu/online/index.cfm?PID=21686" style="color:#f8f8f8; text-decoration:none;">Requisitos para Admisi&oacute;n</a><a href="http://www.liberty.edu/financeadmin/financialaid/index.cfm?PID=17844" style="color:#f8f8f8; text-decoration:none;">&nbsp;|&nbsp;Ayuda Financiera</a><a href="http://www.liberty.edu/index.cfm?PID=22090" style="color:#f8f8f8; text-decoration:none;">&nbsp;|&nbsp;Student Accounts en Espa&ntilde;ol</a></td><td class="hider" width="10"></td></tr></table></td></tr></table><!-- End of LUE navigation -->

    		<table id="wrapper-table" cellpadding="0" border="0" width="600" align="center" bgcolor="#d7d7d7" style="border-collapse:collapse; clear:both; background-color:#d7d7d7;">
                <tbody>
                    <tr class="hider" id="header-margin-top">
                        <td colspan="5" width="600" height="20" style="height:20px;"></td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <table class="res-table" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                <tr>
                                    <td colspan="5" width="600">
                                         <a href="https://www.liberty.edu/online/index.cfm?PID=23435"><img id="postcardImage" alt="Contrato Financiero" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/21077_lue_fci/21077_LUE_Summer-AB-FCI-Extension-Email-1_20140505.jpg" height="600" width="600" style="clear:both; border:none; display:block;"></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- LUE Bottom Nav --><table class="res-table" width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="max-width:600px; border-collapse:collapse;"><tr><td class="bottomNav" align="center" style="font-size:.1em; "><a href="http://www.luonline.com/index.cfm?PID=21499" style="color:#f8f8f8; text-decoration:none;">Inicio</a><a href="http://www.luonline.com/index.cfm?PID=21548" style="color:#f8f8f8; text-decoration:none;">Programas Acad&eacute;micos</a><a href="http://www.liberty.edu/online/index.cfm?PID=21549" style="color:#f8f8f8; text-decoration:none;">&iquest;Por qu&eacute; LUE</a><a href="http://www.liberty.edu/online/index.cfm?PID=21542" style="color:#f8f8f8; text-decoration:none;">Calendario Acad&eacute;mico</a><a href="http://www.liberty.edu/online/index.cfm?PID=21543" style="color:#f8f8f8; text-decoration:none;">Plan de Graduaci&oacute;n</a><a href="http://www.liberty.edu/online/index.cfm?PID=21686" style="color:#f8f8f8; text-decoration:none;">Requisitos para Admisi&oacute;n</a><a href="http://www.liberty.edu/financeadmin/financialaid/index.cfm?PID=17844" style="color:#f8f8f8; text-decoration:none;">Ayuda Financiera</a><a href="http://www.liberty.edu/index.cfm?PID=22090" style="color:#f8f8f8; text-decoration:none;">Student Accounts en Espa&ntilde;ol</a></td></tr></table><!-- End of Bottom Nav -->

            <table class="res-table" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                <tr id="footer-margin-top">
                        <td class="footerImage" colspan="5" width="600" height="20" style="height:20px;"></td>
                    </tr>
                    <tr id="footer">
                        <td id="footer-middle" colspan="5" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#777;">
                            <span class="cannSpam">Liberty University</span> <span class="hider">&nbsp;&bull;&nbsp; </span>
                            <span class="cannSpam">1971 University Blvd.</span> <span class="hider">&nbsp;&bull;&nbsp; </span>
                            <span class="cannSpam">Lynchburg, Va. 24515</span> <span class="hider">&nbsp;&bull;&nbsp; </span>
                            <span class="cannSpam">(434) 582-2000</span><br>
                            <span class="cannSpam">&copy; Copyright 2014</span> <span class="hider">&nbsp;&bull;&nbsp; </span>
                            <span class="cannSpam">Liberty University is a Registered Trademark</span> <span class="hider">&nbsp;&bull;&nbsp; </span>
                            <span class="cannSpam"><a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#444; text-decoration:none;">Privacy Policy</a><br></span>
                            <div class="cannSpam">{%%UNSUBSCRIBELINK%%}</div>
                        </td>
                        
                    </tr>
                    <tr id="footer-margin-bottom">
                        <td colspan="5" width="600" style="height:20px;"></td>
                    </tr>
            </table>
    	</center>
    </div><!-- end #wrapper -->
</body>
</html>

