<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/Schools-Law School.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Liberty University - School of Law</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>
body
{
	font-family:"Times New Roman", Times, serif;
	font-size:12px;
	color:#333;
	background-color:#041021;
	margin:0;
}
</style>
<!-- InstanceParam name="0Globalheader" type="boolean" value="true" -->
</head>

<body style="background-color:#041021; margin:0;">
<center>
    
<!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom:2px solid #20406e;"><tr><td colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="10" valign="middle"></td><td align="left" valign="middle"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img class="wordmark" alt="Liberty University" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" valign="middle" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif; color:#000000;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">About&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Academics&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Admissions&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Alumni&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Athletics&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">News&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Student Life</a></td><td class="hider" valign="middle" width="10"></td></tr></table></td></tr></table><!-- End of navigation -->
            
</center>
<table id="wrapper" cellpadding="0" cellspacing="0" border="0" width="100%" height="100%" bgcolor="#041021"><tr><td width="100%" height="100%" bgcolor="#041021" align="center" valign="top">

<center>
<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="border-collapse:collapse;">
    <tr>
    	<td height="20" colspan="3"></td>
    </tr>
    <tr>
        <td align="left" valign="top" width="600" colspan="3">
        	<a href="http://law.liberty.edu">
	        	<img src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/16408_schooloflawheader/16408_schooloflaw-header.jpg" width="600" height="245" border="0" style="display:block; clear:both; width:600px; height: 245px; border:none;" title="Liberty University - School of Law">
            </a>
        </td>
    </tr>
    <tr>
    	<td height="20" colspan="3" bgcolor="#ffffff" style="background-color:#fff;"></td>
    </tr>
    <tr>
    	<td width="20" bgcolor="#ffffff" style="background-color:#fff;"></td>
        <td id="content" width="560" height="450" bgcolor="#ffffff" align="left" valign="top" style="font-family:'Times New Roman', Times, serif; font-size:13px; color:#333; line-height:16px; background-color:#fff;"><!-- InstanceBeginEditable name="Content" -->
            <p>Dear  {%%FIRSTNAME%%},<br>
              <br>
Many law schools can be competitive while being aggressive in nature and practice. Instead of preparing legal professionals who seek justice, these  institutions foster a &ldquo;success-no-matter-the-cost&quot; mentality.</p>
            <p>At <a href="http://www.liberty.edu/law/index.cfm?PID=4932">Liberty University School of Law</a>, we believe that healthy competition and encouragement can complement each other. Our students are able to maintain the competitive spirit that motivates them, but still retain respect for their peers. </p>
            <p> <a href="http://www.liberty.edu/law/?PID=23188">Liberty Law teams</a> have consistently performed well against competitors,  winning numerous championships while exhibiting Christian values. In the  brief history of the school, Liberty Law students have attained the high levels of  recognition typically reserved for older law schools. Our students have consistently  proven that not all law schools take decades to achieve success.<br>
  <br>
              Here are  some examples of what our students have achieved:</p>
            <blockquote>
              <p>Liberty  Law&rsquo;s newly formed trial team won the National Championship in January 2013 at  the National American Bar Association (ABA) Arbitration Competition held in  Chicago.</p>
              <p>Caitlin  Pennell and Chelesea Surprenant, both 2013 graduates, placed second in the  American Bar Association (ABA) Regional Negotiation Tournament held in November  2012.  Overall, 24 teams nationwide advanced  to the ABA Nationals, with Liberty ranked at the very top. This was the fifth  time in six years that Liberty advanced to the ABA Nationals.</p>
              <p>The  mediation team advanced to both the regional finals and the national finals at  the ABA&rsquo;s Representation in Mediation Regional Competition in February 2013.</p>
              <p>Ethan  Hargraves (class of 2014) was named one of  two national winners of the<br>
2012-13 Rona R. Mears Student Writing Competition and Scholarship Award.</p>
            </blockquote>
            <p>Liberty Law students regularly outperform their peers, even those from more established schools. As your students explore their educational options, please encourage them to think about where they can get the best value for their tuition dollar. Encourage them to consider Liberty Law.<br>
              <br>
              Please let  me know if we can assist you or your students in any way. You may reach the  Office of Admissions at (434) 592-5300 or <a href="mailto:lawadmissions@liberty.edu">lawadmissions@liberty.edu</a>.</p>
Sincerely,        
<div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
  <p> <b>Annette Pettyjohn</b><br>
    <em>Director  of Admissions</em><br>
    <b>School of Law</b> </p>
  <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
  <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University  |  Training Champions for Christ since 1971</em> </div>
<!-- InstanceEndEditable --></td>
        <td width="20" bgcolor="#ffffff" style="background-color:#fff;"></td>
    </tr>
    <tr>
    	<td height="20" colspan="3" bgcolor="#ffffff" style="background-color:#fff;"></td>
    </tr>
    <tr>
    	<td height="20" colspan="3"></td>
    </tr>
    <tr>
    	<td colspan="3" style="font-family:Arial, Helvetica, sans-serif; color:#8ca4c7; font-size:11px; text-align:center;" align="center" valign="top">
        	Liberty University School of Law &bull; 1971 University Boulevard &bull; Lynchburg, Va. 24515 &bull;<!-- InstanceBeginEditable name="Phone" -->(434) 592-5300<!-- InstanceEndEditable --><br>
            &copy; Copyright <!-- InstanceBeginEditable name="Copyright" -->2014<!-- InstanceEndEditable --> &bull; Liberty University is a Registered Trademark &bull; <a href="http://www.liberty.edu/index.cfm?PID=6901" style="color:#5f88c3;">Privacy Policy</a><br> 
            {%%UNSUBSCRIBELINK%%}
        </td>
    </tr>
    <tr>
    	<td height="20" colspan="3"></td>
    </tr>
</table>
</center>

</td></tr></table><!-- end wrapper -->

</body>
<!-- InstanceEnd --></html>

