<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body {
    min-width:100% !important; 
    padding: 0; 
    margin: 0; 
    font-family:Arial, Helvetica, sans-serif; 
    font-size:14px; 
    color:#000000; 
    background-color:#ffffff;
} 

/*hotmail/outlook fix*/
.ReadMsgBody{width:100%;} 
.ExternalClass{width:100%; line-height: 100%;}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important} 

ul
{
	list-style-type:square;
	line-height:22px;
}

#globalHeader, #globalFooter a {
	text-decoration: none!important;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}

.cannSpam {
    display: inline;
}

.hider a{
    color:#ffffff;
    text-decoration: none;
}

.hider a:active{
    color:#ffffff;
}

@media screen and (max-width: 500px) {
    body[yahoo] .textMargin {
        width: 15px;
    }

    body[yahoo] .textContent {
        font-size: 17px;
        line-height: none;
        /*width: 430px;*/
        width: 90%;
    }

    body[yahoo] .textContent h1, body[yahoo] .textContent h2, body[yahoo] .textContent h3, body[yahoo] .textContent h4 {
        font-size: 16px;
        /*line-height: 32px;*/
    }

    body[yahoo] #wrapper-table {
        /*width: 430px;*/
        width: 100%;
    }

    body[yahoo] .footerImage {
        /*width: 430px;*/
        /*width: 90%;*/
        width: 90%;
        height: auto;
        margin-left:auto;
        margin-right:auto;
    }

    body[yahoo] .classImage {
        width: 480px;
    }

    body[yahoo] .socialSpacer {
        width: 26px;
    }

    body[yahoo] .cannSpam {
        display: block;
    }

    /*---Section of CSS added 11-14-13 by jsanspach---*/
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        padding: 0;
        margin: 0;
        /*font-size: 16px;
        line-height: 1.3em;*/
    }

    body[yahoo] .hider {
        display:none;
    }    

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    /*Bottom navigation CSS*/
    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #0a254e;
        text-align: left;
    }
    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border-bottom: 2px solid #20406e;
        padding: 10px;
        text-transform: uppercase;
    }
    /*End of bottom navigation CSS*/
}



</style>
<!-- Built from 0NewGeneric-white.dwt which was last updated 7/22/13 4:15pm -->
<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->
<!-- InstanceParam name="0Globalheader" type="boolean" value="true" -->
<!-- InstanceParam name="0LUEheader" type="boolean" value="false" -->
<!-- InstanceParam name="1Centered Headline" type="boolean" value="true" -->
<!-- InstanceParam name="1Left Aligned Headline" type="boolean" value="false" -->
<!-- InstanceParam name="2General Info" type="boolean" value="true" -->
<!-- InstanceParam name="2LUO Info" type="boolean" value="false" -->
<!-- InstanceParam name="2Alumni Info" type="boolean" value="false" -->
<!-- InstanceParam name="2LUE Info" type="boolean" value="false" -->
<!-- InstanceParam name="2Athletics Info" type="boolean" value="false" -->
<!-- InstanceParam name="Alumni-00002.png" type="boolean" value="false" -->
<!-- InstanceParam name="Alumni-00004.png" type="boolean" value="false" -->
<!-- InstanceParam name="Alumni-00005.png" type="boolean" value="false" -->
<!-- InstanceParam name="Alumni-00007.png" type="boolean" value="false" -->
<!-- InstanceParam name="Alumni-00008.png" type="boolean" value="false" -->
<!-- InstanceParam name="Athletics-00001.png" type="boolean" value="false" -->
<!-- InstanceParam name="Athletics-00002.png" type="boolean" value="false" -->
<!-- InstanceParam name="Athletics-00003.png" type="boolean" value="false" -->
<!-- InstanceParam name="Athletics-00004.png" type="boolean" value="false" -->
<!-- InstanceParam name="Athletics-00005.png" type="boolean" value="false" -->
<!-- InstanceParam name="Athletics-00006.png" type="boolean" value="false" -->
<!-- InstanceParam name="Athletics-00007.png" type="boolean" value="false" -->
<!-- InstanceParam name="Athletics-00008.png" type="boolean" value="false" -->
<!-- InstanceParam name="Athletics-00009.png" type="boolean" value="false" -->
<!-- InstanceParam name="Athletics-00011.png" type="boolean" value="false" -->
<!-- InstanceParam name="Bookstore-00003.png" type="boolean" value="false" -->
<!-- InstanceParam name="Bookstore-00004.png" type="boolean" value="false" -->
<!-- InstanceParam name="Bookstore-00005.png" type="boolean" value="false" -->
<!-- InstanceParam name="CenterforGlobalEngagement-00001.png" type="boolean" value="false" -->
<!-- InstanceParam name="CenterforGlobalEngagement-00002.png" type="boolean" value="false" -->
<!-- InstanceParam name="CenterforGlobalEngagement-00003.png" type="boolean" value="false" -->
<!-- InstanceParam name="CinematicArts-00001.png" type="boolean" value="false" -->
<!-- InstanceParam name="CinematicArts-00002.png" type="boolean" value="false" -->
<!-- InstanceParam name="ClubSports-00001.png" type="boolean" value="false" -->
<!-- InstanceParam name="ClubSports-00002.png" type="boolean" value="false" -->
<!-- InstanceParam name="ClubSports-00003.png" type="boolean" value="false" -->
<!-- InstanceParam name="ClubSports-00004.png" type="boolean" value="false" -->
<!-- InstanceParam name="ClubSports-00005.png" type="boolean" value="false" -->
<!-- InstanceParam name="ClubSports-00006.png" type="boolean" value="false" -->
<!-- InstanceParam name="ClubSports-00007.png" type="boolean" value="false" -->
<!-- InstanceParam name="ClubSports-00008.png" type="boolean" value="false" -->
<!-- InstanceParam name="CommuterServices-00002.png" type="boolean" value="false" -->
<!-- InstanceParam name="CommuterServices-00003.png" type="boolean" value="false" -->
<!-- InstanceParam name="CommuterServices-00004.png" type="boolean" value="false" -->
<!-- InstanceParam name="CommuterServices-00005.png" type="boolean" value="false" -->
<!-- InstanceParam name="CommuterServices-00006.png" type="boolean" value="false" -->
<!-- InstanceParam name="CSER-00001.png" type="boolean" value="false" -->
<!-- InstanceParam name="CSER-00002.png" type="boolean" value="false" -->
<!-- InstanceParam name="DiningServices-00002.png" type="boolean" value="false" -->
<!-- InstanceParam name="DiningServices-00003.png" type="boolean" value="false" -->
<!-- InstanceParam name="GraduateWritingCenter-00001.png" type="boolean" value="false" -->
<!-- InstanceParam name="Housing-00001.png" type="boolean" value="false" -->
<!-- InstanceParam name="Housing-00002.png" type="boolean" value="false" -->
<!-- InstanceParam name="Housing-00003.png" type="boolean" value="false" -->
<!-- InstanceParam name="Housing-00004.png" type="boolean" value="false" -->
<!-- InstanceParam name="IT-00001.png" type="boolean" value="false" -->
<!-- InstanceParam name="IT-00002.png" type="boolean" value="false" -->
<!-- InstanceParam name="IT-00003.png" type="boolean" value="false" -->
<!-- InstanceParam name="LahayeIceCenter-00001.png" type="boolean" value="false" -->
<!-- InstanceParam name="LahayeStudentUnion-00001.png" type="boolean" value="false" -->
<!-- InstanceParam name="LahayeStudentUnion-00002.png" type="boolean" value="false" -->
<!-- InstanceParam name="LahayeStudentUnion-00003.png" type="boolean" value="false" -->
<!-- InstanceParam name="LawSchool-00001.png" type="boolean" value="false" -->
<!-- InstanceParam name="LawSchool-00003.png" type="boolean" value="false" -->
<!-- InstanceParam name="Library-00001.png" type="boolean" value="false" -->
<!-- InstanceParam name="Library-00002.png" type="boolean" value="false" -->
<!-- InstanceParam name="Library-00003.png" type="boolean" value="false" -->
<!-- InstanceParam name="Library-00004.png" type="boolean" value="false" -->
<!-- InstanceParam name="Library-00005.png" type="boolean" value="false" -->
<!-- InstanceParam name="Library-00008.png" type="boolean" value="false" -->
<!-- InstanceParam name="LUO-00003.png" type="boolean" value="false" -->
<!-- InstanceParam name="LUO-00004.png" type="boolean" value="false" -->
<!-- InstanceParam name="LUO-00007.png" type="boolean" value="false" -->
<!-- InstanceParam name="LUO-00008.png" type="boolean" value="false" -->
<!-- InstanceParam name="LUO-00009.png" type="boolean" value="false" -->
<!-- InstanceParam name="LUO-00010.png" type="boolean" value="false" -->
<!-- InstanceParam name="LUO-00011.png" type="boolean" value="false" -->
<!-- InstanceParam name="LUO-00012.png" type="boolean" value="false" -->
<!-- InstanceParam name="LUO-00013.png" type="boolean" value="false" -->
<!-- InstanceParam name="LUO-00014.png" type="boolean" value="false" -->
<!-- InstanceParam name="LUO-00015.png" type="boolean" value="false" -->
<!-- InstanceParam name="LUO-00016.png" type="boolean" value="false" -->
<!-- InstanceParam name="LUO-00017.png" type="boolean" value="false" -->
<!-- InstanceParam name="LUO-00018.png" type="boolean" value="false" -->
<!-- InstanceParam name="LUO-00019.png" type="boolean" value="false" -->
<!-- InstanceParam name="LUO-00020.png" type="boolean" value="false" -->
<!-- InstanceParam name="LUO-00022.png" type="boolean" value="false" -->
<!-- InstanceParam name="LUO-00023.png" type="boolean" value="false" -->
<!-- InstanceParam name="LUO-00024.png" type="boolean" value="false" -->
<!-- InstanceParam name="LUOA-00003.png" type="boolean" value="false" -->
<!-- InstanceParam name="LUPress-00001.png" type="boolean" value="false" -->
<!-- InstanceParam name="Military-00001.png" type="boolean" value="false" -->
<!-- InstanceParam name="Military-00002.png" type="boolean" value="false" -->
<!-- InstanceParam name="Military-00003.png" type="boolean" value="false" -->
<!-- InstanceParam name="Military-00004.png" type="boolean" value="false" -->
<!-- InstanceParam name="Military-00005.png" type="boolean" value="false" -->
<!-- InstanceParam name="Military-00006.png" type="boolean" value="false" -->
<!-- InstanceParam name="Military-00007.png" type="boolean" value="false" -->
<!-- InstanceParam name="Military-00008.png" type="boolean" value="false" -->
<!-- InstanceParam name="Military-00009.png" type="boolean" value="false" -->
<!-- InstanceParam name="Military-00010.png" type="boolean" value="false" -->
<!-- InstanceParam name="Military-00011.png" type="boolean" value="false" -->
<!-- InstanceParam name="Military-00012.png" type="boolean" value="false" -->
<!-- InstanceParam name="Resident-00001.png" type="boolean" value="false" -->
<!-- InstanceParam name="Resident-00002.png" type="boolean" value="false" -->
<!-- InstanceParam name="Resident-00003.png" type="boolean" value="false" -->
<!-- InstanceParam name="Resident-00006.png" type="boolean" value="false" -->
<!-- InstanceParam name="Resident-00007.png" type="boolean" value="false" -->
<!-- InstanceParam name="Resident-00011.png" type="boolean" value="false" -->
<!-- InstanceParam name="Resident-00012.png" type="boolean" value="false" -->
<!-- InstanceParam name="Resident-00015.png" type="boolean" value="false" -->
<!-- InstanceParam name="Resident-00016.png" type="boolean" value="false" -->
<!-- InstanceParam name="Resident-00017.png" type="boolean" value="false" -->
<!-- InstanceParam name="Resident-00018.png" type="boolean" value="false" -->
<!-- InstanceParam name="Resident-00019.png" type="boolean" value="false" -->
<!-- InstanceParam name="Resident-00020.png" type="boolean" value="false" -->
<!-- InstanceParam name="Resident-00021.png" type="boolean" value="false" -->
<!-- InstanceParam name="Resident-00022.png" type="boolean" value="true" -->
<!-- InstanceParam name="Resident-00024.png" type="boolean" value="false" -->
<!-- InstanceParam name="Resident-00025.png" type="boolean" value="false" -->
<!-- InstanceParam name="Resident-00026.png" type="boolean" value="false" -->
<!-- InstanceParam name="Resident-00027.png" type="boolean" value="false" -->
<!-- InstanceParam name="Resident-00028.png" type="boolean" value="false" -->
<!-- InstanceParam name="Resident-00029.png" type="boolean" value="false" -->
<!-- InstanceParam name="Resident-00030.png" type="boolean" value="false" -->
<!-- InstanceParam name="Resident-00031.png" type="boolean" value="false" -->
<!-- InstanceParam name="ResidentGraduate-00001.png" type="boolean" value="false" -->
<!-- InstanceParam name="ResidentGraduate-00002.png" type="boolean" value="false" -->
<!-- InstanceParam name="ResidentGraduate-00003.png" type="boolean" value="false" -->
<!-- InstanceParam name="ResidentGraduate-00004.png" type="boolean" value="false" -->
<!-- InstanceParam name="ResidentGraduate-00005.png" type="boolean" value="false" -->
<!-- InstanceParam name="ResidentGraduate-00006.png" type="boolean" value="false" -->
<!-- InstanceParam name="ResidentGraduate-00007.png" type="boolean" value="false" -->
<!-- InstanceParam name="ResidentGraduate-00008.png" type="boolean" value="false" -->
<!-- InstanceParam name="SchoolofMusic-00001.png" type="boolean" value="false" -->
<!-- InstanceParam name="Snowflex-00001.png" type="boolean" value="false" -->
<!-- InstanceParam name="Snowflex-00002.png" type="boolean" value="false" -->
<!-- InstanceParam name="Snowflex-00003.png" type="boolean" value="false" -->
<!-- InstanceParam name="Theatre-00001.png" type="boolean" value="false" -->
<!-- InstanceParam name="Theatre-00002.png" type="boolean" value="false" -->
<!-- InstanceParam name="Theatre-00003.png" type="boolean" value="false" -->
<!-- InstanceParam name="Yearbook-00003.png" type="boolean" value="false" -->
<!-- InstanceParam name="Yearbook-00009.png" type="boolean" value="false" -->

</head>

<body yahoo="fix" bgcolor="#ffffff" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; background-color:#ffffff;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#ffffff; text-align:center;">
    	<center>
            
                <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom:2px solid #20406e;"><tr><td colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="10" valign="middle"></td><td align="left" valign="middle"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img class="wordmark" alt="Liberty University" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" valign="middle" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif; color:#000000;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">About&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Academics&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Admissions&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Alumni&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Athletics&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">News&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Student Life</a></td><td class="hider" valign="middle" width="10"></td></tr></table></td></tr></table><!-- End of navigation -->
            

            

            <table class="res-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#ffffff" style="border-collapse:collapse; clear:both; background-color:#ffffff;">
                <tbody>
                    
                    <tr>
                        <td colspan="5" width="600" height="10" style="height:10px;"></td>
                    </tr>
                    <tr>
                        <td class="textMargin" width="40"></td>
                        <td class="textContent" colspan="3" width="510"><center>
                            <h1 style="margin-bottom: 0em; font-size:2em;"><!-- InstanceBeginEditable name="Headline" -->Important Financial Aid Notice<!-- InstanceEndEditable --></h1>
                            <h3 style="margin-top: 0em; margin-bottom: 0em; font-size:1.2em;"><em><!-- InstanceBeginEditable name="Subhead" -->Your account has been selected for additional review<!-- InstanceEndEditable --></em></h3>
                        </center></td>
                        <td class="textMargin" width="40"></td>
                    </tr>
                    
                    
                    <tr id="header-margin-top">
                        <td colspan="5" width="600" height="20" style="height:20px;"></td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <table class="res-table" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                                <tr>
                                    <td class="textMargin" width="40">
                                        
                                    </td>
                                    <td align="left" class="textContent" width="520">
                                        <!-- InstanceBeginEditable name="Content Body" -->
                                        <p>Dear {%%FIRSTNAME%%},<br>
                                          <br>
                                          Per requirements outlined by the U.S. Department of Education, your account was selected for subsequent review. This means that Liberty University is required by the federal government to review your records before your financial aid can be processed. Additionally, you must complete financial aid verification,  which is a separate process.<br>
                                          <br>
                                          Please complete the following steps so we can resolve this matter:<br>
                                          <br>
                                          1. To finish processing your financial aid, you will need to  submit:</p>
                                        <ul type="disc">
                                          <li><a href="https://www.liberty.edu/media/1260/FP_Fraud%20Prevention%20Form.pdf">A Financial Aid Fraud       Prevention Form</a></li>
                                          <li>Any required items       listed in <a href="https://www.liberty.edu/banner/index.cfm?PID=13627">ASIST</a>, including an       original notarized Statement of Educational Purpose*</li>
                                          <li>A color copy       of your state or federally issued photo ID</li>
                                        </ul>
                                        <p>2. Once completed, please send the above items to the following  address:</p>
                                        <p align="center">Liberty University Financial Aid Office<br>
                                          1971 University Blvd. <br>
                                          Lynchburg, Va. 24515</p>
                                        <p>3. Continue to review your ASIST account to confirm the above  documents have been received by our office.<br>
                                          <br>
                                          4. Request that your high school and any colleges/universities you  have attended (even if you did not receive aid at that college/university) mail  official transcripts to the address below. Official transcripts must be mailed  by the school, not by the student.**</p>
                                        <p align="center">Liberty University Admissions Verification <br>
                                          1971 University Blvd. <br>
                                          Lynchburg, Va. 24515</p>
                                        <p><em>* Faxed and electronic copies of official high school and college/university  transcripts or notarized statements of Educational Purpose </em><strong><em>will not</em></strong><strong><em></em></strong><em> be accepted.</em><br>
                                          <br>
                                          <em>** This is regardless of whether or not you have earned  credits or will attempt to transfer credits to Liberty University.</em><br>
                                          <br>
                                          Once all of these requested items have been received, we will  review your account for financial aid eligibility.</p>
                                        <h1><em>Please Note:</em></h1>
                                        <p><strong>If we do not receive all requested items within four weeks  from the date of this email, we are required to cancel all current and future  financial aid. Additionally, you will no longer be eligible to enroll for  future terms at Liberty University.</strong><br>
                                          <br>
                                        <strong>Student records that are reviewed after the term has ended  may permanently lose financial aid eligibility for that enrollment period.  Federal regulations limit the time within which aid may be awarded again and/or  disbursed. In this case, the student is responsible to pay any remaining  account balance.</strong></p>
Thank you for your immediate cooperation with this matter. If you would  like to contact our office, please email <a href="mailto:faredflag@liberty.edu">FAredflag@liberty.edu</a>. All communication should be through this email address.<br>
<br>
Sincerely,<br>
<div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
  <p> <b>Financial Aid Office</b><b></b> </p>
  <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
  <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University  |  Training Champions for Christ since 1971</em> </div>
<br>
                                        <!-- InstanceEndEditable -->
                                    </td>
                                    <td class="textMargin" width="40">
                                        
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    

                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                                        
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                     
                     
                     
                     
                    
                    
                    
                    
                    
                    <tr>
                        <td class="hider" colspan="5" width="600" style="width:600px;">
                            <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00004_general/Resident-00022.png" style="display:block; clear:both;">
                        </td>
                    </tr>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                        
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                                        
                    
                    
                    
                    




                    
                    <tr>
                        <td align="center" colspan="5">
                            <table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                                <tr>
                                    <td colspan="9" width="600" style="width:600px;">
                                        <img class="footerImage" alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/social-br.jpg" height="2" width="600" style="clear:both; border:none; display:block;">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="9" height="30">
                                        <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/00067_html5_test/autoresponse/spacer.png" height="30" width="1" style="clear:both; border:none; display:block;">
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td width="94">
                                    
                                    </td>
                                    <td>
                                    <!-- InstanceBeginEditable name="Facebook" -->
                                        <a href="https://www.facebook.com/LibertyUniversity?utm_source=liberty&utm_medium=email&utm_content=lufacebook&utm_campaign={%CAMPAIGN_ID%}"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/facebook-32.png" height="32" width="32" style="clear:both; border:none; display:block;"></a><!-- InstanceEndEditable -->
                                    </td>
                                    <td class="socialSpacer" width="94">
                                        
                                    </td>
                                    <td>
                                     <!-- InstanceBeginEditable name="Twitter" -->
                                        <a href="http://twitter.com/libertyu?utm_source=liberty&utm_medium=email&utm_content=lutwitter&utm_campaign={%CAMPAIGN_ID%}"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/twitter-32.png" height="32" width="32" style="clear:both; border:none; display:block;"></a><!-- InstanceEndEditable -->
                                    </td>
                                    <td class="socialSpacer" width="94">
                                        
                                    </td>
                                    <td>
                                     <!-- InstanceBeginEditable name="YouTube" -->
                                        <a href="http://www.youtube.com/libertyuniversity?utm_source=liberty&utm_medium=email&utm_content=luyoutube&utm_campaign={%CAMPAIGN_ID%}"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/youtube-32.png" height="32" width="33" style="clear:both; border:none; display:block;"></a><!-- InstanceEndEditable -->
                                    </td>
                                    <td class="socialSpacer" width="94">
                                        
                                    </td>
                                    <td>
                                        <a href="http://www.liberty.edu/libertytoday?utm_source=liberty&utm_medium=email&utm_content=lutoday&utm_campaign={%CAMPAIGN_ID%}"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/lutoday-32.png" height="32" width="32" style="clear:both; border:none; display:block;"></a>
                                    </td>
                                    <td  width="94">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="9" height="30">
                                        <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/00067_html5_test/autoresponse/spacer.png" height="30" width="1" style="clear:both; border:none; display:block;">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="9" align="center">
                                        <!-- InstanceBeginEditable name="GeneralContactInfo" -->(888)  583-5704&nbsp;&bull;&nbsp;<a href="mailto:FAredflag@liberty.edu">FAredflag@liberty.edu</a><a href="mailto:admissions@liberty.edu"></a>
                                        <!-- InstanceEndEditable -->
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="9" height="30">
                                        <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/00067_html5_test/autoresponse/spacer.png" height="30" width="1" style="clear:both; border:none; display:block;">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="hider" colspan="9" width="600" style="width:600px;">
                                        <img class="footerImage" alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/social-br.jpg" height="2" width="600" style="clear:both; border:none; display:block;">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    


                    


                    


                    


                    
                    
                    
                        <!-- Bottom Nav --><tr><td colspan="5"><table class="res-table" width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="max-width:600px; border-collapse:collapse;"><tr><td class="bottomNav" align="center" style="font-size:.1em; "><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">About</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Academics</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Admissions</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Alumni</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Athletics</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">News</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Student Life</a></td></tr></table></tr></td><!-- End of Bottom Nav -->
                    
                    
                    

                    <tr id="footer-margin-top">
                        <td class="footerImage" colspan="5" width="600" height="20" style="height:20px;"></td>
                    </tr>
                    <tr id="footer">
                        
                        <td id="footer-middle" colspan="5" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#777;">
                            <span class="cannSpam">Liberty University</span> <span class="hider">&nbsp;&bull;&nbsp; </span>
                            <span class="cannSpam">1971 University Blvd.</span> <span class="hider">&nbsp;&bull;&nbsp; </span>
                            <span class="cannSpam">Lynchburg, Va. 24515</span> <span class="hider">&nbsp;&bull;&nbsp; </span>
                            <span class="cannSpam">(434) 582-2000</span><br>
                            <span class="cannSpam">&copy; Copyright {CYEAR}</span> <span class="hider">&nbsp;&bull;&nbsp; </span>
                            <span class="cannSpam">Liberty University is a Registered Trademark</span> <span class="hider">&nbsp;&bull;&nbsp; </span>
                            <span class="cannSpam"><a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#444; text-decoration:none;">Privacy Policy</a><br></span>
                            <div class="cannSpam">{%%UNSUBSCRIBELINK%%}</div>
                        </td>
                        
                    </tr>
                    <tr id="footer-margin-bottom">
                        <td colspan="5" width="600" style="height:20px;"></td>
                    </tr>

                </tbody>
            </table><!-- end #wrapper-table -->
            

            
        </center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>