<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- TemplateBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	background-color:#a3e3c6;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}

.hider a{
    color:#ffffff;
    text-decoration: none;
}

.hider a:active{
    color:#ffffff;
}

.footer_links a{
	color:#990000;
	text-decoration: none;
}

/*@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 14px;
        line-height: 1.3em;
        border:0!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #0a254e;
        text-align: left;
    }
    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border-bottom: 2px solid #20406e;
        padding: 10px;
        text-transform: uppercase;
        color:#f8f8f8!important;
    }
}*/
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->


<!-- TemplateParam name="Social Media" type="boolean" value="true" -->
<!-- TemplateParam name="Phone / Email" type="boolean" value="true" -->
<!-- TemplateParam name="Video" type="boolean" value="true" -->
<!-- TemplateParam name="Header - Blue Stitched" type="boolean" value="true" -->
<!-- TemplateParam name="Header - Grey Stitched" type="boolean" value="false" -->
<!-- TemplateParam name="Header - Blue Grunge" type="boolean" value="false" -->
<!-- TemplateParam name="Header - Blue Silhouette" type="boolean" value="false" -->
<!-- TemplateParam name="Header - Falwell Library" type="boolean" value="false" -->
</head>

<body bgcolor="#a3e3c6" yahoo="fix" background="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/24990_tix_valentines/24990_bg_pattern.jpg" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#a3e3c6;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#a3e3c6; text-align:center; background: url(http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/24990_tix_valentines/24990_bg_pattern.jpg);">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->

    		<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" style="border-collapse:collapse; width:600px; clear:both;">
            	<tbody>
                	<tr id="header-margin-top">
                    	<td colspan="5" width="600" height="25" style="width:600px; height:25px;"></td>
                    </tr>
                    <tr>
                    	<td>
                    		<table cellpadding="0" cellspacing="0" border="0" width="556" bgcolor="#fef6df" align="center" style="border-collapse:collapse; font-size:15px;">
								<tr>
			                    	<td colspan="3" bgcolor="#fef6df" align="center" width="556" height="50"></td>
			                    </tr>

			                    <tr>
			                    	<td colspan="3" align="center" width="556">
			                    		<img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/24990_tix_valentines/24990_04.jpg" height="79" width="556" style="clear:both; border:none; display:block;">
			                    	</td>
			                    </tr>
			                    <tr>
			                    	<td colspan="3" align="center" width="556" height="20"></td>
			                    </tr>
			                    <tr>
			                    	<td width="75">
			                    		
			                    	</td>
			                    	<td width="410" align="center" style="width:410px">
			                    		<strong style="color:#990000;">This Valentine’s Day, purchase what the flame in your life really wants</strong> — Liberty University Flames Athletics tickets! Show your love with single game basketball and baseball tickets or even baseball season tickets.<br><br>
										<strong style="color:#990000; font-size:16px; text-transform:uppercase;">Purchase your tickets now!</strong>
			                    	</td>
			                    	<td width="75">
			                    		
			                    	</td>
			                    </tr>
			                    <tr>
			                    	<td colspan="3" align="center" width="556" height="15"></td>
			                    </tr>
			                    <tr>
			                    	<td colspan="3">
			                    		<table cellpadding="0" cellspacing="0" border="0" width="556" align="center" style="border-collapse:collapse">
						                    <tr>
						                    	<td width="213">
						                    		<a href="https://www.ticketreturn.com/prod2/team.asp?SponsorID=6064"><img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/24990_tix_valentines/24990_07.jpg" height="56" width="213" style="clear:both; border:none; display:block;"></a>
						                    	</td>
						                    	<td width="134">
						                    		<a href="https://www.ticketreturn.com/prod2/team.asp?SponsorID=6345"><img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/24990_tix_valentines/24990_08.jpg" height="56" width="134" style="clear:both; border:none; display:block;"></a>
						                    	</td>
						                    	<td width="209">
						                    		<a href="https://www.ticketreturn.com/prod2/team.asp?SponsorID=6140"><img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/24990_tix_valentines/24990_09.jpg" height="56" width="209" style="clear:both; border:none; display:block;"></a>
						                    	</td>
						                    </tr>
				                    	</table>
				                	</td>
			                	</tr>
			                    <tr>
                    				<td colspan="3">
                    					<img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/24990_tix_valentines/24990_10.jpg" height="150" width="556" style="clear:both; border:none; display:block;">
                    				</td>
                    			</tr>
							</table>
                    	</td>
                    </tr>
                    <tr>
                    	<td>
                    		<table cellpadding="0" cellspacing="0" border="0" width="600" align="center" style="border-collapse:collapse;">
                    			<tr>
                    				<td>
                    					<img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/24990_tix_valentines/24990_11.jpg" height="187" width="600" style="clear:both; border:none; display:block;">
                    				</td>
                    			</tr>
                    			<tr>
                    				<td>
                    					<img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/24990_tix_valentines/24990_12.jpg" height="173" width="600" style="clear:both; border:none; display:block;">
                    				</td>
                    			</tr>
                    			<tr>
			                    	<td width="600" height="20"></td>
			                    </tr>
                    			<tr>
                    				<td align="center" class="footer_links">
                    					<strong style="color:#990000; font-size:16px; text-decoration:none;">434-582-SEAT (7328) • <a href="mailto:tickets@liberty.edu" style="color:#990000; text-decoration:none;">tickets@liberty.edu</a></strong>
                    				</td>
                    			</tr>
                    		</table>
                    	</td>
                    </tr>
                    

                    <!-- Bottom Nav --><!-- <tr><td colspan="5"><table class="res-table" width="600" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#a3e3c6" style="max-width:600px; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td class="bottomNav" align="center" style="font-size:.1em;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#a3e3c6; text-decoration:none;">About</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#a3e3c6; text-decoration:none;">Academics</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#a3e3c6; text-decoration:none;">Admissions</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#a3e3c6; text-decoration:none;">Alumni</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#a3e3c6; text-decoration:none;">Athletics</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#a3e3c6; text-decoration:none;">News</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#a3e3c6; text-decoration:none;">Student Life</a></td></tr></table></td></tr> --><!-- End of bottom nav -->

                    <!-- LUE Bottom Nav --><!-- <tr><td colspan="5"><table class="res-table" width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="max-width:600px; border-collapse:collapse;"><tr><td class="bottomNav" align="center" style="font-size:.1em; "><a href="http://www.luonline.com/index.cfm?PID=21499" style="color:#f8f8f8; text-decoration:none;">Inicio</a><a href="http://www.luonline.com/index.cfm?PID=21548" style="color:#f8f8f8; text-decoration:none;">Programas Acad&eacute;micos</a><a href="http://www.liberty.edu/online/index.cfm?PID=21549" style="color:#f8f8f8; text-decoration:none;">&iquest;Por qu&eacute; LUE</a><a href="http://www.liberty.edu/online/index.cfm?PID=21542" style="color:#f8f8f8; text-decoration:none;">Calendario Acad&eacute;mico</a><a href="http://www.liberty.edu/online/index.cfm?PID=21543" style="color:#f8f8f8; text-decoration:none;">Plan de Graduaci&oacute;n</a><a href="http://www.liberty.edu/online/index.cfm?PID=21686" style="color:#f8f8f8; text-decoration:none;">Requisitos para Admisi&oacute;n</a><a href="http://www.liberty.edu/financeadmin/financialaid/index.cfm?PID=17844" style="color:#f8f8f8; text-decoration:none;">Ayuda Financiera</a><a href="http://www.liberty.edu/index.cfm?PID=22090" style="color:#f8f8f8; text-decoration:none;">Student Accounts en Espa&ntilde;ol</a></td></tr></table></tr></td> --><!-- End of Bottom Nav -->

                    <tr id="footer-margin-top">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr id="footer">
                    	<td class="footer_links" id="footer-middle" colspan="5" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666;">
                        	Liberty University &nbsp;&bull;&nbsp; 
                            1971 University Blvd. &nbsp;&bull;&nbsp; 
                            Lynchburg, Va. 24515 &nbsp;&bull;&nbsp; 
                            (434) 582-2000<br>
                            &copy; Copyright 2014 &nbsp;&bull;&nbsp; 
                            Liberty University is a Registered Trademark &nbsp;&bull;&nbsp; 
                            <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#990000; text-decoration:none;">Privacy Policy</a><br>
                            {%%UNSUBSCRIBELINK%%}
                        </td>
                    	
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
    	</center>
    </div><!-- end #wrapper -->
</body>
</html>

