<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/WWBS_Festival.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#000;
    background-color:#d7d7d7;
    line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
    list-style-type:square;
    line-height:22px;
}

h1
{
    font-size:22px;
}

h2
{
    font-size:18px;
    font-weight:normal;
}

p {
    margin-bottom: 1em;
}

.hider a{
    color:#ffffff;
    text-decoration: none;
}

.hider a:active{
    color:#ffffff;
}

/*@media screen and (max-width: 540px) {
    body[yahoo] .res-table {
        width: 100%!important;
        height: auto!important;
        font-size: 14px;
        line-height: 1.3em;
        border:0!important;
    }

    body[yahoo] .wordmark {
        margin-left: auto;
        margin-right: auto;
    }

    body[yahoo] .hider {
        display:none;
    }

    body[yahoo] .bottomNav {
        width: 100%;
        background-color: #0a254e;
        text-align: left;
    }
    body[yahoo] .bottomNav a {
        font-size: 18px;
        display:block;
        border-bottom: 2px solid #20406e;
        padding: 10px;
        text-transform: uppercase;
        color:#f8f8f8!important;
    }
}*/
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#d7d7d7" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#d7d7d7;">
    <div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; background-color:#d7d7d7; text-align:center;">
        <center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

            <table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#ffffff" style="border-collapse:collapse; width:600px; clear:both; background-color:#ffffff;">
                <tbody>
                    <tr>
                        <td colspan="4">
                            <img alt="We Won't Be Shaken / The Tour" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/06327_rr_wwbs_tour/06327_01.jpg" height="157" width="600" style="clear:both; border:none; display:block;">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <img alt="Sponsored by: Liberty University" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/06327_rr_wwbs_tour/06327_02.jpg" height="175" width="600" style="clear:both; border:none; display:block;">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <img alt="Coming to a city near you!" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/06327_rr_wwbs_tour/06327_03.jpg" height="129" width="600" style="clear:both; border:none; display:block;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/06327_rr_wwbs_tour/06327_04.jpg" height="48" width="38" style="clear:both; border:none; display:block;">
                        </td>
                        <td colspan="3" bgcolor="#ee272e" background="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/06327_rr_wwbs_tour/06327_05.jpg" width="562" align="left" style="background-image:url(https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/06327_rr_wwbs_tour/06327_05.jpg); font-weight:bold; color:white; text-transform:uppercase; font-size:27px;">
                            <!-- InstanceBeginEditable name="Name" -->{%%FIRSTNAME%%},<!-- InstanceEndEditable -->
                        </td>
                    </tr>
                    <tr valign="top" align="left">
                        <td width="38">
                            <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/00067_html5_test/autoresponse/spacer.png" height="1" width="38" style="clear:both; border:none; display:block;">
                        </td>
                        <td style="font-size:16px;">
                            <br>
                            <!-- InstanceBeginEditable name="MainTxt" -->
                            <p>You&rsquo;re invited to experience  an unforgettable concert coming to a city near you!<br>
                              <br>
                              Liberty University  is on the road as the exclusive educational sponsor for Building 429&rsquo;s <a href="http://www.liberty.edu/undergrad/index.cfm?PID=23332">We Won't Be Shaken  tour</a> – also featuring Family Force 5 and  Hawk Nelson.<br>
                              <br>
                            Additionally, we hope you&rsquo;ll  invite a student in your life who is preparing to attend college. Students who  visit and apply at the Liberty booth will have their $40 application fee waived.  They will also be entered to win one of these prizes:</p>
                            <ul>
                              <li>A $16,000  scholarship to Liberty University </li>
                              <li>A  limited-edition guitar autographed by the bands </li>
                              <li>Two  tickets to <a href="http://www.libertywinterfest.com">Winterfest 2014</a></li>
                            </ul>
                            <p>To view the complete list of  scheduled tour dates, visit <a href="http://www.libertyfestivals.com">www.LibertyFestivals.com</a>.<br>
                              <br>
                            See you at the show!</p>
                            <!-- InstanceEndEditable -->
                        </td>
                        <td width="38">
                            <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/00067_html5_test/autoresponse/spacer.png" height="1" width="38" style="clear:both; border:none; display:block;">
                        </td>
                        <td height="164">
                            <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                                <tr>
                                    <td>
                                        <img alt="Building 429" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/06327_rr_wwbs_tour/06327_07.jpg" height="164" width="244" style="clear:both; border:none; display:block;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img alt="Family Force 5" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/06327_rr_wwbs_tour/06327_08.jpg" height="163" width="244" style="clear:both; border:none; display:block;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img alt="Hawk Nelson" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/06327_rr_wwbs_tour/06327_09.jpg" height="164" width="244" style="clear:both; border:none; display:block;">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                        <tr>
                            <td width="38">
                            <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/00067_html5_test/autoresponse/spacer.png" height="1" width="38" style="clear:both; border:none; display:block;">
                        </td>
                        <td colspan="3">
                            <div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
                                <p><b>National Recruiters</b><b></b></p>
                                <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
                                <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University  |  Training Champions for Christ since 1971</em> 
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" align="center" style="font-weight:bold; font-size:20px; line-height:25px;">
                            <br>
                            <!-- InstanceBeginEditable name="FooterTxt" -->
                            <p>For more information and to purchase tickets,<br>
                            visit <a href="http://www.LibertyFestivals.com" style="text-decoration:none; color:#444444;">www.LibertyFestivals.com</a></p>
                            <!-- InstanceEndEditable -->
                            <br>
                            <hr noshade style="margin-left:38px; margin-right:38px; background-color:#ccc; height:1px; border:0;">

                        </td>
                    </tr>

                    <tr id="footer-margin-top">
                        <td colspan="4" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr id="footer">
                        
                        <td id="footer-middle" colspan="4" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666;">
                            Liberty University &nbsp;&bull;&nbsp; 
                            1971 University Blvd. &nbsp;&bull;&nbsp; 
                            Lynchburg, Va. 24515 &nbsp;&bull;&nbsp; 
                            (434) 582-2000<br>
                            &copy; Copyright 2014 &nbsp;&bull;&nbsp; 
                            Liberty University is a Registered Trademark &nbsp;&bull;&nbsp; 
                            <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#444; text-decoration:none;">Privacy Policy</a><br>
                            {%%UNSUBSCRIBELINK%%}
                        </td>
                        
                    </tr>
                    <tr id="footer-margin-bottom">
                        <td colspan="4" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
        </center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>

