<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/Schools-Law_School3.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>See what sets Liberty Law apart</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>
body
{
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	color:#000;
	background-color:#041021;
	margin:0;
}
</style>
<!-- InstanceParam name="0Globalheader" type="boolean" value="true" -->
<!-- InstanceParam name="header01" type="boolean" value="true" -->
<!-- InstanceParam name="header02" type="boolean" value="false" -->
<!-- InstanceParam name="header03" type="boolean" value="false" -->
<!-- InstanceParam name="header04" type="boolean" value="false" -->
</head>

<body style="background-color:#041021; margin:0;">
<center>
    
<!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom:2px solid #20406e;"><tr><td colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="10" valign="middle"></td><td align="left" valign="middle"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img class="wordmark" alt="Liberty University" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" valign="middle" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif; color:#000000;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">About&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Academics&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Admissions&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Alumni&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Athletics&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">News&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Student Life</a></td><td class="hider" valign="middle" width="10"></td></tr></table></td></tr></table><!-- End of navigation -->
            
</center>
<table id="wrapper" cellpadding="0" cellspacing="0" border="0" width="100%" height="100%" bgcolor="#041021"><tr><td width="100%" height="100%" bgcolor="#041021" align="center" valign="top">

<center>
<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="border-collapse:collapse;">
    <tr>
    	<td height="20" colspan="3"></td>
    </tr>
    <tr>
        <td align="left" valign="top" width="600" colspan="3">
        	<a href="http://law.liberty.edu">
	        	
                <img src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/18064_lawrebrand/new/18064_law1.jpg" width="600" height="244" border="0" style="display:block; clear:both; width:600px; height: 245px; border:none;" title="Liberty University - School of Law">
                
                
                
                
            </a>
        </td>
    </tr>
    <tr>
    	<td height="20" colspan="3" bgcolor="#ffffff" style="background-color:#fff;"></td>
    </tr>
    <tr>
    	<td width="20" bgcolor="#ffffff" style="background-color:#fff;"></td>
        <td id="content" width="560" height="150" bgcolor="#ffffff" align="left" valign="top" style="font-family:'Times New Roman', Times, serif; font-size:14px; color:#000; line-height:16px; background-color:#fff;"><!-- InstanceBeginEditable name="Content" -->
            <p>Dear  {%%FIRSTNAME%%}, <br>
              <br>
              Liberty  University School of Law is a distinctively Christian law   school with a mission  conceived by vision and anchored by eternal   principles. We provide an education  that distinguishes us from    other law schools by offering students the following: </p>
            <ul>
              <li><strong>An appreciation for the western legal tradition and the rule of law.</strong> We respect the writings of those who shaped the western legal tradition   and American culture. We respect the rule of law because we believe it   best secures our liberty by restraining arbitrary decision-making.<br>
                <br>
              </li>
              <li><strong>A rigorous academic environment in the context of the Christian intellectual tradition</strong>.   We are committed to providing a superior legal education that is   faithful to the principles found in the Bible. We believe that truth is   best understood in the context of a Christian worldview and intellectual   tradition. <br>
                <br>
              </li>
              <li><strong>An emphasis on superior communication and lawyering skills.</strong> Our unique Lawyering Skills program is unparalleled in training   students how to actually perform the day-to-day tasks of being a lawyer.   Our clinical and internship programs provide opportunities for students   to use their new skills, even before graduation.</li>
            </ul>
            <p>Most students who enter law school do so with optimism   and a desire for justice, but modern legal education often separates law   from justice and makes students cynical by the time they graduate. When   that happens, the law loses its soul. At Liberty, we will encourage   your optimism and desire for justice. <br>
            </p>
            <p>              We invite  you to attend <a href="http://www.liberty.edu/law/index.cfm?PID=25591">Experience Law</a> this spring, Feb. 14 and April 18,  where you will have the opportunity to attend a class, meet faculty, and  converse with current students. <a href="http://www.liberty.edu/law/index.cfm?PID=26037&payment_app=197">Registration</a> is available online.<br>
              <br>
              For more  information about Liberty Law, visit <a href="http://www.liberty.edu/law">Law.Liberty.edu</a>, call (434) 592-5300, or email <a href="mailto:lawadmissions@liberty.edu">lawadmissions@liberty.edu</a>. </p>
Sincerely,
        <div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
          <p> <b>Mathew D. Staver</b><br>
            <em>Dean and Professor of Law</em><br>
            <b>School of Law</b> </p>
          <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
          <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University  |  Training Champions for Christ since 1971</em> </div>
<!-- InstanceEndEditable --></td>
        <td width="20" bgcolor="#ffffff" style="background-color:#fff;"></td>
    </tr>
    <tr>
    	<td height="20" colspan="3" bgcolor="#ffffff" style="background-color:#fff;"></td>
    </tr>
    <tr>
    	<td height="20" colspan="3"></td>
    </tr>
    <tr>
    	<td colspan="3" style="font-family:Arial, Helvetica, sans-serif; color:#8ca4c7; font-size:11px; text-align:center;" align="center" valign="top">
        	Liberty University School of Law &bull; 1971 University Boulevard &bull; Lynchburg, Va. 24515 &bull;<!-- InstanceBeginEditable name="Phone" -->(434) 592-5300<!-- InstanceEndEditable --><br>
            &copy; Copyright <!-- InstanceBeginEditable name="Copyright" -->2014<!-- InstanceEndEditable --> &bull; Liberty University is a Registered Trademark &bull; <a href="http://www.liberty.edu/index.cfm?PID=6901" style="color:#5f88c3;">Privacy Policy</a><br> 
            {%%UNSUBSCRIBELINK%%}
        </td>
    </tr>
    <tr>
    	<td height="20" colspan="3"></td>
    </tr>
</table>
</center>

</td></tr></table><!-- end wrapper -->

</body>
<!-- InstanceEnd --></html>

