<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml"><!-- InstanceBegin template="../../Templates/MarketingNewsletter.dwt" codeOutsideHTMLIsLocked="false" -->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		
		<title>Liberty University</title>
		
		
		
		<!-- <link rel="stylesheet" type="text/css" href="ResponsiveMarketingNewsletter.css">
		-->
		<style>
			body {
				min-width:100% !important; 
				padding: 0; 
				margin: 0; 
				font-family:Arial, Helvetica, sans-serif; font-size:14px; 
				line-height:18px; 
				color:#000; 
				background-color:#d7d7d7;} .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} .globalHeader a {color:#ffffff; text none;}

			h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

			ul
			{
				list-style-type:square;
				line-height:22px;
			}

			h1
			{
				font-size:22px;
			}

			h2
			{
				font-size:18px;
				font-weight:normal;
			}

			p {
			    margin-bottom: 1em;
			    margin-top:0em;
			}
			@media screen and (max-width: 540px) {
				body[yahoo] .res-table {
					width: 100%!important;
					height: auto!important;
					font-size: 14px;
					line-height: 1.3em;
				}

				body[yahoo] .res-table2 {
					width: 100%!important;
					height: auto!important;
					font-size: 14px;
					line-height: 1.3em;
					margin-bottom: 10px;
				}

				body[yahoo] .res-div {
					padding:10px 0;
				}

				body[yahoo] .marginTop {
					height:12px!important;
				}

				body[yahoo] .cellBlock {
					display:inline-block;
					width:100%;
					margin:10px 0;
				}

				body[yahoo] .banners img{
					width: 100%;
					height: auto;
					display: block!important
				}

				body[yahoo] .hider {
					display:none;
				}

				body[yahoo] .wordmark {
					margin-left: auto;
					margin-right: auto;
				}

				body[yahoo] .featuredPic {
					height: auto!important;
					width: 95%;
					display: block!important;
					margin: 0 auto 20px auto;
				}

				body[yahoo] .marginLR {
					width:20px!important;
				}

				body[yahoo] .contentPics img {
					width: 100%;
					height: auto;
					display: block!important;
				}

				/*Footer CSS*/
				/*Bottom navigation CSS*/
				body[yahoo] .bottomNav {
					width: 100%;
					background-color: #0a254e;
					text-align: left;
				}
				body[yahoo] .bottomNav a {
					font-size: 18px;
					display:block;
					border-bottom: 2px solid #20406e;
					padding: 10px;
					text-transform: uppercase;
					color:#f8f8f8!important;
				}
				/*End of bottom navigation CSS*/
				/*Social CSS*/
				body[yahoo] .social {
					float:none!important;
					margin: 17px auto 20px auto;
				}
				body[yahoo] .socialTxt {
					text-align: center!important;
					padding:0 15px;
				}
				body[yahoo] .canSpam {
					text-align: center!important;
					margin-left: auto;
					margin-right: auto;
					width:100%!important;
				}
				/*End of social CSS*/
			}

			@media screen and (max-width: 360px) {
				/*body[yahoo] .hider {
					height:20px!important;
				}*/

				body[yahoo] .featuredPic {
					width: 98%;
				}

				body[yahoo] .hider2 {
					display:none;
				}

				body[yahoo] .mini-ads {
					display: block!important;
					width: 100%;
					padding: 5px 0px;
				}
			}
		</style>
	<!-- Built from 0NewGeneric-white.dwt which was last updated 7/22/13 4:15pm -->
	<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
	.........DDDDDDDDDDDDD......................................
	........DD888888888,DD......................................
	........DDDD888888. DD......................................
	...........ZD88888.OD.......................................
	..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
	...........8D8888..DD.......................................
	...   ...DD8888.8D.................................   ...
	...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ...
	..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
	..........DD8888.DD......DD88888 DD.....DD88888.D8..........
	.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
	.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
	.........DD88888888888888888888.DD......DD8888.DD...........
	.........D88888888888888888888,.DD.....DD8888..D~...........
	........DD88888888888888888888.:D......DD8888.DD............
	........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
	........................DDDDDD.DD.....8D8888.,D~............
	.......................,DDDD88.DD....DD88888.8D.............
	........................DD88888.NDDDDD88888..DD.............
	........................8D8888888888888888..D8..............
	.........................DD88888888888888.DDD...............
	..........................8DDD88888888D.DDD,................
	.............................DDDDDDDDDDDD...................
	-->

	<!-- InstanceParam name="Single Article" type="boolean" value="false" -->
	<!-- InstanceParam name="Article Without Image" type="boolean" value="false" -->
	<!-- InstanceParam name="Quote" type="boolean" value="false" -->
	<!-- InstanceParam name="Content w/ images" type="boolean" value="true" -->
	<!-- InstanceParam name="Ads" type="boolean" value="false" -->
	<!-- InstanceParam name="News and Events" type="boolean" value="false" -->
	<!-- InstanceParam name="Single Article-01" type="boolean" value="false" -->
	<!-- InstanceParam name="Article Without Image-01" type="boolean" value="false" -->
	<!-- InstanceParam name="Quote-01" type="boolean" value="false" -->
	<!-- InstanceParam name="Content w/ images-01" type="boolean" value="false" -->
	<!-- InstanceParam name="Ads-01" type="boolean" value="false" -->
	<!-- InstanceParam name="News and Events-01" type="boolean" value="false" -->
	<!-- InstanceParam name="Single Article-02" type="boolean" value="true" -->
	<!-- InstanceParam name="Article Without Image-02" type="boolean" value="false" -->
	<!-- InstanceParam name="Quote-02" type="boolean" value="false" -->
	<!-- InstanceParam name="Content w/ images-02" type="boolean" value="true" -->
	<!-- InstanceParam name="Ads-02" type="boolean" value="false" -->
	<!-- InstanceParam name="News and Events-02" type="boolean" value="false" -->
	<!-- InstanceParam name="Single Article-03" type="boolean" value="false" -->
	<!-- InstanceParam name="Article Without Image-03" type="boolean" value="false" -->
	<!-- InstanceParam name="Quote-03" type="boolean" value="false" -->
	<!-- InstanceParam name="Content w/ images-03" type="boolean" value="false" -->
	<!-- InstanceParam name="Ads-03" type="boolean" value="false" -->
	<!-- InstanceParam name="News and Events-03" type="boolean" value="false" -->
	<!-- InstanceParam name="Single Article-04" type="boolean" value="false" -->
	<!-- InstanceParam name="Article Without Image-04" type="boolean" value="false" -->
	<!-- InstanceParam name="Quote-04" type="boolean" value="false" -->
	<!-- InstanceParam name="Content w/ images-04" type="boolean" value="false" -->
	<!-- InstanceParam name="Ads-04" type="boolean" value="false" -->
	<!-- InstanceParam name="News and Events-04" type="boolean" value="false" -->

	</head>
	<body bgcolor="#e7e7e7" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; background-color:#e7e7e7;">
		<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000; background-color:#e7e7e7; text-align:center;">
			<center>
			
			<!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom: 2px solid #20406e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
			
			<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;">
				<tr class="hider">
					<td width="604" height="20" style="width:604px; height:20px;"></td>
				</tr>
				<tr>
					<td align="center">
						<!-- Main Content -->
						<table class="res-table" width="604" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; width:604px;">
							<tr>
								<td class="hider" bgcolor="#cccccc" width="2" style="width:2px;">
								</td>
								<!-- Content -->
								<td align="center">
									<table class="res-table" width="600" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
										<tr>
											<td class="banners" colspan="5" bgcolor="#0a254e">
												<img alt="YOU MATTER | YOUR JOB doesn't change lives YOU DO" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/MarketingNewsletter_YouMatter.jpg" height="144" width="600" style="clear:both; border:none; display:block;">
											</td>
										</tr>
										<tr>
											<td colspan="5">
												<!-- Featured story -->
												<table class="res-table2" width="600" cellpadding="0" cellspacing="0" border="0" align="center" valign="top" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; color:#000000; mso-table-lspace:0pt; mso-table-rspace:0pt;">
													<tr>
														<td class="hider" colspan="5" height="20" style="height:20px">
														</td>
													</tr>
													<tr valign="top">
														<td class="hider" width="20">
															
														</td>
														<td class="cellBlock" width="270">
															<table class="res-table" align="left" valign="top" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
																<tr valign="top">
																	<td class="marginLR" id="leftMargin" width="28" style="width:28px;">
																		
																	</td>
																	<td colspan="3" width="270" style="width:270px;">
																		<img alt="" class="featuredPic" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25731_youmatter_march/pres.jpg" width="230" style="clear:both; border:none; display:block;">
																	</td>
																	<td class="marginLR" id="rightMargin" width="15" style="width:15px;">
																		
																	</td>
																</tr>
															</table>
														</td>
														<td class="hider" width="20">
															
														</td>
														<td class="cellBlock" width="270">
															<table class="res-table" align="right" valign="top" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
																<tr>
																	<td class="marginLR" id="leftMargin" width="10" style="width:10px;">
																		
																	</td>
																	<td width="250" align="left" style="width:250px; color:#ffffff;">
																		<span style="font-size:1.2em;"><!-- InstanceBeginEditable name="Featured" --><strong>A Word from the President </strong><!-- InstanceEndEditable --></span>
																	</td>
																	<td class="marginLR" id="leftMargin" width="10" style="width:10px;">
																		
																	</td>
																</tr>
																<tr>
																	<td colspan="4" height="15" style="height:15px;">
																		
																	</td>
																</tr>
																<tr>
																	<td class="marginLR" id="leftMargin" width="10" style="width:10px;">
																		
																	</td>
																	<td width="250" align="left" style="width:250px; color:#ffffff;">
																		<!-- InstanceBeginEditable name="FeaturedTxt" -->
																		<p>The Center for Global Engagement and the Office&nbsp;of International Student Services recently hosted Global Focus Week. This semiannual event included influential Convocation speakers, workshops, an expo with more than 60 international organizations, and a night where our international students shared food from their native countries. Liberty students, faculty, and staff learned about different cultures and gained a global perspective.</p>

																		<!-- Button -->
																		<a href="http://www.liberty.edu/marketingdepartment/index.cfm?PID=29221#01"><img align="right" alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/MarketingNewsletter_11.jpg" height="22" width="74" style="clear:both; border:none; display:block;"></a>
																		<!-- End of Button -->
																		<!-- InstanceEndEditable -->
																	</td>
																	<td class="marginLR" id="leftMargin" width="10" style="width:10px;">
																		
																	</td>
																</tr>
																<tr>
																	<td colspan="5" height="20" style="height:20px">
																		
																	</td>
																</tr>
															</table>
														</td>
														<td class="hider" width="20">
															
														</td>
													</tr>
												</table>
												<!-- End of Featured story -->

												

												
												<!-- InstanceBeginRepeat name="Article_IMG" --><!-- InstanceBeginRepeatEntry -->
												<!-- Content w/ images -->
												<table class="res-table" width="600" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff" border="0" style="border-collapse:collapse;">
													<tr class="hider">
														<td colspan="5" height="20">
															
														</td>
													</tr>
													<tr valign="top">
														<td width="20">
															
														</td>
														<td class="cellBlock" align="left" width="270">
															<table class="res-table" align="left" width="270" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
													        	<tr>
													        		<td class="contentPics">
													        			<img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25731_youmatter_march/libertyCampusSnow.jpg" width="270" style="clear:both; border:none; display:block;">
													        		</td>
													        	</tr>
													        	<tr>
													        		<td>
													        			<table class="res-table" align="left" width="270" cellpadding="10" cellspacing="0" border="0" style="border-collapse:collapse;">
													        				<tr>
															            		<td align="left" bgcolor="#D8D8D8" style="font-size:16px;">
															            			<!-- InstanceBeginEditable name="DPArticleHeaderL" -->
																            		Liberty Personnel Show Dedication in Snowstorm
																            		<!-- InstanceEndEditable -->
																            	</td>
																            </tr>
																            <tr>
																            	<td align="left" bgcolor="#ececec">
																            		<!-- InstanceBeginEditable name="DPArticleTxtL" -->
															            			<p>When winter storms blanket the area in snow, most Liberty employees retreat to their homes. However, select personnel must brave the weather and remain on campus to ensure that the student population is provided for and that essential university operations continue to function. </p>

															            			<a href="http://www.liberty.edu/marketingdepartment/index.cfm?PID=29221#02"><img align="right" alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/MarketingNewsletter_11.jpg" height="22" width="74" style="clear:both; border:none; display:block;"></a>
															            			<!-- InstanceEndEditable -->
															            		</td>
															            	</tr>
													        			</table>
													        		</td>
													        	</tr>
													        </table>
													    </td>
													    <td class="hider" width="20">
															
														</td>
													    <td class="cellBlock" width="270">
													        <table class="res-table" align="right" width="270" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
													        	<tr>
													        		<td class="contentPics">
													        			<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25731_youmatter_march/ServiceRetirement2.jpg" width="270" style="clear:both; border:none; display:block;">
													        		</td>
													        	</tr>
													        	<tr>
													        		<td>
													        			<table class="res-table" align="left" width="270" cellpadding="10" cellspacing="0" border="0" style="border-collapse:collapse;">
													        				<tr>
															            		<td align="left" bgcolor="#D8D8D8" style="font-size:16px;">
															            			<!-- InstanceBeginEditable name="DPArticleHeaderR" -->
																            		Thank you for Your <br>Invaluable Service
																            		<!-- InstanceEndEditable -->
																            	</td>
																            </tr>
																            <tr>
																            	<td align="left" bgcolor="#ececec">
																            		<!-- InstanceBeginEditable name="DPArticleTxtR" -->
															            			<p>After 33 years at the helm of Liberty University&rsquo;s WRVL Victory FM,  Jerry Edwards recently announced his retirement from his position as  general manager. A gifted broadcaster, Edwards was integral in Victory FM&rsquo;s growth into a  regional network with 25 full-power and translator stations.</p>
															            			<a href="http://www.liberty.edu/marketingdepartment/index.cfm?PID=29221#03"><img align="right" alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/MarketingNewsletter_11.jpg" height="22" width="74" style="clear:both; border:none; display:block;"></a>
															            			<!-- InstanceEndEditable -->
															            		</td>
															            	</tr>
													        			</table>
													        		</td>
													        	</tr>
													        </table>
														</td>
														<td width="20">
															
														</td>
													</tr>
												</table>
												<!-- End of Content w/ images -->
												<!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry -->
												<!-- Content w/ images -->
												<table class="res-table" width="600" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff" border="0" style="border-collapse:collapse;">
													<tr class="hider">
														<td colspan="5" height="20">
															
														</td>
													</tr>
													<tr valign="top">
														<td width="20">
															
														</td>
														<td class="cellBlock" align="left" width="270">
															<table class="res-table" align="left" width="270" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
													        	<tr>
													        		<td class="contentPics">
													        			<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25731_youmatter_march/CuttingEdge.jpg" width="270" style="clear:both; border:none; display:block;">
													        		</td>
													        	</tr>
													        	<tr>
													        		<td>
													        			<table class="res-table" align="left" width="270" cellpadding="10" cellspacing="0" border="0" style="border-collapse:collapse;">
													        				<tr>
															            		<td align="left" bgcolor="#D8D8D8" style="font-size:16px;">
															            			<!-- InstanceBeginEditable name="DPArticleHeaderL" -->
																            		Keeping Liberty on the <br>Cutting Edge
																            		<!-- InstanceEndEditable -->
																            	</td>
																            </tr>
																            <tr>
																            	<td align="left" valign="top" height="170" bgcolor="#ececec">
																            		<!-- InstanceBeginEditable name="DPArticleTxtL" -->
															            			<p>Liberty has grown at an incredible speed in recent years! With every  step forward there are numerous individuals and teams guiding the  university&rsquo;s development — ensuring that Liberty&rsquo;s growth always  exemplifies its mission of <em>Training Champions for Christ</em>.</p>

															            			<a href="http://www.liberty.edu/marketingdepartment/index.cfm?PID=29221#04"><img align="right" alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/MarketingNewsletter_11.jpg" height="22" width="74" style="clear:both; border:none; display:block;"></a>
															            			<!-- InstanceEndEditable -->
															            		</td>
															            	</tr>
													        			</table>
													        		</td>
													        	</tr>
													        </table>
													    </td>
													    <td class="hider" width="20">
															
														</td>
													    <td class="cellBlock" width="270">
													        <table class="res-table" align="right" width="270" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
													        	<tr>
													        		<td class="contentPics">
													        			<img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25731_youmatter_march/Health.jpg" width="270" style="clear:both; border:none; display:block;">
													        		</td>
													        	</tr>
													        	<tr>
													        		<td>
													        			<table class="res-table" align="left" width="270" cellpadding="10" cellspacing="0" border="0" style="border-collapse:collapse;">
													        				<tr>
															            		<td align="left" bgcolor="#D8D8D8" style="font-size:16px;">
															            			<!-- InstanceBeginEditable name="DPArticleHeaderR" -->
																            		You Matter and So Does<br>Your Health
																            		<!-- InstanceEndEditable -->
																            	</td>
																            </tr>
																            <tr>
																            	<td align="left" valign="top" height="170" bgcolor="#ececec">
																            		<!-- InstanceBeginEditable name="DPArticleTxtR" -->
															            			<p>Sometimes it can be difficult to make changes for a healthier lifestyle,  but one group of Liberty employees is discovering the benefits of  facing that challenge together.  </p>

															            			<a href="http://www.liberty.edu/marketingdepartment/index.cfm?PID=29221#05"><img align="right" alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/MarketingNewsletter_11.jpg" height="22" width="74" style="clear:both; border:none; display:block;"></a>
															            			<!-- InstanceEndEditable -->
															            		</td>
															            	</tr>
													        			</table>
													        		</td>
													        	</tr>
													        </table>
														</td>
														<td width="20">
															
														</td>
													</tr>
												</table>
												<!-- End of Content w/ images -->
												<!-- InstanceEndRepeatEntry --><!-- InstanceEndRepeat -->
												
												
												
												
												

												
												
												

									            												
												<!-- InstanceBeginRepeat name="SingleArticle-02" --><!-- InstanceBeginRepeatEntry -->
												<!-- Single Article -->
												<div class="res-div">
													<table class="res-table" width="600" cellpadding="0" cellspacing="0" border="0" align="center" valign="top" bgcolor="#ececec" style="border-collapse:collapse; background:#ececec; mso-table-lspace:0pt; mso-table-rspace:0pt;">
														<tr class="hider">
															<td colspan="5" height="20" bgcolor="#ffffff" style="height:20px">
																
															</td>
														</tr>
														<tr>
															<td colspan="5" height="20" style="height:20px; border-top:2px solid #cccccc;">
															</td>
														</tr>
														<tr valign="top">
															<td class="hider" width="20">
																
															</td>
															<td class="cellBlock" width="270">
																<table class="res-table" align="left" valign="top" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rs8pace:0pt;">
																	<tr valign="top">
																		<td class="marginLR" id="leftMargin" width="28" style="width:28px;">
																			
																		</td>
																		<td colspan="3" width="270" style="width:270px;">
																			<img alt="" class="featuredPic" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/18885_youmatter_decnewsletter/YouStandOut_Icon.jpg" width="270" style="clear:both; border:none; display:block;">
																		</td>
																		<td class="marginLR" id="rightMargin" width="15" style="width:15px;">
																			
																		</td>
																	</tr>
																</table>
															</td>
															<td class="hider" width="20">
																
															</td>
															<td class="cellBlock" width="270">
																<table class="res-table" align="right" valign="top" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
																	<tr>
																		<td class="marginLR" id="leftMargin" width="10" style="width:10px;">
																			
																		</td>
																		<td width="250" align="left" style="width:250px;">
																			<span style="font-size:16px;"><!-- InstanceBeginEditable name="SArticleHeader-02" -->You Stand Out<!-- InstanceEndEditable --></span>
																		</td>
																		<td class="marginLR" id="rightMargin" width="10" style="width:10px;">
																			
																		</td>
																	</tr>
																	<tr>
																		<td colspan="3" height="15" style="height:15px;">
																			
																		</td>
																	</tr>
																	<tr>
																		<td class="marginLR" id="leftMargin" width="10" style="width:10px;">
																			
																		</td>
																		<td width="250" align="left" style="width:250px;">
																			<!-- InstanceBeginEditable name="SArticleTxt-02" -->
																			<p>University senior leadership has been looking for staff members who exemplify exceptional commitment to Liberty's customer service standards. Last month, tickets* were handed out as our way of thanking those whose hard work and dedication (often behind the scenes) made a difference.</p>

																			<!-- Button -->
																			<a href="http://www.liberty.edu/marketingdepartment/index.cfm?PID=29221#06"><img align="right" alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/MarketingNewsletter_11.jpg" height="22" width="74" style="clear:both; border:none; display:block;"></a>
																			<!-- End of Button -->
																			<!-- InstanceEndEditable -->
																		</td>
																		<td class="marginLR" id="rightMargin" width="10" style="width:10px;">
																			
																		</td>
																	</tr>
																</table>
															</td>
															<td class="hider" width="20">
																
															</td>
														</tr>
														<tr>
															<td colspan="5" height="20" style="height:20px; border-bottom:2px solid #cccccc;">
															</td>
														</tr>
													</table>
												</div>
												<!-- End of Single Article -->
												<!-- InstanceEndRepeatEntry --><!-- InstanceEndRepeat -->
												

												
												<!-- InstanceBeginRepeat name="Article_IMG-02" --><!-- InstanceBeginRepeatEntry -->
												<!-- Content w/ images -->
												<table class="res-table" width="600" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff" border="0" style="border-collapse:collapse;">
													<tr class="hider">
														<td colspan="5" height="20">
															
														</td>
													</tr>
													<tr valign="top">
														<td width="20">
															
														</td>
														<td class="cellBlock" align="left" width="270">
															<table class="res-table" align="left" width="270" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
													        	<tr>
													        		<td class="contentPics">
													        			<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/24846_febym/24864_youmatter.jpg" width="270" style="clear:both; border:none; display:block;">
													        		</td>
													        	</tr>
													        	<tr>
													        		<td>
													        			<table class="res-table" align="left" width="270" cellpadding="10" cellspacing="0" border="0" style="border-collapse:collapse;">
													        				<tr>
															            		<td align="left" bgcolor="#D8D8D8" style="font-size:16px;">
															            			<!-- InstanceBeginEditable name="DPArticleHeaderL-02" -->
																            		Employees of the Month
																            		<!-- InstanceEndEditable -->
																            	</td>
																            </tr>
																            <tr>
																            	<td align="left" valign="top" height="150" bgcolor="#ececec">
																            		<!-- InstanceBeginEditable name="DPArticleTxtL-02" -->
															            			<p><em>March 2014</em></p>
															            			<p>Congratulations to our March Employees of the Month. You are a tremendous blessing to this university, and we are thankful for you. </p>

															            			<a href="http://www.liberty.edu/marketingdepartment/index.cfm?PID=29221#07"><img align="right" alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/MarketingNewsletter_11.jpg" height="22" width="74" style="clear:both; border:none; display:block;"></a>
															            			<!-- InstanceEndEditable -->
															            		</td>
															            	</tr>
													        			</table>
													        		</td>
													        	</tr>
													        </table>
													    </td>
													    <td class="hider" width="20">
															
														</td>
													    <td class="cellBlock" width="270">
													        <table class="res-table" align="right" width="270" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
													        	<tr>
													        		<td class="contentPics">
													        			<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/18879_youmatter/18879_youmatter2.jpg" width="270" style="clear:both; border:none; display:block;">
													        		</td>
													        	</tr>
													        	<tr>
													        		<td>
													        			<table class="res-table" align="left" width="270" cellpadding="10" cellspacing="0" border="0" style="border-collapse:collapse;">
													        				<tr>
															            		<td align="left" bgcolor="#D8D8D8" style="font-size:16px;">
															            			<!-- InstanceBeginEditable name="DPArticleHeaderR-02" -->
																            		Send Us Your Feedback
																            		<!-- InstanceEndEditable -->
																            	</td>
																            </tr>
																            <tr>
																            	<td align="left" valign="top" height="150" bgcolor="#ececec">
																            		<!-- InstanceBeginEditable name="DPArticleTxtR-02" -->
															            			<p>God has been doing great things around Liberty. We would love to hear your thoughts about how the You Matter campaign is affecting Liberty&rsquo;s campus. Email your feedback and ideas to <a href="mailto:youmatter@liberty.edu">youmatter@liberty.edu</a>.</p>
<a href="http://www.liberty.edu/marketingdepartment/index.cfm?PID=29221#08"><img align="right" alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/MarketingNewsletter_11.jpg" height="22" width="74" style="clear:both; border:none; display:block;"></a>
															            			<!-- InstanceEndEditable -->
															            		</td>
															            	</tr>
													        			</table>
													        		</td>
													        	</tr>
													        </table>
														</td>
														<td width="20">
															
														</td>
													</tr>
												</table>
												<!-- End of Content w/ images -->
												<!-- InstanceEndRepeatEntry --><!-- InstanceEndRepeat -->
												

												

												
												
												

												

									            												

												

												

												
												
												

												

									            												

												

												

												
												
												

												


												<!-- Email Footer -->
												<table class="res-table" width="600" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
													<tr>
														<td class="marginTop" colspan="5" height="20">
															
														</td>
													</tr>
													<tr class="hider2">
														<td class="banners">
															<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/MarketingNewsletter_39.jpg" height="118" width="600" style="clear:both; border:none; display:block;">
														</td>
													</tr>
												</table>
												<!-- End of email footer -->
											</td>
										</tr>
									</table>
								</td>
								<!-- End of Content -->
								<td class="hider" bgcolor="#cccccc" width="2" style="width:2px;">
								</td>
							</tr>
						</table>
						<!-- End of Main Content -->

						<!-- Bottom Nav -->
						<table class="res-table" width="600" align="center" cellpadding="0" cellspacing="0"	border="0" style="max-width:600px; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
							<tr>
								<td class="bottomNav" align="center" style="font-size:.1em;">
									<a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#d7d7d7; text-decoration:none;">About</a>
									<a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#d7d7d7; text-decoration:none;">Academics</a>
									<a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#d7d7d7; text-decoration:none;">Admissions</a>
									<a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#d7d7d7; text-decoration:none;">Alumni</a>
									<a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#d7d7d7; text-decoration:none;">Athletics</a>
									<a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#d7d7d7; text-decoration:none;">News</a>
									<a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#d7d7d7; text-decoration:none;">Student Life</a>
								</td>
							</tr>
						</table>
						<!-- End of bottom nav -->

			    		<!-- Footer W/ Social -->
						<table class="res-table" width="600" cellpadding="0" cellspacing="0" align="center" border="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
							<tr>
								<td>
									<table class="social" cellpadding="0" cellspacing="0" border="0" align="left" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; float:left;">
										<tr>
											<td class="hider" width="25"></td>
											<td class="socialTxt" colspan="9" style="text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#777777; text-align:left;">
												Stay Connected
											</td>
										</tr>

										<tr>
											<td class="hider" width="25"></td>
											<td>
												<a href="https://www.facebook.com/LibertyUniversity?utm_source=liberty&amp;utm_medium=email&amp;utm_content=lufacebook&amp;utm_campaign={%CAMPAIGN_ID%}">
													<img src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/facebook-32.png"
													width="32" height="32" style="display:block; width:32px; height:32px; border:none; margin:0;"
													title="Like Us on Facebook">
												</a>
											</td>

											<td width="8" height="32" style="width:8px; height:32px;">&nbsp;
												
											</td>

											<td>
												<a href="http://twitter.com/LibertyUMatter?utm_source=liberty&amp;utm_medium=email&amp;utm_content=lutwitter&amp;utm_campaign={%CAMPAIGN_ID%}">
													<img src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/twitter-32.png"
													width="32" height="32" style="display:block; width:32px; height:32px; border:none; margin:0;"
													title="Follow Us on Twitter">
												</a>
											</td>

											<td width="8" height="32" style="width:8px; height:32px;">&nbsp;
												
											</td>

											<td>
												<a href="http://www.youtube.com/libertyuniversity">
													<img src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/youtube-32.png"
													width="32" height="32" style="display:block; width:32px; height:32px; border:none; margin:0;"
													title="Watch Us on YouTube">
												</a>
											</td>

											<td width="8" height="32" style="width:8px; height:32px;">&nbsp;
												
											</td>

											<td>
												<a href="http://www.liberty.edu/libertytoday">
													<img src="http://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00040_socialmediaicons/lutoday-32.png"
													width="32" height="32" style="display:block; width:32px; height:32px; border:none; margin:0;"
													title="Liberty Today App">
												</a>
											</td>
										</tr>
									</table>
									<table class="canSpam" width="407" cellpadding="0" cellspacing="0" border="0" align="right"
									style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; width:407px; float:right;">
										<tr>
											<td class="hider" width="1" bgcolor="#555555" style="width:1px; background-color:#555555;"></td>
											<td class="hider" width="17" height="32" style="width:17px; height:32px;">&nbsp;</td>
											<td class="socialTxt" colspan="6" height="50" style="min-height:50px; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#777777; line-height:15px; -webkit-text-size-adjust: none;">
												Liberty University &nbsp;&bull;&nbsp; 1971 University Blvd. &nbsp;&bull;&nbsp; Lynchburg,
												Va. 24515 &nbsp;&bull;&nbsp; <span class="hider"><br></span> (434)
												582-2000 &nbsp;&bull;&nbsp; &copy; Copyright 2014 &nbsp;&bull;&nbsp; Liberty
												University is a Registered Trademark &nbsp;&bull;&nbsp;
												<a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy"
												style="color:#555555; text-decoration:none;">Privacy Policy</a> &nbsp;&bull;&nbsp;
												{%%UNSUBSCRIBELINK%%}
											</td>
											<td class="hider" width="20"></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td colspan="6" height="20"></td>
							</tr>
						</table>
						<!-- End of Footer W/ Social -->
					</td>
				</tr>
			</table>
			</center>
		</div><!-- end #wrapper -->
	</body><!-- InstanceEnd -->