<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/Athletics-Softball.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- InstanceBeginEditable name="doctitle" -->
<title>See Liberty softball in Fort Myers, Fla.</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#ffffff;
	background-color:#000000;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#ffffff !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
}

p {
    margin-bottom: 1em;
}


</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#000000" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#fff; background-color:#000000;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff; background-color:#000000; text-align:center;">
    	<center>
            <!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e;"><tr><td class="nav" colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="20"></td><td align="left"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img alt="Liberty University" class="wordmark" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;">About |</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Academics |</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Admissions |</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Alumni |</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Athletics |</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> News |</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#ffffff; text-decoration:none;"> Student Life</a></td><td class="hider" width="20"></td></tr></table></td></tr></table><!-- End of Global Navigation -->
            
            

    		<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#000000" style="border-collapse:collapse; width:600px; clear:both; background-color:#000000;">
            	<tbody>
                    <tr>
                    	<td colspan="3">
                    		<a href="http://www.liberty.edu/flames/index.cfm?PID=10854&TeamID=2"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25256_softball/25256_softballv2_03.jpg" height="160" width="600" style="clear:both; border:none; display:block;"></a>
                    	</td>
                    </tr>
                    <tr>
                    	<td><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/mt-mrgn.png" height="1" width="60" style="clear:both; border:none; display:block;"></td>
                    	<td align="left" style="color:#fff;">
                            <!-- InstanceBeginEditable name="content" --><p>Dear {%%FIRSTNAME%%},<br>
                            </p>
                            <p>The Liberty University Lady Flames Softball team and their  Olympic gold medalist coach, <a style="color:#66ccff;" href="http://www.liberty.edu/libertyjournal/index.cfm?PID=24995&MID=99250">Dot Richardson</a>, invite you to come watch them compete in the 49er Invitational hosted by UNC  Charlotte this weekend. The tournament is in Charlotte, N.C.</p>
                            <ul>
                              <li>Liberty vs. Georgetown | Friday, Feb. 28 | 10  a.m. </li>
                              <li>Liberty vs. Charlotte | Friday, Feb. 28 | Noon</li>
                              <li>Liberty vs. Stony Brook | Saturday, March 1 | 10  a.m. </li>
                              <li>Liberty vs. TBA | Saturday, March 1 | TBA</li>
                              <li>Liberty vs. TBA | Sunday, March 2 | TBA</li>
                            </ul>
                            <p>Tickets are free, so we&rsquo;ll see you there — GO FLAMES! </p>
<div id="flames-signature" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
              <p><strong><span style="color: #FFFFFF">Liberty Athletics</span></strong></p>
              <p><img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_flamessignature.png"><br>
              <em style="color:#ffffff; font-family:'Times New Roman', Times, serif;">Liberty University  |  Training Champions for Christ since 1971</em></p>
              </div>
<p><br>
                            </p>
                            <p><em>NOTE: The <a style="color:#66ccff;" href="http://www.bigsouthsports.com/championships">Big South Softball Tournament</a> will be in Conway, S.C. on May 8-11. Come and join us!</em></p>
                            <!-- InstanceEndEditable -->
                    	</td>
                    	<td><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/mt-mrgn.png" height="1" width="60" style="clear:both; border:none; display:block;"></td>
                    </tr>
                    <tr>
                    	<td colspan="3">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25256_softball/25256_softballv2_06.jpg" height="96" width="600" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr>
                    <!-- begin links section -->
                    <tr>
                    	<td colspan="3" width="600" align="left">
							<table cellpadding="0" cellspacing="0" border="0" align="left" style="border-collapse:collapse;">
								<tr>
									<td>
										<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25256_softball/25256_softballv2_07.jpg" height="54" width="175" style="clear:both; border:none; display:block;">
									</td>
									<td>
										<!-- Facebook -->
                                        <!-- InstanceBeginEditable name="social01" -->
										<a href="https://www.facebook.com/LibertyFlamesAthletics"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25256_softball/25256_softballv2_08.jpg" height="54" width="48" style="clear:both; border:none; display:block;"></a>
                                        <!-- InstanceEndEditable -->
									</td>
									<td>
										<!-- Twitter -->
                                        <!-- InstanceBeginEditable name="social02" -->
										<a href="https://twitter.com/libertyflames"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25256_softball/25256_softballv2_09.jpg" height="54" width="48" style="clear:both; border:none; display:block;"></a>
                                        <!-- InstanceEndEditable -->
									</td>
									<td>
										<!-- Youtube -->
                                        <!-- InstanceBeginEditable name="social03" -->
										<a href="http://www.youtube.com/flamesathletics"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25256_softball/25256_softballv2_10.jpg" height="54" width="48" style="clear:both; border:none; display:block;"></a>
                                        <!-- InstanceEndEditable -->
									</td>
									<td>
										<!-- LUtoday -->
                                        <!-- InstanceBeginEditable name="social04" -->
										<a href="http://www.liberty.edu/libertytoday"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25256_softball/25256_softballv2_11.jpg" height="54" width="46" style="clear:both; border:none; display:block;"></a>
                                        <!-- InstanceEndEditable -->
									</td>
									<td>
										<!-- Instagram -->
                                        <!-- InstanceBeginEditable name="social05" -->
										<a href="http://instagram.com/LibertyFlames"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25256_softball/25256_softballv2_12.jpg" height="54" width="51" style="clear:both; border:none; display:block;"></a>
                                        <!-- InstanceEndEditable -->
									</td>
									<td width="184">
										<table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
											<tr>
												<td>
                                                    <!-- InstanceBeginEditable name="social06" -->
													<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25256_softball/25256_softballv2_13.jpg" height="27" width="184" style="clear:both; border:none; display:block;">
                                                    <!-- InstanceEndEditable -->
												</td>
											</tr>
											<tr>
												<td>
                                                    <!-- InstanceBeginEditable name="social07" -->
													<a href="mailto:tickets@liberty.edu"><img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25256_softball/25256_softballv2_14.jpg" height="27" width="184" style="clear:both; border:none; display:block;"></a>
                                                    <!-- InstanceEndEditable -->
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
                    <!-- end links section -->
                    <tr>
                    	<td colspan="3">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2014emailresource/25256_softball/25256_softballv2_15.jpg" height="21" width="600" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr><!-- 
                    <tr id="footer-margin-top">
                    	<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr> -->
                    <!-- <tr id="footer">
                    	
                    	
                    	
                    </tr> --><!-- 
                    <tr id="footer-margin-bottom">
                    	<td colspan="3" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr> -->
                </tbody>
            </table><!-- end #wrapper-table -->

            <!-- footer -->
            <center>
            <table align="center" class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0A254E" style="width:100%; border-collapse:collapse; background:#0a254e;">
                <tr id="footer-margin-top">
                    <td colspan="3" width="100%" height="20" style="width:100%; height:20px;"></td>
                </tr>
                <tr>
                    <td id="footer-middle" colspan="3" width="100%" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#ccc;">
                        Liberty University &nbsp;&bull;&nbsp; 
                        1971 University Blvd. &nbsp;&bull;&nbsp; 
                        Lynchburg, Va. 24515 &nbsp;&bull;&nbsp; 
                        (434) 582-2000<br>
                        &copy; Copyright 2014 &nbsp;&bull;&nbsp; 
                        Liberty University is a Registered Trademark &nbsp;&bull;&nbsp; 
                        <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#fff; text-decoration:none;" id="b616ae0a-2289-e311-b823-0050568800ed">Privacy Policy</a><br>
                        {%%UNSUBSCRIBELINK%%}
                    </td>
                    <tr id="footer-margin-bottom">
                        <td colspan="3" width="100%" height="20" style="width:600px; height:20px;"></td>
                    </tr> 
                </tr>
            </table>
            </center>
            <!-- end footer -->
    	</center>
    </div><!-- end #wrapper -->
</body>
<!-- InstanceEnd --></html>