<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/Schools-Law_School3.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Sign up now for Faith in Business 2014</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>
body
{
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	color:#000;
	background-color:#041021;
	margin:0;
}
</style>
<!-- InstanceParam name="0Globalheader" type="boolean" value="true" -->
<!-- InstanceParam name="header01" type="boolean" value="true" -->
<!-- InstanceParam name="header02" type="boolean" value="false" -->
<!-- InstanceParam name="header03" type="boolean" value="false" -->
<!-- InstanceParam name="header04" type="boolean" value="false" -->
</head>

<body style="background-color:#041021; margin:0;">
<center>
    
<!-- Global Navigation --><table class="res-table" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0a254e" style="border-collapse:collapse; background:#0a254e; border-bottom:2px solid #20406e;"><tr><td colspan="5"><table class="res-table" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px; border-collapse:collapse;"><tr><td class="hider" width="10" valign="middle"></td><td align="left" valign="middle"><a href="http://www.liberty.edu/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}"><img class="wordmark" alt="Liberty University" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00051_marketing_qtrly/libertyu_wordmark.png" height="27" width="171" style="clear:both; border:none; display:block;"></a></td><td class="hider" align="right" valign="middle" style="font-size:10px; -webkit-text-size-adjust: none; font-family:Arial, Helvetica, sans-serif; color:#000000;"><a href="http://www.liberty.edu/aboutliberty/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">About&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/academics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Academics&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/admissions/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Admissions&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/alumni/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Alumni&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/athletics/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Athletics&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/news/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">News&nbsp;|&nbsp;</a><a href="http://www.liberty.edu/studentlife/?utm_source=liberty&utm_medium=email&utm_campaign={%CAMPAIGN_ID%}" style="color:#f8f8f8; text-decoration:none;">Student Life</a></td><td class="hider" valign="middle" width="10"></td></tr></table></td></tr></table><!-- End of navigation -->
            
</center>
<table id="wrapper" cellpadding="0" cellspacing="0" border="0" width="100%" height="100%" bgcolor="#041021"><tr><td width="100%" height="100%" bgcolor="#041021" align="center" valign="top">

<center>
<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="border-collapse:collapse;">
    <tr>
    	<td height="20" colspan="3"></td>
    </tr>
    <tr>
        <td align="left" valign="top" width="600" colspan="3">
        	<a href="http://law.liberty.edu">
	        	
                <img src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/18064_lawrebrand/new/18064_law1.jpg" width="600" height="244" border="0" style="display:block; clear:both; width:600px; height: 245px; border:none;" title="Liberty University - School of Law">
                
                
                
                
            </a>
        </td>
    </tr>
    <tr>
    	<td height="20" colspan="3" bgcolor="#ffffff" style="background-color:#fff;"></td>
    </tr>
    <tr>
    	<td width="20" bgcolor="#ffffff" style="background-color:#fff;"></td>
        <td id="content" width="560" height="150" bgcolor="#ffffff" align="left" valign="top" style="font-family:'Times New Roman', Times, serif; font-size:14px; color:#000; line-height:16px; background-color:#fff;"><!-- InstanceBeginEditable name="Content" -->
            <h1>Attend  Faith in Business 2014</h1>
            <p>Dear  {%%FIRSTNAME%%},<br>
              <br>
Remember to <a href="mailto:dyates2@liberty.edu">RSVP</a> for the  Business and Transactions Law Society&rsquo;s &quot;Faith in Business: Fulfilling the  Great Commission Through Business and Law.&quot; Held on Friday, Feb. 21, in  the Liberty University School of Law Supreme Courtroom from 11 a.m.-5 p.m., the  event will feature well-known speakers, informative panels, and real-world  takeaways. <br>
<br>
Speakers for  the event include Henry Kaestner, managing principal, Sovereign&rsquo;s Capital;  David Wasik, vice president of operations at Hope International; Michael Ward,  CEO Europe and North America at OzForex; Nathaniel Pierce, partner with Pierce/McCoy;  and John Van Drunen, vice president and general counsel at ECFA.<br>
<br>
Space is  limited. RSVP to <a href="mailto:dyates2@liberty.edu">dyates2@liberty.edu</a> to reserve your spot. For event  details, visit <a href="http://www.liberty.edu/law/">Law.Liberty.edu</a>. <br>
            </p>
Sincerely,
<div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
  <p><b>School of Law</b> </p>
  <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature.png"><br>
  <em style="color:#980000; font-family:'Times New Roman', Times, serif;">Liberty University  |  Training Champions for Christ since 1971</em> </div>
<!-- InstanceEndEditable --></td>
        <td width="20" bgcolor="#ffffff" style="background-color:#fff;"></td>
    </tr>
    <tr>
    	<td height="20" colspan="3" bgcolor="#ffffff" style="background-color:#fff;"></td>
    </tr>
    <tr>
    	<td height="20" colspan="3"></td>
    </tr>
    <tr>
    	<td colspan="3" style="font-family:Arial, Helvetica, sans-serif; color:#8ca4c7; font-size:11px; text-align:center;" align="center" valign="top">
        	Liberty University School of Law &bull; 1971 University Boulevard &bull; Lynchburg, Va. 24515 &bull;<!-- InstanceBeginEditable name="Phone" -->(434) 592-5300<!-- InstanceEndEditable --><br>
            &copy; Copyright <!-- InstanceBeginEditable name="Copyright" -->2014<!-- InstanceEndEditable --> &bull; Liberty University is a Registered Trademark &bull; <a href="http://www.liberty.edu/index.cfm?PID=6901" style="color:#5f88c3;">Privacy Policy</a><br> 
            {%%UNSUBSCRIBELINK%%}
        </td>
    </tr>
    <tr>
    	<td height="20" colspan="3"></td>
    </tr>
</table>
</center>

</td></tr></table><!-- end wrapper -->

</body>
<!-- InstanceEnd --></html>

