<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- TemplateBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<style>

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	background-color:#ffffff;
	line-height:16px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

h1
{
	font-size:22px;
}

h2
{
	font-size:18px;
	font-weight:normal;
	line-height:20px;
}

p {
    margin-bottom: 1em;
}

</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#ffffff" yahoo="fix" style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; background-color:#ffffff;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; background-color:#ffffff; text-align:center;">
    	<center>
    		<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#ffffff" style="border-collapse:collapse; width:600px; clear:both; background-color:#ffffff;">
            	<tbody>
                    <tr>
						<td colspan="5">
							<center>
								<img alt="LCA" src="http://www.liberty.edu/media/1616/email/lca-email-header.jpg" height="115" width="584" style="clear:both; border:none; display:block;">
							</center>
						</td>
					</tr>
					<tr>
                    	<td colspan="5" width="600" height="15" style="width:600px; height:15px;"></td>
                    </tr>
					<tr>
						<td width="30"></td>
						<td width="540" style="color:#333;">
							<!-- TemplateBeginEditable name="E-mail Body" -->
								<h2 style="line-height:20px;"><strong>Join Us  for the LCA Open House<br>Today  through Thursday, 9 a.m.-1 p.m.</strong></h2>
								<h2 style="line-height:20px;"><strong>LCA OPEN  HOUSE, APRIL 14-17 — MEET THE SUPERINTENDENT!</strong></h2>
								<p>On  April 14-17, Liberty Christian Academy will hold its annual Open House from 9  a.m.-1 p.m. each day. No appointment is needed! On Wednesday, April 16, have  coffee with our <a href="http://www.lcabulldogs.com/index.cfm?PID=25561">superintendent, Mr. John Patterson</a>, in the LCA Library at 9  a.m. Come and see everything LCA can offer your family.</p>
								<h2><strong>ELC TO  ADD A 2-YEAR-OLD PROGRAM</strong></h2>
								<p>Liberty  Christian Academy Early Learning Center will be offer a 2-year-old class  beginning in the 2014-15 school year. Contact the ELC at (434) 832-2074 for  more information.</p>
								<h2><strong>DO YOU  NEED SUMMER CARE?</strong></h2>
								<p>Learn about the best kept secret in the city of  Lynchburg for young children. <a href="http://www.lcabulldogs.com/media/9910/a_march/Summer_Care_2014.pdf">Enroll</a> your elementary school aged children in <a href="http://www.lcabulldogs.com/index.cfm?PID=19545">LCA&rsquo;s Summer Care</a> program. Children between the ages of 2 and  4-years-old can participate in the <a href="http://www.lcabulldogs.com/index.cfm?PID=19530">ELC Summer Program</a>. <a href="http://www.lcabulldogs.com/media/9910/a_march/2014SummerApplication.pdf">Enroll</a> your child in ELC&rsquo;s program today.</p>
							<!-- TemplateEndEditable -->
						</td>
						<td width="30"></td>
					</tr>
                    <tr>
                    	<td colspan="5" width="600" height="15" style="width:600px; height:15px;"></td>
                    </tr>

                    <tr>
						<td colspan="3" height="6px" bgcolor="#8d200e"></td>
					</tr>

                    

                    <tr id="footer-margin-top">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr id="footer">
                    	
                    	<td id="footer-middle" colspan="5" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666;">
							Liberty Christian Academy &nbsp;&bull;&nbsp; 
							100 Mountain View Rd. &nbsp;&bull;&nbsp; 
							Lynchburg, Va. 24501-2272 <br>
							© 2014 All Rights Reserved &nbsp;&bull;&nbsp; 
							Phone 434.832.2000 &nbsp;&bull;&nbsp; 
							Fax 434.832.2027
                        </td>
                    	
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
    	</center>
    </div><!-- end #wrapper -->
</body>
</html>

