<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- TemplateBeginEditable name="doctitle" -->
<title>Liberty University</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<style>

body
{
	margin:0;
	font-family: times, 'times new roman', serif;
	font-size:18px;
	color:#fff;
	background-color:#ffffff;
	line-height:19px;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#fff !important}

ul
{
	list-style-type:square;
	line-height:22px;
}

p {
    margin-bottom: 1em;
}
</style>

<!-- cid={%CAMPAIGN_ID%} riid={%CAMPAIGN_RIID%} -->
<!-- iOS bug character addition - May help prevent partially downloaded message error
.........DDDDDDDDDDDDD......................................
........DD888888888,DD......................................
........DDDD888888. DD......................................
...........ZD88888.OD.......................................
..   ...   .D88888.DD. ...   ...   ...   ...   ...   ...   .
...........8D8888..DD.......................................
  ...   ...DD8888.8D.................................   ... 
  ...   ...D88888.DD..DDDDDDDDDDDDDD.DDDDDDDDDDD8DD..   ... 
..........8D8888..D8.~DDDD888888..D8.DDDD888888.DD..........
..........DD8888.DD......DD88888 DD.....DD88888.D8..........
.........:D88888.DD......DD8888Z.DD.....DD8888..D8..........
.........DD8888..DDDDDDDDDD8888..D......DD8888.DD...........
.........DD88888888888888888888.DD......DD8888.DD...........
.........D88888888888888888888,.DD.....DD8888..D~...........
........DD88888888888888888888.:D......DD8888.DD............
........DDDDDDDDDDDDDDDDDDDDDD.DD .....DD8888.DD............
........................DDDDDD.DD.....8D8888.,D~............
.......................,DDDD88.DD....DD88888.8D.............
........................DD88888.NDDDDD88888..DD.............
........................8D8888888888888888..D8..............
.........................DD88888888888888.DDD...............
..........................8DDD88888888D.DDD,................
.............................DDDDDDDDDDDD...................
-->



</head>

<body bgcolor="#ffffff" style="margin:0; font-family: times, 'times new roman', serif; font-size:14px; color:#fff; background-color:#ffffff;">
	<div id="wrapper" style="display:inline-block; width:100%; height:100%; margin:0; font-family: times, 'times new roman', serif; font-size:14px; color:#fff; background-color:#ffffff; text-align:center;">
    	<center>
            <table id="brand_header" width="600" style="border-collapse:collapse; width:600px; border:none;" border="0">
                <tr>
                    <td height="10" colspan="17"></td>
                </tr>
                <tr valign="top" align="left" style="color:#af0000; font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;">
                    <td width="113" height="36"><a href="http://www.liberty.edu/"><img width="113" height="36" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/Liberty-University.png" alt="Liberty University" style="border:none!important; width:113 px; height:36 px; padding:0; margin:0;"></a></td>
                    <td width="36"><a href="http://www.liberty.edu/aboutliberty/"><img width="36" height="36" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/aboutliberty.png" alt="About" style="border:none!important; width:36 px; height:36 px; padding:0; margin:0;"></a></td>
                    <td width="64"><a href="http://www.liberty.edu/academics/"><img width="64" height="36" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/academics.png" alt="Academics" style="border:none!important; width:64 px; height:36 px; padding:0; margin:0;"></a></td>
                    <td width="68"><a href="http://www.liberty.edu/admissions/"><img width="68" height="36" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/admissions.png" alt="Admissions" style="border:none!important; width:68 px; height:36 px; padding:0; margin:0;"></a></td>
                    <td width="44"><a href="http://www.liberty.edu/alumni/"><img width="44" height="36" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/alumni.png" alt="Alumni" style="border:none!important; width:44 px; height:36 px; padding:0; margin:0;"></a></td>
                    <td width="52"><a href="http://www.liberty.edu/athletics/"><img width="52" height="36" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/athletics.png" alt="Athletics" style="border:none!important; width:52 px; height:36 px; padding:0; margin:0;"></a></td>
                    <td width="37"><a href="http://www.liberty.edu/news/"><img width="37" height="36" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/news.png" alt="News" style="border:none!important; width:37 px; height:36 px; padding:0; margin:0;"></a></td>
                    <td width="68"><a href="http://www.liberty.edu/studentlife/"><img width="68" height="36" src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/studentlife.png" alt="Student Life" style="border:none!important; width:68 px; height:36 px; padding:0; margin:0;"></a></td>
                    <td width="28">&nbsp;</td>
                    <td width="72"><img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/1971.png" alt="Since 1971" width="72" height="36" style="height:36 px; width:72;"></td>
                </tr>
            </table>
            
            

    		<table id="wrapper-table" cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#ffffff" style="border-collapse:collapse; width:600px; clear:both; background-color:#ffffff;">
            	<tbody>
                	<tr id="header-margin-top">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr>
                    	<td bgcolor="#0a254e" colspan="5">
                    		<img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/24193_library_open/24193_library_grand_opening_03.jpg" height="377" width="600" style="clear:both; border:none; display:block;">
                    	</td>
                    </tr>
					<tr>
						<td bgcolor="#0a254e" width="100">
							<img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/2013emailresources/24193_library_open/margin.png" height="3" width="100" style="clear:both; border:none; display:block;">
						</td>
						<td bgcolor="#0a254e" align="left" style="text-align:left;">
							<!-- TemplateBeginEditable name="content" --><p>Dear {%%FIRSTNAME%%},<br>
							  <br>
							  Jerry Falwell Library is now open and ready for visitors! Yesterday&rsquo;s  grand opening ceremony was the perfect inauguration for this world-class  facility. The event was attended by Liberty University administration, members  of the board, local and state officials, and other distinguished guests. Honoring  Liberty University&rsquo;s past while embracing its bright future, the grand opening  of the library was a worthy tribute to the school&rsquo;s late founder, Dr. Jerry  Falwell.<br>
							  <br>
							  Learn more about the event from <a href="#" style="color:#ffff00;">Liberty News Service</a>.You may also view photos of the ceremony in the gallery below.  </p>
                            <p align="center"><a href="#"><img align="center" alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/24193_library_open/player.jpg" height="200" width="300" style="clear:both; border:none; display:block;"></a></p>
                            <p>The library will host a <a href="http://www.liberty.edu/media/1410/go/Library_Opening_Schedule.pdf" style="color:#ffff00;">number of activities</a> over the next few  days, including special lectures, as well as performances from the School of  Music. Everyone is encouraged to visit the library and experience all that  the facility has to offer.</p>
                            <p>We look forward to seeing you soon!</p>
                            <div id="signature-1971" style="color:#0a254e; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
                              <p>
                              <p><font color="#ffffff">Jerry Falwell Library</font></p>
                                </p>
                                <img src="https://www.liberty.edu/media/1616/emailmarketing/00000general_template_resources/00009_general_global_header/00009_lusignature-wht.png"><br>
                                <em style="color:#ffffff; font-family:'Times New Roman', Times, serif;">Liberty University&nbsp;&nbsp;|&nbsp;&nbsp;Training Champions for Christ since 1971</em>
                            </div>
                            <p>&nbsp;</p>
                          <!-- TemplateEndEditable -->
						</td>
						<td bgcolor="#0a254e" width="100">
							<img alt="" src="http://www.liberty.edu/media/1616/emailmarketing/2013emailresources/24193_library_open/margin.png" height="3" width="100" style="clear:both; border:none; display:block;">
						</td>
					</tr>
                    <tr>
                        <td colspan="5">
                            <img alt="" src="https://www.liberty.edu/media/1616/emailmarketing/2013emailresources/24193_library_open/24193_library_grand_opening_06-gridded.jpg" height="132" width="600" style="clear:both; border:none; display:block;">
                        </td>
                    </tr>
                    <tr id="footer-margin-top">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                    <tr id="footer">
                    	
                    	<td id="footer-middle" colspan="5" width="600" height="50" align="center" valign="top" style="min-height:50px; text-align:center; vertical-align:top; font-family: times, 'times new roman', serif; font-size:11px; color:#666;">
                        	Liberty University &nbsp;&bull;&nbsp; 
                            1971 University Blvd. &nbsp;&bull;&nbsp; 
                            Lynchburg, Va. 24515 &nbsp;&bull;&nbsp; 
                            (434) 582-2000<br>
                            &copy; Copyright 2014 &nbsp;&bull;&nbsp; 
                            Liberty University is a Registered Trademark &nbsp;&bull;&nbsp; 
                            <a href="http://www.liberty.edu/index.cfm?PID=6901" title="Read the Privacy Policy" style="color:#444; text-decoration:none;">Privacy Policy</a><br>
                            {%%UNSUBSCRIBELINK%%}
                        </td>
                    	
                    </tr>
                    <tr id="footer-margin-bottom">
                    	<td colspan="5" width="600" height="20" style="width:600px; height:20px;"></td>
                    </tr>
                </tbody>
            </table><!-- end #wrapper-table -->
    	</center>
    </div><!-- end #wrapper -->
</body>
</html>